In [108]:
import pandas as pd
from os import listdir, path, makedirs
from datetime import datetime, timedelta
from collections import defaultdict
from xlrd import XLRDError

In [109]:
# Folder path
%cd /mnt/data/vieri/projects/SAMPLE/data/

/mnt/data/vieri/projects/SAMPLE/data

### readme

In [110]:
# due impianti

#I dati con la sigla "FV" sono relativi all'impianto da 80 kWp sulla Palazzina Delfino.
#I dati con la sigla "Q05_FV" sono relativi all'impianto da 21 kWp sul SEB.


#I dati sono presi dal multimetro che come convenzione ha la potenza come negativa quando viene prodotta a valle dell'inverter e vi sono:

#CURRENT_PHS_A_B_C = correnti di fase 
#VOLTAGE_PHS_A_B_C = tensioni di fase 
#Temperature = Temperature pannelli
#TOT_P_Q = potenza attiva e reattiva (Palazzina Delfino)
#P_Q_PF = potenza attiva, reattiva e fattore di potenza (SEB)
#RADIATION = radiazione solare

#dal 2014 al 2017 radiazione solare e temperatura dei pannelli sono aggregate in un unico file RAD_TEMP

#**In alcuni casi Ã¨ presenta la sigla "FV2" poichÃ¨ si tratta di dati presi dall'inverter 
#per sopperire ad un problema riscontrato nel multimetro. In questo caso devono essere considerati 
#i dati secondo la convenzione dei generatori (P>0 --> uscente)

In [111]:
year_start = 2018
year_end = 2021
plant = "FV"
def meteo_data_wrangler(year_start, year_end, plant):
    df_meteo = pd.DataFrame(columns = ['radiation', 'temperature'])
    for year in range(year_start, year_end+1):
        data_type = "RADIATION"
        print("Reading " + data_type + " data of " + str(year) + " ...")
        radiation = pd.read_csv(path.join("unige", str(year), str(year) + "_" + plant + "_" + data_type + ".csv"), sep = ";")
        radiation.columns = ['timestamp', 'radiation']
        radiation['timestamp'] = pd.to_datetime(radiation.timestamp)
        data_type = "Temperature"
        print("Reading " + data_type + " data of " + str(year) + " ...")
        temperature = pd.read_csv(path.join("unige", str(year), str(year) + "_" + plant + "_" + data_type + ".csv"), sep = ";")
        temperature.columns = ['timestamp', 'temperature']
        temperature['timestamp'] = pd.to_datetime(temperature.timestamp)

        df_meteo = df_meteo.append(radiation.set_index('timestamp').join(temperature.set_index('timestamp')))
    df_meteo.to_csv(path.join("unige", plant + "_meteo_data_" + str(year_start) + "_" + str(year_end) + ".csv"))
    return df_meteo

In [112]:
df_meteo_FV = meteo_data_wrangler(2018, 2021, "FV")

UnboundLocalError: local variable 'data_type' referenced before assignment

In [114]:
df_meteo_FV.head()

                     radiation  temperature
2018-01-01 00:00:24       2.40     10.44000
2018-01-01 00:01:24       2.55     10.44000
2018-01-01 00:02:24       2.25     10.44000
2018-01-01 00:03:24       2.85     10.54001
2018-01-01 00:04:24       2.55     10.44000

In [117]:
sum(df_meteo_FV.radiation != df_meteo_FV.temperature)

1765364

In [107]:
year_start = 2018
year_end = 2021
plant = "FV"
def panel_data_wrangler(year_start, year_end, plant):
    df = pd.DataFrame(columns = ['CURRENT_PHS_A', 'CURRENT_PHS_B', 'CURRENT_PHS_C', 'VOLTAGE_PHS_A', 'VOLTAGE_PHS_B', 'VOLTAGE_PHS_C'])
    for year in range(year_start, year_end+1):
        for data_type in ["CURRENT_PHS_A_B_C", "VOLTAGE_PHS_A_B_C"]:
            print("Reading " + data_type + " data of " + str(year) + " ...")
            current = pd.read_csv(path.join("unige", str(year), str(year) + "_" + plant + "_" + data_type + ".csv"), sep = ";")
            current.columns = ['timestamp_PHS_A', 'CURRENT_PHS_A', 'timestamp_PHS_B', 'CURRENT_PHS_B', 'timestamp_PHS_C', 'CURRENT_PHS_C']
            if (sum(current.timestamp_PHS_A != df_meteo_FV.timestamp_PHS_B) > 0 or sum(current.timestamp_PHS_B != df_meteo_FV.timestamp_PHS_C) > 0):
                print('check timestamps in ac currents')
                break
            current['timestamp'] = pd.to_datetime(current.timestamp_PHS_A)
            current = current.drop(columns = ['timestamp_PHS_A', 'timestamp_PHS_B', 'timestamp_PHS_C'])

        "2018_FV_VOLTAGE_PHS_A Time";"2018_FV_VOLTAGE_PHS_A ValueY";"2018_FV_VOLTAGE_PHS_B Time";"2018_FV_VOLTAGE_PHS_B ValueY";"2018_FV_VOLTAGE_PHS_C Time";"2018_FV_VOLTAGE_PHS_C ValueY"

        
        
        data_type = "Temperature"
        print("Reading " + data_type + " data of " + str(year) + " ...")
        temperature = pd.read_csv(path.join("unige", str(year), str(year) + "_" + plant + "_" + data_type + ".csv"), sep = ";")
        temperature.columns = ['timestamp', 'temperature']
        temperature['timestamp'] = pd.to_datetime(temperature.timestamp)

        df = df.append(radiation.set_index('timestamp').join(temperature.set_index('timestamp')))
    df.to_csv(path.join("unige", plant + "_meteo_data_" + str(year_start) + "_" + str(year_end) + ".csv"))
    return df



"2018_FV_CURRENT_PHS_A Time";"2018_FV_CURRENT_PHS_A ValueY";"2018_FV_CURRENT_PHS_B Time";"2018_FV_CURRENT_PHS_B ValueY";"2018_FV_CURRENT_PHS_C Time";"2018_FV_CURRENT_PHS_C ValueY"

FileNotFoundError: [Errno 2] No such file or directory: 'unige/2018/2018_Q05_FV_RADIATION.csv'

In [55]:
# TASK: Retrive file paths
for year in range(2014,2021+1):
folder_path = path.join("unige", str(year))
irr_file_name = "Solarimetro"

# Retrive file paths (for inverter data & irradiance data)
inv_files = dict()
irr_files = []
for item_name in listdir(folder_path):
    item_path = path.join(folder_path, item_name)
    if path.isdir(item_path):
        if "INV" in item_name.upper():
            inv_files[item_name] = [file for file in listdir(item_path) if file.endswith(('.xlsx', '.xls'))]
        elif item_name.upper() == irr_file_name.upper():
            irr_files = [file for file in listdir(item_path) if file.endswith(('.xlsx', '.xls'))] 

# Create and sort alphabetically a list of the inverter names 
inv_names = list(inv_files.keys())
inv_names.sort()

# In case irradiance data is unavailable --> Use data from a neighbour system
# This approach is valid only for Soletto 2 & Galatina (since they are close to Soletto 1)
if not irr_files:
    neighbour_system = "SOLETO 1"
    irr_data_neighbour_system = path.join("data", neighbour_system, neighbour_system, "Solarimetro")
    irr_files = [file for file in listdir(irr_data_neighbour_system) if file.endswith(('.xlsx', '.xls'))] 
    print("WARNING: Irradiance data seems to not be availabe for this PV system ({0}).\nIrradiance data from '{1}' will be used"
          .format(neighbour_system, neighbour_system))
            
# Remove the useless file containing the daily irradiance values
file_to_delate = [file_name for file_name in irr_files if len(file_name) > len(system_name) + 17]
if file_to_delate:
    irr_files.remove(file_to_delate[0])
    print("\nWARNING: The file containing the averaged daily irradiance values ({0}) has been skipped.\n".format(file_to_delate[0]))

# Order file paths according to the data included in the file name
mapping_func = lambda date: datetime.strptime(date[-11:-4],'%Y-%m')
irr_files.sort(key = mapping_func)
[inv_files[inv_name].sort(key = mapping_func) for inv_name in inv_names]   

# Display number of files retrieved
print(len(inv_files[inv_names[0]]), "month files have been loaded for each of the", len(inv_names), "inverter data (", ", ".join(inv_names), ")")
print(len(irr_files), "files of montly irradiance data have been loaded")
period_covered = (inv_files[inv_names[0]][0][-11:-4], inv_files[inv_names[0]][-1][-11:-4])
print("\nINVERTER PERIOD COVERED: From {0} to {1}".format(period_covered[0], period_covered[1]))
    
if len(inv_files[inv_names[0]]) != len(irr_files):
    irr_period_covered = (irr_files[0][-11:-4], irr_files[-1][-11:-4])
    print("IRRADIANCE PERIOD COVERED: From {0} to {1}".format(irr_period_covered[0], irr_period_covered[1]))

WARNING: The file containing the averaged daily irradiance values (VERONE Irr. 2018.07 - 2021.07.xls) has been skipped.

36 month files have been loaded for each of the 4 inverter data ( Inv.1, Inv.2, Inv.3, Inv.4 )
37 files of montly irradiance data have been loaded

INVERTER PERIOD COVERED: From 2018-07 to 2021-06
IRRADIANCE PERIOD COVERED: From 2018-07 to 2021-07

In [56]:
# TASK: Read and import data as dataframes 
# A) Read monthly inverter data
inv_months = defaultdict(list)
for inv_name in inv_names:
    print("\nReading the {0} data (FROM '{1}' TO '{2}')... ".format(inv_name,period_covered[0], period_covered[1]))
    files_to_read = inv_files[inv_name]
    skipped_files = []
    for file in files_to_read:
        try:
            inv_months[inv_name].append(pd.read_excel(path.join(folder_path, inv_name, file)))
        except (ValueError, XLRDError):
            skipped_files.append(file)
            
    if skipped_files:
        print("WARNING!:", len(skipped_files), "files (", round((len(skipped_files)/len(files_to_read))*100, 1), "%) have been skipped since it is empty")
            
print("OK: Inverter montly data ({2} files:{0} inv. data (x) {1} months) has been loaded\n"
      .format(len(inv_names), len(inv_months[inv_names[0]]),len(inv_names)* len(inv_months[inv_names[0]])))

# B) Read monthly irradiance data
print("Reading irradiance data...")
irr_months = []
for irr_file in irr_files:
    print("Reading data from " + irr_file[-11:-4] + " ...")
    try:
        irr_months.append(pd.read_excel(path.join(folder_path, irr_file_name, irr_file)))
    except FileNotFoundError: # Use the variable with the paths of the neighbour system 
        irr_months.append(pd.read_excel(path.join(irr_data_neighbour_system, irr_file)))
        
print("OK: Irradiance montly data ({0}) has been loaded\n".format(len(irr_months)))

Reading the Inv.1 data (FROM '2018-07' TO '2021-06')...

Reading the Inv.2 data (FROM '2018-07' TO '2021-06')...

Reading the Inv.3 data (FROM '2018-07' TO '2021-06')...

Reading the Inv.4 data (FROM '2018-07' TO '2021-06')...
OK: Inverter montly data (144 files:4 inv. data (x) 36 months) has been loaded

Reading irradiance data...
Reading data from 2018-07 ...
Reading data from 2018-08 ...
Reading data from 2018-09 ...
Reading data from 2018-10 ...
Reading data from 2018-11 ...
Reading data from 2018-12 ...
Reading data from 2019-01 ...
Reading data from 2019-02 ...
Reading data from 2019-03 ...
Reading data from 2019-04 ...
Reading data from 2019-05 ...
Reading data from 2019-06 ...
Reading data from 2019-07 ...
Reading data from 2019-08 ...
Reading data from 2019-09 ...
Reading data from 2019-10 ...
Reading data from 2019-11 ...
Reading data from 2019-12 ...
Reading data from 2020-01 ...
Reading data from 2020-02 ...
Reading data from 2020-03 ...
Reading data from 2020-04 ...
Reading data from 2020-05 ...
Reading data from 2020-06 ...
Reading data from 2020-07 ...
Reading data from 2020-08 ...
Reading data from 2020-09 ...
Reading data from 2020-10 ...
Reading data from 2020-11 ...
Reading data from 2020-12 ...
Reading data from 2021-01 ...
Reading data from 2021-02 ...
Reading data from 2021-03 ...
Reading data from 2021-04 ...
Reading data from 2021-05 ...
Reading data from 2021-06 ...
Reading data from 2021-07 ...
OK: Irradiance montly data (37) has been loaded

In [57]:
# TASK: Merge all of the montly data into a single dataframe 
inv_dfs = dict()
for inv_name in inv_names:
    # A) Merge montly inverter data 
    inv_dfs[inv_name] = pd.concat(inv_months[inv_name], ignore_index=True) #, sort=False
    
    # Cast "Allarme" as string instead of an integer
    inv_dfs[inv_name]["Allarme"] = inv_dfs[inv_name]["Allarme"].astype("string")
display(inv_dfs[inv_names[0]].info())

# B) Merge monthly irradiance data
irr_dfs = pd.concat(irr_months, ignore_index=True)
display(irr_dfs.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126649 entries, 0 to 126648
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Data             126649 non-null  datetime64[ns]
 1   Iac R (A)        126649 non-null  int64
 2   Iac S (A)        126649 non-null  int64
 3   Iac T (A)        126649 non-null  int64
 4   Vac R (V)        126649 non-null  int64
 5   Vac S (V)        126649 non-null  int64
 6   Vac T (V)        126649 non-null  int64
 7   Pac R (kW)       126649 non-null  int64
 8   Pac S (kW)       0 non-null       float64
 9   Pac T (kW)       0 non-null       float64
 10  E. totale (kWh)  126649 non-null  float64
 11  Cc 1 (A)         126649 non-null  int64
 12  Vcc 1 (V)        126649 non-null  int64
 13  Allarme          126649 non-null  string
 14  Stato            0 non-null       float64
 15  °C               126649 non-null  int64
 16  Fac (Hz)         0 non-null       float64
dtypes: datetime64[ns](1), float64(5), int64(10), string(1)
memory usage: 16.4 MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207136 entries, 0 to 207135
Data columns (total 2 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   data               207136 non-null  datetime64[ns]
 1   irr. medio 1 W/mq  207131 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.2 MB

None

In [58]:
# TASK: Merge the two dataframes (inverter data and irradiance data)
full_inv_data = dict()
perfect_match = dict()
for inv_name in inv_names:
    print("INVERTER DATA: ", inv_name)
    
    # Perform a Left outer join
    full_inv_data[inv_name] = inv_dfs[inv_name].merge(irr_dfs, how="left", left_on="Data", right_on="data")
    
    # Subtle transformations on the dataframe
    full_inv_data[inv_name].drop(columns = "data", inplace = True)
    full_inv_data[inv_name].sort_values(by=['Data'], inplace=True)
    full_inv_data[inv_name].rename(inplace=True, columns = {"Data" : "Date/Time",
                                                            "°C" : "Inverter temp. (°C)",
                                                            "irr. medio 1 W/mq" : "Irr. medio (W/mq)"})
    
    # Register and visualize a warning 
    # WHAT: Check wheather there is a mismatch between inverter data and irradiance data
    # SINCE: Emperically, many mismatches (i.e., desynchronizations) have been found 
    # MOTIVATION: In case of mismatches save the raw irradiance values as well as the merged dataframe
    if len(full_inv_data[inv_name]) != len(irr_dfs):
        perfect_match[inv_name] = False
        print("WARNING: Some mismatches (i.e., desynchronized obs.) [{0}] have been discovered during the merge process."
              .format(abs(len(full_inv_data[inv_name]) - len(irr_dfs))))
        print("|A left outer join has been performed (i.e., keeping all observations of the {0} data)".format(inv_name))
        print("|The merged dataframe as well as the two dataframes will be saved\n")
    else:
        perfect_match[inv_name] = True
        print("Perfect match between {0} and the irradiance values".format(inv_name))
        print("|A inner join has been performed\n")
        print("|Only the merged dataframe will be saved\n")

INVERTER DATA:  Inv.1
WARNING: Some mismatches (i.e., desynchronized obs.) [14174] have been discovered during the merge process.
|A left outer join has been performed (i.e., keeping all observations of the Inv.1 data)
|The merged dataframe as well as the two dataframes will be saved

INVERTER DATA:  Inv.2
WARNING: Some mismatches (i.e., desynchronized obs.) [15334] have been discovered during the merge process.
|A left outer join has been performed (i.e., keeping all observations of the Inv.2 data)
|The merged dataframe as well as the two dataframes will be saved

INVERTER DATA:  Inv.3
WARNING: Some mismatches (i.e., desynchronized obs.) [12517] have been discovered during the merge process.
|A left outer join has been performed (i.e., keeping all observations of the Inv.3 data)
|The merged dataframe as well as the two dataframes will be saved

INVERTER DATA:  Inv.4
WARNING: Some mismatches (i.e., desynchronized obs.) [12668] have been discovered during the merge process.
|A left outer join has been performed (i.e., keeping all observations of the Inv.4 data)
|The merged dataframe as well as the two dataframes will be saved

In [59]:
# TASK: Quick look at the marged dataframe
for inv_name in inv_names:
    print("EXAMPLE: Inverter data {0} [observations: {1} for the period '{2}/{3}']".format(
            inv_name, len(full_inv_data[inv_name]),period_covered[0], period_covered[1]))
    display(full_inv_data[inv_name].sample(5))
    display(full_inv_data[inv_name].info())

EXAMPLE: Inverter data Inv.1 [observations: 192962 for the period '2018-07/2021-06']

,Date/Time,Iac R (A),Iac S (A),Iac T (A),Vac R (V),Vac S (V),Vac T (V),Pac R (kW),Pac S (kW),Pac T (kW),E. totale (kWh),Cc 1 (A),Vcc 1 (V),Allarme,Stato,Inverter temp. (°C),Fac (Hz),Irr. medio (W/mq)
59980,2019-07-14 21:20:00,0,0,0,112,112,112,0,NaN,NaN,3449406.2,0,20,805360192,NaN,23,NaN,21.0
182495,2021-03-05 09:20:00,444,452,444,119,120,120,161,NaN,NaN,4046354.2,395,436,553701696,NaN,9,NaN,NaN
117424,2020-02-23 07:40:00,156,153,156,116,117,117,55,NaN,NaN,3664611.0,115,473,553701696,NaN,5,NaN,258.0
10418,2018-12-05 11:00:00,0,0,0,120,121,121,0,NaN,NaN,3232812.4,0,550,541643328,NaN,13,NaN,771.0
25562,2019-03-15 07:10:00,136,132,136,118,118,119,48,NaN,NaN,3308259.3,98,487,553701696,NaN,3,NaN,190.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192962 entries, 0 to 192961
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date/Time            192962 non-null  datetime64[ns]
 1   Iac R (A)            192962 non-null  int64
 2   Iac S (A)            192962 non-null  int64
 3   Iac T (A)            192962 non-null  int64
 4   Vac R (V)            192962 non-null  int64
 5   Vac S (V)            192962 non-null  int64
 6   Vac T (V)            192962 non-null  int64
 7   Pac R (kW)           192962 non-null  int64
 8   Pac S (kW)           0 non-null       float64
 9   Pac T (kW)           0 non-null       float64
 10  E. totale (kWh)      192962 non-null  float64
 11  Cc 1 (A)             192962 non-null  int64
 12  Vcc 1 (V)            192962 non-null  int64
 13  Allarme              192962 non-null  string
 14  Stato                0 non-null       float64
 15  Inverter temp. (°C)  192962 non-null  int64
 16  Fac (Hz)             0 non-null       float64
 17  Irr. medio (W/mq)    189925 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(10), string(1)
memory usage: 28.0 MB

None

EXAMPLE: Inverter data Inv.2 [observations: 191802 for the period '2018-07/2021-06']

,Date/Time,Iac R (A),Iac S (A),Iac T (A),Vac R (V),Vac S (V),Vac T (V),Pac R (kW),Pac S (kW),Pac T (kW),E. totale (kWh),Cc 1 (A),Vcc 1 (V),Allarme,Stato,Inverter temp. (°C),Fac (Hz),Irr. medio (W/mq)
63005,2019-07-24 20:00:00,0,0,0,114,113,113,0,NaN,NaN,3408984.9,0,439,805360192,NaN,27,NaN,33.0
136131,2020-04-30 14:50:00,523,546,529,120,121,121,194,NaN,NaN,3685179.9,511,396,553701696,NaN,25,NaN,830.0
91542,2019-11-10 06:50:00,0,0,0,115,115,114,0,NaN,NaN,3532392.1,0,495,805360192,NaN,15,NaN,45.0
145685,2020-06-01 06:20:00,36,36,36,115,115,115,13,NaN,NaN,3723915.9,29,451,553701696,NaN,13,NaN,76.0
44995,2019-05-23 05:10:00,0,0,0,118,117,117,0,NaN,NaN,3329057.8,0,45,805360192,NaN,17,NaN,19.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191802 entries, 0 to 191801
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date/Time            191802 non-null  datetime64[ns]
 1   Iac R (A)            191802 non-null  int64
 2   Iac S (A)            191802 non-null  int64
 3   Iac T (A)            191802 non-null  int64
 4   Vac R (V)            191802 non-null  int64
 5   Vac S (V)            191802 non-null  int64
 6   Vac T (V)            191802 non-null  int64
 7   Pac R (kW)           191802 non-null  int64
 8   Pac S (kW)           0 non-null       float64
 9   Pac T (kW)           0 non-null       float64
 10  E. totale (kWh)      191802 non-null  float64
 11  Cc 1 (A)             191802 non-null  int64
 12  Vcc 1 (V)            191802 non-null  int64
 13  Allarme              191802 non-null  string
 14  Stato                0 non-null       float64
 15  Inverter temp. (°C)  191802 non-null  int64
 16  Fac (Hz)             0 non-null       float64
 17  Irr. medio (W/mq)    188872 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(10), string(1)
memory usage: 27.8 MB

None

EXAMPLE: Inverter data Inv.3 [observations: 194619 for the period '2018-07/2021-06']

,Date/Time,Iac R (A),Iac S (A),Iac T (A),Vac R (V),Vac S (V),Vac T (V),Pac R (kW),Pac S (kW),Pac T (kW),E. totale (kWh),Cc 1 (A),Vcc 1 (V),Allarme,Stato,Inverter temp. (°C),Fac (Hz),Irr. medio (W/mq)
25409,2019-03-14 10:40:00,95,91,103,118,119,118,35,NaN,NaN,3293400.5,78,454,553701696,NaN,1,NaN,141.0
101022,2019-12-18 07:50:00,0,0,0,115,115,115,0,NaN,NaN,3595725.5,0,485,805360192,NaN,5,NaN,47.0
128574,2020-04-04 08:50:00,108,103,112,116,117,116,38,NaN,NaN,3696018.3,83,463,553701696,NaN,65533,NaN,206.0
99419,2019-12-11 17:10:00,0,0,0,113,113,113,0,NaN,NaN,3592691.1,0,5,805360192,NaN,3,NaN,18.0
151125,2020-06-17 16:40:00,108,103,112,118,118,118,38,NaN,NaN,3789151.3,89,424,553701696,NaN,19,NaN,577.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194619 entries, 0 to 194618
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date/Time            194619 non-null  datetime64[ns]
 1   Iac R (A)            194619 non-null  int64
 2   Iac S (A)            194619 non-null  int64
 3   Iac T (A)            194619 non-null  int64
 4   Vac R (V)            194619 non-null  int64
 5   Vac S (V)            194619 non-null  int64
 6   Vac T (V)            194619 non-null  int64
 7   Pac R (kW)           194619 non-null  int64
 8   Pac S (kW)           0 non-null       float64
 9   Pac T (kW)           0 non-null       float64
 10  E. totale (kWh)      194619 non-null  float64
 11  Cc 1 (A)             194619 non-null  int64
 12  Vcc 1 (V)            194619 non-null  int64
 13  Allarme              194619 non-null  string
 14  Stato                0 non-null       float64
 15  Inverter temp. (°C)  194619 non-null  int64
 16  Fac (Hz)             0 non-null       float64
 17  Irr. medio (W/mq)    191605 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(10), string(1)
memory usage: 28.2 MB

None

EXAMPLE: Inverter data Inv.4 [observations: 194468 for the period '2018-07/2021-06']

,Date/Time,Iac R (A),Iac S (A),Iac T (A),Vac R (V),Vac S (V),Vac T (V),Pac R (kW),Pac S (kW),Pac T (kW),E. totale (kWh),Cc 1 (A),Vcc 1 (V),Allarme,Stato,Inverter temp. (°C),Fac (Hz),Irr. medio (W/mq)
149693,2020-06-13 12:20:00,434,540,500,120,120,122,179,NaN,NaN,3642636.3,536,395,553701696,NaN,19,NaN,852.0
111805,2020-01-30 17:10:00,0,0,0,113,112,113,0,NaN,NaN,3503330.7,0,451,805360192,NaN,7,NaN,24.0
133960,2020-04-22 14:00:00,112,159,156,116,116,117,50,NaN,NaN,3585640.5,125,449,553701696,NaN,5,NaN,228.0
28640,2019-03-27 12:50:00,125,132,132,116,116,117,46,NaN,NaN,3208962.6,101,447,553701696,NaN,1,NaN,191.0
20799,2019-02-23 09:20:00,207,212,214,116,116,116,73,NaN,NaN,3173582.9,156,466,553701696,NaN,65531,NaN,272.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194468 entries, 0 to 194467
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date/Time            194468 non-null  datetime64[ns]
 1   Iac R (A)            194468 non-null  int64
 2   Iac S (A)            194468 non-null  int64
 3   Iac T (A)            194468 non-null  int64
 4   Vac R (V)            194468 non-null  int64
 5   Vac S (V)            194468 non-null  int64
 6   Vac T (V)            194468 non-null  int64
 7   Pac R (kW)           194468 non-null  int64
 8   Pac S (kW)           0 non-null       float64
 9   Pac T (kW)           0 non-null       float64
 10  E. totale (kWh)      194468 non-null  float64
 11  Cc 1 (A)             194468 non-null  int64
 12  Vcc 1 (V)            194468 non-null  int64
 13  Allarme              194468 non-null  string
 14  Stato                0 non-null       float64
 15  Inverter temp. (°C)  194468 non-null  int64
 16  Fac (Hz)             0 non-null       float64
 17  Irr. medio (W/mq)    191876 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(10), string(1)
memory usage: 28.2 MB

None

In [60]:
# TASK: Save dataframes as CSV files
saving_folder_name =  "Imported data"
saving_folder_path = path.join(folder_path, saving_folder_name)

# 0: Create the folders
if not path.exists(saving_folder_path):
    makedirs(saving_folder_path)
    print("A new saving folder has been created")

# 1: Saving merged inverter data
for inv_name in inv_names:
    inv_name_file = inv_name.upper().replace(".", "")
    
    full_inv_data[inv_name].to_csv(path.join(saving_folder_path, "merged_{0}_data.csv".format(inv_name_file)), index=False)
    print("The merged dataframe ({0}) of the {1} has been saved ({2}/{3})"
          .format(len(full_inv_data[inv_name]), inv_name_file, period_covered[0], period_covered[1]))

# 2: Save also all of the irradiance values in case there are some mismatches (i.e., desynchronization) after merging
# MOTIVATION: The discarded irradiance values (due to LeftOuter join) may be useful afterwards
if any(list(perfect_match.values())) == False:   
    irr_dfs.to_csv(path.join(saving_folder_path, "raw_irr_data.csv"), index=False)
    print("\nThe raw irradiance values ({0}) have also been saved (as some desynchronized observations have been found)".format(len(irr_dfs)))

The merged dataframe (192962) of the INV1 has been saved (2018-07/2021-06)
The merged dataframe (191802) of the INV2 has been saved (2018-07/2021-06)
The merged dataframe (194619) of the INV3 has been saved (2018-07/2021-06)
The merged dataframe (194468) of the INV4 has been saved (2018-07/2021-06)

The raw irradiance values (207136) have also been saved (as some desynchronized observations have been found)

In [61]:
df = pd.read_csv(path.join(saving_folder_path, "merged_INV" + "2" + "_data.csv"), 
                 parse_dates=[0], dtype={"Allarme":"string"})
display(df[~df["Irr. medio (W/mq)"].isnull()])
df.info()

,Date/Time,Iac R (A),Iac S (A),Iac T (A),Vac R (V),Vac S (V),Vac T (V),Pac R (kW),Pac S (kW),Pac T (kW),E. totale (kWh),Cc 1 (A),Vcc 1 (V),Allarme,Stato,Inverter temp. (°C),Fac (Hz),Irr. medio (W/mq)
5,2018-07-30 12:10:00,542,553,538,122,122,123,201,NaN,NaN,3062852.8,562,378,553701696,NaN,35,NaN,16.0
6,2018-07-30 12:20:00,544,554,540,122,122,123,202,NaN,NaN,3062891.9,563,380,553701696,NaN,37,NaN,884.0
7,2018-07-30 12:20:00,544,554,540,122,122,123,202,NaN,NaN,3062891.9,563,380,553701696,NaN,37,NaN,895.0
8,2018-07-30 12:20:00,544,554,540,122,122,123,202,NaN,NaN,3062891.9,563,380,553701696,NaN,37,NaN,892.0
9,2018-07-30 12:20:00,546,556,545,122,123,123,203,NaN,NaN,3062884.0,567,380,553701696,NaN,35,NaN,884.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191796,2021-06-30 20:30:00,0,0,0,113,113,113,0,NaN,NaN,4119394.6,0,388,805360192,NaN,29,NaN,23.0
191797,2021-06-30 20:40:00,0,0,0,113,113,113,0,NaN,NaN,4119394.6,0,330,805360192,NaN,31,NaN,21.0
191798,2021-06-30 20:50:00,0,0,0,113,113,113,0,NaN,NaN,4119394.6,0,203,805360192,NaN,31,NaN,21.0
191799,2021-06-30 21:00:00,0,0,0,113,112,112,0,NaN,NaN,4119394.6,0,15,805360192,NaN,29,NaN,21.0
191801,2021-06-30 21:30:00,0,0,0,113,113,113,0,NaN,NaN,4119394.6,0,12,805360192,NaN,29,NaN,21.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191802 entries, 0 to 191801
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date/Time            191802 non-null  datetime64[ns]
 1   Iac R (A)            191802 non-null  int64
 2   Iac S (A)            191802 non-null  int64
 3   Iac T (A)            191802 non-null  int64
 4   Vac R (V)            191802 non-null  int64
 5   Vac S (V)            191802 non-null  int64
 6   Vac T (V)            191802 non-null  int64
 7   Pac R (kW)           191802 non-null  int64
 8   Pac S (kW)           0 non-null       float64
 9   Pac T (kW)           0 non-null       float64
 10  E. totale (kWh)      191802 non-null  float64
 11  Cc 1 (A)             191802 non-null  int64
 12  Vcc 1 (V)            191802 non-null  int64
 13  Allarme              191802 non-null  string
 14  Stato                0 non-null       float64
 15  Inverter temp. (°C)  191802 non-null  int64
 16  Fac (Hz)             0 non-null       float64
 17  Irr. medio (W/mq)    188872 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(10), string(1)
memory usage: 26.3 MB