In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.interpolate as interpolate
import time
from os import path
from library.utils import SYSTEM_NAMES, load_datasets
from random import randrange
from datetime import timedelta
from sklearn.model_selection import train_test_split, TimeSeriesSplit
from sklearn.metrics import mean_squared_error, mean_absolute_error
from datetime import datetime
import sys

In [2]:
# Select the main folder 
%cd /mnt/data/vieri/projects/SAMPLE/

# Visualize names of PV systems
print(SYSTEM_NAMES)
# --- 0 ---------- 1 --------- 2 ------ 3 ------ 4 --------- 5 --------- 6 -------- 7 ---

/mnt/data/vieri/projects/SAMPLE
['Binetto 1', 'Binetto 2', 'Cantore', 'Emi', 'Soleto 1', 'Soleto 2', 'Galatina', 'Verone']

# Loading the dataset

In [3]:
system_name = SYSTEM_NAMES[2]
folder_path, inv_data, inv_names, raw_irr_data, string_inv_data, string_inv_names = load_datasets(system_name,
                                                                                                  subfolder= "Cleaned",
                                                                                                  verbose=True)

SYSTEM --> CANTORE
Loading inverter data...

CANTORE: Component data loaded (4) --> INV1, INV2, INV3, INV4
CANTORE: Raw irradiance data (235741) have been loaded

OK: All datasets have been loaded

EXAMPLE --> Cantore: INV1
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148279 entries, 0 to 148278
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date/Time            148279 non-null  datetime64[ns]
 1   Iac R (A)            148279 non-null  int64
 2   Iac S (A)            148279 non-null  int64
 3   Iac T (A)            148279 non-null  int64
 4   Vac R (V)            148279 non-null  int64
 5   Vac S (V)            148279 non-null  int64
 6   Vac T (V)            148279 non-null  int64
 7   Pac R (kW)           148279 non-null  int64
 8   E. totale (kWh)      148279 non-null  float64
 9   Cc 1 (A)             148279 non-null  int64
 10  Vcc 1 (V)            148279 non-null  int64
 11  Allarme              148279 non-null  string
 12  Inverter temp. (Â°C)  148279 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(10), string(1)
memory usage: 14.7 MB

# Make the dataset a 10-min sampled dataset 
by **keeping the (XX:X0) observations**

In [4]:
# TASK: Same sampling for everthing
# DEAFULT SAMPLING: 10 minutes (trade-off between 5-minut and 10-minute sampling that has emerged from data)
# STATEGY: Discard unnecessary observations (from 5-min to 10-min sampling) 
pd.set_option('display.max_rows', 5000)

even_obs = dict()
for inv_name in inv_names:
    # Compute the type of time (even/odd m)
    inv_data[inv_name]["Time"] = inv_data[inv_name]["Date/Time"].dt.time
    inv_data[inv_name]["Type of time"] = inv_data[inv_name]["Time"].apply(lambda time: "even" if time.minute % 2 == 0 else "odd")

    # Discard one observation 9:00, 9:05, 9.10 --> Discard 9.05
    cond = inv_data[inv_name]["Date/Time"].dt.to_period('M') == "2019-02" #2019-02-22
    #display(inv_data[to_load].loc[cond, ["Date/Time", "Type of time"]])

    # Filter the even observations
    even_obs[inv_name] = inv_data[inv_name].loc[inv_data[inv_name]["Type of time"] == "even", :]
    even_obs[inv_name]["Delta [min]"] = [delta.seconds//60 if not pd.isnull(delta) else 0 
                                         for delta in even_obs[inv_name]["Date/Time"].diff()]
    #display(even_obs.iloc[0:1000, [0, -1]])

    # Group deltas to find the gaps open up by deleting the observations
    # 0: Filter deltas of different days 
    tmp_even_obs = even_obs[inv_name].copy()
    tmp_even_obs["Date"] = tmp_even_obs["Date/Time"].dt.date
    tmp_even_obs["Same day"] = tmp_even_obs["Date"].diff().apply(lambda diff: True if diff.days == 0 else False)
    tmp_even_obs = tmp_even_obs.loc[tmp_even_obs["Same day"] == True]
    tmp_even_obs.drop(columns=["Same day"], inplace=True)

    # 1: Group deltas
    gaps = tmp_even_obs.groupby(by ="Delta [min]").count()["Date/Time"].to_frame()
    gaps.rename(columns = {"Date/Time": "Occurrences"}, inplace=True)
    gaps.sort_values(by="Occurrences", ascending=False, inplace=True)
    print(f"\n-------------{inv_name}-------------\nNominal behaviour: {gaps.index[0]}\n")
    display(gaps)
    
    # Drop temporary columns 
    even_obs[inv_name].drop(columns = ["Type of time", "Time"], inplace=True)
    inv_data[inv_name].drop(columns = ["Time", "Type of time"], inplace=True)

/tmp/ipykernel_29501/977995278.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  even_obs[inv_name]["Delta [min]"] = [delta.seconds//60 if not pd.isnull(delta) else 0

-------------INV1-------------
Nominal behaviour: 10

             Occurrences
Delta [min]
10                 61296
20                 11359
100                  288
90                    89
370                   64
30                    54
300                   43
310                   31
360                   25
40                    13
60                     9
50                     8
70                     6
80                     5
110                    2
230                    1
170                    1
210                    1
200                    1
180                    1
130                    1
120                    1

/home/vieri/anaconda3/envs/sample/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/tmp/ipykernel_29501/977995278.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  even_obs[inv_name]["Delta [min]"] = [delta.seconds//60 if not pd.isnull(delta) else 0

-------------INV2-------------
Nominal behaviour: 10

             Occurrences
Delta [min]
10                 59633
20                 11031
100                  291
90                    85
370                   61
30                    52
300                   39
310                   31
360                   24
40                    11
50                    10
60                     7
80                     7
70                     7
110                    2
230                    1
170                    1
210                    1
200                    1
180                    1
130                    1
120                    1

/home/vieri/anaconda3/envs/sample/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/tmp/ipykernel_29501/977995278.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  even_obs[inv_name]["Delta [min]"] = [delta.seconds//60 if not pd.isnull(delta) else 0

-------------INV3-------------
Nominal behaviour: 10

             Occurrences
Delta [min]
10                 60909
20                 11280
100                  295
90                    82
30                    64
370                   64
300                   41
310                   26
360                   23
40                    16
60                    10
50                    10
80                     8
70                     6
120                    3
110                    3
130                    2
420                    2
200                    2
390                    1
140                    1
270                    1
230                    1
210                    1
180                    1
560                    1

/home/vieri/anaconda3/envs/sample/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/tmp/ipykernel_29501/977995278.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  even_obs[inv_name]["Delta [min]"] = [delta.seconds//60 if not pd.isnull(delta) else 0

-------------INV4-------------
Nominal behaviour: 10

             Occurrences
Delta [min]
10                 61070
20                 11327
100                  299
90                    83
30                    76
370                   66
300                   34
310                   33
360                   26
40                    17
50                    16
70                     9
60                     9
80                     8
110                    2
130                    2
180                    2
320                    1
600                    1
520                    1
420                    1
640                    1
170                    1
230                    1
210                    1
200                    1
160                    1
140                    1
120                    1
740                    1

/home/vieri/anaconda3/envs/sample/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [5]:
# Daily observation 
for inv_name in inv_names:
    print("----", inv_name.upper(),"----")
    
    # Create the date column 
    inv_data[inv_name]["Data"] = inv_data[inv_name]["Date/Time"].dt.date
    even_obs[inv_name]["Data"] = even_obs[inv_name]["Date/Time"].dt.date
    
    # Grouping 
    grouped_total = inv_data[inv_name].groupby(by="Data").count()["Date/Time"]
    grouped_even = even_obs[inv_name].groupby(by="Data").count()["Date/Time"]
    
    # Visualize: Mean and std of the total df
    mean_daily_df_total = np.mean(np.array(grouped_total))  # MEAN: 78 fino a 2019-01-28 poi MEAN 144 in poi
    std_daily_df_total = np.std(np.array(grouped_total))
    print("\n(TOTAL DF:",len(inv_data[inv_name]),", days=",len(grouped_total),")\nMEAN", round(mean_daily_df_total, 2), "\nSTD", round(std_daily_df_total, 2))

    # Visualize: Mean and std of the even obs
    mean_daily_df_even = np.mean(np.array(grouped_even))
    std_daily_df_even = np.std(np.array(grouped_even))
    print("\n(EVEN DF:",len(even_obs[inv_name]),", days=",len(grouped_even),")\nMEAN", round(mean_daily_df_even, 2), "\nSTD", round(std_daily_df_even, 2))

    inv_data[inv_name].drop(columns=["Data"], inplace=True)

---- INV1 ----

(TOTAL DF: 148279 , days= 1002 )
MEAN 147.98
STD 26.77

(EVEN DF: 74301 , days= 1002 )
MEAN 74.15
STD 13.47
---- INV2 ----

/tmp/ipykernel_29501/3168481421.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  even_obs[inv_name]["Data"] = even_obs[inv_name]["Date/Time"].dt.date

(TOTAL DF: 144216 , days= 974 )
MEAN 148.07
STD 27.15

(EVEN DF: 72272 , days= 974 )
MEAN 74.2
STD 13.66
---- INV3 ----

(TOTAL DF: 147410 , days= 1002 )
MEAN 147.12
STD 27.41

(EVEN DF: 73855 , days= 1002 )
MEAN 73.71
STD 13.81
---- INV4 ----

(TOTAL DF: 147884 , days= 1002 )
MEAN 147.59
STD 28.46

(EVEN DF: 74094 , days= 1002 )
MEAN 73.95
STD 14.32

# Computing the missing timestamps

In [ ]:
missing_timestamps = dict()
for inv_name in inv_names:
    missing_sampling = even_obs[inv_name].loc[
        (even_obs[inv_name]["Delta [min]"] != 10) & 
        (even_obs[inv_name]["Delta [min]"] != 0) & 
        (even_obs[inv_name]["Delta [min]"] < 60*4) # night ? (deltas between two different days)
    ]
    
    # Compute the missing timestamp of missing sampling 
    start_time = missing_sampling["Date/Time"] - missing_sampling["Delta [min]"].map(lambda delta: np.timedelta64(delta, "m"))
    full_periods = list(zip(np.array(start_time), np.array(missing_sampling["Date/Time"])))
    periods = [pd.date_range(start=period[0], end=period[1], freq="10min")[1:-1].to_numpy() for period in full_periods]
    missing_timestamps[inv_name] = set(timestamp for period in periods for timestamp in period)
    
    print(inv_name.upper(), "...")
    number_ts_per_periods = [len(period) for period in periods]
    #print(periods)
    print(f"MISSING TIMESTAMP: {len(missing_timestamps[inv_name])} in {len(periods)} periods "\
          f"[Missing timestamps per periods: (AVG) {round(np.mean(number_ts_per_periods), 2)} "\
          f"(MIN: {np.min(number_ts_per_periods)}, MAX: {np.max(number_ts_per_periods)})]")

# Interpolation: *Testing the perfomance*

In [ ]:
console_stdout = sys.stdout 
for system_name in SYSTEM_NAMES[2:]:
    print("Working on", system_name.upper())
    folder_path, inv_data, inv_names, *_  = load_datasets(system_name, subfolder= "Cleaned", verbose=False)
    
    now = datetime.now()
    
    # Save the output into a txt file
    sys.stdout = open(path.join(folder_path, f"spline_performance_{now.strftime('%H:%M')}.txt"),  mode="w+")
    
    print("PV SYSTEM:", system_name)
    print("DATETIME:", now.strftime("%Y-%d-%m %H:%M:%S"))   
    for inv_name in inv_names: 
        print("-"*40, inv_name.upper(), "-"*40)

        # Create a dataframe for the interpolation process
        debug = False
        if debug:
            debug_size = 0.02
            df_size = int(round(len(inv_data[inv_name]) * debug_size, 0))
            ts = inv_data[inv_name].iloc[:df_size, :].copy()
        else:
            ts = inv_data[inv_name].copy()
            debug_size = 1

        ts.index = ts["Date/Time"]
        ts.drop(columns=["Date/Time", "Allarme"], inplace=True)

        # Split the dataframe into TRAIN and TEST data
        train_data, test_data = train_test_split(ts, test_size = 0.1) # shuffle=False, random_state=99
        print(f"OBSERVATION: {len(ts)} (ORIGINAL DF: {debug_size*100} %)--> TRAIN SIZE: {len(train_data)}, TEST SIZE(10%): {len(test_data)} \n")

        # Fill the train data with the timestamp included in the test data with NaN values 
        # WHY? Since they are necessary to perform the interporlation process
        missing_test_data = pd.DataFrame(columns = test_data.columns, index = test_data.index, dtype="float64")
        train_data = train_data.append(missing_test_data)
        train_data.sort_index(inplace=True)

        # TASK: Spline interpolation (with different orders)
        spline_order = range(1, 6) # the maximum parameter is 5 
        for order in spline_order:
            print("-"*25,f"SPLINE (order: {order})", "-"*25)
            start_time = time.time()

            # Interpolation 
            print(f"Interpolating {len(test_data.index)} observations (out of {len(train_data) - len(test_data)})... ")
            spline_interp = train_data.interpolate(method='spline', order = order)

            time_elapsed = str(timedelta(seconds = (time.time() - start_time))).split(":")
            print(f"Finisched!\nTime elapsed: {time_elapsed[0]} h, {time_elapsed[1]} min, {time_elapsed[2].split('.')[0]} sec") 

            # Convert the interpolated values into integer values (apart from one column)
            integer_columns = [col for col in spline_interp.columns if col !='E. totale (kWh)']
            spline_interp.loc[:, integer_columns] = spline_interp.loc[:, integer_columns].round(decimals = 0) 

            # Compute the error (the differnce between the interpolated observations and the test data)
            errors = test_data - spline_interp.loc[test_data.index, :]
            
            # Compute some error metrics (Mean Absolute Error, Root Mean Squarred Error)
            std = np.std(errors)
            mae =  np.absolute(errors).mean()
            rmse = np.sqrt((errors ** 2).mean())
            wape = np.sum(np.abs(errors))/np.sum(np.abs(test_data)) * 100

            #normalied_errors = np.abs(errors/test_data)
            #normalied_errors[normalied_errors == np.inf] = np.nan
            #mape = round(np.mean(normalied_errors) * 100, 2) # OLD: np.mean(np.abs(errors/test_data)) * 100

            print("-"*14, "RMSE", "-"*14)
            print(rmse)
            print("-"*14, "MAE", "-"*14)
            print(mae)
            #print(print("-"*14, "MAPE (%)", "-"*14))
            #print(mape)
            print(print("-"*14, "wMAPE (%)", "-"*14))
            print(wape)
            print("-"*14, "STD (on residual)", "-"*14)
            print(std)
            
            # Group errors
            abs_error = np.abs(errors)
            groupedErrors = pd.DataFrame()
            groupedErrors["Iac"] = abs_error[['Iac R (A)', 'Iac S (A)', 'Iac T (A)']].mean(axis=1)
            groupedErrors["Vac"] = abs_error[['Vac R (V)', 'Vac S (V)', 'Vac T (V)']].mean(axis=1)
            groupedErrors["Pac"] = abs_error["Pac R (kW)"]
            groupedErrors["Timestamp"] = abs_error.index
            groupedErrors["Delta [day] - Test observations"] = [np.abs(delta.components[0]) if not pd.isnull(delta) else 0
                                            for delta in groupedErrors["Timestamp"].diff()]
            groupedErrors.drop(columns="Timestamp", inplace=True)
            groupedErrors = groupedErrors.groupby(by='Delta [day] - Test observations').agg(
                obs=('Iac', 'count'),
                Iac=('Iac', 'mean'),
                Vac=('Vac', 'mean'),
                Pac=('Pac', 'mean')
            )
            groupedErrors.sort_values(by="Iac", ascending=False, inplace=True)
            print(15*"-", "Grouped errors (by deltas among test observations)", 15*"-")
            print(groupedErrors)

            # Visualize an example of interpolated observation (picked randomly)
            random_row = randrange(len(test_data.index))
            comparison_df = pd.DataFrame(
                index = ["Actual obs", "Interpolated obs", "(Absolute) Error"],
                data = [
                    test_data.iloc[random_row,:],
                    spline_interp.loc[test_data.index[random_row], :],
                    np.absolute(errors.iloc[random_row,:])
                ])
            print(f"\n---- EXAMPLE: Testing row ({test_data.index[random_row]})----")
            print(comparison_df)
    sys.stdout.close()
    sys.stdout = console_stdout

Working on CANTORE
SYSTEM --> CANTORE
Loading inverter data...

CANTORE: Component data loaded (4) --> INV1, INV2, INV3, INV4
CANTORE: Raw irradiance data (235741) have been loaded

OK: All datasets have been loaded

In [ ]:
for inv_name in inv_names[:1]:
    df = inv_data[inv_name]["Date/Time"].copy().to_frame()
    
    # Compute the type of time (even/odd m)
    df["Date"] = df["Date/Time"].dt.date
    df["Time"] = df["Date/Time"].dt.time
    df["Delta [min]"] = [delta.seconds//60 if not pd.isnull(delta) else 0 for delta in df["Date/Time"].diff()]
    df.drop(columns = "Date/Time", inplace=True)
    
    # Exclude particular types of occurrences
    # A) Midnight occurrences (00:00)
    df = df[df["Time"] != pd.to_datetime("00:00:00").time()]

    # B) First occurence of the day (e.g., 5:00 AM)
    df["Same day"] = df["Date"].diff().apply(lambda diff: True if diff.days == 0 else False)
    df = df[df["Same day"] == True]
    df.drop(columns=["Same day"], inplace=True)
    df.reset_index(inplace=True, drop=True)
    
    # Count deltas
    deltas_df = df.groupby(by= "Delta [min]").count()["Time"].sort_values(ascending=False)
    display(deltas_df.to_frame())
    count_deltas = list(zip(deltas_df.index, deltas_df))

    # Visualize
    for delta, counter in count_deltas:#[:4]:
        print("-"*20, f"DELTA Sampling: {delta} min ({counter} obs)","-"*20)
        
        observations = df.loc[df["Delta [min]"] == delta]
        idk_observations = observations.index
        
        # Visualize an example
        for idk in idk_observations[:2]:
            print("IDK: ", idk, f"({df.iloc[idk, 1]})")
            window = 3
            neighbourhood = df.iloc[idk - window: idk + window + 1, 1:]
            if len(neighbourhood) < 1:
                neighbourhood = df.iloc[idk: idk + window + 1, 1:]
                if len(neighbourhood) < 1:
                    neighbourhood = df.iloc[idk - window: idk+1, 1:]
            display(neighbourhood)

# Interpolation: *Apply it to the dataset *
(i.e., computing the missing timestamps)

In [ ]:
# # B) Missing values --> Use a interpolation function (i.e., splines)
# TASK: Univariante regression Splines
# The points where the division of data points (i.e., separate portions) occurs --> are called Knots
# VARIABLE: Irradiance

# NB: Find optimal degree --> find according to error

# Extraxt data from the dataframe
#x = np.array(raw_irr_data["data"])
#y = np.array(raw_irr_data["irr. medio 1 W/mq"])