In [1]:
from sys import path
if '../..' not in path:
    path.insert(0, '../..')

In [2]:
from os import path, makedirs
from _library.utils import SYSTEM_NAMES_FULL, load_datasets
from scipy.stats import zscore
from IPython.display import clear_output
import numpy as np
import pandas as pd

In [3]:
# Select the main folder 
%cd /mnt/data/vieri/projects/SAMPLE/

# Visualize names of PV systems
print(SYSTEM_NAMES_FULL)
# --- 0 ---------- 1 --------- 2 ------ 3 ------ 4 --------- 5 --------- 6 -------- 7 ---

/mnt/data/vieri/projects/SAMPLE
['Binetto 1', 'Binetto 2', 'Cantore', 'Emi', 'Soleto 1', 'Soleto 2', 'Galatina', 'Verone']

# Selecting the PV system

In [4]:
system_name = SYSTEM_NAMES_FULL[4]
print("PV SYSTEM --> ", system_name)

PV SYSTEM -->  Soleto 1

# Loading dataset

In [5]:
# Loading the datasets
path_file, inv_data, inv_names, raw_irr_data, string_inv_data, string_inv_names = load_datasets(system_name, verbose=True)

--------------------------------------------------------------------------------
				PV SYSTEM --> SOLETO 1
--------------------------------------------------------------------------------

Loading inverter data...
SOLETO 1: OK, component data loaded (4) --> INV1, INV2, INV3, INV4

Loading irradiance values...
SOLETO 1: OK, raw irradiance data (234304 observations) have been loaded

--------------------------------------------------------------------------------
FINISHED!: All datasets have been loaded. (SYS: 4 - IRR FILE: 1)
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
EXAMPLE --> Soleto 1: INV1 (FROM '2018-08-08' TO '2021-06-30': 1057 days).
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146605 entries, 0 to 146604
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date/Time            146605 non-null  datetime64[ns]
 1   Iac R (A)            146605 non-null  int64
 2   Iac S (A)            146605 non-null  int64
 3   Iac T (A)            146605 non-null  int64
 4   Vac R (V)            146605 non-null  int64
 5   Vac S (V)            146605 non-null  int64
 6   Vac T (V)            146605 non-null  int64
 7   Pac R (kW)           146605 non-null  int64
 8   Pac S (kW)           0 non-null       float64
 9   Pac T (kW)           0 non-null       float64
 10  E. totale (kWh)      146605 non-null  float64
 11  Cc 1 (A)             146605 non-null  int64
 12  Vcc 1 (V)            146605 non-null  int64
 13  Allarme              146605 non-null  string
 14  Stato                0 non-null       float64
 15  Inverter temp. (°C)  146605 non-null  int64
 16  Fac (Hz)             0 non-null       float64
 17  Irr. medio (W/mq)    125184 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(10), string(1)
memory usage: 20.1 MB

# Exploration

In [6]:
# TASK (EXPLORE): Carry out some descriptive statistics on problematic columns (i.e., those identified through numerical and temporal distribution graphs)
to_load = inv_names[0]

# Check numerical distribution via some descriptive statistics (mean, IQR, etc)
check_emptiness = ["Pac S (kW)", "Pac T (kW)", "Stato", "Fac (Hz)"] 
varibles_to_analyse = ["Irr. medio (W/mq)", "Inverter temp. (°C)"]
for var in [check_emptiness + varibles_to_analyse]:
    print(inv_data[to_load][var].describe(), "\n")

# Quick check at the invalid temperature values (above the likely physical limit)
valid_temperature = 200 # °C
valid_tempValue = inv_data[to_load].loc[inv_data[to_load]["Inverter temp. (°C)"] <= valid_temperature, :]
print(f"VALID TEMP. VALUE: {len(valid_tempValue)} ({round((len(valid_tempValue)/len(inv_data[to_load]['Inverter temp. (°C)']))*100, 2)}%)")

# FINDINGS: 
# 1) "Pac S (kW)", "Pac T (kW)", "Stato", "Fac (Hz)" --> OK: 0 valid values --> They can be discarded
# 2) Irr. medio --> it seems okay (mean, std, IQR, min, max)
# 3) Inverter temp [°C] --> Strange 
#   --->  mean: 1064, std: 8223, IQR: 11-21, max = 65535
#   ---> value above 1000 should be analyse

       Pac S (kW)  Pac T (kW)  Stato  Fac (Hz)  Irr. medio (W/mq)  \
count         0.0         0.0    0.0       0.0      125184.000000
mean          NaN         NaN    NaN       NaN         306.464061
std           NaN         NaN    NaN       NaN         371.583198
min           NaN         NaN    NaN       NaN           4.000000
25%           NaN         NaN    NaN       NaN          33.000000
50%           NaN         NaN    NaN       NaN         121.000000
75%           NaN         NaN    NaN       NaN         578.000000
max           NaN         NaN    NaN       NaN        5040.000000

       Inverter temp. (°C)
count        146605.000000
mean             41.598738
std            1121.816403
min               1.000000
25%              17.000000
50%              21.000000
75%              29.000000
max           65535.000000

VALID TEMP. VALUE: 146562 (99.97%)

In [7]:
# TASK (EXPLORE): Check whather a type converstion is necessary?
# VARIABLE: Irr. medio (W/mq) --> From 'float64' to int64
irr_values = inv_data[to_load]["Irr. medio (W/mq)"]
non_integer = [value for value in irr_values if not value.is_integer()]
non_nanInteger = [value for value in non_integer if not np.isnan(value)]
print("Number of non integer values (that are not NaN values):", len(non_nanInteger))

# Check its validity 
integer_irr_values = pd.array(irr_values, dtype="Int64")
diff = np.abs(irr_values - integer_irr_values)
diff.dropna(inplace = True)
mean = np.mean(diff)
std = np.std(diff)
print(f"\nCASTING to Int64: Compute difference to check validity.\nMEAN (diff): {mean}, STD (diff):{std}")

# FINDIGS: Irradiance values are all integer values, but the empty values (numpy NaN) was forcing the column to be a float number

Number of non integer values (that are not NaN values): 0

CASTING to Int64: Compute difference to check validity.
MEAN (diff): 0.0, STD (diff):0.0

# fix uniqueness of the datetimes

In [8]:
# Check uniqueness --> Date/time
def check_datetime_uniqueness():
    index_to_delate = dict()
    
    for inv_name in inv_names:
        df = inv_data[inv_name]
        print(f"\nAnalysing {inv_name}...")
        
        if set(check_emptiness).issubset(df.columns):
            df = df.drop(columns = ["Irr. medio (W/mq)"] + check_emptiness)

        # Check duplicates
        condition = df["Date/Time"].duplicated(keep=False)
        duplicated_datetime = df[condition]
        
        # Continue to analyse other inverter in case of no duplicated observations
        if len(duplicated_datetime) == 0:
            print(f"Oh, that's good. No duplicated observations have been found for {inv_name}!")
            continue
        
        # Extraxct unique datetimes
        unique_duplicated_dt = [pd.to_datetime(datetime) for datetime in duplicated_datetime["Date/Time"].unique()]
        print(f"DUPLICATE DATES: {len(unique_duplicated_dt)}: {[dt.strftime('%Y-%m-%d, %H:%M') for dt in unique_duplicated_dt]} "\
              f"(Total observations: {len(duplicated_datetime)})")
        #display(duplicated_datetime)

        # Investigate to this behaviour for a duplicate observations
        datetime_to_investigate = unique_duplicated_dt[0]
        delta = pd.Timedelta(15, unit="minutes") #datetime.timedelta(minutes=60)
        period = (datetime_to_investigate - delta, datetime_to_investigate + delta)
        #display(df.loc[df["Date/Time"].between(period[0], period[1]), :])

        # Compute difference 
        to_discard = set()
        for datetime in unique_duplicated_dt:
            daily_duplicated_indexes = df[df["Date/Time"] == datetime].index
            duplicated_obs = df.loc[daily_duplicated_indexes, :].drop(columns = "Date/Time")
            obs = pd.Series()
            
            daily_duplicated_indexes
            
            if len(unique_duplicated_dt) > 300:
                clear_output(wait=True)
            print(f"\nAnalysing {datetime} - (observations: {len(daily_duplicated_indexes)})")
            print("-"*120)
            
            equal_observations = set()
            for idk_check, index_obs in enumerate(daily_duplicated_indexes):
                
                other_duplicated_obs = duplicated_obs.drop(index_obs, axis=0)

                check = duplicated_obs.loc[index_obs,:].eq(other_duplicated_obs)
                find_equal_obs = check.all(axis=1)[check.all(axis=1) == True].index.tolist()

                print(f"--> Analysing idk: {index_obs}...")                
                if find_equal_obs:
                    print(f"    Equal observation(s) have been found: {find_equal_obs}")
                    idk_equal_obs = [index_obs] + [idk for idk in find_equal_obs]
                    idk_equal_obs.sort()
                    
                    #display(duplicated_obs.loc[idk_equal_obs, :])
                    #idk_equal_obs = [idk for idk in find_equal_obs]

                    # Save pairs of equal duplicated observations
                    equal_observations.add(tuple(idk_equal_obs))
   
            # Keep the first equal and discard the other equal observations
            duplicated_diff_obs = sorted([obs_to_discard for pairs in equal_observations for obs_to_discard in pairs[1:]])
            
            if len(duplicated_diff_obs) != 0:
                to_discard.update(duplicated_diff_obs)
                print("\n--> OK, discarding the identical observations: ", duplicated_diff_obs)
            else:
                print("No equal observations have been found")
        
            # Highlight potential issues: same timestamp not equal values
            remaining_duplicated_obs = sorted(set(daily_duplicated_indexes) - set(duplicated_diff_obs))
            
            if len(remaining_duplicated_obs) > 1:
                print(f"\n--> Issue, duplicated observations with different values have been found! --> {remaining_duplicated_obs}")
                
                mean_deltas = []
                to_discard_strat_2 = []
                for idk_observation in remaining_duplicated_obs:
                    print(f"    FOCUSING ON IDK: {idk_observation}")

                    # Compute the idk of previous and upcoming observations
                    prev_idk = idk_observation - 1
                    if prev_idk in daily_duplicated_indexes:
                        prev_idk = idk_observation - len(duplicated_diff_obs) - 1 
      
                    upcom_idk = idk_observation + 1
                    if upcom_idk in daily_duplicated_indexes:
                        upcom_idk = idk_observation + len(duplicated_diff_obs) + 1

                    # Compute previous and upcoming observations
                    obs_kwh = df.loc[idk_observation, :]["E. totale (kWh)"]
                    prev = df.loc[prev_idk, :]["E. totale (kWh)"]
                    upcom = df.loc[upcom_idk, :]["E. totale (kWh)"]

                    # Compute delta
                    mean_deltas.append((idk_observation,np.mean([np.abs(obs_kwh - prev),np.abs(upcom - obs_kwh)]) ))

                    # Check validity 
                    if prev <= obs_kwh <= upcom:
                        print("    Valid observation.")
                    else:
                        print("    Invalid values of E. total (kWH) the observation will be discarded. ")
                        to_discard_strat_2.append(idk_observation)
                        
                if len(to_discard_strat_2) == len(remaining_duplicated_obs):
                    print(prev_idk, "- ",idk_observation, "-", upcom_idk)
                    neighbours = df.loc[prev_idk:upcom_idk, :]
                    display(neighbours)
                    to_discard_strat_2 = to_discard_strat_2[1:]
                    print(to_discard_strat_2)
                    
                # IN CASE: Multiple valid observations (according to the )
                if len(remaining_duplicated_obs) - len(to_discard_strat_2) > 1:
                    print("\n    Multiple valid duplicated observations have been found. "\
                          f"{sorted(set(remaining_duplicated_obs) - set(to_discard_strat_2))}")

                    # Delete deltas of already selected discarted observations
                    if to_discard_strat_2:
                        idx_to_delate = [item for item in to_discard_strat_2]
                        mean_deltas = [delta for delta in mean_deltas if delta[0] not in idx_to_delate]

                    # Sort according to the deltas
                    mean_deltas.sort(key = lambda item: item[1])

                    if len(mean_deltas) >= 3: # Multiple items to discard
                        to_discard_strat_2.extend([item[0] for item in mean_deltas[1:]])
                    else:
                        to_discard_strat_2.append(*[item[0] for item in mean_deltas[1:]])
                    print(f"    Keeping the one (idk: {mean_deltas[0][0]}) with the less delta with the previous and next observations")                        
            
                # Add the discarted index found with this stategy
                to_discard.update(to_discard_strat_2)
                    
                # Visualize final outcome for the day
                idx_to_discard = to_discard_strat_2 + duplicated_diff_obs
                print(f"\n--> TO KEEP: {set(daily_duplicated_indexes) - set(idx_to_discard)} \---/ "\
                      f"TO DISCARD ({len(idx_to_discard)} out of {len(daily_duplicated_indexes)}): "\
                      f"{sorted(to_discard_strat_2)} + {sorted(duplicated_diff_obs)}")
                print("-"*120)
        
        # Select the index to remove (keep the first one, as they are the equal)
        idx_to_delate = set(obs_to_discard for pairs in equal_observations for obs_to_discard in pairs[1:])
        item_to_delate = sorted(idx_to_delate.union(to_discard))
        print(f"TO DELATE ({len(item_to_delate)} out of {len(duplicated_datetime)}):", item_to_delate)
        
        # Delate the equal duplicate
        index_to_delate[inv_name] = item_to_delate
        
    return index_to_delate
# -------------------------------------------------------------------------------
index_to_delate = check_datetime_uniqueness()

Analysing INV1...
DUPLICATE DATES: 49: ['2018-08-08, 12:15', '2018-08-08, 12:25', '2018-08-08, 12:35', '2018-08-08, 12:40', '2018-08-08, 13:55', '2018-08-08, 14:00', '2018-08-08, 14:10', '2018-08-08, 14:15', '2018-08-08, 14:20', '2018-08-08, 14:25', '2018-08-08, 14:30', '2018-08-08, 14:35', '2018-08-08, 14:40', '2018-08-08, 14:50', '2018-08-08, 14:55', '2018-08-08, 15:25', '2018-09-19, 14:40', '2018-10-17, 14:55', '2018-10-17, 15:10', '2018-10-17, 15:15', '2018-10-17, 15:20', '2018-10-17, 15:30', '2018-10-17, 15:45', '2018-11-21, 14:40', '2019-06-11, 17:50', '2019-06-13, 14:50', '2019-06-13, 15:05', '2019-06-13, 15:30', '2019-07-08, 14:55', '2019-07-08, 17:05', '2019-09-17, 09:40', '2019-09-17, 09:45', '2019-09-17, 09:50', '2019-09-17, 10:05', '2019-09-17, 10:10', '2019-09-17, 10:15', '2019-09-17, 12:30', '2019-09-17, 12:40', '2019-09-17, 12:50', '2019-11-08, 08:55', '2020-02-17, 11:05', '2020-02-17, 11:15', '2020-02-17, 11:20', '2020-02-17, 11:25', '2020-02-17, 11:30', '2020-02-17, 11:35', '2020-02-17, 11:50', '2020-06-20, 09:40', '2020-09-25, 12:35'] (Total observations: 173)

Analysing 2018-08-08 12:15:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 13...
    Equal observation(s) have been found: [14, 15]
--> Analysing idk: 14...
    Equal observation(s) have been found: [13, 15]
--> Analysing idk: 15...
    Equal observation(s) have been found: [13, 14]
--> Analysing idk: 16...
    Equal observation(s) have been found: [17, 18]
--> Analysing idk: 17...
    Equal observation(s) have been found: [16, 18]
--> Analysing idk: 18...
    Equal observation(s) have been found: [16, 17]

--> OK, discarding the identical observations:  [14, 15, 17, 18]

--> Issue, duplicated observations with different values have been found! --> [13, 16]
    FOCUSING ON IDK: 13
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 16
    Valid observation.

--> TO KEEP: {16} \---/ TO DISCARD (5 out of 6): [13] + [14, 15, 17, 18]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 12:25:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 19...
    Equal observation(s) have been found: [20]
--> Analysing idk: 20...
    Equal observation(s) have been found: [19]
--> Analysing idk: 21...
    Equal observation(s) have been found: [22]
--> Analysing idk: 22...
    Equal observation(s) have been found: [21]

--> OK, discarding the identical observations:  [20, 22]

--> Issue, duplicated observations with different values have been found! --> [19, 21]
    FOCUSING ON IDK: 19
    Valid observation.
    FOCUSING ON IDK: 21
    Valid observation.

    Multiple valid duplicated observations have been found. [19, 21]
    Keeping the one (idk: 19) with the less delta with the previous and next observations

--> TO KEEP: {19} \---/ TO DISCARD (3 out of 4): [21] + [20, 22]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 12:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 24...
    Equal observation(s) have been found: [25]
--> Analysing idk: 25...
    Equal observation(s) have been found: [24]
--> Analysing idk: 26...
    Equal observation(s) have been found: [27]
--> Analysing idk: 27...
    Equal observation(s) have been found: [26]

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

--> OK, discarding the identical observations:  [25, 27]

--> Issue, duplicated observations with different values have been found! --> [24, 26]
    FOCUSING ON IDK: 24
    Valid observation.
    FOCUSING ON IDK: 26
    Valid observation.

    Multiple valid duplicated observations have been found. [24, 26]
    Keeping the one (idk: 24) with the less delta with the previous and next observations

--> TO KEEP: {24} \---/ TO DISCARD (3 out of 4): [26] + [25, 27]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 12:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 28...
    Equal observation(s) have been found: [29]
--> Analysing idk: 29...
    Equal observation(s) have been found: [28]
--> Analysing idk: 30...
    Equal observation(s) have been found: [31]
--> Analysing idk: 31...
    Equal observation(s) have been found: [30]

--> OK, discarding the identical observations:  [29, 31]

--> Issue, duplicated observations with different values have been found! --> [28, 30]
    FOCUSING ON IDK: 28
    Valid observation.
    FOCUSING ON IDK: 30
    Valid observation.

    Multiple valid duplicated observations have been found. [28, 30]
    Keeping the one (idk: 28) with the less delta with the previous and next observations

--> TO KEEP: {28} \---/ TO DISCARD (3 out of 4): [30] + [29, 31]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 13:55:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 42...
--> Analysing idk: 43...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [42, 43]
    FOCUSING ON IDK: 42
    Valid observation.
    FOCUSING ON IDK: 43
    Valid observation.

    Multiple valid duplicated observations have been found. [42, 43]
    Keeping the one (idk: 43) with the less delta with the previous and next observations

--> TO KEEP: {43} \---/ TO DISCARD (1 out of 2): [42] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:00:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 44...
    Equal observation(s) have been found: [45]
--> Analysing idk: 45...
    Equal observation(s) have been found: [44]
--> Analysing idk: 46...
    Equal observation(s) have been found: [47]
--> Analysing idk: 47...
    Equal observation(s) have been found: [46]

--> OK, discarding the identical observations:  [45, 47]

--> Issue, duplicated observations with different values have been found! --> [44, 46]
    FOCUSING ON IDK: 44
    Valid observation.
    FOCUSING ON IDK: 46
    Valid observation.

    Multiple valid duplicated observations have been found. [44, 46]
    Keeping the one (idk: 44) with the less delta with the previous and next observations

--> TO KEEP: {44} \---/ TO DISCARD (3 out of 4): [46] + [45, 47]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:10:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 48...
    Equal observation(s) have been found: [49]
--> Analysing idk: 49...
    Equal observation(s) have been found: [48]
--> Analysing idk: 50...
    Equal observation(s) have been found: [51]
--> Analysing idk: 51...
    Equal observation(s) have been found: [50]

--> OK, discarding the identical observations:  [49, 51]

--> Issue, duplicated observations with different values have been found! --> [48, 50]
    FOCUSING ON IDK: 48
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 50
    Valid observation.

--> TO KEEP: {50} \---/ TO DISCARD (3 out of 4): [48] + [49, 51]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:15:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 52...
    Equal observation(s) have been found: [53]
--> Analysing idk: 53...
    Equal observation(s) have been found: [52]
--> Analysing idk: 54...
    Equal observation(s) have been found: [55]
--> Analysing idk: 55...
    Equal observation(s) have been found: [54]

--> OK, discarding the identical observations:  [53, 55]

--> Issue, duplicated observations with different values have been found! --> [52, 54]
    FOCUSING ON IDK: 52
    Valid observation.
    FOCUSING ON IDK: 54
    Valid observation.

    Multiple valid duplicated observations have been found. [52, 54]
    Keeping the one (idk: 52) with the less delta with the previous and next observations

--> TO KEEP: {52} \---/ TO DISCARD (3 out of 4): [54] + [53, 55]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 56...
    Equal observation(s) have been found: [57]
--> Analysing idk: 57...
    Equal observation(s) have been found: [56]
--> Analysing idk: 58...
    Equal observation(s) have been found: [59]
--> Analysing idk: 59...
    Equal observation(s) have been found: [58]

--> OK, discarding the identical observations:  [57, 59]

--> Issue, duplicated observations with different values have been found! --> [56, 58]
    FOCUSING ON IDK: 56
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 58
    Valid observation.

--> TO KEEP: {58} \---/ TO DISCARD (3 out of 4): [56] + [57, 59]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:25:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 60...
    Equal observation(s) have been found: [61]
--> Analysing idk: 61...
    Equal observation(s) have been found: [60]
--> Analysing idk: 62...
    Equal observation(s) have been found: [63]
--> Analysing idk: 63...
    Equal observation(s) have been found: [62]

--> OK, discarding the identical observations:  [61, 63]

--> Issue, duplicated observations with different values have been found! --> [60, 62]
    FOCUSING ON IDK: 60
    Valid observation.
    FOCUSING ON IDK: 62
    Valid observation.

    Multiple valid duplicated observations have been found. [60, 62]
    Keeping the one (idk: 60) with the less delta with the previous and next observations

--> TO KEEP: {60} \---/ TO DISCARD (3 out of 4): [62] + [61, 63]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:30:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 64...
    Equal observation(s) have been found: [67]
--> Analysing idk: 65...
    Equal observation(s) have been found: [66]
--> Analysing idk: 66...
    Equal observation(s) have been found: [65]
--> Analysing idk: 67...
    Equal observation(s) have been found: [64]

--> OK, discarding the identical observations:  [66, 67]

--> Issue, duplicated observations with different values have been found! --> [64, 65]
    FOCUSING ON IDK: 64
    Valid observation.
    FOCUSING ON IDK: 65
    Valid observation.

    Multiple valid duplicated observations have been found. [64, 65]
    Keeping the one (idk: 64) with the less delta with the previous and next observations

--> TO KEEP: {64} \---/ TO DISCARD (3 out of 4): [65] + [66, 67]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 68...
    Equal observation(s) have been found: [69]
--> Analysing idk: 69...
    Equal observation(s) have been found: [68]
--> Analysing idk: 70...
    Equal observation(s) have been found: [71]
--> Analysing idk: 71...
    Equal observation(s) have been found: [70]

--> OK, discarding the identical observations:  [69, 71]

--> Issue, duplicated observations with different values have been found! --> [68, 70]
    FOCUSING ON IDK: 68
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 70
    Valid observation.

--> TO KEEP: {70} \---/ TO DISCARD (3 out of 4): [68] + [69, 71]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 72...
    Equal observation(s) have been found: [73]
--> Analysing idk: 73...
    Equal observation(s) have been found: [72]
--> Analysing idk: 74...
    Equal observation(s) have been found: [75]
--> Analysing idk: 75...
    Equal observation(s) have been found: [74]

--> OK, discarding the identical observations:  [73, 75]

--> Issue, duplicated observations with different values have been found! --> [72, 74]
    FOCUSING ON IDK: 72
    Valid observation.
    FOCUSING ON IDK: 74
    Valid observation.

    Multiple valid duplicated observations have been found. [72, 74]
    Keeping the one (idk: 72) with the less delta with the previous and next observations

--> TO KEEP: {72} \---/ TO DISCARD (3 out of 4): [74] + [73, 75]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:50:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 76...
--> Analysing idk: 77...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [76, 77]
    FOCUSING ON IDK: 76
    Valid observation.
    FOCUSING ON IDK: 77
    Valid observation.

    Multiple valid duplicated observations have been found. [76, 77]
    Keeping the one (idk: 77) with the less delta with the previous and next observations

--> TO KEEP: {77} \---/ TO DISCARD (1 out of 2): [76] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:55:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 78...
    Equal observation(s) have been found: [79]
--> Analysing idk: 79...
    Equal observation(s) have been found: [78]

--> OK, discarding the identical observations:  [79]

Analysing 2018-08-08 15:25:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 84...
    Equal observation(s) have been found: [85]
--> Analysing idk: 85...
    Equal observation(s) have been found: [84]
--> Analysing idk: 86...
    Equal observation(s) have been found: [87]
--> Analysing idk: 87...
    Equal observation(s) have been found: [86]

--> OK, discarding the identical observations:  [85, 87]

--> Issue, duplicated observations with different values have been found! --> [84, 86]
    FOCUSING ON IDK: 84
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 86
    Invalid values of E. total (kWH) the observation will be discarded.
83 -  86 - 89

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

,Date/Time,Iac R (A),Iac S (A),Iac T (A),Vac R (V),Vac S (V),Vac T (V),Pac R (kW),E. totale (kWh),Cc 1 (A),Vcc 1 (V),Allarme,Inverter temp. (°C)
83,2018-08-08 15:15:00,79,78,79,116,116,116,28,2964550.0,76,398,553701696,35
84,2018-08-08 15:25:00,103,103,103,117,116,116,36,2964550.3,91,395,553701696,35
85,2018-08-08 15:25:00,103,103,103,117,116,116,36,2964550.3,91,395,553701696,35
86,2018-08-08 15:25:00,108,108,108,117,116,116,37,2964549.6,92,401,553701696,35
87,2018-08-08 15:25:00,108,108,108,117,116,116,37,2964549.6,92,401,553701696,35
88,2018-08-08 15:35:00,112,112,108,117,116,117,39,2964556.4,94,411,553701696,33
89,2018-08-08 15:55:00,212,209,205,117,116,117,74,2964577.2,182,411,553701696,33

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

[86]

--> TO KEEP: {84} \---/ TO DISCARD (3 out of 4): [86] + [85, 87]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-09-19 14:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 3424...
    Equal observation(s) have been found: [3425]
--> Analysing idk: 3425...
    Equal observation(s) have been found: [3424]
--> Analysing idk: 3426...
    Equal observation(s) have been found: [3427]
--> Analysing idk: 3427...
    Equal observation(s) have been found: [3426]

--> OK, discarding the identical observations:  [3425, 3427]

--> Issue, duplicated observations with different values have been found! --> [3424, 3426]
    FOCUSING ON IDK: 3424
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 3426
    Valid observation.

--> TO KEEP: {3426} \---/ TO DISCARD (3 out of 4): [3424] + [3425, 3427]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 14:55:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5650...
    Equal observation(s) have been found: [5651, 5652]
--> Analysing idk: 5651...
    Equal observation(s) have been found: [5650, 5652]
--> Analysing idk: 5652...
    Equal observation(s) have been found: [5650, 5651]
--> Analysing idk: 5653...
    Equal observation(s) have been found: [5654, 5655]
--> Analysing idk: 5654...
    Equal observation(s) have been found: [5653, 5655]
--> Analysing idk: 5655...
    Equal observation(s) have been found: [5653, 5654]

--> OK, discarding the identical observations:  [5651, 5652, 5654, 5655]

--> Issue, duplicated observations with different values have been found! --> [5650, 5653]
    FOCUSING ON IDK: 5650
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 5653
    Valid observation.

--> TO KEEP: {5653} \---/ TO DISCARD (5 out of 6): [5650] + [5651, 5652, 5654, 5655]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:10:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5657...
--> Analysing idk: 5658...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [5657, 5658]
    FOCUSING ON IDK: 5657
    Valid observation.
    FOCUSING ON IDK: 5658
    Valid observation.

    Multiple valid duplicated observations have been found. [5657, 5658]
    Keeping the one (idk: 5658) with the less delta with the previous and next observations

--> TO KEEP: {5658} \---/ TO DISCARD (1 out of 2): [5657] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:15:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5659...
    Equal observation(s) have been found: [5660, 5661]
--> Analysing idk: 5660...
    Equal observation(s) have been found: [5659, 5661]
--> Analysing idk: 5661...
    Equal observation(s) have been found: [5659, 5660]
--> Analysing idk: 5662...
    Equal observation(s) have been found: [5663, 5664]
--> Analysing idk: 5663...
    Equal observation(s) have been found: [5662, 5664]
--> Analysing idk: 5664...
    Equal observation(s) have been found: [5662, 5663]

--> OK, discarding the identical observations:  [5660, 5661, 5663, 5664]

--> Issue, duplicated observations with different values have been found! --> [5659, 5662]
    FOCUSING ON IDK: 5659
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 5662
    Valid observation.

--> TO KEEP: {5662} \---/ TO DISCARD (5 out of 6): [5659] + [5660, 5661, 5663, 5664]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5665...
    Equal observation(s) have been found: [5666]
--> Analysing idk: 5666...
    Equal observation(s) have been found: [5665]
--> Analysing idk: 5667...
    Equal observation(s) have been found: [5668]
--> Analysing idk: 5668...
    Equal observation(s) have been found: [5667]

--> OK, discarding the identical observations:  [5666, 5668]

--> Issue, duplicated observations with different values have been found! --> [5665, 5667]
    FOCUSING ON IDK: 5665
    Valid observation.
    FOCUSING ON IDK: 5667
    Valid observation.

    Multiple valid duplicated observations have been found. [5665, 5667]
    Keeping the one (idk: 5665) with the less delta with the previous and next observations

--> TO KEEP: {5665} \---/ TO DISCARD (3 out of 4): [5667] + [5666, 5668]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:30:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5670...
    Equal observation(s) have been found: [5671]
--> Analysing idk: 5671...
    Equal observation(s) have been found: [5670]
--> Analysing idk: 5672...
    Equal observation(s) have been found: [5673]
--> Analysing idk: 5673...
    Equal observation(s) have been found: [5672]

--> OK, discarding the identical observations:  [5671, 5673]

--> Issue, duplicated observations with different values have been found! --> [5670, 5672]
    FOCUSING ON IDK: 5670
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 5672
    Valid observation.

--> TO KEEP: {5672} \---/ TO DISCARD (3 out of 4): [5670] + [5671, 5673]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:45:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5675...
    Equal observation(s) have been found: [5676]
--> Analysing idk: 5676...
    Equal observation(s) have been found: [5675]

--> OK, discarding the identical observations:  [5676]

Analysing 2018-11-21 14:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 6089...
    Equal observation(s) have been found: [6090]
--> Analysing idk: 6090...
    Equal observation(s) have been found: [6089]
--> Analysing idk: 6091...
    Equal observation(s) have been found: [6092]
--> Analysing idk: 6092...
    Equal observation(s) have been found: [6091]

--> OK, discarding the identical observations:  [6090, 6092]

--> Issue, duplicated observations with different values have been found! --> [6089, 6091]
    FOCUSING ON IDK: 6089
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 6091
    Valid observation.

--> TO KEEP: {6091} \---/ TO DISCARD (3 out of 4): [6089] + [6090, 6092]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-06-11 17:50:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 32774...
    Equal observation(s) have been found: [32775]

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

--> Analysing idk: 32775...
    Equal observation(s) have been found: [32774]

--> OK, discarding the identical observations:  [32775]

Analysing 2019-06-13 14:50:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33081...
    Equal observation(s) have been found: [33082]
--> Analysing idk: 33082...
    Equal observation(s) have been found: [33081]
--> Analysing idk: 33083...
    Equal observation(s) have been found: [33084]
--> Analysing idk: 33084...
    Equal observation(s) have been found: [33083]

--> OK, discarding the identical observations:  [33082, 33084]

--> Issue, duplicated observations with different values have been found! --> [33081, 33083]
    FOCUSING ON IDK: 33081

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

    Valid observation.
    FOCUSING ON IDK: 33083
    Valid observation.

    Multiple valid duplicated observations have been found. [33081, 33083]
    Keeping the one (idk: 33081) with the less delta with the previous and next observations

--> TO KEEP: {33081} \---/ TO DISCARD (3 out of 4): [33083] + [33082, 33084]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-06-13 15:05:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33087...
    Equal observation(s) have been found: [33088]
--> Analysing idk: 33088...
    Equal observation(s) have been found: [33087]

--> OK, discarding the identical observations:  [33088]

Analysing 2019-06-13 15:30:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33090...
    Equal observation(s) have been found: [33091]
--> Analysing idk: 33091...
    Equal observation(s) have been found: [33090]
--> Analysing idk: 33092...
    Equal observation(s) have been found: [33093]
--> Analysing idk: 33093...
    Equal observation(s) have been found: [33092]

--> OK, discarding the identical observations:  [33091, 33093]

--> Issue, duplicated observations with different values have been found! --> [33090, 33092]
    FOCUSING ON IDK: 33090
    Valid observation.
    FOCUSING ON IDK: 33092
    Valid observation.

    Multiple valid duplicated observations have been found. [33090, 33092]
    Keeping the one (idk: 33090) with the less delta with the previous and next observations

--> TO KEEP: {33090} \---/ TO DISCARD (3 out of 4): [33092] + [33091, 33093]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-07-08 14:55:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 37134...
--> Analysing idk: 37135...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [37134, 37135]
    FOCUSING ON IDK: 37134
    Valid observation.
    FOCUSING ON IDK: 37135
    Valid observation.

    Multiple valid duplicated observations have been found. [37134, 37135]
    Keeping the one (idk: 37134) with the less delta with the previous and next observations

--> TO KEEP: {37134} \---/ TO DISCARD (1 out of 2): [37135] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-07-08 17:05:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 37154...
    Equal observation(s) have been found: [37155]
--> Analysing idk: 37155...
    Equal observation(s) have been found: [37154]
--> Analysing idk: 37156...
    Equal observation(s) have been found: [37157]
--> Analysing idk: 37157...
    Equal observation(s) have been found: [37156]

--> OK, discarding the identical observations:  [37155, 37157]

--> Issue, duplicated observations with different values have been found! --> [37154, 37156]
    FOCUSING ON IDK: 37154
    Valid observation.
    FOCUSING ON IDK: 37156
    Valid observation.

    Multiple valid duplicated observations have been found. [37154, 37156]
    Keeping the one (idk: 37154) with the less delta with the previous and next observations

--> TO KEEP: {37154} \---/ TO DISCARD (3 out of 4): [37156] + [37155, 37157]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 09:40:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46416...
--> Analysing idk: 46417...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [46416, 46417]
    FOCUSING ON IDK: 46416
    Valid observation.
    FOCUSING ON IDK: 46417
    Valid observation.

    Multiple valid duplicated observations have been found. [46416, 46417]
    Keeping the one (idk: 46417) with the less delta with the previous and next observations

--> TO KEEP: {46417} \---/ TO DISCARD (1 out of 2): [46416] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 09:45:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46418...
    Equal observation(s) have been found: [46419]
--> Analysing idk: 46419...
    Equal observation(s) have been found: [46418]
--> Analysing idk: 46420...
    Equal observation(s) have been found: [46421]
--> Analysing idk: 46421...
    Equal observation(s) have been found: [46420]

--> OK, discarding the identical observations:  [46419, 46421]

--> Issue, duplicated observations with different values have been found! --> [46418, 46420]
    FOCUSING ON IDK: 46418
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 46420
    Valid observation.

--> TO KEEP: {46420} \---/ TO DISCARD (3 out of 4): [46418] + [46419, 46421]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 09:50:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46422...
    Equal observation(s) have been found: [46423]
--> Analysing idk: 46423...
    Equal observation(s) have been found: [46422]

--> OK, discarding the identical observations:  [46423]

Analysing 2019-09-17 10:05:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46425...
    Equal observation(s) have been found: [46426]
--> Analysing idk: 46426...
    Equal observation(s) have been found: [46425]
--> Analysing idk: 46427...
    Equal observation(s) have been found: [46428]
--> Analysing idk: 46428...
    Equal observation(s) have been found: [46427]

--> OK, discarding the identical observations:  [46426, 46428]

--> Issue, duplicated observations with different values have been found! --> [46425, 46427]
    FOCUSING ON IDK: 46425
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 46427
    Valid observation.

--> TO KEEP: {46427} \---/ TO DISCARD (3 out of 4): [46425] + [46426, 46428]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 10:10:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46429...
--> Analysing idk: 46430...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [46429, 46430]
    FOCUSING ON IDK: 46429
    Valid observation.
    FOCUSING ON IDK: 46430
    Valid observation.

    Multiple valid duplicated observations have been found. [46429, 46430]
    Keeping the one (idk: 46430) with the less delta with the previous and next observations

--> TO KEEP: {46430} \---/ TO DISCARD (1 out of 2): [46429] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 10:15:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46431...
    Equal observation(s) have been found: [46432]

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

--> Analysing idk: 46432...
    Equal observation(s) have been found: [46431]
--> Analysing idk: 46433...
    Equal observation(s) have been found: [46434]
--> Analysing idk: 46434...
    Equal observation(s) have been found: [46433]

--> OK, discarding the identical observations:  [46432, 46434]

--> Issue, duplicated observations with different values have been found! --> [46431, 46433]
    FOCUSING ON IDK: 46431
    Valid observation.
    FOCUSING ON IDK: 46433
    Valid observation.

    Multiple valid duplicated observations have been found. [46431, 46433]
    Keeping the one (idk: 46431) with the less delta with the previous and next observations

--> TO KEEP: {46431} \---/ TO DISCARD (3 out of 4): [46433] + [46432, 46434]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 12:30:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46435...
    Equal observation(s) have been found: [46436]
--> Analysing idk: 46436...
    Equal observation(s) have been found: [46435]

--> OK, discarding the identical observations:  [46436]

Analysing 2019-09-17 12:40:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46438...
--> Analysing idk: 46439...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [46438, 46439]
    FOCUSING ON IDK: 46438
    Valid observation.
    FOCUSING ON IDK: 46439
    Valid observation.

    Multiple valid duplicated observations have been found. [46438, 46439]
    Keeping the one (idk: 46439) with the less delta with the previous and next observations

--> TO KEEP: {46439} \---/ TO DISCARD (1 out of 2): [46438] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 12:50:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46441...
    Equal observation(s) have been found: [46442]
--> Analysing idk: 46442...
    Equal observation(s) have been found: [46441]
--> Analysing idk: 46443...
    Equal observation(s) have been found: [46444]
--> Analysing idk: 46444...
    Equal observation(s) have been found: [46443]

--> OK, discarding the identical observations:  [46442, 46444]

--> Issue, duplicated observations with different values have been found! --> [46441, 46443]
    FOCUSING ON IDK: 46441
    Valid observation.
    FOCUSING ON IDK: 46443
    Valid observation.

    Multiple valid duplicated observations have been found. [46441, 46443]
    Keeping the one (idk: 46441) with the less delta with the previous and next observations

--> TO KEEP: {46441} \---/ TO DISCARD (3 out of 4): [46443] + [46442, 46444]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-11-08 08:55:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 52329...
    Equal observation(s) have been found: [52330]
--> Analysing idk: 52330...
    Equal observation(s) have been found: [52329]
--> Analysing idk: 52331...
    Equal observation(s) have been found: [52332]
--> Analysing idk: 52332...
    Equal observation(s) have been found: [52331]

--> OK, discarding the identical observations:  [52330, 52332]

--> Issue, duplicated observations with different values have been found! --> [52329, 52331]
    FOCUSING ON IDK: 52329
    Valid observation.
    FOCUSING ON IDK: 52331
    Valid observation.

    Multiple valid duplicated observations have been found. [52329, 52331]
    Keeping the one (idk: 52329) with the less delta with the previous and next observations

--> TO KEEP: {52329} \---/ TO DISCARD (3 out of 4): [52331] + [52330, 52332]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:05:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66963...
--> Analysing idk: 66964...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [66963, 66964]
    FOCUSING ON IDK: 66963
    Valid observation.
    FOCUSING ON IDK: 66964
    Valid observation.

    Multiple valid duplicated observations have been found. [66963, 66964]
    Keeping the one (idk: 66963) with the less delta with the previous and next observations

--> TO KEEP: {66963} \---/ TO DISCARD (1 out of 2): [66964] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:15:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66965...
    Equal observation(s) have been found: [66966]
--> Analysing idk: 66966...
    Equal observation(s) have been found: [66965]
--> Analysing idk: 66967...
    Equal observation(s) have been found: [66968]
--> Analysing idk: 66968...
    Equal observation(s) have been found: [66967]

--> OK, discarding the identical observations:  [66966, 66968]

--> Issue, duplicated observations with different values have been found! --> [66965, 66967]
    FOCUSING ON IDK: 66965
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 66967
    Valid observation.

--> TO KEEP: {66967} \---/ TO DISCARD (3 out of 4): [66965] + [66966, 66968]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66969...
    Equal observation(s) have been found: [66970]
--> Analysing idk: 66970...
    Equal observation(s) have been found: [66969]
--> Analysing idk: 66971...
    Equal observation(s) have been found: [66972]
--> Analysing idk: 66972...
    Equal observation(s) have been found: [66971]

--> OK, discarding the identical observations:  [66970, 66972]

--> Issue, duplicated observations with different values have been found! --> [66969, 66971]
    FOCUSING ON IDK: 66969
    Valid observation.
    FOCUSING ON IDK: 66971
    Valid observation.

    Multiple valid duplicated observations have been found. [66969, 66971]
    Keeping the one (idk: 66969) with the less delta with the previous and next observations

--> TO KEEP: {66969} \---/ TO DISCARD (3 out of 4): [66971] + [66970, 66972]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:25:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66973...
--> Analysing idk: 66974...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [66973, 66974]
    FOCUSING ON IDK: 66973
    Valid observation.
    FOCUSING ON IDK: 66974
    Valid observation.

    Multiple valid duplicated observations have been found. [66973, 66974]
    Keeping the one (idk: 66974) with the less delta with the previous and next observations

--> TO KEEP: {66974} \---/ TO DISCARD (1 out of 2): [66973] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:30:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66975...
    Equal observation(s) have been found: [66976]
--> Analysing idk: 66976...
    Equal observation(s) have been found: [66975]

--> OK, discarding the identical observations:  [66976]

Analysing 2020-02-17 11:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66977...
    Equal observation(s) have been found: [66978]
--> Analysing idk: 66978...
    Equal observation(s) have been found: [66977]
--> Analysing idk: 66979...
    Equal observation(s) have been found: [66980]

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

--> Analysing idk: 66980...
    Equal observation(s) have been found: [66979]

--> OK, discarding the identical observations:  [66978, 66980]

--> Issue, duplicated observations with different values have been found! --> [66977, 66979]
    FOCUSING ON IDK: 66977
    Valid observation.
    FOCUSING ON IDK: 66979
    Valid observation.

    Multiple valid duplicated observations have been found. [66977, 66979]
    Keeping the one (idk: 66977) with the less delta with the previous and next observations

--> TO KEEP: {66977} \---/ TO DISCARD (3 out of 4): [66979] + [66978, 66980]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:50:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66983...
    Equal observation(s) have been found: [66984]
--> Analysing idk: 66984...
    Equal observation(s) have been found: [66983]

--> OK, discarding the identical observations:  [66984]

Analysing 2020-06-20 09:40:00 - (observations: 9)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 87263...
    Equal observation(s) have been found: [87264, 87265]
--> Analysing idk: 87264...
    Equal observation(s) have been found: [87263, 87265]
--> Analysing idk: 87265...
    Equal observation(s) have been found: [87263, 87264]
--> Analysing idk: 87266...
    Equal observation(s) have been found: [87267, 87271]
--> Analysing idk: 87267...
    Equal observation(s) have been found: [87266, 87271]
--> Analysing idk: 87268...
    Equal observation(s) have been found: [87269, 87270]
--> Analysing idk: 87269...
    Equal observation(s) have been found: [87268, 87270]
--> Analysing idk: 87270...
    Equal observation(s) have been found: [87268, 87269]
--> Analysing idk: 87271...
    Equal observation(s) have been found: [87266, 87267]

--> OK, discarding the identical observations:  [87264, 87265, 87267, 87269, 87270, 87271]

--> Issue, duplicated observations with different values have been found! --> [87263, 87266, 87268]
    FOCUSING ON IDK: 87263
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 87266
    Valid observation.
    FOCUSING ON IDK: 87268
    Valid observation.

    Multiple valid duplicated observations have been found. [87266, 87268]
    Keeping the one (idk: 87266) with the less delta with the previous and next observations

--> TO KEEP: {87266} \---/ TO DISCARD (8 out of 9): [87263, 87268] + [87264, 87265, 87267, 87269, 87270, 87271]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-09-25 12:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 103257...
    Equal observation(s) have been found: [103258]
--> Analysing idk: 103258...
    Equal observation(s) have been found: [103257]
--> Analysing idk: 103259...
    Equal observation(s) have been found: [103260]
--> Analysing idk: 103260...
    Equal observation(s) have been found: [103259]

--> OK, discarding the identical observations:  [103258, 103260]

--> Issue, duplicated observations with different values have been found! --> [103257, 103259]
    FOCUSING ON IDK: 103257
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 103259
    Valid observation.

--> TO KEEP: {103259} \---/ TO DISCARD (3 out of 4): [103257] + [103258, 103260]
------------------------------------------------------------------------------------------------------------------------
TO DELATE (124 out of 173): [13, 14, 15, 17, 18, 20, 21, 22, 25, 26, 27, 29, 30, 31, 42, 45, 46, 47, 48, 49, 51, 53, 54, 55, 56, 57, 59, 61, 62, 63, 65, 66, 67, 68, 69, 71, 73, 74, 75, 76, 79, 85, 86, 87, 3424, 3425, 3427, 5650, 5651, 5652, 5654, 5655, 5657, 5659, 5660, 5661, 5663, 5664, 5666, 5667, 5668, 5670, 5671, 5673, 5676, 6089, 6090, 6092, 32775, 33082, 33083, 33084, 33088, 33091, 33092, 33093, 37135, 37155, 37156, 37157, 46416, 46418, 46419, 46421, 46423, 46425, 46426, 46428, 46429, 46432, 46433, 46434, 46436, 46438, 46442, 46443, 46444, 52330, 52331, 52332, 66964, 66965, 66966, 66968, 66970, 66971, 66972, 66973, 66976, 66978, 66979, 66980, 66984, 87263, 87264, 87265, 87267, 87268, 87269, 87270, 87271, 103257, 103258, 103260]

Analysing INV2...
DUPLICATE DATES: 47: ['2018-08-08, 12:15', '2018-08-08, 12:25', '2018-08-08, 12:35', '2018-08-08, 12:40', '2018-08-08, 13:55', '2018-08-08, 14:00', '2018-08-08, 14:10', '2018-08-08, 14:15', '2018-08-08, 14:20', '2018-08-08, 14:25', '2018-08-08, 14:30', '2018-08-08, 14:35', '2018-08-08, 14:40', '2018-08-08, 14:50', '2018-08-08, 14:55', '2018-08-08, 15:25', '2018-09-19, 14:40', '2018-10-17, 14:55', '2018-10-17, 15:10', '2018-10-17, 15:15', '2018-10-17, 15:20', '2018-10-17, 15:30', '2018-10-17, 15:45', '2018-11-21, 14:40', '2019-06-11, 17:50', '2019-06-13, 14:50', '2019-06-13, 15:05', '2019-06-13, 15:30', '2019-07-08, 14:55', '2019-07-08, 17:05', '2019-09-17, 09:45', '2019-09-17, 09:50', '2019-09-17, 10:05', '2019-09-17, 10:10', '2019-09-17, 10:15', '2019-09-17, 12:30', '2019-09-17, 12:40', '2019-09-17, 12:50', '2019-11-08, 08:55', '2020-02-17, 11:15', '2020-02-17, 11:20', '2020-02-17, 11:25', '2020-02-17, 11:30', '2020-02-17, 11:35', '2020-02-17, 11:50', '2020-06-20, 09:40', '2020-09-25, 12:35'] (Total observations: 169)

Analysing 2018-08-08 12:15:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 14...
    Equal observation(s) have been found: [15, 16]
--> Analysing idk: 15...
    Equal observation(s) have been found: [14, 16]
--> Analysing idk: 16...
    Equal observation(s) have been found: [14, 15]
--> Analysing idk: 17...
    Equal observation(s) have been found: [18, 19]
--> Analysing idk: 18...
    Equal observation(s) have been found: [17, 19]
--> Analysing idk: 19...
    Equal observation(s) have been found: [17, 18]

--> OK, discarding the identical observations:  [15, 16, 18, 19]

--> Issue, duplicated observations with different values have been found! --> [14, 17]
    FOCUSING ON IDK: 14
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 17
    Valid observation.

--> TO KEEP: {17} \---/ TO DISCARD (5 out of 6): [14] + [15, 16, 18, 19]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 12:25:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 20...
    Equal observation(s) have been found: [21]
--> Analysing idk: 21...
    Equal observation(s) have been found: [20]
--> Analysing idk: 22...
    Equal observation(s) have been found: [23]
--> Analysing idk: 23...
    Equal observation(s) have been found: [22]

--> OK, discarding the identical observations:  [21, 23]

--> Issue, duplicated observations with different values have been found! --> [20, 22]
    FOCUSING ON IDK: 20
    Valid observation.
    FOCUSING ON IDK: 22
    Valid observation.

    Multiple valid duplicated observations have been found. [20, 22]
    Keeping the one (idk: 20) with the less delta with the previous and next observations

--> TO KEEP: {20} \---/ TO DISCARD (3 out of 4): [22] + [21, 23]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 12:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 25...
    Equal observation(s) have been found: [26]
--> Analysing idk: 26...
    Equal observation(s) have been found: [25]
--> Analysing idk: 27...
    Equal observation(s) have been found: [28]
--> Analysing idk: 28...
    Equal observation(s) have been found: [27]

--> OK, discarding the identical observations:  [26, 28]

--> Issue, duplicated observations with different values have been found! --> [25, 27]
    FOCUSING ON IDK: 25
    Valid observation.
    FOCUSING ON IDK: 27
    Valid observation.

    Multiple valid duplicated observations have been found. [25, 27]
    Keeping the one (idk: 25) with the less delta with the previous and next observations

--> TO KEEP: {25} \---/ TO DISCARD (3 out of 4): [27] + [26, 28]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 12:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 29...
    Equal observation(s) have been found: [30]
--> Analysing idk: 30...
    Equal observation(s) have been found: [29]
--> Analysing idk: 31...
    Equal observation(s) have been found: [32]
--> Analysing idk: 32...
    Equal observation(s) have been found: [31]

--> OK, discarding the identical observations:  [30, 32]

--> Issue, duplicated observations with different values have been found! --> [29, 31]
    FOCUSING ON IDK: 29
    Valid observation.
    FOCUSING ON IDK: 31
    Valid observation.

    Multiple valid duplicated observations have been found. [29, 31]
    Keeping the one (idk: 29) with the less delta with the previous and next observations

--> TO KEEP: {29} \---/ TO DISCARD (3 out of 4): [31] + [30, 32]
------------------------------------------------------------------------------------------------------------------------

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

Analysing 2018-08-08 13:55:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 43...
--> Analysing idk: 44...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [43, 44]
    FOCUSING ON IDK: 43
    Valid observation.
    FOCUSING ON IDK: 44
    Valid observation.

    Multiple valid duplicated observations have been found. [43, 44]
    Keeping the one (idk: 43) with the less delta with the previous and next observations

--> TO KEEP: {43} \---/ TO DISCARD (1 out of 2): [44] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:00:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 45...
    Equal observation(s) have been found: [46]
--> Analysing idk: 46...
    Equal observation(s) have been found: [45]
--> Analysing idk: 47...
    Equal observation(s) have been found: [48]
--> Analysing idk: 48...
    Equal observation(s) have been found: [47]

--> OK, discarding the identical observations:  [46, 48]

--> Issue, duplicated observations with different values have been found! --> [45, 47]
    FOCUSING ON IDK: 45
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 47
    Valid observation.

--> TO KEEP: {47} \---/ TO DISCARD (3 out of 4): [45] + [46, 48]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:10:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 49...
    Equal observation(s) have been found: [50]
--> Analysing idk: 50...
    Equal observation(s) have been found: [49]
--> Analysing idk: 51...
    Equal observation(s) have been found: [52]
--> Analysing idk: 52...
    Equal observation(s) have been found: [51]

--> OK, discarding the identical observations:  [50, 52]

--> Issue, duplicated observations with different values have been found! --> [49, 51]
    FOCUSING ON IDK: 49
    Valid observation.
    FOCUSING ON IDK: 51
    Valid observation.

    Multiple valid duplicated observations have been found. [49, 51]
    Keeping the one (idk: 49) with the less delta with the previous and next observations

--> TO KEEP: {49} \---/ TO DISCARD (3 out of 4): [51] + [50, 52]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:15:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 53...
    Equal observation(s) have been found: [54]
--> Analysing idk: 54...
    Equal observation(s) have been found: [53]
--> Analysing idk: 55...
    Equal observation(s) have been found: [56]
--> Analysing idk: 56...
    Equal observation(s) have been found: [55]

--> OK, discarding the identical observations:  [54, 56]

--> Issue, duplicated observations with different values have been found! --> [53, 55]
    FOCUSING ON IDK: 53
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 55
    Valid observation.

--> TO KEEP: {55} \---/ TO DISCARD (3 out of 4): [53] + [54, 56]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 57...
    Equal observation(s) have been found: [58]
--> Analysing idk: 58...
    Equal observation(s) have been found: [57]
--> Analysing idk: 59...
    Equal observation(s) have been found: [60]
--> Analysing idk: 60...
    Equal observation(s) have been found: [59]

--> OK, discarding the identical observations:  [58, 60]

--> Issue, duplicated observations with different values have been found! --> [57, 59]
    FOCUSING ON IDK: 57
    Valid observation.
    FOCUSING ON IDK: 59
    Valid observation.

    Multiple valid duplicated observations have been found. [57, 59]
    Keeping the one (idk: 57) with the less delta with the previous and next observations

--> TO KEEP: {57} \---/ TO DISCARD (3 out of 4): [59] + [58, 60]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:25:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 61...
    Equal observation(s) have been found: [62]
--> Analysing idk: 62...
    Equal observation(s) have been found: [61]
--> Analysing idk: 63...
    Equal observation(s) have been found: [64]
--> Analysing idk: 64...
    Equal observation(s) have been found: [63]

--> OK, discarding the identical observations:  [62, 64]

--> Issue, duplicated observations with different values have been found! --> [61, 63]
    FOCUSING ON IDK: 61
    Valid observation.
    FOCUSING ON IDK: 63
    Valid observation.

    Multiple valid duplicated observations have been found. [61, 63]
    Keeping the one (idk: 61) with the less delta with the previous and next observations

--> TO KEEP: {61} \---/ TO DISCARD (3 out of 4): [63] + [62, 64]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:30:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 65...
    Equal observation(s) have been found: [66]
--> Analysing idk: 66...
    Equal observation(s) have been found: [65]
--> Analysing idk: 67...
    Equal observation(s) have been found: [68]
--> Analysing idk: 68...
    Equal observation(s) have been found: [67]

--> OK, discarding the identical observations:  [66, 68]

--> Issue, duplicated observations with different values have been found! --> [65, 67]
    FOCUSING ON IDK: 65
    Valid observation.
    FOCUSING ON IDK: 67
    Valid observation.

    Multiple valid duplicated observations have been found. [65, 67]
    Keeping the one (idk: 65) with the less delta with the previous and next observations

--> TO KEEP: {65} \---/ TO DISCARD (3 out of 4): [67] + [66, 68]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 69...
    Equal observation(s) have been found: [70]
--> Analysing idk: 70...
    Equal observation(s) have been found: [69]
--> Analysing idk: 71...
    Equal observation(s) have been found: [72]
--> Analysing idk: 72...
    Equal observation(s) have been found: [71]

--> OK, discarding the identical observations:  [70, 72]

--> Issue, duplicated observations with different values have been found! --> [69, 71]
    FOCUSING ON IDK: 69
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 71
    Valid observation.

--> TO KEEP: {71} \---/ TO DISCARD (3 out of 4): [69] + [70, 72]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 73...
    Equal observation(s) have been found: [74]
--> Analysing idk: 74...
    Equal observation(s) have been found: [73]
--> Analysing idk: 75...
    Equal observation(s) have been found: [76]
--> Analysing idk: 76...
    Equal observation(s) have been found: [75]

--> OK, discarding the identical observations:  [74, 76]

--> Issue, duplicated observations with different values have been found! --> [73, 75]
    FOCUSING ON IDK: 73
    Valid observation.
    FOCUSING ON IDK: 75
    Valid observation.

    Multiple valid duplicated observations have been found. [73, 75]
    Keeping the one (idk: 73) with the less delta with the previous and next observations

--> TO KEEP: {73} \---/ TO DISCARD (3 out of 4): [75] + [74, 76]
------------------------------------------------------------------------------------------------------------------------

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

Analysing 2018-08-08 14:50:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 77...
--> Analysing idk: 78...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [77, 78]
    FOCUSING ON IDK: 77
    Valid observation.
    FOCUSING ON IDK: 78
    Valid observation.

    Multiple valid duplicated observations have been found. [77, 78]
    Keeping the one (idk: 78) with the less delta with the previous and next observations

--> TO KEEP: {78} \---/ TO DISCARD (1 out of 2): [77] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:55:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 79...
    Equal observation(s) have been found: [80]
--> Analysing idk: 80...
    Equal observation(s) have been found: [79]

--> OK, discarding the identical observations:  [80]

Analysing 2018-08-08 15:25:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 85...
    Equal observation(s) have been found: [86]
--> Analysing idk: 86...
    Equal observation(s) have been found: [85]
--> Analysing idk: 87...
    Equal observation(s) have been found: [88]
--> Analysing idk: 88...
    Equal observation(s) have been found: [87]

--> OK, discarding the identical observations:  [86, 88]

--> Issue, duplicated observations with different values have been found! --> [85, 87]
    FOCUSING ON IDK: 85
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 87
    Valid observation.

--> TO KEEP: {87} \---/ TO DISCARD (3 out of 4): [85] + [86, 88]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-09-19 14:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 3424...
    Equal observation(s) have been found: [3425]
--> Analysing idk: 3425...
    Equal observation(s) have been found: [3424]
--> Analysing idk: 3426...
    Equal observation(s) have been found: [3427]
--> Analysing idk: 3427...
    Equal observation(s) have been found: [3426]

--> OK, discarding the identical observations:  [3425, 3427]

--> Issue, duplicated observations with different values have been found! --> [3424, 3426]
    FOCUSING ON IDK: 3424
    Valid observation.
    FOCUSING ON IDK: 3426
    Valid observation.

    Multiple valid duplicated observations have been found. [3424, 3426]
    Keeping the one (idk: 3424) with the less delta with the previous and next observations

--> TO KEEP: {3424} \---/ TO DISCARD (3 out of 4): [3426] + [3425, 3427]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 14:55:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5650...
    Equal observation(s) have been found: [5651, 5652]
--> Analysing idk: 5651...
    Equal observation(s) have been found: [5650, 5652]
--> Analysing idk: 5652...
    Equal observation(s) have been found: [5650, 5651]
--> Analysing idk: 5653...
    Equal observation(s) have been found: [5654, 5655]
--> Analysing idk: 5654...
    Equal observation(s) have been found: [5653, 5655]
--> Analysing idk: 5655...
    Equal observation(s) have been found: [5653, 5654]

--> OK, discarding the identical observations:  [5651, 5652, 5654, 5655]

--> Issue, duplicated observations with different values have been found! --> [5650, 5653]
    FOCUSING ON IDK: 5650
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 5653
    Valid observation.

--> TO KEEP: {5653} \---/ TO DISCARD (5 out of 6): [5650] + [5651, 5652, 5654, 5655]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:10:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5657...
--> Analysing idk: 5658...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [5657, 5658]
    FOCUSING ON IDK: 5657
    Valid observation.
    FOCUSING ON IDK: 5658
    Valid observation.

    Multiple valid duplicated observations have been found. [5657, 5658]
    Keeping the one (idk: 5658) with the less delta with the previous and next observations

--> TO KEEP: {5658} \---/ TO DISCARD (1 out of 2): [5657] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:15:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5659...
    Equal observation(s) have been found: [5660, 5661]
--> Analysing idk: 5660...
    Equal observation(s) have been found: [5659, 5661]
--> Analysing idk: 5661...
    Equal observation(s) have been found: [5659, 5660]
--> Analysing idk: 5662...
    Equal observation(s) have been found: [5663, 5664]
--> Analysing idk: 5663...
    Equal observation(s) have been found: [5662, 5664]
--> Analysing idk: 5664...
    Equal observation(s) have been found: [5662, 5663]

--> OK, discarding the identical observations:  [5660, 5661, 5663, 5664]

--> Issue, duplicated observations with different values have been found! --> [5659, 5662]
    FOCUSING ON IDK: 5659
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 5662
    Valid observation.

--> TO KEEP: {5662} \---/ TO DISCARD (5 out of 6): [5659] + [5660, 5661, 5663, 5664]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5665...
    Equal observation(s) have been found: [5666]
--> Analysing idk: 5666...
    Equal observation(s) have been found: [5665]
--> Analysing idk: 5667...
    Equal observation(s) have been found: [5668]
--> Analysing idk: 5668...
    Equal observation(s) have been found: [5667]

--> OK, discarding the identical observations:  [5666, 5668]

--> Issue, duplicated observations with different values have been found! --> [5665, 5667]
    FOCUSING ON IDK: 5665
    Valid observation.
    FOCUSING ON IDK: 5667
    Valid observation.

    Multiple valid duplicated observations have been found. [5665, 5667]
    Keeping the one (idk: 5665) with the less delta with the previous and next observations

--> TO KEEP: {5665} \---/ TO DISCARD (3 out of 4): [5667] + [5666, 5668]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:30:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5670...
    Equal observation(s) have been found: [5671]
--> Analysing idk: 5671...
    Equal observation(s) have been found: [5670]
--> Analysing idk: 5672...
    Equal observation(s) have been found: [5673]
--> Analysing idk: 5673...
    Equal observation(s) have been found: [5672]

--> OK, discarding the identical observations:  [5671, 5673]

--> Issue, duplicated observations with different values have been found! --> [5670, 5672]
    FOCUSING ON IDK: 5670
    Valid observation.
    FOCUSING ON IDK: 5672
    Valid observation.

    Multiple valid duplicated observations have been found. [5670, 5672]
    Keeping the one (idk: 5670) with the less delta with the previous and next observations

--> TO KEEP: {5670} \---/ TO DISCARD (3 out of 4): [5672] + [5671, 5673]
------------------------------------------------------------------------------------------------------------------------

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

Analysing 2018-10-17 15:45:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5675...
    Equal observation(s) have been found: [5676]
--> Analysing idk: 5676...
    Equal observation(s) have been found: [5675]

--> OK, discarding the identical observations:  [5676]

Analysing 2018-11-21 14:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 6104...
    Equal observation(s) have been found: [6105]
--> Analysing idk: 6105...
    Equal observation(s) have been found: [6104]
--> Analysing idk: 6106...
    Equal observation(s) have been found: [6107]
--> Analysing idk: 6107...
    Equal observation(s) have been found: [6106]

--> OK, discarding the identical observations:  [6105, 6107]

--> Issue, duplicated observations with different values have been found! --> [6104, 6106]
    FOCUSING ON IDK: 6104
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 6106
    Valid observation.

--> TO KEEP: {6106} \---/ TO DISCARD (3 out of 4): [6104] + [6105, 6107]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-06-11 17:50:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 32789...
    Equal observation(s) have been found: [32790]
--> Analysing idk: 32790...
    Equal observation(s) have been found: [32789]

--> OK, discarding the identical observations:  [32790]

Analysing 2019-06-13 14:50:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33061...
    Equal observation(s) have been found: [33062]
--> Analysing idk: 33062...
    Equal observation(s) have been found: [33061]
--> Analysing idk: 33063...
    Equal observation(s) have been found: [33064]
--> Analysing idk: 33064...
    Equal observation(s) have been found: [33063]

--> OK, discarding the identical observations:  [33062, 33064]

--> Issue, duplicated observations with different values have been found! --> [33061, 33063]
    FOCUSING ON IDK: 33061
    Valid observation.
    FOCUSING ON IDK: 33063
    Valid observation.

    Multiple valid duplicated observations have been found. [33061, 33063]
    Keeping the one (idk: 33061) with the less delta with the previous and next observations

--> TO KEEP: {33061} \---/ TO DISCARD (3 out of 4): [33063] + [33062, 33064]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-06-13 15:05:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33067...
    Equal observation(s) have been found: [33068]
--> Analysing idk: 33068...
    Equal observation(s) have been found: [33067]

--> OK, discarding the identical observations:  [33068]

Analysing 2019-06-13 15:30:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33071...
    Equal observation(s) have been found: [33072]
--> Analysing idk: 33072...
    Equal observation(s) have been found: [33071]
--> Analysing idk: 33073...
    Equal observation(s) have been found: [33074]
--> Analysing idk: 33074...
    Equal observation(s) have been found: [33073]

--> OK, discarding the identical observations:  [33072, 33074]

--> Issue, duplicated observations with different values have been found! --> [33071, 33073]
    FOCUSING ON IDK: 33071
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 33073
    Valid observation.

--> TO KEEP: {33073} \---/ TO DISCARD (3 out of 4): [33071] + [33072, 33074]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-07-08 14:55:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 37138...
--> Analysing idk: 37139...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [37138, 37139]
    FOCUSING ON IDK: 37138
    Valid observation.
    FOCUSING ON IDK: 37139
    Valid observation.

    Multiple valid duplicated observations have been found. [37138, 37139]
    Keeping the one (idk: 37138) with the less delta with the previous and next observations

--> TO KEEP: {37138} \---/ TO DISCARD (1 out of 2): [37139] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-07-08 17:05:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 37159...
    Equal observation(s) have been found: [37160]
--> Analysing idk: 37160...
    Equal observation(s) have been found: [37159]
--> Analysing idk: 37161...
    Equal observation(s) have been found: [37162]
--> Analysing idk: 37162...
    Equal observation(s) have been found: [37161]

--> OK, discarding the identical observations:  [37160, 37162]

--> Issue, duplicated observations with different values have been found! --> [37159, 37161]
    FOCUSING ON IDK: 37159
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 37161
    Valid observation.

--> TO KEEP: {37161} \---/ TO DISCARD (3 out of 4): [37159] + [37160, 37162]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 09:45:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46422...
    Equal observation(s) have been found: [46423]
--> Analysing idk: 46423...
    Equal observation(s) have been found: [46422]
--> Analysing idk: 46424...
    Equal observation(s) have been found: [46425]
--> Analysing idk: 46425...
    Equal observation(s) have been found: [46424]

--> OK, discarding the identical observations:  [46423, 46425]

--> Issue, duplicated observations with different values have been found! --> [46422, 46424]
    FOCUSING ON IDK: 46422
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 46424
    Valid observation.

--> TO KEEP: {46424} \---/ TO DISCARD (3 out of 4): [46422] + [46423, 46425]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 09:50:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46426...
    Equal observation(s) have been found: [46427]
--> Analysing idk: 46427...
    Equal observation(s) have been found: [46426]

--> OK, discarding the identical observations:  [46427]

Analysing 2019-09-17 10:05:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46429...
    Equal observation(s) have been found: [46430]
--> Analysing idk: 46430...
    Equal observation(s) have been found: [46429]
--> Analysing idk: 46431...
    Equal observation(s) have been found: [46432]
--> Analysing idk: 46432...
    Equal observation(s) have been found: [46431]

--> OK, discarding the identical observations:  [46430, 46432]

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

--> Issue, duplicated observations with different values have been found! --> [46429, 46431]
    FOCUSING ON IDK: 46429
    Valid observation.
    FOCUSING ON IDK: 46431
    Valid observation.

    Multiple valid duplicated observations have been found. [46429, 46431]
    Keeping the one (idk: 46429) with the less delta with the previous and next observations

--> TO KEEP: {46429} \---/ TO DISCARD (3 out of 4): [46431] + [46430, 46432]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 10:10:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46433...
--> Analysing idk: 46434...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [46433, 46434]
    FOCUSING ON IDK: 46433
    Valid observation.
    FOCUSING ON IDK: 46434
    Valid observation.

    Multiple valid duplicated observations have been found. [46433, 46434]
    Keeping the one (idk: 46433) with the less delta with the previous and next observations

--> TO KEEP: {46433} \---/ TO DISCARD (1 out of 2): [46434] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 10:15:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46435...
    Equal observation(s) have been found: [46438]
--> Analysing idk: 46436...
    Equal observation(s) have been found: [46437]
--> Analysing idk: 46437...
    Equal observation(s) have been found: [46436]
--> Analysing idk: 46438...
    Equal observation(s) have been found: [46435]

--> OK, discarding the identical observations:  [46437, 46438]

--> Issue, duplicated observations with different values have been found! --> [46435, 46436]
    FOCUSING ON IDK: 46435
    Valid observation.
    FOCUSING ON IDK: 46436
    Valid observation.

    Multiple valid duplicated observations have been found. [46435, 46436]
    Keeping the one (idk: 46435) with the less delta with the previous and next observations

--> TO KEEP: {46435} \---/ TO DISCARD (3 out of 4): [46436] + [46437, 46438]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 12:30:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46439...
    Equal observation(s) have been found: [46440]
--> Analysing idk: 46440...
    Equal observation(s) have been found: [46439]

--> OK, discarding the identical observations:  [46440]

Analysing 2019-09-17 12:40:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46442...
--> Analysing idk: 46443...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [46442, 46443]
    FOCUSING ON IDK: 46442
    Valid observation.
    FOCUSING ON IDK: 46443
    Valid observation.

    Multiple valid duplicated observations have been found. [46442, 46443]
    Keeping the one (idk: 46443) with the less delta with the previous and next observations

--> TO KEEP: {46443} \---/ TO DISCARD (1 out of 2): [46442] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 12:50:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46445...
    Equal observation(s) have been found: [46446]
--> Analysing idk: 46446...
    Equal observation(s) have been found: [46445]
--> Analysing idk: 46447...
    Equal observation(s) have been found: [46448]
--> Analysing idk: 46448...
    Equal observation(s) have been found: [46447]

--> OK, discarding the identical observations:  [46446, 46448]

--> Issue, duplicated observations with different values have been found! --> [46445, 46447]
    FOCUSING ON IDK: 46445
    Valid observation.
    FOCUSING ON IDK: 46447
    Valid observation.

    Multiple valid duplicated observations have been found. [46445, 46447]
    Keeping the one (idk: 46445) with the less delta with the previous and next observations

--> TO KEEP: {46445} \---/ TO DISCARD (3 out of 4): [46447] + [46446, 46448]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-11-08 08:55:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 52336...
    Equal observation(s) have been found: [52337]
--> Analysing idk: 52337...
    Equal observation(s) have been found: [52336]
--> Analysing idk: 52338...
    Equal observation(s) have been found: [52339]
--> Analysing idk: 52339...
    Equal observation(s) have been found: [52338]

--> OK, discarding the identical observations:  [52337, 52339]

--> Issue, duplicated observations with different values have been found! --> [52336, 52338]
    FOCUSING ON IDK: 52336
    Valid observation.
    FOCUSING ON IDK: 52338
    Valid observation.

    Multiple valid duplicated observations have been found. [52336, 52338]
    Keeping the one (idk: 52336) with the less delta with the previous and next observations

--> TO KEEP: {52336} \---/ TO DISCARD (3 out of 4): [52338] + [52337, 52339]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:15:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 65896...
    Equal observation(s) have been found: [65897]
--> Analysing idk: 65897...
    Equal observation(s) have been found: [65896]
--> Analysing idk: 65898...
    Equal observation(s) have been found: [65899]
--> Analysing idk: 65899...
    Equal observation(s) have been found: [65898]

--> OK, discarding the identical observations:  [65897, 65899]

--> Issue, duplicated observations with different values have been found! --> [65896, 65898]
    FOCUSING ON IDK: 65896
    Valid observation.
    FOCUSING ON IDK: 65898
    Valid observation.

    Multiple valid duplicated observations have been found. [65896, 65898]
    Keeping the one (idk: 65896) with the less delta with the previous and next observations

--> TO KEEP: {65896} \---/ TO DISCARD (3 out of 4): [65898] + [65897, 65899]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 65900...
    Equal observation(s) have been found: [65901]
--> Analysing idk: 65901...
    Equal observation(s) have been found: [65900]
--> Analysing idk: 65902...
    Equal observation(s) have been found: [65903]
--> Analysing idk: 65903...
    Equal observation(s) have been found: [65902]

--> OK, discarding the identical observations:  [65901, 65903]

--> Issue, duplicated observations with different values have been found! --> [65900, 65902]
    FOCUSING ON IDK: 65900
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 65902
    Valid observation.

--> TO KEEP: {65902} \---/ TO DISCARD (3 out of 4): [65900] + [65901, 65903]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:25:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 65904...
--> Analysing idk: 65905...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [65904, 65905]
    FOCUSING ON IDK: 65904
    Valid observation.
    FOCUSING ON IDK: 65905
    Valid observation.

    Multiple valid duplicated observations have been found. [65904, 65905]
    Keeping the one (idk: 65905) with the less delta with the previous and next observations

--> TO KEEP: {65905} \---/ TO DISCARD (1 out of 2): [65904] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:30:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

--> Analysing idk: 65906...
    Equal observation(s) have been found: [65907]
--> Analysing idk: 65907...
    Equal observation(s) have been found: [65906]

--> OK, discarding the identical observations:  [65907]

Analysing 2020-02-17 11:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 65908...
    Equal observation(s) have been found: [65909]
--> Analysing idk: 65909...
    Equal observation(s) have been found: [65908]
--> Analysing idk: 65910...
    Equal observation(s) have been found: [65911]
--> Analysing idk: 65911...
    Equal observation(s) have been found: [65910]

--> OK, discarding the identical observations:  [65909, 65911]

--> Issue, duplicated observations with different values have been found! --> [65908, 65910]
    FOCUSING ON IDK: 65908
    Valid observation.
    FOCUSING ON IDK: 65910
    Valid observation.

    Multiple valid duplicated observations have been found. [65908, 65910]
    Keeping the one (idk: 65908) with the less delta with the previous and next observations

--> TO KEEP: {65908} \---/ TO DISCARD (3 out of 4): [65910] + [65909, 65911]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:50:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 65914...
    Equal observation(s) have been found: [65915]
--> Analysing idk: 65915...
    Equal observation(s) have been found: [65914]

--> OK, discarding the identical observations:  [65915]

Analysing 2020-06-20 09:40:00 - (observations: 9)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 86199...
    Equal observation(s) have been found: [86200, 86201]
--> Analysing idk: 86200...
    Equal observation(s) have been found: [86199, 86201]
--> Analysing idk: 86201...
    Equal observation(s) have been found: [86199, 86200]
--> Analysing idk: 86202...
    Equal observation(s) have been found: [86204, 86207]
--> Analysing idk: 86203...
    Equal observation(s) have been found: [86205, 86206]
--> Analysing idk: 86204...
    Equal observation(s) have been found: [86202, 86207]
--> Analysing idk: 86205...
    Equal observation(s) have been found: [86203, 86206]
--> Analysing idk: 86206...
    Equal observation(s) have been found: [86203, 86205]
--> Analysing idk: 86207...
    Equal observation(s) have been found: [86202, 86204]

--> OK, discarding the identical observations:  [86200, 86201, 86204, 86205, 86206, 86207]

--> Issue, duplicated observations with different values have been found! --> [86199, 86202, 86203]
    FOCUSING ON IDK: 86199
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 86202
    Valid observation.
    FOCUSING ON IDK: 86203
    Valid observation.

    Multiple valid duplicated observations have been found. [86202, 86203]
    Keeping the one (idk: 86203) with the less delta with the previous and next observations

--> TO KEEP: {86203} \---/ TO DISCARD (8 out of 9): [86199, 86202] + [86200, 86201, 86204, 86205, 86206, 86207]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-09-25 12:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 102198...
    Equal observation(s) have been found: [102199]
--> Analysing idk: 102199...
    Equal observation(s) have been found: [102198]
--> Analysing idk: 102200...
    Equal observation(s) have been found: [102201]
--> Analysing idk: 102201...
    Equal observation(s) have been found: [102200]

--> OK, discarding the identical observations:  [102199, 102201]

--> Issue, duplicated observations with different values have been found! --> [102198, 102200]
    FOCUSING ON IDK: 102198
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 102200
    Valid observation.

--> TO KEEP: {102200} \---/ TO DISCARD (3 out of 4): [102198] + [102199, 102201]
------------------------------------------------------------------------------------------------------------------------
TO DELATE (122 out of 169): [14, 15, 16, 18, 19, 21, 22, 23, 26, 27, 28, 30, 31, 32, 44, 45, 46, 48, 50, 51, 52, 53, 54, 56, 58, 59, 60, 62, 63, 64, 66, 67, 68, 69, 70, 72, 74, 75, 76, 77, 80, 85, 86, 88, 3425, 3426, 3427, 5650, 5651, 5652, 5654, 5655, 5657, 5659, 5660, 5661, 5663, 5664, 5666, 5667, 5668, 5671, 5672, 5673, 5676, 6104, 6105, 6107, 32790, 33062, 33063, 33064, 33068, 33071, 33072, 33074, 37139, 37159, 37160, 37162, 46422, 46423, 46425, 46427, 46430, 46431, 46432, 46434, 46436, 46437, 46438, 46440, 46442, 46446, 46447, 46448, 52337, 52338, 52339, 65897, 65898, 65899, 65900, 65901, 65903, 65904, 65907, 65909, 65910, 65911, 65915, 86199, 86200, 86201, 86202, 86204, 86205, 86206, 86207, 102198, 102199, 102201]

Analysing INV3...
DUPLICATE DATES: 43: ['2018-08-08, 12:15', '2018-08-08, 12:25', '2018-08-08, 12:35', '2018-08-08, 12:40', '2018-08-08, 13:55', '2018-08-08, 14:00', '2018-08-08, 14:10', '2018-08-08, 14:15', '2018-08-08, 14:20', '2018-08-08, 14:25', '2018-08-08, 14:30', '2018-08-08, 14:35', '2018-08-08, 14:40', '2018-08-08, 14:50', '2018-08-08, 14:55', '2018-08-08, 15:25', '2018-09-19, 14:40', '2018-10-17, 14:55', '2018-10-17, 15:10', '2018-10-17, 15:15', '2018-10-17, 15:20', '2018-10-17, 15:30', '2018-10-17, 15:45', '2018-11-21, 14:40', '2019-06-11, 17:50', '2019-06-13, 14:50', '2019-06-13, 15:05', '2019-06-13, 15:30', '2019-07-08, 14:55', '2019-07-08, 17:05', '2019-09-17, 10:15', '2019-09-17, 12:30', '2019-09-17, 12:50', '2019-11-08, 08:55', '2020-02-17, 11:05', '2020-02-17, 11:15', '2020-02-17, 11:20', '2020-02-17, 11:25', '2020-02-17, 11:30', '2020-02-17, 11:35', '2020-02-17, 11:50', '2020-06-20, 09:40', '2020-09-25, 12:35'] (Total observations: 155)

Analysing 2018-08-08 12:15:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 15...
    Equal observation(s) have been found: [16, 17]
--> Analysing idk: 16...
    Equal observation(s) have been found: [15, 17]
--> Analysing idk: 17...
    Equal observation(s) have been found: [15, 16]
--> Analysing idk: 18...
    Equal observation(s) have been found: [19, 20]
--> Analysing idk: 19...
    Equal observation(s) have been found: [18, 20]
--> Analysing idk: 20...
    Equal observation(s) have been found: [18, 19]

--> OK, discarding the identical observations:  [16, 17, 19, 20]

--> Issue, duplicated observations with different values have been found! --> [15, 18]
    FOCUSING ON IDK: 15
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 18
    Valid observation.

--> TO KEEP: {18} \---/ TO DISCARD (5 out of 6): [15] + [16, 17, 19, 20]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 12:25:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 21...
    Equal observation(s) have been found: [22]
--> Analysing idk: 22...
    Equal observation(s) have been found: [21]
--> Analysing idk: 23...
    Equal observation(s) have been found: [24]
--> Analysing idk: 24...
    Equal observation(s) have been found: [23]

--> OK, discarding the identical observations:  [22, 24]

--> Issue, duplicated observations with different values have been found! --> [21, 23]
    FOCUSING ON IDK: 21
    Valid observation.
    FOCUSING ON IDK: 23
    Valid observation.

    Multiple valid duplicated observations have been found. [21, 23]
    Keeping the one (idk: 21) with the less delta with the previous and next observations

--> TO KEEP: {21} \---/ TO DISCARD (3 out of 4): [23] + [22, 24]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 12:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 26...
    Equal observation(s) have been found: [27]
--> Analysing idk: 27...
    Equal observation(s) have been found: [26]
--> Analysing idk: 28...
    Equal observation(s) have been found: [29]
--> Analysing idk: 29...
    Equal observation(s) have been found: [28]

--> OK, discarding the identical observations:  [27, 29]

--> Issue, duplicated observations with different values have been found! --> [26, 28]
    FOCUSING ON IDK: 26
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 28
    Invalid values of E. total (kWH) the observation will be discarded.
25 -  28 - 31

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

,Date/Time,Iac R (A),Iac S (A),Iac T (A),Vac R (V),Vac S (V),Vac T (V),Pac R (kW),E. totale (kWh),Cc 1 (A),Vcc 1 (V),Allarme,Inverter temp. (°C)
25,2018-08-08 12:30:00,460,501,481,116,115,114,167,2957082.4,498,380,553701696,45
26,2018-08-08 12:35:00,0,0,0,115,114,113,0,2957087.8,0,286,805360192,43
27,2018-08-08 12:35:00,0,0,0,115,114,113,0,2957087.8,0,286,805360192,43
28,2018-08-08 12:35:00,0,0,0,115,114,113,0,2957081.2,0,208,805360192,43
29,2018-08-08 12:35:00,0,0,0,115,114,113,0,2957081.2,0,208,805360192,43
30,2018-08-08 12:40:00,0,0,0,115,114,113,0,2957081.2,0,149,805360192,43
31,2018-08-08 12:40:00,0,0,0,115,114,113,0,2957081.2,0,149,805360192,43

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

[28]

--> TO KEEP: {26} \---/ TO DISCARD (3 out of 4): [28] + [27, 29]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 12:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 30...
    Equal observation(s) have been found: [31]
--> Analysing idk: 31...
    Equal observation(s) have been found: [30]
--> Analysing idk: 32...
    Equal observation(s) have been found: [33]
--> Analysing idk: 33...
    Equal observation(s) have been found: [32]

--> OK, discarding the identical observations:  [31, 33]

--> Issue, duplicated observations with different values have been found! --> [30, 32]
    FOCUSING ON IDK: 30
    Valid observation.
    FOCUSING ON IDK: 32
    Valid observation.

    Multiple valid duplicated observations have been found. [30, 32]
    Keeping the one (idk: 30) with the less delta with the previous and next observations

--> TO KEEP: {30} \---/ TO DISCARD (3 out of 4): [32] + [31, 33]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 13:55:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 44...
--> Analysing idk: 45...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [44, 45]
    FOCUSING ON IDK: 44
    Valid observation.
    FOCUSING ON IDK: 45
    Valid observation.

    Multiple valid duplicated observations have been found. [44, 45]
    Keeping the one (idk: 45) with the less delta with the previous and next observations

--> TO KEEP: {45} \---/ TO DISCARD (1 out of 2): [44] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:00:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46...
    Equal observation(s) have been found: [47]
--> Analysing idk: 47...
    Equal observation(s) have been found: [46]
--> Analysing idk: 48...
    Equal observation(s) have been found: [49]
--> Analysing idk: 49...
    Equal observation(s) have been found: [48]

--> OK, discarding the identical observations:  [47, 49]

--> Issue, duplicated observations with different values have been found! --> [46, 48]
    FOCUSING ON IDK: 46
    Valid observation.
    FOCUSING ON IDK: 48
    Valid observation.

    Multiple valid duplicated observations have been found. [46, 48]
    Keeping the one (idk: 46) with the less delta with the previous and next observations

--> TO KEEP: {46} \---/ TO DISCARD (3 out of 4): [48] + [47, 49]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:10:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 50...
    Equal observation(s) have been found: [51]
--> Analysing idk: 51...
    Equal observation(s) have been found: [50]
--> Analysing idk: 52...
    Equal observation(s) have been found: [53]
--> Analysing idk: 53...
    Equal observation(s) have been found: [52]

--> OK, discarding the identical observations:  [51, 53]

--> Issue, duplicated observations with different values have been found! --> [50, 52]
    FOCUSING ON IDK: 50
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 52
    Valid observation.

--> TO KEEP: {52} \---/ TO DISCARD (3 out of 4): [50] + [51, 53]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:15:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 54...
    Equal observation(s) have been found: [55]
--> Analysing idk: 55...
    Equal observation(s) have been found: [54]
--> Analysing idk: 56...
    Equal observation(s) have been found: [57]
--> Analysing idk: 57...
    Equal observation(s) have been found: [56]

--> OK, discarding the identical observations:  [55, 57]

--> Issue, duplicated observations with different values have been found! --> [54, 56]
    FOCUSING ON IDK: 54
    Valid observation.
    FOCUSING ON IDK: 56
    Valid observation.

    Multiple valid duplicated observations have been found. [54, 56]
    Keeping the one (idk: 54) with the less delta with the previous and next observations

--> TO KEEP: {54} \---/ TO DISCARD (3 out of 4): [56] + [55, 57]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 58...
    Equal observation(s) have been found: [59]
--> Analysing idk: 59...
    Equal observation(s) have been found: [58]
--> Analysing idk: 60...
    Equal observation(s) have been found: [61]
--> Analysing idk: 61...
    Equal observation(s) have been found: [60]

--> OK, discarding the identical observations:  [59, 61]

--> Issue, duplicated observations with different values have been found! --> [58, 60]
    FOCUSING ON IDK: 58
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 60
    Valid observation.

--> TO KEEP: {60} \---/ TO DISCARD (3 out of 4): [58] + [59, 61]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:25:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 62...
    Equal observation(s) have been found: [63]
--> Analysing idk: 63...
    Equal observation(s) have been found: [62]
--> Analysing idk: 64...
    Equal observation(s) have been found: [65]
--> Analysing idk: 65...
    Equal observation(s) have been found: [64]

--> OK, discarding the identical observations:  [63, 65]

--> Issue, duplicated observations with different values have been found! --> [62, 64]
    FOCUSING ON IDK: 62
    Valid observation.
    FOCUSING ON IDK: 64
    Valid observation.

    Multiple valid duplicated observations have been found. [62, 64]
    Keeping the one (idk: 62) with the less delta with the previous and next observations

--> TO KEEP: {62} \---/ TO DISCARD (3 out of 4): [64] + [63, 65]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:30:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66...
    Equal observation(s) have been found: [67]
--> Analysing idk: 67...
    Equal observation(s) have been found: [66]
--> Analysing idk: 68...
    Equal observation(s) have been found: [69]
--> Analysing idk: 69...
    Equal observation(s) have been found: [68]

--> OK, discarding the identical observations:  [67, 69]

--> Issue, duplicated observations with different values have been found! --> [66, 68]
    FOCUSING ON IDK: 66
    Valid observation.
    FOCUSING ON IDK: 68
    Valid observation.

    Multiple valid duplicated observations have been found. [66, 68]
    Keeping the one (idk: 66) with the less delta with the previous and next observations

--> TO KEEP: {66} \---/ TO DISCARD (3 out of 4): [68] + [67, 69]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 70...
    Equal observation(s) have been found: [71]
--> Analysing idk: 71...
    Equal observation(s) have been found: [70]

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

--> Analysing idk: 72...
    Equal observation(s) have been found: [73]
--> Analysing idk: 73...
    Equal observation(s) have been found: [72]

--> OK, discarding the identical observations:  [71, 73]

--> Issue, duplicated observations with different values have been found! --> [70, 72]
    FOCUSING ON IDK: 70
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 72
    Valid observation.

--> TO KEEP: {72} \---/ TO DISCARD (3 out of 4): [70] + [71, 73]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 74...
    Equal observation(s) have been found: [75]
--> Analysing idk: 75...
    Equal observation(s) have been found: [74]
--> Analysing idk: 76...
    Equal observation(s) have been found: [77]
--> Analysing idk: 77...
    Equal observation(s) have been found: [76]

--> OK, discarding the identical observations:  [75, 77]

--> Issue, duplicated observations with different values have been found! --> [74, 76]
    FOCUSING ON IDK: 74
    Valid observation.
    FOCUSING ON IDK: 76
    Valid observation.

    Multiple valid duplicated observations have been found. [74, 76]
    Keeping the one (idk: 74) with the less delta with the previous and next observations

--> TO KEEP: {74} \---/ TO DISCARD (3 out of 4): [76] + [75, 77]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:50:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 78...
--> Analysing idk: 79...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [78, 79]
    FOCUSING ON IDK: 78
    Valid observation.
    FOCUSING ON IDK: 79
    Valid observation.

    Multiple valid duplicated observations have been found. [78, 79]
    Keeping the one (idk: 79) with the less delta with the previous and next observations

--> TO KEEP: {79} \---/ TO DISCARD (1 out of 2): [78] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:55:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 80...
    Equal observation(s) have been found: [81]
--> Analysing idk: 81...
    Equal observation(s) have been found: [80]

--> OK, discarding the identical observations:  [81]

Analysing 2018-08-08 15:25:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 85...
    Equal observation(s) have been found: [86]
--> Analysing idk: 86...
    Equal observation(s) have been found: [85]
--> Analysing idk: 87...
    Equal observation(s) have been found: [88]
--> Analysing idk: 88...
    Equal observation(s) have been found: [87]

--> OK, discarding the identical observations:  [86, 88]

--> Issue, duplicated observations with different values have been found! --> [85, 87]
    FOCUSING ON IDK: 85
    Valid observation.
    FOCUSING ON IDK: 87
    Valid observation.

    Multiple valid duplicated observations have been found. [85, 87]
    Keeping the one (idk: 85) with the less delta with the previous and next observations

--> TO KEEP: {85} \---/ TO DISCARD (3 out of 4): [87] + [86, 88]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-09-19 14:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 3371...
    Equal observation(s) have been found: [3372]
--> Analysing idk: 3372...
    Equal observation(s) have been found: [3371]
--> Analysing idk: 3373...
    Equal observation(s) have been found: [3374]
--> Analysing idk: 3374...
    Equal observation(s) have been found: [3373]

--> OK, discarding the identical observations:  [3372, 3374]

--> Issue, duplicated observations with different values have been found! --> [3371, 3373]
    FOCUSING ON IDK: 3371
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 3373
    Valid observation.

--> TO KEEP: {3373} \---/ TO DISCARD (3 out of 4): [3371] + [3372, 3374]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 14:55:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5596...
    Equal observation(s) have been found: [5597, 5598, 5599, 5600, 5601]
--> Analysing idk: 5597...
    Equal observation(s) have been found: [5596, 5598, 5599, 5600, 5601]
--> Analysing idk: 5598...
    Equal observation(s) have been found: [5596, 5597, 5599, 5600, 5601]
--> Analysing idk: 5599...
    Equal observation(s) have been found: [5596, 5597, 5598, 5600, 5601]
--> Analysing idk: 5600...
    Equal observation(s) have been found: [5596, 5597, 5598, 5599, 5601]
--> Analysing idk: 5601...
    Equal observation(s) have been found: [5596, 5597, 5598, 5599, 5600]

--> OK, discarding the identical observations:  [5597, 5598, 5599, 5600, 5601]

Analysing 2018-10-17 15:10:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5603...
--> Analysing idk: 5604...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [5603, 5604]
    FOCUSING ON IDK: 5603
    Valid observation.
    FOCUSING ON IDK: 5604
    Valid observation.

    Multiple valid duplicated observations have been found. [5603, 5604]
    Keeping the one (idk: 5603) with the less delta with the previous and next observations

--> TO KEEP: {5603} \---/ TO DISCARD (1 out of 2): [5604] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:15:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5605...
    Equal observation(s) have been found: [5606, 5607]
--> Analysing idk: 5606...
    Equal observation(s) have been found: [5605, 5607]
--> Analysing idk: 5607...
    Equal observation(s) have been found: [5605, 5606]
--> Analysing idk: 5608...
    Equal observation(s) have been found: [5609, 5610]
--> Analysing idk: 5609...
    Equal observation(s) have been found: [5608, 5610]
--> Analysing idk: 5610...
    Equal observation(s) have been found: [5608, 5609]

--> OK, discarding the identical observations:  [5606, 5607, 5609, 5610]

--> Issue, duplicated observations with different values have been found! --> [5605, 5608]
    FOCUSING ON IDK: 5605
    Valid observation.
    FOCUSING ON IDK: 5608
    Valid observation.

    Multiple valid duplicated observations have been found. [5605, 5608]
    Keeping the one (idk: 5605) with the less delta with the previous and next observations

--> TO KEEP: {5605} \---/ TO DISCARD (5 out of 6): [5608] + [5606, 5607, 5609, 5610]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5611...
    Equal observation(s) have been found: [5612]
--> Analysing idk: 5612...
    Equal observation(s) have been found: [5611]
--> Analysing idk: 5613...
    Equal observation(s) have been found: [5614]

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

--> Analysing idk: 5614...
    Equal observation(s) have been found: [5613]

--> OK, discarding the identical observations:  [5612, 5614]

--> Issue, duplicated observations with different values have been found! --> [5611, 5613]
    FOCUSING ON IDK: 5611
    Valid observation.
    FOCUSING ON IDK: 5613
    Valid observation.

    Multiple valid duplicated observations have been found. [5611, 5613]
    Keeping the one (idk: 5611) with the less delta with the previous and next observations

--> TO KEEP: {5611} \---/ TO DISCARD (3 out of 4): [5613] + [5612, 5614]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:30:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5616...
    Equal observation(s) have been found: [5617]
--> Analysing idk: 5617...
    Equal observation(s) have been found: [5616]
--> Analysing idk: 5618...
    Equal observation(s) have been found: [5619]
--> Analysing idk: 5619...
    Equal observation(s) have been found: [5618]

--> OK, discarding the identical observations:  [5617, 5619]

--> Issue, duplicated observations with different values have been found! --> [5616, 5618]
    FOCUSING ON IDK: 5616
    Valid observation.
    FOCUSING ON IDK: 5618
    Valid observation.

    Multiple valid duplicated observations have been found. [5616, 5618]
    Keeping the one (idk: 5616) with the less delta with the previous and next observations

--> TO KEEP: {5616} \---/ TO DISCARD (3 out of 4): [5618] + [5617, 5619]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:45:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5621...
    Equal observation(s) have been found: [5622]
--> Analysing idk: 5622...
    Equal observation(s) have been found: [5621]

--> OK, discarding the identical observations:  [5622]

Analysing 2018-11-21 14:40:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 6057...
    Equal observation(s) have been found: [6058]
--> Analysing idk: 6058...
    Equal observation(s) have been found: [6057]

--> OK, discarding the identical observations:  [6058]

Analysing 2019-06-11 17:50:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 32742...
    Equal observation(s) have been found: [32743]
--> Analysing idk: 32743...
    Equal observation(s) have been found: [32742]
--> Analysing idk: 32744...
    Equal observation(s) have been found: [32745]
--> Analysing idk: 32745...
    Equal observation(s) have been found: [32744]

--> OK, discarding the identical observations:  [32743, 32745]

--> Issue, duplicated observations with different values have been found! --> [32742, 32744]
    FOCUSING ON IDK: 32742
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 32744
    Valid observation.

--> TO KEEP: {32744} \---/ TO DISCARD (3 out of 4): [32742] + [32743, 32745]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-06-13 14:50:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33051...
    Equal observation(s) have been found: [33052]
--> Analysing idk: 33052...
    Equal observation(s) have been found: [33051]
--> Analysing idk: 33053...
    Equal observation(s) have been found: [33054]
--> Analysing idk: 33054...
    Equal observation(s) have been found: [33053]

--> OK, discarding the identical observations:  [33052, 33054]

--> Issue, duplicated observations with different values have been found! --> [33051, 33053]
    FOCUSING ON IDK: 33051
    Valid observation.
    FOCUSING ON IDK: 33053
    Valid observation.

    Multiple valid duplicated observations have been found. [33051, 33053]
    Keeping the one (idk: 33051) with the less delta with the previous and next observations

--> TO KEEP: {33051} \---/ TO DISCARD (3 out of 4): [33053] + [33052, 33054]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-06-13 15:05:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33057...
    Equal observation(s) have been found: [33058]
--> Analysing idk: 33058...
    Equal observation(s) have been found: [33057]

--> OK, discarding the identical observations:  [33058]

Analysing 2019-06-13 15:30:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33061...
    Equal observation(s) have been found: [33062]
--> Analysing idk: 33062...
    Equal observation(s) have been found: [33061]
--> Analysing idk: 33063...
    Equal observation(s) have been found: [33064]
--> Analysing idk: 33064...
    Equal observation(s) have been found: [33063]

--> OK, discarding the identical observations:  [33062, 33064]

--> Issue, duplicated observations with different values have been found! --> [33061, 33063]
    FOCUSING ON IDK: 33061
    Valid observation.
    FOCUSING ON IDK: 33063
    Valid observation.

    Multiple valid duplicated observations have been found. [33061, 33063]
    Keeping the one (idk: 33061) with the less delta with the previous and next observations

--> TO KEEP: {33061} \---/ TO DISCARD (3 out of 4): [33063] + [33062, 33064]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-07-08 14:55:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 37137...
--> Analysing idk: 37138...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [37137, 37138]
    FOCUSING ON IDK: 37137
    Valid observation.
    FOCUSING ON IDK: 37138
    Valid observation.

    Multiple valid duplicated observations have been found. [37137, 37138]
    Keeping the one (idk: 37137) with the less delta with the previous and next observations

--> TO KEEP: {37137} \---/ TO DISCARD (1 out of 2): [37138] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-07-08 17:05:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 37157...
    Equal observation(s) have been found: [37158]
--> Analysing idk: 37158...
    Equal observation(s) have been found: [37157]
--> Analysing idk: 37159...
    Equal observation(s) have been found: [37160]
--> Analysing idk: 37160...
    Equal observation(s) have been found: [37159]

--> OK, discarding the identical observations:  [37158, 37160]

--> Issue, duplicated observations with different values have been found! --> [37157, 37159]
    FOCUSING ON IDK: 37157
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 37159
    Valid observation.

--> TO KEEP: {37159} \---/ TO DISCARD (3 out of 4): [37157] + [37158, 37160]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 10:15:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46419...
    Equal observation(s) have been found: [46420]
--> Analysing idk: 46420...
    Equal observation(s) have been found: [46419]

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

--> OK, discarding the identical observations:  [46420]

Analysing 2019-09-17 12:30:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46421...
    Equal observation(s) have been found: [46422]
--> Analysing idk: 46422...
    Equal observation(s) have been found: [46421]

--> OK, discarding the identical observations:  [46422]

Analysing 2019-09-17 12:50:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46426...
    Equal observation(s) have been found: [46427]
--> Analysing idk: 46427...
    Equal observation(s) have been found: [46426]
--> Analysing idk: 46428...
    Equal observation(s) have been found: [46429]
--> Analysing idk: 46429...
    Equal observation(s) have been found: [46428]

--> OK, discarding the identical observations:  [46427, 46429]

--> Issue, duplicated observations with different values have been found! --> [46426, 46428]
    FOCUSING ON IDK: 46426
    Valid observation.
    FOCUSING ON IDK: 46428
    Valid observation.

    Multiple valid duplicated observations have been found. [46426, 46428]
    Keeping the one (idk: 46426) with the less delta with the previous and next observations

--> TO KEEP: {46426} \---/ TO DISCARD (3 out of 4): [46428] + [46427, 46429]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-11-08 08:55:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 52317...
    Equal observation(s) have been found: [52318]
--> Analysing idk: 52318...
    Equal observation(s) have been found: [52317]
--> Analysing idk: 52319...
    Equal observation(s) have been found: [52320]
--> Analysing idk: 52320...
    Equal observation(s) have been found: [52319]

--> OK, discarding the identical observations:  [52318, 52320]

--> Issue, duplicated observations with different values have been found! --> [52317, 52319]
    FOCUSING ON IDK: 52317
    Valid observation.
    FOCUSING ON IDK: 52319
    Valid observation.

    Multiple valid duplicated observations have been found. [52317, 52319]
    Keeping the one (idk: 52317) with the less delta with the previous and next observations

--> TO KEEP: {52317} \---/ TO DISCARD (3 out of 4): [52319] + [52318, 52320]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:05:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66973...
--> Analysing idk: 66974...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [66973, 66974]
    FOCUSING ON IDK: 66973
    Valid observation.
    FOCUSING ON IDK: 66974
    Valid observation.

    Multiple valid duplicated observations have been found. [66973, 66974]
    Keeping the one (idk: 66973) with the less delta with the previous and next observations

--> TO KEEP: {66973} \---/ TO DISCARD (1 out of 2): [66974] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:15:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66975...
    Equal observation(s) have been found: [66976]
--> Analysing idk: 66976...
    Equal observation(s) have been found: [66975]
--> Analysing idk: 66977...
    Equal observation(s) have been found: [66978]
--> Analysing idk: 66978...
    Equal observation(s) have been found: [66977]

--> OK, discarding the identical observations:  [66976, 66978]

--> Issue, duplicated observations with different values have been found! --> [66975, 66977]
    FOCUSING ON IDK: 66975
    Valid observation.
    FOCUSING ON IDK: 66977
    Valid observation.

    Multiple valid duplicated observations have been found. [66975, 66977]
    Keeping the one (idk: 66975) with the less delta with the previous and next observations

--> TO KEEP: {66975} \---/ TO DISCARD (3 out of 4): [66977] + [66976, 66978]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66979...
    Equal observation(s) have been found: [66980]
--> Analysing idk: 66980...
    Equal observation(s) have been found: [66979]
--> Analysing idk: 66981...
    Equal observation(s) have been found: [66982]
--> Analysing idk: 66982...
    Equal observation(s) have been found: [66981]

--> OK, discarding the identical observations:  [66980, 66982]

--> Issue, duplicated observations with different values have been found! --> [66979, 66981]
    FOCUSING ON IDK: 66979
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 66981
    Valid observation.

--> TO KEEP: {66981} \---/ TO DISCARD (3 out of 4): [66979] + [66980, 66982]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:25:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66983...
--> Analysing idk: 66984...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [66983, 66984]
    FOCUSING ON IDK: 66983
    Valid observation.
    FOCUSING ON IDK: 66984
    Valid observation.

    Multiple valid duplicated observations have been found. [66983, 66984]
    Keeping the one (idk: 66984) with the less delta with the previous and next observations

--> TO KEEP: {66984} \---/ TO DISCARD (1 out of 2): [66983] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:30:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66985...
    Equal observation(s) have been found: [66986]
--> Analysing idk: 66986...
    Equal observation(s) have been found: [66985]

--> OK, discarding the identical observations:  [66986]

Analysing 2020-02-17 11:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66987...
    Equal observation(s) have been found: [66988]
--> Analysing idk: 66988...
    Equal observation(s) have been found: [66987]
--> Analysing idk: 66989...
    Equal observation(s) have been found: [66990]
--> Analysing idk: 66990...
    Equal observation(s) have been found: [66989]

--> OK, discarding the identical observations:  [66988, 66990]

--> Issue, duplicated observations with different values have been found! --> [66987, 66989]
    FOCUSING ON IDK: 66987
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 66989
    Valid observation.

--> TO KEEP: {66989} \---/ TO DISCARD (3 out of 4): [66987] + [66988, 66990]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:50:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66993...
    Equal observation(s) have been found: [66994]
--> Analysing idk: 66994...
    Equal observation(s) have been found: [66993]

--> OK, discarding the identical observations:

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

[66994]

Analysing 2020-06-20 09:40:00 - (observations: 9)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 87280...
    Equal observation(s) have been found: [87281, 87284]
--> Analysing idk: 87281...
    Equal observation(s) have been found: [87280, 87284]
--> Analysing idk: 87282...
    Equal observation(s) have been found: [87283, 87288]
--> Analysing idk: 87283...
    Equal observation(s) have been found: [87282, 87288]
--> Analysing idk: 87284...
    Equal observation(s) have been found: [87280, 87281]
--> Analysing idk: 87285...
    Equal observation(s) have been found: [87286, 87287]
--> Analysing idk: 87286...
    Equal observation(s) have been found: [87285, 87287]
--> Analysing idk: 87287...
    Equal observation(s) have been found: [87285, 87286]
--> Analysing idk: 87288...
    Equal observation(s) have been found: [87282, 87283]

--> OK, discarding the identical observations:  [87281, 87283, 87284, 87286, 87287, 87288]

--> Issue, duplicated observations with different values have been found! --> [87280, 87282, 87285]
    FOCUSING ON IDK: 87280
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 87282
    Valid observation.
    FOCUSING ON IDK: 87285
    Valid observation.

    Multiple valid duplicated observations have been found. [87282, 87285]
    Keeping the one (idk: 87285) with the less delta with the previous and next observations

--> TO KEEP: {87285} \---/ TO DISCARD (8 out of 9): [87280, 87282] + [87281, 87283, 87284, 87286, 87287, 87288]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-09-25 12:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 103277...
    Equal observation(s) have been found: [103278]
--> Analysing idk: 103278...
    Equal observation(s) have been found: [103277]
--> Analysing idk: 103279...
    Equal observation(s) have been found: [103280]
--> Analysing idk: 103280...
    Equal observation(s) have been found: [103279]

--> OK, discarding the identical observations:  [103278, 103280]

--> Issue, duplicated observations with different values have been found! --> [103277, 103279]
    FOCUSING ON IDK: 103277
    Valid observation.
    FOCUSING ON IDK: 103279
    Valid observation.

    Multiple valid duplicated observations have been found. [103277, 103279]
    Keeping the one (idk: 103277) with the less delta with the previous and next observations

--> TO KEEP: {103277} \---/ TO DISCARD (3 out of 4): [103279] + [103278, 103280]
------------------------------------------------------------------------------------------------------------------------
TO DELATE (112 out of 155): [15, 16, 17, 19, 20, 22, 23, 24, 27, 28, 29, 31, 32, 33, 44, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 61, 63, 64, 65, 67, 68, 69, 70, 71, 73, 75, 76, 77, 78, 81, 86, 87, 88, 3371, 3372, 3374, 5597, 5598, 5599, 5600, 5601, 5604, 5606, 5607, 5608, 5609, 5610, 5612, 5613, 5614, 5617, 5618, 5619, 5622, 6058, 32742, 32743, 32745, 33052, 33053, 33054, 33058, 33062, 33063, 33064, 37138, 37157, 37158, 37160, 46420, 46422, 46427, 46428, 46429, 52318, 52319, 52320, 66974, 66976, 66977, 66978, 66979, 66980, 66982, 66983, 66986, 66987, 66988, 66990, 66994, 87280, 87281, 87282, 87283, 87284, 87286, 87287, 87288, 103278, 103279, 103280]

Analysing INV4...
DUPLICATE DATES: 47: ['2018-08-08, 12:15', '2018-08-08, 12:25', '2018-08-08, 12:35', '2018-08-08, 12:40', '2018-08-08, 13:55', '2018-08-08, 14:00', '2018-08-08, 14:10', '2018-08-08, 14:15', '2018-08-08, 14:20', '2018-08-08, 14:25', '2018-08-08, 14:30', '2018-08-08, 14:35', '2018-08-08, 14:40', '2018-08-08, 14:50', '2018-08-08, 14:55', '2018-08-08, 15:25', '2018-09-19, 14:40', '2018-10-17, 14:55', '2018-10-17, 15:10', '2018-10-17, 15:15', '2018-10-17, 15:20', '2018-10-17, 15:30', '2018-10-17, 15:45', '2018-11-21, 14:40', '2019-06-11, 17:50', '2019-06-13, 14:50', '2019-06-13, 15:00', '2019-06-13, 15:05', '2019-06-13, 15:30', '2019-07-08, 14:55', '2019-07-08, 17:05', '2019-09-17, 09:45', '2019-09-17, 09:50', '2019-09-17, 10:05', '2019-09-17, 10:15', '2019-09-17, 12:30', '2019-09-17, 12:40', '2019-09-17, 12:50', '2019-11-08, 08:55', '2020-02-17, 11:05', '2020-02-17, 11:15', '2020-02-17, 11:20', '2020-02-17, 11:30', '2020-02-17, 11:35', '2020-02-17, 11:50', '2020-06-20, 09:40', '2020-09-25, 12:35'] (Total observations: 175)

Analysing 2018-08-08 12:15:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 15...
    Equal observation(s) have been found: [16, 17]
--> Analysing idk: 16...
    Equal observation(s) have been found: [15, 17]
--> Analysing idk: 17...
    Equal observation(s) have been found: [15, 16]
--> Analysing idk: 18...
    Equal observation(s) have been found: [19, 20]
--> Analysing idk: 19...
    Equal observation(s) have been found: [18, 20]
--> Analysing idk: 20...
    Equal observation(s) have been found: [18, 19]

--> OK, discarding the identical observations:  [16, 17, 19, 20]

--> Issue, duplicated observations with different values have been found! --> [15, 18]
    FOCUSING ON IDK: 15
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 18
    Valid observation.

--> TO KEEP: {18} \---/ TO DISCARD (5 out of 6): [15] + [16, 17, 19, 20]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 12:25:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 21...
    Equal observation(s) have been found: [22]
--> Analysing idk: 22...
    Equal observation(s) have been found: [21]
--> Analysing idk: 23...
    Equal observation(s) have been found: [24]
--> Analysing idk: 24...
    Equal observation(s) have been found: [23]

--> OK, discarding the identical observations:  [22, 24]

--> Issue, duplicated observations with different values have been found! --> [21, 23]
    FOCUSING ON IDK: 21
    Valid observation.
    FOCUSING ON IDK: 23
    Valid observation.

    Multiple valid duplicated observations have been found. [21, 23]
    Keeping the one (idk: 21) with the less delta with the previous and next observations

--> TO KEEP: {21} \---/ TO DISCARD (3 out of 4): [23] + [22, 24]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 12:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 26...
    Equal observation(s) have been found: [29]
--> Analysing idk: 27...
    Equal observation(s) have been found: [28]
--> Analysing idk: 28...
    Equal observation(s) have been found: [27]
--> Analysing idk: 29...
    Equal observation(s) have been found: [26]

--> OK, discarding the identical observations:  [28, 29]

--> Issue, duplicated observations with different values have been found! --> [26, 27]
    FOCUSING ON IDK: 26
    Valid observation.
    FOCUSING ON IDK: 27
    Valid observation.

    Multiple valid duplicated observations have been found. [26, 27]
    Keeping the one (idk: 26) with the less delta with the previous and next observations

--> TO KEEP: {26} \---/ TO DISCARD (3 out of 4): [27] + [28, 29]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 12:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 30...
    Equal observation(s) have been found: [31]
--> Analysing idk: 31...
    Equal observation(s) have been found: [30]
--> Analysing idk: 32...
    Equal observation(s) have been found: [33]
--> Analysing idk: 33...
    Equal observation(s) have been found: [32]

--> OK, discarding the identical observations:  [31, 33]

--> Issue, duplicated observations with different values have been found! --> [30, 32]
    FOCUSING ON IDK: 30
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 32
    Valid observation.

--> TO KEEP: {32} \---/ TO DISCARD (3 out of 4): [30] + [31, 33]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 13:55:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 44...
--> Analysing idk: 45...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [44, 45]
    FOCUSING ON IDK: 44
    Valid observation.
    FOCUSING ON IDK: 45
    Valid observation.

    Multiple valid duplicated observations have been found. [44, 45]
    Keeping the one (idk: 44) with the less delta with the previous and next observations

--> TO KEEP: {44} \---/ TO DISCARD (1 out of 2): [45] + []
------------------------------------------------------------------------------------------------------------------------

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

Analysing 2018-08-08 14:00:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46...
    Equal observation(s) have been found: [47]
--> Analysing idk: 47...
    Equal observation(s) have been found: [46]
--> Analysing idk: 48...
    Equal observation(s) have been found: [49]
--> Analysing idk: 49...
    Equal observation(s) have been found: [48]

--> OK, discarding the identical observations:  [47, 49]

--> Issue, duplicated observations with different values have been found! --> [46, 48]
    FOCUSING ON IDK: 46
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 48
    Valid observation.

--> TO KEEP: {48} \---/ TO DISCARD (3 out of 4): [46] + [47, 49]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:10:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 50...
    Equal observation(s) have been found: [51]
--> Analysing idk: 51...
    Equal observation(s) have been found: [50]
--> Analysing idk: 52...
    Equal observation(s) have been found: [53]
--> Analysing idk: 53...
    Equal observation(s) have been found: [52]

--> OK, discarding the identical observations:  [51, 53]

--> Issue, duplicated observations with different values have been found! --> [50, 52]
    FOCUSING ON IDK: 50
    Valid observation.
    FOCUSING ON IDK: 52
    Valid observation.

    Multiple valid duplicated observations have been found. [50, 52]
    Keeping the one (idk: 50) with the less delta with the previous and next observations

--> TO KEEP: {50} \---/ TO DISCARD (3 out of 4): [52] + [51, 53]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:15:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 54...
    Equal observation(s) have been found: [55]
--> Analysing idk: 55...
    Equal observation(s) have been found: [54]
--> Analysing idk: 56...
    Equal observation(s) have been found: [57]
--> Analysing idk: 57...
    Equal observation(s) have been found: [56]

--> OK, discarding the identical observations:  [55, 57]

--> Issue, duplicated observations with different values have been found! --> [54, 56]
    FOCUSING ON IDK: 54
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 56
    Valid observation.

--> TO KEEP: {56} \---/ TO DISCARD (3 out of 4): [54] + [55, 57]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 58...
    Equal observation(s) have been found: [59]
--> Analysing idk: 59...
    Equal observation(s) have been found: [58]
--> Analysing idk: 60...
    Equal observation(s) have been found: [61]
--> Analysing idk: 61...
    Equal observation(s) have been found: [60]

--> OK, discarding the identical observations:  [59, 61]

--> Issue, duplicated observations with different values have been found! --> [58, 60]
    FOCUSING ON IDK: 58
    Valid observation.
    FOCUSING ON IDK: 60
    Valid observation.

    Multiple valid duplicated observations have been found. [58, 60]
    Keeping the one (idk: 58) with the less delta with the previous and next observations

--> TO KEEP: {58} \---/ TO DISCARD (3 out of 4): [60] + [59, 61]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:25:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 62...
    Equal observation(s) have been found: [65]
--> Analysing idk: 63...
    Equal observation(s) have been found: [64]
--> Analysing idk: 64...
    Equal observation(s) have been found: [63]
--> Analysing idk: 65...
    Equal observation(s) have been found: [62]

--> OK, discarding the identical observations:  [64, 65]

--> Issue, duplicated observations with different values have been found! --> [62, 63]
    FOCUSING ON IDK: 62
    Valid observation.
    FOCUSING ON IDK: 63
    Valid observation.

    Multiple valid duplicated observations have been found. [62, 63]
    Keeping the one (idk: 62) with the less delta with the previous and next observations

--> TO KEEP: {62} \---/ TO DISCARD (3 out of 4): [63] + [64, 65]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:30:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 66...
    Equal observation(s) have been found: [67]
--> Analysing idk: 67...
    Equal observation(s) have been found: [66]
--> Analysing idk: 68...
    Equal observation(s) have been found: [69]
--> Analysing idk: 69...
    Equal observation(s) have been found: [68]

--> OK, discarding the identical observations:  [67, 69]

--> Issue, duplicated observations with different values have been found! --> [66, 68]
    FOCUSING ON IDK: 66
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 68
    Valid observation.

--> TO KEEP: {68} \---/ TO DISCARD (3 out of 4): [66] + [67, 69]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 70...
    Equal observation(s) have been found: [71]
--> Analysing idk: 71...
    Equal observation(s) have been found: [70]
--> Analysing idk: 72...
    Equal observation(s) have been found: [73]
--> Analysing idk: 73...
    Equal observation(s) have been found: [72]

--> OK, discarding the identical observations:  [71, 73]

--> Issue, duplicated observations with different values have been found! --> [70, 72]
    FOCUSING ON IDK: 70
    Valid observation.
    FOCUSING ON IDK: 72
    Valid observation.

    Multiple valid duplicated observations have been found. [70, 72]
    Keeping the one (idk: 70) with the less delta with the previous and next observations

--> TO KEEP: {70} \---/ TO DISCARD (3 out of 4): [72] + [71, 73]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 74...
    Equal observation(s) have been found: [75]
--> Analysing idk: 75...
    Equal observation(s) have been found: [74]
--> Analysing idk: 76...
    Equal observation(s) have been found: [77]
--> Analysing idk: 77...
    Equal observation(s) have been found: [76]

--> OK, discarding the identical observations:  [75, 77]

--> Issue, duplicated observations with different values have been found! --> [74, 76]
    FOCUSING ON IDK: 74
    Valid observation.
    FOCUSING ON IDK: 76
    Valid observation.

    Multiple valid duplicated observations have been found. [74, 76]
    Keeping the one (idk: 74) with the less delta with the previous and next observations

--> TO KEEP: {74} \---/ TO DISCARD (3 out of 4): [76] + [75, 77]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-08-08 14:50:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 78...
--> Analysing idk: 79...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [78, 79]
    FOCUSING ON IDK: 78
    Valid observation.
    FOCUSING ON IDK: 79
    Valid observation.

    Multiple valid duplicated observations have been found. [78, 79]
    Keeping the one (idk: 79) with the less delta with the previous and next observations

--> TO KEEP: {79} \---/ TO DISCARD (1 out of 2): [78] + []
------------------------------------------------------------------------------------------------------------------------

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

Analysing 2018-08-08 14:55:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 80...
    Equal observation(s) have been found: [81]
--> Analysing idk: 81...
    Equal observation(s) have been found: [80]

--> OK, discarding the identical observations:  [81]

Analysing 2018-08-08 15:25:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 86...
    Equal observation(s) have been found: [87]
--> Analysing idk: 87...
    Equal observation(s) have been found: [86]
--> Analysing idk: 88...
    Equal observation(s) have been found: [89]
--> Analysing idk: 89...
    Equal observation(s) have been found: [88]

--> OK, discarding the identical observations:  [87, 89]

--> Issue, duplicated observations with different values have been found! --> [86, 88]
    FOCUSING ON IDK: 86
    Valid observation.
    FOCUSING ON IDK: 88
    Valid observation.

    Multiple valid duplicated observations have been found. [86, 88]
    Keeping the one (idk: 86) with the less delta with the previous and next observations

--> TO KEEP: {86} \---/ TO DISCARD (3 out of 4): [88] + [87, 89]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-09-19 14:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 3423...
    Equal observation(s) have been found: [3424]
--> Analysing idk: 3424...
    Equal observation(s) have been found: [3423]
--> Analysing idk: 3425...
    Equal observation(s) have been found: [3426]
--> Analysing idk: 3426...
    Equal observation(s) have been found: [3425]

--> OK, discarding the identical observations:  [3424, 3426]

--> Issue, duplicated observations with different values have been found! --> [3423, 3425]
    FOCUSING ON IDK: 3423
    Valid observation.
    FOCUSING ON IDK: 3425
    Valid observation.

    Multiple valid duplicated observations have been found. [3423, 3425]
    Keeping the one (idk: 3423) with the less delta with the previous and next observations

--> TO KEEP: {3423} \---/ TO DISCARD (3 out of 4): [3425] + [3424, 3426]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 14:55:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5648...
    Equal observation(s) have been found: [5649, 5650]
--> Analysing idk: 5649...
    Equal observation(s) have been found: [5648, 5650]
--> Analysing idk: 5650...
    Equal observation(s) have been found: [5648, 5649]
--> Analysing idk: 5651...
    Equal observation(s) have been found: [5652, 5653]
--> Analysing idk: 5652...
    Equal observation(s) have been found: [5651, 5653]
--> Analysing idk: 5653...
    Equal observation(s) have been found: [5651, 5652]

--> OK, discarding the identical observations:  [5649, 5650, 5652, 5653]

--> Issue, duplicated observations with different values have been found! --> [5648, 5651]
    FOCUSING ON IDK: 5648
    Valid observation.
    FOCUSING ON IDK: 5651
    Valid observation.

    Multiple valid duplicated observations have been found. [5648, 5651]
    Keeping the one (idk: 5648) with the less delta with the previous and next observations

--> TO KEEP: {5648} \---/ TO DISCARD (5 out of 6): [5651] + [5649, 5650, 5652, 5653]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:10:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5655...
--> Analysing idk: 5656...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [5655, 5656]
    FOCUSING ON IDK: 5655
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 5656
    Invalid values of E. total (kWH) the observation will be discarded.
5655 -  5656 - 5657

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

,Date/Time,Iac R (A),Iac S (A),Iac T (A),Vac R (V),Vac S (V),Vac T (V),Pac R (kW),E. totale (kWh),Cc 1 (A),Vcc 1 (V),Allarme,Inverter temp. (°C)
5655,2018-10-17 15:10:00,400,503,414,118,117,117,156,3039043.8,359,449,553701696,35
5656,2018-10-17 15:10:00,401,521,415,118,118,117,158,3039037.3,345,467,553701696,35
5657,2018-10-17 15:15:00,400,509,415,117,117,117,157,3039049.2,354,456,553701696,35

[5656]

--> TO KEEP: {5655} \---/ TO DISCARD (1 out of 2): [5656] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:15:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5657...
    Equal observation(s) have been found: [5658, 5659]
--> Analysing idk: 5658...
    Equal observation(s) have been found: [5657, 5659]
--> Analysing idk: 5659...
    Equal observation(s) have been found: [5657, 5658]
--> Analysing idk: 5660...
    Equal observation(s) have been found: [5661, 5662]
--> Analysing idk: 5661...
    Equal observation(s) have been found: [5660, 5662]
--> Analysing idk: 5662...
    Equal observation(s) have been found: [5660, 5661]

--> OK, discarding the identical observations:  [5658, 5659, 5661, 5662]

--> Issue, duplicated observations with different values have been found! --> [5657, 5660]
    FOCUSING ON IDK: 5657
    Valid observation.
    FOCUSING ON IDK: 5660
    Valid observation.

    Multiple valid duplicated observations have been found. [5657, 5660]
    Keeping the one (idk: 5660) with the less delta with the previous and next observations

--> TO KEEP: {5660} \---/ TO DISCARD (5 out of 6): [5657] + [5658, 5659, 5661, 5662]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5663...
    Equal observation(s) have been found: [5664]
--> Analysing idk: 5664...
    Equal observation(s) have been found: [5663]
--> Analysing idk: 5665...
    Equal observation(s) have been found: [5666]
--> Analysing idk: 5666...
    Equal observation(s) have been found: [5665]

--> OK, discarding the identical observations:  [5664, 5666]

--> Issue, duplicated observations with different values have been found! --> [5663, 5665]
    FOCUSING ON IDK: 5663
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 5665
    Valid observation.

--> TO KEEP: {5665} \---/ TO DISCARD (3 out of 4): [5663] + [5664, 5666]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:30:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5668...
    Equal observation(s) have been found: [5669]
--> Analysing idk: 5669...
    Equal observation(s) have been found: [5668]
--> Analysing idk: 5670...
    Equal observation(s) have been found: [5671]
--> Analysing idk: 5671...
    Equal observation(s) have been found: [5670]

--> OK, discarding the identical observations:  [5669, 5671]

--> Issue, duplicated observations with different values have been found! --> [5668, 5670]
    FOCUSING ON IDK: 5668
    Valid observation.
    FOCUSING ON IDK: 5670
    Valid observation.

    Multiple valid duplicated observations have been found. [5668, 5670]
    Keeping the one (idk: 5668) with the less delta with the previous and next observations

--> TO KEEP: {5668} \---/ TO DISCARD (3 out of 4): [5670] + [5669, 5671]
------------------------------------------------------------------------------------------------------------------------

Analysing 2018-10-17 15:45:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 5673...
    Equal observation(s) have been found: [5674]
--> Analysing idk: 5674...
    Equal observation(s) have been found: [5673]

--> OK, discarding the identical observations:  [5674]

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

Analysing 2018-11-21 14:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 6110...
    Equal observation(s) have been found: [6111]
--> Analysing idk: 6111...
    Equal observation(s) have been found: [6110]
--> Analysing idk: 6112...
    Equal observation(s) have been found: [6113]
--> Analysing idk: 6113...
    Equal observation(s) have been found: [6112]

--> OK, discarding the identical observations:  [6111, 6113]

--> Issue, duplicated observations with different values have been found! --> [6110, 6112]
    FOCUSING ON IDK: 6110
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 6112
    Valid observation.

--> TO KEEP: {6112} \---/ TO DISCARD (3 out of 4): [6110] + [6111, 6113]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-06-11 17:50:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 32745...
    Equal observation(s) have been found: [32746]
--> Analysing idk: 32746...
    Equal observation(s) have been found: [32745]
--> Analysing idk: 32747...
    Equal observation(s) have been found: [32748]
--> Analysing idk: 32748...
    Equal observation(s) have been found: [32747]

--> OK, discarding the identical observations:  [32746, 32748]

--> Issue, duplicated observations with different values have been found! --> [32745, 32747]
    FOCUSING ON IDK: 32745
    Valid observation.
    FOCUSING ON IDK: 32747
    Valid observation.

    Multiple valid duplicated observations have been found. [32745, 32747]
    Keeping the one (idk: 32745) with the less delta with the previous and next observations

--> TO KEEP: {32745} \---/ TO DISCARD (3 out of 4): [32747] + [32746, 32748]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-06-13 14:50:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33054...
    Equal observation(s) have been found: [33055]
--> Analysing idk: 33055...
    Equal observation(s) have been found: [33054]
--> Analysing idk: 33056...
    Equal observation(s) have been found: [33057]
--> Analysing idk: 33057...
    Equal observation(s) have been found: [33056]

--> OK, discarding the identical observations:  [33055, 33057]

--> Issue, duplicated observations with different values have been found! --> [33054, 33056]
    FOCUSING ON IDK: 33054
    Valid observation.
    FOCUSING ON IDK: 33056
    Valid observation.

    Multiple valid duplicated observations have been found. [33054, 33056]
    Keeping the one (idk: 33054) with the less delta with the previous and next observations

--> TO KEEP: {33054} \---/ TO DISCARD (3 out of 4): [33056] + [33055, 33057]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-06-13 15:00:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33058...
--> Analysing idk: 33059...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [33058, 33059]
    FOCUSING ON IDK: 33058
    Valid observation.
    FOCUSING ON IDK: 33059
    Valid observation.

    Multiple valid duplicated observations have been found. [33058, 33059]
    Keeping the one (idk: 33059) with the less delta with the previous and next observations

--> TO KEEP: {33059} \---/ TO DISCARD (1 out of 2): [33058] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-06-13 15:05:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33060...
    Equal observation(s) have been found: [33061]
--> Analysing idk: 33061...
    Equal observation(s) have been found: [33060]

--> OK, discarding the identical observations:  [33061]

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

Analysing 2019-06-13 15:30:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33065...
    Equal observation(s) have been found: [33066]
--> Analysing idk: 33066...
    Equal observation(s) have been found: [33065]
--> Analysing idk: 33067...
    Equal observation(s) have been found: [33068]
--> Analysing idk: 33068...
    Equal observation(s) have been found: [33067]

--> OK, discarding the identical observations:  [33066, 33068]

--> Issue, duplicated observations with different values have been found! --> [33065, 33067]
    FOCUSING ON IDK: 33065
    Valid observation.
    FOCUSING ON IDK: 33067
    Valid observation.

    Multiple valid duplicated observations have been found. [33065, 33067]
    Keeping the one (idk: 33065) with the less delta with the previous and next observations

--> TO KEEP: {33065} \---/ TO DISCARD (3 out of 4): [33067] + [33066, 33068]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-07-08 14:55:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 37145...
--> Analysing idk: 37146...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [37145, 37146]
    FOCUSING ON IDK: 37145
    Valid observation.
    FOCUSING ON IDK: 37146
    Valid observation.

    Multiple valid duplicated observations have been found. [37145, 37146]
    Keeping the one (idk: 37145) with the less delta with the previous and next observations

--> TO KEEP: {37145} \---/ TO DISCARD (1 out of 2): [37146] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-07-08 17:05:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 37166...
    Equal observation(s) have been found: [37167]
--> Analysing idk: 37167...
    Equal observation(s) have been found: [37166]
--> Analysing idk: 37168...
    Equal observation(s) have been found: [37169]
--> Analysing idk: 37169...
    Equal observation(s) have been found: [37168]

--> OK, discarding the identical observations:  [37167, 37169]

--> Issue, duplicated observations with different values have been found! --> [37166, 37168]
    FOCUSING ON IDK: 37166
    Valid observation.
    FOCUSING ON IDK: 37168
    Valid observation.

    Multiple valid duplicated observations have been found. [37166, 37168]
    Keeping the one (idk: 37166) with the less delta with the previous and next observations

--> TO KEEP: {37166} \---/ TO DISCARD (3 out of 4): [37168] + [37167, 37169]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 09:45:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46429...
    Equal observation(s) have been found: [46430]
--> Analysing idk: 46430...
    Equal observation(s) have been found: [46429]

--> OK, discarding the identical observations:  [46430]

Analysing 2019-09-17 09:50:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46431...
    Equal observation(s) have been found: [46432]
--> Analysing idk: 46432...
    Equal observation(s) have been found: [46431]
--> Analysing idk: 46433...
    Equal observation(s) have been found: [46434]
--> Analysing idk: 46434...
    Equal observation(s) have been found: [46433]

--> OK, discarding the identical observations:  [46432, 46434]

--> Issue, duplicated observations with different values have been found! --> [46431, 46433]
    FOCUSING ON IDK: 46431
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 46433
    Valid observation.

--> TO KEEP: {46433} \---/ TO DISCARD (3 out of 4): [46431] + [46432, 46434]
------------------------------------------------------------------------------------------------------------------------

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

Analysing 2019-09-17 10:05:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46436...
    Equal observation(s) have been found: [46437]
--> Analysing idk: 46437...
    Equal observation(s) have been found: [46436]
--> Analysing idk: 46438...
    Equal observation(s) have been found: [46439]
--> Analysing idk: 46439...
    Equal observation(s) have been found: [46438]

--> OK, discarding the identical observations:  [46437, 46439]

--> Issue, duplicated observations with different values have been found! --> [46436, 46438]
    FOCUSING ON IDK: 46436
    Valid observation.
    FOCUSING ON IDK: 46438
    Valid observation.

    Multiple valid duplicated observations have been found. [46436, 46438]
    Keeping the one (idk: 46436) with the less delta with the previous and next observations

--> TO KEEP: {46436} \---/ TO DISCARD (3 out of 4): [46438] + [46437, 46439]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 10:15:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46441...
    Equal observation(s) have been found: [46442]
--> Analysing idk: 46442...
    Equal observation(s) have been found: [46441]
--> Analysing idk: 46443...
    Equal observation(s) have been found: [46444]
--> Analysing idk: 46444...
    Equal observation(s) have been found: [46443]
--> Analysing idk: 46445...
    Equal observation(s) have been found: [46446]
--> Analysing idk: 46446...
    Equal observation(s) have been found: [46445]

--> OK, discarding the identical observations:  [46442, 46444, 46446]

--> Issue, duplicated observations with different values have been found! --> [46441, 46443, 46445]
    FOCUSING ON IDK: 46441
    Valid observation.
    FOCUSING ON IDK: 46443
    Valid observation.
    FOCUSING ON IDK: 46445
    Valid observation.

    Multiple valid duplicated observations have been found. [46441, 46443, 46445]
    Keeping the one (idk: 46441) with the less delta with the previous and next observations

--> TO KEEP: {46441} \---/ TO DISCARD (5 out of 6): [46443, 46445] + [46442, 46444, 46446]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 12:30:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46447...
    Equal observation(s) have been found: [46448]
--> Analysing idk: 46448...
    Equal observation(s) have been found: [46447]

--> OK, discarding the identical observations:  [46448]

Analysing 2019-09-17 12:40:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46450...
--> Analysing idk: 46451...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [46450, 46451]
    FOCUSING ON IDK: 46450
    Valid observation.
    FOCUSING ON IDK: 46451
    Valid observation.

    Multiple valid duplicated observations have been found. [46450, 46451]
    Keeping the one (idk: 46451) with the less delta with the previous and next observations

--> TO KEEP: {46451} \---/ TO DISCARD (1 out of 2): [46450] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-09-17 12:50:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 46453...
    Equal observation(s) have been found: [46454]
--> Analysing idk: 46454...
    Equal observation(s) have been found: [46453]
--> Analysing idk: 46455...
    Equal observation(s) have been found: [46456]

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

--> Analysing idk: 46456...
    Equal observation(s) have been found: [46455]

--> OK, discarding the identical observations:  [46454, 46456]

--> Issue, duplicated observations with different values have been found! --> [46453, 46455]
    FOCUSING ON IDK: 46453
    Valid observation.
    FOCUSING ON IDK: 46455
    Valid observation.

    Multiple valid duplicated observations have been found. [46453, 46455]
    Keeping the one (idk: 46453) with the less delta with the previous and next observations

--> TO KEEP: {46453} \---/ TO DISCARD (3 out of 4): [46455] + [46454, 46456]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-11-08 08:55:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 52346...
    Equal observation(s) have been found: [52347]
--> Analysing idk: 52347...
    Equal observation(s) have been found: [52346]
--> Analysing idk: 52348...
    Equal observation(s) have been found: [52349]
--> Analysing idk: 52349...
    Equal observation(s) have been found: [52348]

--> OK, discarding the identical observations:  [52347, 52349]

--> Issue, duplicated observations with different values have been found! --> [52346, 52348]
    FOCUSING ON IDK: 52346
    Valid observation.
    FOCUSING ON IDK: 52348
    Valid observation.

    Multiple valid duplicated observations have been found. [52346, 52348]
    Keeping the one (idk: 52346) with the less delta with the previous and next observations

--> TO KEEP: {52346} \---/ TO DISCARD (3 out of 4): [52348] + [52347, 52349]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:05:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 64335...
--> Analysing idk: 64336...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [64335, 64336]
    FOCUSING ON IDK: 64335
    Valid observation.
    FOCUSING ON IDK: 64336
    Valid observation.

    Multiple valid duplicated observations have been found. [64335, 64336]
    Keeping the one (idk: 64335) with the less delta with the previous and next observations

--> TO KEEP: {64335} \---/ TO DISCARD (1 out of 2): [64336] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:15:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 64337...
    Equal observation(s) have been found: [64338]
--> Analysing idk: 64338...
    Equal observation(s) have been found: [64337]
--> Analysing idk: 64339...
    Equal observation(s) have been found: [64340]
--> Analysing idk: 64340...
    Equal observation(s) have been found: [64339]

--> OK, discarding the identical observations:  [64338, 64340]

--> Issue, duplicated observations with different values have been found! --> [64337, 64339]
    FOCUSING ON IDK: 64337
    Valid observation.
    FOCUSING ON IDK: 64339
    Valid observation.

    Multiple valid duplicated observations have been found. [64337, 64339]
    Keeping the one (idk: 64337) with the less delta with the previous and next observations

--> TO KEEP: {64337} \---/ TO DISCARD (3 out of 4): [64339] + [64338, 64340]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 64341...
    Equal observation(s) have been found: [64342]
--> Analysing idk: 64342...
    Equal observation(s) have been found: [64341]
--> Analysing idk: 64343...
    Equal observation(s) have been found: [64344]
--> Analysing idk: 64344...
    Equal observation(s) have been found: [64343]

--> OK, discarding the identical observations:  [64342, 64344]

--> Issue, duplicated observations with different values have been found! --> [64341, 64343]
    FOCUSING ON IDK: 64341
    Valid observation.
    FOCUSING ON IDK: 64343
    Valid observation.

    Multiple valid duplicated observations have been found. [64341, 64343]
    Keeping the one (idk: 64341) with the less delta with the previous and next observations

--> TO KEEP: {64341} \---/ TO DISCARD (3 out of 4): [64343] + [64342, 64344]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:30:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 64346...
    Equal observation(s) have been found: [64347]

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

--> Analysing idk: 64347...
    Equal observation(s) have been found: [64346]
--> Analysing idk: 64348...
    Equal observation(s) have been found: [64349]
--> Analysing idk: 64349...
    Equal observation(s) have been found: [64348]

--> OK, discarding the identical observations:  [64347, 64349]

--> Issue, duplicated observations with different values have been found! --> [64346, 64348]
    FOCUSING ON IDK: 64346
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 64348
    Valid observation.

--> TO KEEP: {64348} \---/ TO DISCARD (3 out of 4): [64346] + [64347, 64349]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 64350...
    Equal observation(s) have been found: [64351]
--> Analysing idk: 64351...
    Equal observation(s) have been found: [64350]
--> Analysing idk: 64352...
    Equal observation(s) have been found: [64353]
--> Analysing idk: 64353...
    Equal observation(s) have been found: [64352]

--> OK, discarding the identical observations:  [64351, 64353]

--> Issue, duplicated observations with different values have been found! --> [64350, 64352]
    FOCUSING ON IDK: 64350
    Valid observation.
    FOCUSING ON IDK: 64352
    Valid observation.

    Multiple valid duplicated observations have been found. [64350, 64352]
    Keeping the one (idk: 64350) with the less delta with the previous and next observations

--> TO KEEP: {64350} \---/ TO DISCARD (3 out of 4): [64352] + [64351, 64353]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-17 11:50:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 64356...
    Equal observation(s) have been found: [64357]
--> Analysing idk: 64357...
    Equal observation(s) have been found: [64356]

--> OK, discarding the identical observations:  [64357]

Analysing 2020-06-20 09:40:00 - (observations: 9)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 82914...
    Equal observation(s) have been found: [82915, 82916]
--> Analysing idk: 82915...
    Equal observation(s) have been found: [82914, 82916]
--> Analysing idk: 82916...
    Equal observation(s) have been found: [82914, 82915]
--> Analysing idk: 82917...
    Equal observation(s) have been found: [82918, 82919]
--> Analysing idk: 82918...
    Equal observation(s) have been found: [82917, 82919]
--> Analysing idk: 82919...
    Equal observation(s) have been found: [82917, 82918]
--> Analysing idk: 82920...
    Equal observation(s) have been found: [82921, 82922]
--> Analysing idk: 82921...
    Equal observation(s) have been found: [82920, 82922]
--> Analysing idk: 82922...
    Equal observation(s) have been found: [82920, 82921]

--> OK, discarding the identical observations:  [82915, 82916, 82918, 82919, 82921, 82922]

--> Issue, duplicated observations with different values have been found! --> [82914, 82917, 82920]
    FOCUSING ON IDK: 82914
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 82917
    Valid observation.
    FOCUSING ON IDK: 82920
    Valid observation.

    Multiple valid duplicated observations have been found. [82917, 82920]
    Keeping the one (idk: 82917) with the less delta with the previous and next observations

--> TO KEEP: {82917} \---/ TO DISCARD (8 out of 9): [82914, 82920] + [82915, 82916, 82918, 82919, 82921, 82922]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-09-25 12:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 97911...
    Equal observation(s) have been found: [97912]
--> Analysing idk: 97912...
    Equal observation(s) have been found: [97911]
--> Analysing idk: 97913...
    Equal observation(s) have been found: [97914]
--> Analysing idk: 97914...
    Equal observation(s) have been found: [97913]

--> OK, discarding the identical observations:  [97912, 97914]

--> Issue, duplicated observations with different values have been found! --> [97911, 97913]
    FOCUSING ON IDK: 97911
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 97913
    Valid observation.

--> TO KEEP: {97913} \---/ TO DISCARD (3 out of 4): [97911] + [97912, 97914]
------------------------------------------------------------------------------------------------------------------------
TO DELATE (128 out of 175): [15, 16, 17, 19, 20, 22, 23, 24, 27, 28, 29, 30, 31, 33, 45, 46, 47, 49, 51, 52, 53, 54, 55, 57, 59, 60, 61, 63, 64, 65, 66, 67, 69, 71, 72, 73, 75, 76, 77, 78, 81, 87, 88, 89, 3424, 3425, 3426, 5649, 5650, 5651, 5652, 5653, 5656, 5657, 5658, 5659, 5661, 5662, 5663, 5664, 5666, 5669, 5670, 5671, 5674, 6110, 6111, 6113, 32746, 32747, 32748, 33055, 33056, 33057, 33058, 33061, 33066, 33067, 33068, 37146, 37167, 37168, 37169, 46430, 46431, 46432, 46434, 46437, 46438, 46439, 46442, 46443, 46444, 46445, 46446, 46448, 46450, 46454, 46455, 46456, 52347, 52348, 52349, 64336, 64338, 64339, 64340, 64342, 64343, 64344, 64346, 64347, 64349, 64351, 64352, 64353, 64357, 82914, 82915, 82916, 82918, 82919, 82920, 82921, 82922, 97911, 97912, 97914]

/tmp/ipykernel_6668/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

# Carry out some transformations

In [9]:
# TASK: Carry out the necessary stategies to tackle the issues discovered in the above analyses
for inv_name in inv_names:
    print(f"\n{inv_name.upper()}...")
    
    # TASK: Delate duplicate observations (same timestamps)
    inv_data[inv_name].drop(index = index_to_delate[inv_name], inplace=True)
    inv_data[inv_name].reset_index(drop=True, inplace = True)
    print(f"--> Discared some duplicated observations (i.e., same timestamps) ({len(index_to_delate[inv_name])})")
    
    # TASK: Delate the columns (i.e., variables) that have been confirmed empty
    inv_data[inv_name].drop(columns = check_emptiness, inplace=True)
    print(f"--> Discared some empty columns (i.e., {check_emptiness})")
    
     # TASK: Remove the irradiance column that was joined previously --> it'll be re-added after fixing the sampling of both side
    inv_data[inv_name].drop(columns = ["Irr. medio (W/mq)"], inplace=True)
    print("--> Removed the column of irradiance values, since it will be re-added after tackling the sampling issue.")
# ---------------------------------------------------------------------------------
# TASK: Carry out some minor changes on the "raw irradiance file"
print("\nRAW IRRADIANCE FILE ...")
# Rename the column of the data
raw_irr_data.rename(columns = {"data":"Date/Time", "irr. medio 1 W/mq":"Irradiance (W/mq)"}, inplace=True)
print("--> Renamed the columns to improve readability and compatibility with other datasets")

INV1...
--> Discared some duplicated observations (i.e., same timestamps) (124)
--> Discared some empty columns (i.e., ['Pac S (kW)', 'Pac T (kW)', 'Stato', 'Fac (Hz)'])
--> Removed the column of irradiance values, since it will be re-added after tackling the sampling issue.

INV2...
--> Discared some duplicated observations (i.e., same timestamps) (122)
--> Discared some empty columns (i.e., ['Pac S (kW)', 'Pac T (kW)', 'Stato', 'Fac (Hz)'])
--> Removed the column of irradiance values, since it will be re-added after tackling the sampling issue.

INV3...
--> Discared some duplicated observations (i.e., same timestamps) (112)
--> Discared some empty columns (i.e., ['Pac S (kW)', 'Pac T (kW)', 'Stato', 'Fac (Hz)'])
--> Removed the column of irradiance values, since it will be re-added after tackling the sampling issue.

INV4...
--> Discared some duplicated observations (i.e., same timestamps) (128)
--> Discared some empty columns (i.e., ['Pac S (kW)', 'Pac T (kW)', 'Stato', 'Fac (Hz)'])
--> Removed the column of irradiance values, since it will be re-added after tackling the sampling issue.

RAW IRRADIANCE FILE ...
--> Renamed the columns to improve readability and compatibility with other datasets

#### check

In [10]:
# Check validity of the transformation
inv_data[inv_names[0]].info()
print("-"*80)
index_to_delate = check_datetime_uniqueness()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146481 entries, 0 to 146480
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date/Time            146481 non-null  datetime64[ns]
 1   Iac R (A)            146481 non-null  int64
 2   Iac S (A)            146481 non-null  int64
 3   Iac T (A)            146481 non-null  int64
 4   Vac R (V)            146481 non-null  int64
 5   Vac S (V)            146481 non-null  int64
 6   Vac T (V)            146481 non-null  int64
 7   Pac R (kW)           146481 non-null  int64
 8   E. totale (kWh)      146481 non-null  float64
 9   Cc 1 (A)             146481 non-null  int64
 10  Vcc 1 (V)            146481 non-null  int64
 11  Allarme              146481 non-null  string
 12  Inverter temp. (°C)  146481 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(10), string(1)
memory usage: 14.5 MB
--------------------------------------------------------------------------------

Analysing INV1...
Oh, that's good. No duplicated observations have been found for INV1!

Analysing INV2...
Oh, that's good. No duplicated observations have been found for INV2!

Analysing INV3...
Oh, that's good. No duplicated observations have been found for INV3!

Analysing INV4...
Oh, that's good. No duplicated observations have been found for INV4!

# Detect and correct outliers

In [11]:
# -----------------------------------------------------
# FUNCTION: Find the outliers by adopting the z-score
# -----------------------------------------------------
def find_outliers(df, threshold = 3, verbose = False): 
    numerical_df = df.select_dtypes(include = np.number)
    
    # THE MEASURAMENT: Z-score
    # It describes a value's relationship to the mean of a group of values 
    # It's the number of standard deviations by which the observed value is above/below the mean value of what is being measured
    z_score = np.abs(zscore(numerical_df)) 

    # Filter the observations that are above the threshold (from literature: 3 is a typical cut-off point to detect the outliers)
    if len(z_score.columns) == 3:
        cond_outlier = (z_score.iloc[:, 0] > threshold) & (z_score.iloc[:, 1] > threshold) & (z_score.iloc[:, 2] > threshold)
    elif len(z_score.columns) == 2:
         cond_outlier = (z_score.iloc[:, 0] > threshold) & (z_score.iloc[:, 1] > threshold)
    else:
        cond_outlier = z_score.iloc[:, 0] > threshold 

    # Find the outliers according to the threshold of the z-scores
    outliers_idk = z_score[cond_outlier].index
    outliers = df.loc[outliers_idk, :]
    
    if verbose & len(outliers) != 0:
        print(f"Z-score values (threshold: {threshold})")
        print("MIN:", round(np.min(min(z_score[cond_outlier].values.tolist())), 2), \
              "\nMAX:",round(np.max(max(z_score[cond_outlier].values.tolist())), 2))
              
        display(z_score[cond_outlier])
        
    return outliers
# ------------------------------------------------------------------------------------------
# FUNCTION: Compute a weighted average value according to the observation's neighbours (KNN)
# ------------------------------------------------------------------------------------------
def weighted_knn(df, idk_position, list_outliers, column,  K = 6, verbose=True):
    # Define the interval before and after the position
    k_before = K//2 
    k_after = K//2
    
    # Define the range of neighbours 
    idk_range = np.arange(idk_outlier - k_before, idk_outlier + k_after + 1)
    
    # Find the indexes of other outliers (for excluding them in the weighted average)
    if idk_position in list_outliers:
        list_outliers.remove(idk_position)
    
    # Detect potential outliers in its neighbours
    problematic_idk_neighbours = [idk_outlier for idk_outlier in list_outliers if idk_outlier in idk_range]
        
    if len(problematic_idk_neighbours) != 0:
        if verbose:
            print(f"\nOPS: Problematic IDK neighbours discovered {len(problematic_idk_neighbours)} "\
                  f"({round(((len(problematic_idk_neighbours)/len(idk_range))*100), 2)} %) --> {problematic_idk_neighbours}")
        
        # Try to increase the number of neighbours 
        MAX_K = 30
        if len(problematic_idk_neighbours) >= K//2:
            new_k = K*2 
            if new_k <= MAX_K:
                if verbose: 
                    print(f"Trying with more neighbours ({new_k})...")
                weighted_knn(df, idk_position, list_outliers, column,  K = new_k, verbose=False)
            else:
                if verbose:
                    print("Reach maximum of K neighbours")
        
        # Remove problematic neighbours
        idk_range = idk_range[~ np.isin(idk_range, problematic_idk_neighbours)]
        
        if verbose:
            print("\nEnd process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)")
            print(f"The problematic neighbours ({len(problematic_idk_neighbours)}) have been removed from the neighbour list")
    
    # Find the neigbourhood 
    idk_outlier_pos = np.argwhere(idk_range == idk_position)[0][0]
    neighbours_idk = np.delete(idk_range, idk_outlier_pos)
    
    neighbours = np.array(df.loc[neighbours_idk, :][column]) # iloc
    outlier_value = df.loc[idk_position, :][column]
    
    if verbose:
        print(f"\nVARIABLE: {column}")
        print(f"NEIGHBOURES ({len(neighbours)} out of {K}):{neighbours[:idk_outlier_pos]} \--/ {neighbours[idk_outlier_pos:]}")
    
    # Define the weights
    dist_idk = [np.abs(idk - idk_position) for idk in neighbours_idk]
    penalize = lambda dist: min(dist_idk)/dist if dist != min(dist_idk) else 1 #min(dist_idk)/(1 + (dist/10))
    weights = [round(penalize(dist), 2) for dist in dist_idk]
    
    if verbose:
        print("WEIGHTS:", weights)

    # Compute the weighted average 
    weighted_average_value = np.average(neighbours, weights = weights)
    
    # Round and cast the value to an integer value
    candidate_value = int(round(weighted_average_value, 0))
    
    if verbose:
        print(f"COMPUTED VALUE: {candidate_value}")
        print("-" * 80)
    return candidate_value

### Variable: *AC voltage values* (Vac R/S/T)

In [12]:
# TASK: A) Analyse and correct the outliers
# VARIABLES: AC voltage values (Vac R/S/T)
# MOTIVATION: Some invalid values (i.e., zero values) have been detected visually (i.e., numerical distribution graphs)
columns = ["Date/Time", "Vac R (V)", "Vac S (V)", "Vac T (V)"]

# Carry out the analysis (and correction) on all the inverters
for inv_name in inv_names:
    print("INVERTER NAME:", inv_name, "\n", "-"*80)
    
    # 1A) Detect extreme outliers 
    # Setting threshold: a very high threshold to detect (and correct) only extreme outliers (e.g. zero values)
    # Threshold has been set according to emperical tests (default outlier threshold is equal to 3)
    extreme_vac_outlier = find_outliers(inv_data[inv_name][columns], verbose=True, threshold = 5)
    
    if len(extreme_vac_outlier) == 0:
        print("Oh, no extreme outliers found. That's good.\n")
        continue
        
    print(f"The extreme outliers ({len(extreme_vac_outlier)}) of Vac")
    display(extreme_vac_outlier)

    # 1B) Replacing criterion --> Weighted KNN (k = 6)
    # Identfy the index of the outliers 
    idk_outliers = extreme_vac_outlier.index.tolist()
    list_outliers = idk_outliers.copy()
    
    # Compute and assign the estimated value (weighted average value from its neigbours)
    for idk_outlier in idk_outliers:
        
        # Visualize the outlier and its neighours
        print(f"Outlier (idk: {idk_outlier}) and its neighborhood")
        display(inv_data[inv_name][columns].loc[range(idk_outlier - 3, idk_outlier + 4), :])
        
        # Compute the estimated value and assign the the original dataframe
        inv_data[inv_name].loc[idk_outlier, "Vac R (V)"] = weighted_knn(inv_data[inv_name][columns], 
                                                                        idk_outlier, list_outliers, "Vac R (V)")
        inv_data[inv_name].loc[idk_outlier, "Vac S (V)"] = weighted_knn(inv_data[inv_name][columns], 
                                                                        idk_outlier, list_outliers, "Vac S (V)")
        inv_data[inv_name].loc[idk_outlier, "Vac T (V)"] = weighted_knn(inv_data[inv_name][columns],
                                                                        idk_outlier, list_outliers, "Vac T (V)")

        # Visualize the outcome
        print("\nNew data (with the filled value(s))")
        display(inv_data[inv_name].loc[idk_outlier][columns])
        print("-" * 80)

INVERTER NAME: INV1
 --------------------------------------------------------------------------------
Z-score values (threshold: 5)
MIN: 61.61
MAX: 65.37

       Vac R (V)  Vac S (V)  Vac T (V)
34830  61.610678  64.867904  65.368744
36673  61.610678  64.867904  65.368744
37320  61.610678  64.867904  65.368744

The extreme outliers (3) of Vac

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
34830 2019-06-24 14:30:00          0          0          0
36673 2019-07-06 08:25:00          0          0          0
37320 2019-07-10 07:40:00          0          0          0

Outlier (idk: 34830) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
34827 2019-06-24 14:05:00        118        118        118
34828 2019-06-24 14:20:00        118        118        118
34829 2019-06-24 14:25:00        118        118        118
34830 2019-06-24 14:30:00          0          0          0
34831 2019-06-24 14:40:00        118        118        118
34832 2019-06-24 14:55:00        118        118        118
34833 2019-06-24 15:00:00        118        118        118

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[118 118 118] \--/ [118 118 118]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 118
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[118 118 118] \--/ [118 118 118]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 118
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[118 118 118] \--/ [118 118 118]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 118
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2019-06-24 14:30:00
Vac R (V)                    118
Vac S (V)                    118
Vac T (V)                    118
Name: 34830, dtype: object

--------------------------------------------------------------------------------
Outlier (idk: 36673) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
36670 2019-07-06 06:15:00        116        116        116
36671 2019-07-06 06:20:00        115        115        116
36672 2019-07-06 06:25:00        115        116        116
36673 2019-07-06 08:25:00          0          0          0
36674 2019-07-06 08:40:00        116        115        116
36675 2019-07-06 09:05:00        115        115        116
36676 2019-07-06 09:10:00        115        115        115

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[116 115 115] \--/ [116 115 115]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 115
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[116 115 116] \--/ [115 115 115]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 115
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[116 116 116] \--/ [116 116 115]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 116
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2019-07-06 08:25:00
Vac R (V)                    115
Vac S (V)                    115
Vac T (V)                    116
Name: 36673, dtype: object

--------------------------------------------------------------------------------
Outlier (idk: 37320) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
37317 2019-07-10 07:10:00        116        115        116
37318 2019-07-10 07:15:00        115        115        116
37319 2019-07-10 07:20:00        115        115        115
37320 2019-07-10 07:40:00          0          0          0
37321 2019-07-10 08:40:00        116        115        116
37322 2019-07-10 08:45:00        116        115        116
37323 2019-07-10 08:50:00        116        115        116

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[116 115 115] \--/ [116 116 116]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 116
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[115 115 115] \--/ [115 115 115]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 115
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[116 116 115] \--/ [116 116 116]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 116
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2019-07-10 07:40:00
Vac R (V)                    116
Vac S (V)                    115
Vac T (V)                    116
Name: 37320, dtype: object

--------------------------------------------------------------------------------
INVERTER NAME: INV2
 --------------------------------------------------------------------------------
The extreme outliers (6) of Vac

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
33076 2019-06-14 06:20:00        103        103        104
33078 2019-06-14 06:35:00        100        101        102
34773 2019-06-24 08:10:00          0          0          0
34903 2019-06-25 08:20:00          0          0          0
35873 2019-07-01 07:10:00          0          0          0
35874 2019-07-01 08:10:00          0          0          0

Outlier (idk: 33076) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
33073 2019-06-14 06:05:00        112        113        114
33074 2019-06-14 06:10:00        112        112        114
33075 2019-06-14 06:15:00        113        113        114
33076 2019-06-14 06:20:00        103        103        104
33077 2019-06-14 06:30:00        113        113        114
33078 2019-06-14 06:35:00        100        101        102
33079 2019-06-14 06:40:00        105        106        107

OPS: Problematic IDK neighbours discovered 1 (14.29 %) --> [33078]

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (1) have been removed from the neighbour list

VARIABLE: Vac R (V)
NEIGHBOURES (5 out of 6):[112 112 113] \--/ [113 105]
WEIGHTS: [0.33, 0.5, 1, 1, 0.33]
COMPUTED VALUE: 112
--------------------------------------------------------------------------------

OPS: Problematic IDK neighbours discovered 1 (14.29 %) --> [33078]

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (1) have been removed from the neighbour list

VARIABLE: Vac S (V)
NEIGHBOURES (5 out of 6):[113 112 113] \--/ [113 106]
WEIGHTS: [0.33, 0.5, 1, 1, 0.33]
COMPUTED VALUE: 112
--------------------------------------------------------------------------------

OPS: Problematic IDK neighbours discovered 1 (14.29 %) --> [33078]

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (1) have been removed from the neighbour list

VARIABLE: Vac T (V)
NEIGHBOURES (5 out of 6):[114 114 114] \--/ [114 107]
WEIGHTS: [0.33, 0.5, 1, 1, 0.33]
COMPUTED VALUE: 113
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2019-06-14 06:20:00
Vac R (V)                    112
Vac S (V)                    112
Vac T (V)                    113
Name: 33076, dtype: object

--------------------------------------------------------------------------------
Outlier (idk: 33078) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
33075 2019-06-14 06:15:00        113        113        114
33076 2019-06-14 06:20:00        112        112        113
33077 2019-06-14 06:30:00        113        113        114
33078 2019-06-14 06:35:00        100        101        102
33079 2019-06-14 06:40:00        105        106        107
33080 2019-06-14 06:45:00        112        113        114
33081 2019-06-14 06:50:00        114        114        115

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[113 112 113] \--/ [105 112 114]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 111
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[113 112 113] \--/ [106 113 114]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 111
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[114 113 114] \--/ [107 114 115]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 112
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2019-06-14 06:35:00
Vac R (V)                    111
Vac S (V)                    111
Vac T (V)                    112
Name: 33078, dtype: object

--------------------------------------------------------------------------------
Outlier (idk: 34773) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
34770 2019-06-24 06:05:00        116        117        117
34771 2019-06-24 06:10:00        116        117        117
34772 2019-06-24 08:00:00        117        118        119
34773 2019-06-24 08:10:00          0          0          0
34774 2019-06-24 08:20:00        116        116        118
34775 2019-06-24 08:45:00        116        116        118
34776 2019-06-24 08:50:00        116        117        118

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[116 116 117] \--/ [116 116 116]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 116
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[117 117 118] \--/ [116 116 117]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 117
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[117 117 119] \--/ [118 118 118]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 118
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2019-06-24 08:10:00
Vac R (V)                    116
Vac S (V)                    117
Vac T (V)                    118
Name: 34773, dtype: object

--------------------------------------------------------------------------------
Outlier (idk: 34903) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
34900 2019-06-25 06:30:00        116        117        118
34901 2019-06-25 06:50:00        116        117        118
34902 2019-06-25 07:55:00        116        117        118
34903 2019-06-25 08:20:00          0          0          0
34904 2019-06-25 08:35:00        117        117        118
34905 2019-06-25 08:45:00        117        118        119
34906 2019-06-25 09:05:00        117        118        118

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[116 116 116] \--/ [117 117 117]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 116
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[117 117 117] \--/ [117 118 118]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 117
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[118 118 118] \--/ [118 119 118]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 118
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2019-06-25 08:20:00
Vac R (V)                    116
Vac S (V)                    117
Vac T (V)                    118
Name: 34903, dtype: object

--------------------------------------------------------------------------------
Outlier (idk: 35873) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
35870 2019-07-01 05:25:00        117        118        118
35871 2019-07-01 05:30:00        117        118        118
35872 2019-07-01 05:35:00        117        118        118
35873 2019-07-01 07:10:00          0          0          0
35874 2019-07-01 08:10:00          0          0          0
35875 2019-07-01 08:20:00        118        120        119
35876 2019-07-01 08:30:00        117        119        119

OPS: Problematic IDK neighbours discovered 1 (14.29 %) --> [35874]

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (1) have been removed from the neighbour list

VARIABLE: Vac R (V)
NEIGHBOURES (5 out of 6):[117 117 117] \--/ [118 117]
WEIGHTS: [0.33, 0.5, 1, 0.5, 0.33]
COMPUTED VALUE: 117
--------------------------------------------------------------------------------

OPS: Problematic IDK neighbours discovered 1 (14.29 %) --> [35874]

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (1) have been removed from the neighbour list

VARIABLE: Vac S (V)
NEIGHBOURES (5 out of 6):[118 118 118] \--/ [120 119]
WEIGHTS: [0.33, 0.5, 1, 0.5, 0.33]
COMPUTED VALUE: 118
--------------------------------------------------------------------------------

OPS: Problematic IDK neighbours discovered 1 (14.29 %) --> [35874]

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (1) have been removed from the neighbour list

VARIABLE: Vac T (V)
NEIGHBOURES (5 out of 6):[118 118 118] \--/ [119 119]
WEIGHTS: [0.33, 0.5, 1, 0.5, 0.33]
COMPUTED VALUE: 118
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2019-07-01 07:10:00
Vac R (V)                    117
Vac S (V)                    118
Vac T (V)                    118
Name: 35873, dtype: object

--------------------------------------------------------------------------------
Outlier (idk: 35874) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
35871 2019-07-01 05:30:00        117        118        118
35872 2019-07-01 05:35:00        117        118        118
35873 2019-07-01 07:10:00        117        118        118
35874 2019-07-01 08:10:00          0          0          0
35875 2019-07-01 08:20:00        118        120        119
35876 2019-07-01 08:30:00        117        119        119
35877 2019-07-01 08:45:00        117        118        119

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[117 117 117] \--/ [118 117 117]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 117
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[118 118 118] \--/ [120 119 118]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 119
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[118 118 118] \--/ [119 119 119]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 118
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2019-07-01 08:10:00
Vac R (V)                    117
Vac S (V)                    119
Vac T (V)                    118
Name: 35874, dtype: object

--------------------------------------------------------------------------------
INVERTER NAME: INV3
 --------------------------------------------------------------------------------
Oh, no extreme outliers found. That's good.

INVERTER NAME: INV4
 --------------------------------------------------------------------------------
The extreme outliers (4) of Vac

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
34897 2019-06-25 06:50:00          0          0         46
36683 2019-07-06 09:20:00         96         25        126
36832 2019-07-07 08:10:00          0          0          0
37030 2019-07-08 11:30:00          0          0          0

Outlier (idk: 34897) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
34894 2019-06-25 06:20:00        119        117        117
34895 2019-06-25 06:25:00        119        117        117
34896 2019-06-25 06:30:00        119        117        117
34897 2019-06-25 06:50:00          0          0         46
34898 2019-06-25 07:50:00        117        115        115
34899 2019-06-25 07:55:00        118        116        116
34900 2019-06-25 08:30:00        118        117        117

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[119 119 119] \--/ [117 118 118]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 118
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[117 117 117] \--/ [115 116 117]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 116
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[117 117 117] \--/ [115 116 117]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 116
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2019-06-25 06:50:00
Vac R (V)                    118
Vac S (V)                    116
Vac T (V)                    116
Name: 34897, dtype: object

--------------------------------------------------------------------------------
Outlier (idk: 36683) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
36680 2019-07-06 09:05:00        118        117        117
36681 2019-07-06 09:10:00        118        116        116
36682 2019-07-06 09:15:00        119        117        118
36683 2019-07-06 09:20:00         96         25        126
36684 2019-07-06 09:30:00        119        117        117
36685 2019-07-06 09:35:00        119        118        118
36686 2019-07-06 09:45:00        119        117        117

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[118 118 119] \--/ [119 119 119]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 119
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[117 116 117] \--/ [117 118 117]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 117
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[117 116 118] \--/ [117 118 117]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 117
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2019-07-06 09:20:00
Vac R (V)                    119
Vac S (V)                    117
Vac T (V)                    117
Name: 36683, dtype: object

--------------------------------------------------------------------------------
Outlier (idk: 36832) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
36829 2019-07-07 07:05:00        119        118        118
36830 2019-07-07 07:10:00        119        118        118
36831 2019-07-07 07:15:00        120        118        118
36832 2019-07-07 08:10:00          0          0          0
36833 2019-07-07 08:30:00        118        117        117
36834 2019-07-07 09:30:00        118        116        117
36835 2019-07-07 09:35:00        119        118        118

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[119 119 120] \--/ [118 118 119]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 119
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[118 118 118] \--/ [117 116 118]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 117
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[118 118 118] \--/ [117 117 118]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 118
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2019-07-07 08:10:00
Vac R (V)                    119
Vac S (V)                    117
Vac T (V)                    118
Name: 36832, dtype: object

--------------------------------------------------------------------------------
Outlier (idk: 37030) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
37027 2019-07-08 11:10:00        119        117        117
37028 2019-07-08 11:20:00        120        117        117
37029 2019-07-08 11:25:00        119        117        117
37030 2019-07-08 11:30:00          0          0          0
37031 2019-07-08 11:40:00        119        118        117
37032 2019-07-08 11:45:00        119        117        117
37033 2019-07-08 11:50:00        120        118        117

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[119 120 119] \--/ [119 119 120]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 119
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[117 117 117] \--/ [118 117 118]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 117
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[117 117 117] \--/ [117 117 117]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 117
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2019-07-08 11:30:00
Vac R (V)                    119
Vac S (V)                    117
Vac T (V)                    117
Name: 37030, dtype: object

--------------------------------------------------------------------------------

# TASK: A) Analyse and correct the outliers
# VARIABLES: AC voltage values (Vac R/S/T)
# MOTIVATION: Some invalid values (i.e., zero values) have been detected visually (i.e., numerical distribution graphs)
columns = ["Date/Time", "Iac R (A)", "Iac S (A)", "Iac T (A)"]

# Carry out the analysis (and correction) on all the inverters
for inv_name in inv_names[3:4]:
    print("INVERTER NAME:", inv_name, "\n", "-"*80)
    
    # 1A) Detect extreme outliers 
    # Setting threshold: a very high threshold to detect (and correct) only extreme outliers (e.g. zero values)
    # Threshold has been set according to emperical tests (default outlier threshold is equal to 3)
    extreme_vac_outlier = find_outliers(inv_data[inv_name][columns], verbose=True, threshold = 4)
    
    if len(extreme_vac_outlier) == 0:
        print("Oh, no extreme outliers found. That's good.\n")
        continue
        
    print(f"The extreme outliers ({len(extreme_vac_outlier)}) of Vac")
    display(extreme_vac_outlier)

    # 1B) Replacing criterion --> Weighted KNN (k = 6)
    # Identfy the index of the outliers 
    idk_outliers = extreme_vac_outlier.index.tolist()
    list_outliers = idk_outliers.copy()
    
    # Compute and assign the estimated value (weighted average value from its neigbours)
    for idk_outlier in idk_outliers:
        
        # Visualize the outlier and its neighours
        print(f"Outlier (idk: {idk_outlier}) and its neighborhood")
        display(inv_data[inv_name][columns].loc[range(idk_outlier - 3, idk_outlier + 4), :])
        
        # Compute the estimated value and assign the the original dataframe
        inv_data[inv_name].loc[idk_outlier, "Iac R (A)"] = weighted_knn(idk_outlier, list_outliers, "Iac R (A)")
        inv_data[inv_name].loc[idk_outlier, "Iac S (A)"] = weighted_knn(idk_outlier, list_outliers, "Iac S (A)")
        inv_data[inv_name].loc[idk_outlier, "Iac T (A)"] = weighted_knn(idk_outlier, list_outliers, "Iac T (A)")

        # Visualize the outcome
        print("\nNew data (with the filled value(s))")
        display(inv_data[inv_name].loc[idk_outlier][columns])
        print("-" * 80)

In [13]:
# Irradiance values
columns = ["Date/Time", "Irradiance (W/mq)"]
irr = raw_irr_data[columns].dropna().copy()
irr.reset_index(inplace=True, drop=True)

extreme_outliers = find_outliers(irr, verbose=True, threshold = 5)

if len(extreme_outliers) == 0:
    print("Oh, no outliers found. That's good.\n")
else:
    print(f"The extreme outliers (N = {len(extreme_outliers)}) of the variable 'inverter Temp'")
    display(extreme_outliers)
    
    idk_outliers = extreme_outliers.index.tolist()
    list_outliers = idk_outliers.copy()

    for idk, idk_outlier in enumerate(idk_outliers):
        print(f"Outlier {idk +1}/{len(idk_outliers)}: ({irr.loc[idk_outlier, 'Irradiance (W/mq)']} W/mq)")

        # Visualize the outlier and its neighours
        print(f"\nOutlier (idk: {idk_outlier}) and its neighborhood")
        display(irr.iloc[range(idk_outlier - 3, idk_outlier + 4), :])

        # Compute the estimated value and assign the the original dataframe
        computed_value = weighted_knn(irr, idk_outlier, list_outliers, "Irradiance (W/mq)", verbose=True)
        irr.loc[idk_outlier, "Irradiance (W/mq)"] = computed_value
        print(f"COMPUTED VALUE: {computed_value}\n","-" * 80)

        # Visualize the outcome
        print("\nNew data (with the filled value(s))")
        display(irr.iloc[range(idk_outlier - 3, idk_outlier + 4)][columns])

    print("-" * 40, f"END correction","-" * 40)
irr["Irradiance (W/mq)"] = irr["Irradiance (W/mq)"].astype("Int64")
raw_irr_data = irr

The extreme outliers (N = 186) of the variable 'inverter Temp'

                Date/Time  Irradiance (W/mq)
52376 2019-06-11 15:40:00             5040.0
52377 2019-06-11 15:45:00             5039.0
52378 2019-06-11 15:50:00             5039.0
52379 2019-06-11 16:00:00             5038.0
52380 2019-06-11 16:05:00             5037.0
...                   ...                ...
52662 2019-06-12 19:15:00             4625.0
52663 2019-06-12 19:20:00             4310.0
52664 2019-06-12 19:30:00             3678.0
52665 2019-06-12 19:35:00             3528.0
52666 2019-06-12 19:40:00             3148.0

[186 rows x 2 columns]

Outlier 1/186: (5040.0 W/mq)

Outlier (idk: 52376) and its neighborhood

                Date/Time  Irradiance (W/mq)
52373 2019-06-11 15:25:00               37.0
52374 2019-06-11 15:30:00               36.0
52375 2019-06-11 15:35:00              303.0
52376 2019-06-11 15:40:00             5040.0
52377 2019-06-11 15:45:00             5039.0
52378 2019-06-11 15:50:00             5039.0
52379 2019-06-11 16:00:00             5038.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52377, 52378, 52379]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[ 37.  36. 303.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 182
--------------------------------------------------------------------------------
COMPUTED VALUE: 182
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52373 2019-06-11 15:25:00               37.0
52374 2019-06-11 15:30:00               36.0
52375 2019-06-11 15:35:00              303.0
52376 2019-06-11 15:40:00              182.0
52377 2019-06-11 15:45:00             5039.0
52378 2019-06-11 15:50:00             5039.0
52379 2019-06-11 16:00:00             5038.0

Outlier 2/186: (5039.0 W/mq)

Outlier (idk: 52377) and its neighborhood

                Date/Time  Irradiance (W/mq)
52374 2019-06-11 15:30:00               36.0
52375 2019-06-11 15:35:00              303.0
52376 2019-06-11 15:40:00              182.0
52377 2019-06-11 15:45:00             5039.0
52378 2019-06-11 15:50:00             5039.0
52379 2019-06-11 16:00:00             5038.0
52380 2019-06-11 16:05:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52378, 52379, 52380]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[ 36. 303. 182.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 189
--------------------------------------------------------------------------------
COMPUTED VALUE: 189
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52374 2019-06-11 15:30:00               36.0
52375 2019-06-11 15:35:00              303.0
52376 2019-06-11 15:40:00              182.0
52377 2019-06-11 15:45:00              189.0
52378 2019-06-11 15:50:00             5039.0
52379 2019-06-11 16:00:00             5038.0
52380 2019-06-11 16:05:00             5037.0

Outlier 3/186: (5039.0 W/mq)

Outlier (idk: 52378) and its neighborhood

                Date/Time  Irradiance (W/mq)
52375 2019-06-11 15:35:00              303.0
52376 2019-06-11 15:40:00              182.0
52377 2019-06-11 15:45:00              189.0
52378 2019-06-11 15:50:00             5039.0
52379 2019-06-11 16:00:00             5038.0
52380 2019-06-11 16:05:00             5037.0
52381 2019-06-11 16:10:00             5039.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52379, 52380, 52381]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[303. 182. 189.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 208
--------------------------------------------------------------------------------
COMPUTED VALUE: 208
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52375 2019-06-11 15:35:00              303.0
52376 2019-06-11 15:40:00              182.0
52377 2019-06-11 15:45:00              189.0
52378 2019-06-11 15:50:00              208.0
52379 2019-06-11 16:00:00             5038.0
52380 2019-06-11 16:05:00             5037.0
52381 2019-06-11 16:10:00             5039.0

Outlier 4/186: (5038.0 W/mq)

Outlier (idk: 52379) and its neighborhood

                Date/Time  Irradiance (W/mq)
52376 2019-06-11 15:40:00              182.0
52377 2019-06-11 15:45:00              189.0
52378 2019-06-11 15:50:00              208.0
52379 2019-06-11 16:00:00             5038.0
52380 2019-06-11 16:05:00             5037.0
52381 2019-06-11 16:10:00             5039.0
52382 2019-06-11 16:15:00             5038.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52380, 52381, 52382]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[182. 189. 208.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 198
--------------------------------------------------------------------------------
COMPUTED VALUE: 198
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52376 2019-06-11 15:40:00              182.0
52377 2019-06-11 15:45:00              189.0
52378 2019-06-11 15:50:00              208.0
52379 2019-06-11 16:00:00              198.0
52380 2019-06-11 16:05:00             5037.0
52381 2019-06-11 16:10:00             5039.0
52382 2019-06-11 16:15:00             5038.0

Outlier 5/186: (5037.0 W/mq)

Outlier (idk: 52380) and its neighborhood

                Date/Time  Irradiance (W/mq)
52377 2019-06-11 15:45:00              189.0
52378 2019-06-11 15:50:00              208.0
52379 2019-06-11 16:00:00              198.0
52380 2019-06-11 16:05:00             5037.0
52381 2019-06-11 16:10:00             5039.0
52382 2019-06-11 16:15:00             5038.0
52383 2019-06-11 16:20:00             5039.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52381, 52382, 52383]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[189. 208. 198.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52377 2019-06-11 15:45:00              189.0
52378 2019-06-11 15:50:00              208.0
52379 2019-06-11 16:00:00              198.0
52380 2019-06-11 16:05:00              199.0
52381 2019-06-11 16:10:00             5039.0
52382 2019-06-11 16:15:00             5038.0
52383 2019-06-11 16:20:00             5039.0

Outlier 6/186: (5039.0 W/mq)

Outlier (idk: 52381) and its neighborhood

                Date/Time  Irradiance (W/mq)
52378 2019-06-11 15:50:00              208.0
52379 2019-06-11 16:00:00              198.0
52380 2019-06-11 16:05:00              199.0
52381 2019-06-11 16:10:00             5039.0
52382 2019-06-11 16:15:00             5038.0
52383 2019-06-11 16:20:00             5039.0
52384 2019-06-11 16:25:00             5038.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52382, 52383, 52384]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[208. 198. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 200
--------------------------------------------------------------------------------
COMPUTED VALUE: 200
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52378 2019-06-11 15:50:00              208.0
52379 2019-06-11 16:00:00              198.0
52380 2019-06-11 16:05:00              199.0
52381 2019-06-11 16:10:00              200.0
52382 2019-06-11 16:15:00             5038.0
52383 2019-06-11 16:20:00             5039.0
52384 2019-06-11 16:25:00             5038.0

Outlier 7/186: (5038.0 W/mq)

Outlier (idk: 52382) and its neighborhood

                Date/Time  Irradiance (W/mq)
52379 2019-06-11 16:00:00              198.0
52380 2019-06-11 16:05:00              199.0
52381 2019-06-11 16:10:00              200.0
52382 2019-06-11 16:15:00             5038.0
52383 2019-06-11 16:20:00             5039.0
52384 2019-06-11 16:25:00             5038.0
52385 2019-06-11 16:30:00             5038.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52383, 52384, 52385]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[198. 199. 200.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52379 2019-06-11 16:00:00              198.0
52380 2019-06-11 16:05:00              199.0
52381 2019-06-11 16:10:00              200.0
52382 2019-06-11 16:15:00              199.0
52383 2019-06-11 16:20:00             5039.0
52384 2019-06-11 16:25:00             5038.0
52385 2019-06-11 16:30:00             5038.0

Outlier 8/186: (5039.0 W/mq)

Outlier (idk: 52383) and its neighborhood

                Date/Time  Irradiance (W/mq)
52380 2019-06-11 16:05:00              199.0
52381 2019-06-11 16:10:00              200.0
52382 2019-06-11 16:15:00              199.0
52383 2019-06-11 16:20:00             5039.0
52384 2019-06-11 16:25:00             5038.0
52385 2019-06-11 16:30:00             5038.0
52386 2019-06-11 16:35:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52384, 52385, 52386]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 200. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52380 2019-06-11 16:05:00              199.0
52381 2019-06-11 16:10:00              200.0
52382 2019-06-11 16:15:00              199.0
52383 2019-06-11 16:20:00              199.0
52384 2019-06-11 16:25:00             5038.0
52385 2019-06-11 16:30:00             5038.0
52386 2019-06-11 16:35:00             5037.0

Outlier 9/186: (5038.0 W/mq)

Outlier (idk: 52384) and its neighborhood

                Date/Time  Irradiance (W/mq)
52381 2019-06-11 16:10:00              200.0
52382 2019-06-11 16:15:00              199.0
52383 2019-06-11 16:20:00              199.0
52384 2019-06-11 16:25:00             5038.0
52385 2019-06-11 16:30:00             5038.0
52386 2019-06-11 16:35:00             5037.0
52387 2019-06-11 16:45:00             5038.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52385, 52386, 52387]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[200. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52381 2019-06-11 16:10:00              200.0
52382 2019-06-11 16:15:00              199.0
52383 2019-06-11 16:20:00              199.0
52384 2019-06-11 16:25:00              199.0
52385 2019-06-11 16:30:00             5038.0
52386 2019-06-11 16:35:00             5037.0
52387 2019-06-11 16:45:00             5038.0

Outlier 10/186: (5038.0 W/mq)

Outlier (idk: 52385) and its neighborhood

                Date/Time  Irradiance (W/mq)
52382 2019-06-11 16:15:00              199.0
52383 2019-06-11 16:20:00              199.0
52384 2019-06-11 16:25:00              199.0
52385 2019-06-11 16:30:00             5038.0
52386 2019-06-11 16:35:00             5037.0
52387 2019-06-11 16:45:00             5038.0
52388 2019-06-11 16:50:00             5038.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52386, 52387, 52388]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52382 2019-06-11 16:15:00              199.0
52383 2019-06-11 16:20:00              199.0
52384 2019-06-11 16:25:00              199.0
52385 2019-06-11 16:30:00              199.0
52386 2019-06-11 16:35:00             5037.0
52387 2019-06-11 16:45:00             5038.0
52388 2019-06-11 16:50:00             5038.0

Outlier 11/186: (5037.0 W/mq)

Outlier (idk: 52386) and its neighborhood

                Date/Time  Irradiance (W/mq)
52383 2019-06-11 16:20:00              199.0
52384 2019-06-11 16:25:00              199.0
52385 2019-06-11 16:30:00              199.0
52386 2019-06-11 16:35:00             5037.0
52387 2019-06-11 16:45:00             5038.0
52388 2019-06-11 16:50:00             5038.0
52389 2019-06-11 16:55:00             5038.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52387, 52388, 52389]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52383 2019-06-11 16:20:00              199.0
52384 2019-06-11 16:25:00              199.0
52385 2019-06-11 16:30:00              199.0
52386 2019-06-11 16:35:00              199.0
52387 2019-06-11 16:45:00             5038.0
52388 2019-06-11 16:50:00             5038.0
52389 2019-06-11 16:55:00             5038.0

Outlier 12/186: (5038.0 W/mq)

Outlier (idk: 52387) and its neighborhood

                Date/Time  Irradiance (W/mq)
52384 2019-06-11 16:25:00              199.0
52385 2019-06-11 16:30:00              199.0
52386 2019-06-11 16:35:00              199.0
52387 2019-06-11 16:45:00             5038.0
52388 2019-06-11 16:50:00             5038.0
52389 2019-06-11 16:55:00             5038.0
52390 2019-06-11 17:00:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52388, 52389, 52390]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52384 2019-06-11 16:25:00              199.0
52385 2019-06-11 16:30:00              199.0
52386 2019-06-11 16:35:00              199.0
52387 2019-06-11 16:45:00              199.0
52388 2019-06-11 16:50:00             5038.0
52389 2019-06-11 16:55:00             5038.0
52390 2019-06-11 17:00:00             5037.0

Outlier 13/186: (5038.0 W/mq)

Outlier (idk: 52388) and its neighborhood

                Date/Time  Irradiance (W/mq)
52385 2019-06-11 16:30:00              199.0
52386 2019-06-11 16:35:00              199.0
52387 2019-06-11 16:45:00              199.0
52388 2019-06-11 16:50:00             5038.0
52389 2019-06-11 16:55:00             5038.0
52390 2019-06-11 17:00:00             5037.0
52391 2019-06-11 17:05:00             5038.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52389, 52390, 52391]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52385 2019-06-11 16:30:00              199.0
52386 2019-06-11 16:35:00              199.0
52387 2019-06-11 16:45:00              199.0
52388 2019-06-11 16:50:00              199.0
52389 2019-06-11 16:55:00             5038.0
52390 2019-06-11 17:00:00             5037.0
52391 2019-06-11 17:05:00             5038.0

Outlier 14/186: (5038.0 W/mq)

Outlier (idk: 52389) and its neighborhood

                Date/Time  Irradiance (W/mq)
52386 2019-06-11 16:35:00              199.0
52387 2019-06-11 16:45:00              199.0
52388 2019-06-11 16:50:00              199.0
52389 2019-06-11 16:55:00             5038.0
52390 2019-06-11 17:00:00             5037.0
52391 2019-06-11 17:05:00             5038.0
52392 2019-06-11 17:10:00             5038.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52390, 52391, 52392]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52386 2019-06-11 16:35:00              199.0
52387 2019-06-11 16:45:00              199.0
52388 2019-06-11 16:50:00              199.0
52389 2019-06-11 16:55:00              199.0
52390 2019-06-11 17:00:00             5037.0
52391 2019-06-11 17:05:00             5038.0
52392 2019-06-11 17:10:00             5038.0

Outlier 15/186: (5037.0 W/mq)

Outlier (idk: 52390) and its neighborhood

                Date/Time  Irradiance (W/mq)
52387 2019-06-11 16:45:00              199.0
52388 2019-06-11 16:50:00              199.0
52389 2019-06-11 16:55:00              199.0
52390 2019-06-11 17:00:00             5037.0
52391 2019-06-11 17:05:00             5038.0
52392 2019-06-11 17:10:00             5038.0
52393 2019-06-11 17:15:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52391, 52392, 52393]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52387 2019-06-11 16:45:00              199.0
52388 2019-06-11 16:50:00              199.0
52389 2019-06-11 16:55:00              199.0
52390 2019-06-11 17:00:00              199.0
52391 2019-06-11 17:05:00             5038.0
52392 2019-06-11 17:10:00             5038.0
52393 2019-06-11 17:15:00             5037.0

Outlier 16/186: (5038.0 W/mq)

Outlier (idk: 52391) and its neighborhood

                Date/Time  Irradiance (W/mq)
52388 2019-06-11 16:50:00              199.0
52389 2019-06-11 16:55:00              199.0
52390 2019-06-11 17:00:00              199.0
52391 2019-06-11 17:05:00             5038.0
52392 2019-06-11 17:10:00             5038.0
52393 2019-06-11 17:15:00             5037.0
52394 2019-06-11 17:25:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52392, 52393, 52394]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52388 2019-06-11 16:50:00              199.0
52389 2019-06-11 16:55:00              199.0
52390 2019-06-11 17:00:00              199.0
52391 2019-06-11 17:05:00              199.0
52392 2019-06-11 17:10:00             5038.0
52393 2019-06-11 17:15:00             5037.0
52394 2019-06-11 17:25:00             5037.0

Outlier 17/186: (5038.0 W/mq)

Outlier (idk: 52392) and its neighborhood

                Date/Time  Irradiance (W/mq)
52389 2019-06-11 16:55:00              199.0
52390 2019-06-11 17:00:00              199.0
52391 2019-06-11 17:05:00              199.0
52392 2019-06-11 17:10:00             5038.0
52393 2019-06-11 17:15:00             5037.0
52394 2019-06-11 17:25:00             5037.0
52395 2019-06-11 17:30:00             5039.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52393, 52394, 52395]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52389 2019-06-11 16:55:00              199.0
52390 2019-06-11 17:00:00              199.0
52391 2019-06-11 17:05:00              199.0
52392 2019-06-11 17:10:00              199.0
52393 2019-06-11 17:15:00             5037.0
52394 2019-06-11 17:25:00             5037.0
52395 2019-06-11 17:30:00             5039.0

Outlier 18/186: (5037.0 W/mq)

Outlier (idk: 52393) and its neighborhood

                Date/Time  Irradiance (W/mq)
52390 2019-06-11 17:00:00              199.0
52391 2019-06-11 17:05:00              199.0
52392 2019-06-11 17:10:00              199.0
52393 2019-06-11 17:15:00             5037.0
52394 2019-06-11 17:25:00             5037.0
52395 2019-06-11 17:30:00             5039.0
52396 2019-06-11 17:40:00             5038.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52394, 52395, 52396]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52390 2019-06-11 17:00:00              199.0
52391 2019-06-11 17:05:00              199.0
52392 2019-06-11 17:10:00              199.0
52393 2019-06-11 17:15:00              199.0
52394 2019-06-11 17:25:00             5037.0
52395 2019-06-11 17:30:00             5039.0
52396 2019-06-11 17:40:00             5038.0

Outlier 19/186: (5037.0 W/mq)

Outlier (idk: 52394) and its neighborhood

                Date/Time  Irradiance (W/mq)
52391 2019-06-11 17:05:00              199.0
52392 2019-06-11 17:10:00              199.0
52393 2019-06-11 17:15:00              199.0
52394 2019-06-11 17:25:00             5037.0
52395 2019-06-11 17:30:00             5039.0
52396 2019-06-11 17:40:00             5038.0
52397 2019-06-11 17:50:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52395, 52396, 52397]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52391 2019-06-11 17:05:00              199.0
52392 2019-06-11 17:10:00              199.0
52393 2019-06-11 17:15:00              199.0
52394 2019-06-11 17:25:00              199.0
52395 2019-06-11 17:30:00             5039.0
52396 2019-06-11 17:40:00             5038.0
52397 2019-06-11 17:50:00             5037.0

Outlier 20/186: (5039.0 W/mq)

Outlier (idk: 52395) and its neighborhood

                Date/Time  Irradiance (W/mq)
52392 2019-06-11 17:10:00              199.0
52393 2019-06-11 17:15:00              199.0
52394 2019-06-11 17:25:00              199.0
52395 2019-06-11 17:30:00             5039.0
52396 2019-06-11 17:40:00             5038.0
52397 2019-06-11 17:50:00             5037.0
52398 2019-06-11 17:50:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52396, 52397, 52398]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52392 2019-06-11 17:10:00              199.0
52393 2019-06-11 17:15:00              199.0
52394 2019-06-11 17:25:00              199.0
52395 2019-06-11 17:30:00              199.0
52396 2019-06-11 17:40:00             5038.0
52397 2019-06-11 17:50:00             5037.0
52398 2019-06-11 17:50:00             5037.0

Outlier 21/186: (5038.0 W/mq)

Outlier (idk: 52396) and its neighborhood

                Date/Time  Irradiance (W/mq)
52393 2019-06-11 17:15:00              199.0
52394 2019-06-11 17:25:00              199.0
52395 2019-06-11 17:30:00              199.0
52396 2019-06-11 17:40:00             5038.0
52397 2019-06-11 17:50:00             5037.0
52398 2019-06-11 17:50:00             5037.0
52399 2019-06-11 17:55:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52397, 52398, 52399]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52393 2019-06-11 17:15:00              199.0
52394 2019-06-11 17:25:00              199.0
52395 2019-06-11 17:30:00              199.0
52396 2019-06-11 17:40:00              199.0
52397 2019-06-11 17:50:00             5037.0
52398 2019-06-11 17:50:00             5037.0
52399 2019-06-11 17:55:00             5037.0

Outlier 22/186: (5037.0 W/mq)

Outlier (idk: 52397) and its neighborhood

                Date/Time  Irradiance (W/mq)
52394 2019-06-11 17:25:00              199.0
52395 2019-06-11 17:30:00              199.0
52396 2019-06-11 17:40:00              199.0
52397 2019-06-11 17:50:00             5037.0
52398 2019-06-11 17:50:00             5037.0
52399 2019-06-11 17:55:00             5037.0
52400 2019-06-11 18:00:00             5039.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52398, 52399, 52400]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52394 2019-06-11 17:25:00              199.0
52395 2019-06-11 17:30:00              199.0
52396 2019-06-11 17:40:00              199.0
52397 2019-06-11 17:50:00              199.0
52398 2019-06-11 17:50:00             5037.0
52399 2019-06-11 17:55:00             5037.0
52400 2019-06-11 18:00:00             5039.0

Outlier 23/186: (5037.0 W/mq)

Outlier (idk: 52398) and its neighborhood

                Date/Time  Irradiance (W/mq)
52395 2019-06-11 17:30:00              199.0
52396 2019-06-11 17:40:00              199.0
52397 2019-06-11 17:50:00              199.0
52398 2019-06-11 17:50:00             5037.0
52399 2019-06-11 17:55:00             5037.0
52400 2019-06-11 18:00:00             5039.0
52401 2019-06-11 18:05:00             5038.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52399, 52400, 52401]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52395 2019-06-11 17:30:00              199.0
52396 2019-06-11 17:40:00              199.0
52397 2019-06-11 17:50:00              199.0
52398 2019-06-11 17:50:00              199.0
52399 2019-06-11 17:55:00             5037.0
52400 2019-06-11 18:00:00             5039.0
52401 2019-06-11 18:05:00             5038.0

Outlier 24/186: (5037.0 W/mq)

Outlier (idk: 52399) and its neighborhood

                Date/Time  Irradiance (W/mq)
52396 2019-06-11 17:40:00              199.0
52397 2019-06-11 17:50:00              199.0
52398 2019-06-11 17:50:00              199.0
52399 2019-06-11 17:55:00             5037.0
52400 2019-06-11 18:00:00             5039.0
52401 2019-06-11 18:05:00             5038.0
52402 2019-06-11 18:10:00             5038.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52400, 52401, 52402]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52396 2019-06-11 17:40:00              199.0
52397 2019-06-11 17:50:00              199.0
52398 2019-06-11 17:50:00              199.0
52399 2019-06-11 17:55:00              199.0
52400 2019-06-11 18:00:00             5039.0
52401 2019-06-11 18:05:00             5038.0
52402 2019-06-11 18:10:00             5038.0

Outlier 25/186: (5039.0 W/mq)

Outlier (idk: 52400) and its neighborhood

                Date/Time  Irradiance (W/mq)
52397 2019-06-11 17:50:00              199.0
52398 2019-06-11 17:50:00              199.0
52399 2019-06-11 17:55:00              199.0
52400 2019-06-11 18:00:00             5039.0
52401 2019-06-11 18:05:00             5038.0
52402 2019-06-11 18:10:00             5038.0
52403 2019-06-11 18:15:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52401, 52402, 52403]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52397 2019-06-11 17:50:00              199.0
52398 2019-06-11 17:50:00              199.0
52399 2019-06-11 17:55:00              199.0
52400 2019-06-11 18:00:00              199.0
52401 2019-06-11 18:05:00             5038.0
52402 2019-06-11 18:10:00             5038.0
52403 2019-06-11 18:15:00             5037.0

Outlier 26/186: (5038.0 W/mq)

Outlier (idk: 52401) and its neighborhood

                Date/Time  Irradiance (W/mq)
52398 2019-06-11 17:50:00              199.0
52399 2019-06-11 17:55:00              199.0
52400 2019-06-11 18:00:00              199.0
52401 2019-06-11 18:05:00             5038.0
52402 2019-06-11 18:10:00             5038.0
52403 2019-06-11 18:15:00             5037.0
52404 2019-06-11 18:20:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52402, 52403, 52404]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52398 2019-06-11 17:50:00              199.0
52399 2019-06-11 17:55:00              199.0
52400 2019-06-11 18:00:00              199.0
52401 2019-06-11 18:05:00              199.0
52402 2019-06-11 18:10:00             5038.0
52403 2019-06-11 18:15:00             5037.0
52404 2019-06-11 18:20:00             5036.0

Outlier 27/186: (5038.0 W/mq)

Outlier (idk: 52402) and its neighborhood

                Date/Time  Irradiance (W/mq)
52399 2019-06-11 17:55:00              199.0
52400 2019-06-11 18:00:00              199.0
52401 2019-06-11 18:05:00              199.0
52402 2019-06-11 18:10:00             5038.0
52403 2019-06-11 18:15:00             5037.0
52404 2019-06-11 18:20:00             5036.0
52405 2019-06-11 18:30:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52403, 52404, 52405]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52399 2019-06-11 17:55:00              199.0
52400 2019-06-11 18:00:00              199.0
52401 2019-06-11 18:05:00              199.0
52402 2019-06-11 18:10:00              199.0
52403 2019-06-11 18:15:00             5037.0
52404 2019-06-11 18:20:00             5036.0
52405 2019-06-11 18:30:00             5037.0

Outlier 28/186: (5037.0 W/mq)

Outlier (idk: 52403) and its neighborhood

                Date/Time  Irradiance (W/mq)
52400 2019-06-11 18:00:00              199.0
52401 2019-06-11 18:05:00              199.0
52402 2019-06-11 18:10:00              199.0
52403 2019-06-11 18:15:00             5037.0
52404 2019-06-11 18:20:00             5036.0
52405 2019-06-11 18:30:00             5037.0
52406 2019-06-11 18:35:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52404, 52405, 52406]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52400 2019-06-11 18:00:00              199.0
52401 2019-06-11 18:05:00              199.0
52402 2019-06-11 18:10:00              199.0
52403 2019-06-11 18:15:00              199.0
52404 2019-06-11 18:20:00             5036.0
52405 2019-06-11 18:30:00             5037.0
52406 2019-06-11 18:35:00             5036.0

Outlier 29/186: (5036.0 W/mq)

Outlier (idk: 52404) and its neighborhood

                Date/Time  Irradiance (W/mq)
52401 2019-06-11 18:05:00              199.0
52402 2019-06-11 18:10:00              199.0
52403 2019-06-11 18:15:00              199.0
52404 2019-06-11 18:20:00             5036.0
52405 2019-06-11 18:30:00             5037.0
52406 2019-06-11 18:35:00             5036.0
52407 2019-06-11 18:40:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52405, 52406, 52407]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52401 2019-06-11 18:05:00              199.0
52402 2019-06-11 18:10:00              199.0
52403 2019-06-11 18:15:00              199.0
52404 2019-06-11 18:20:00              199.0
52405 2019-06-11 18:30:00             5037.0
52406 2019-06-11 18:35:00             5036.0
52407 2019-06-11 18:40:00             5036.0

Outlier 30/186: (5037.0 W/mq)

Outlier (idk: 52405) and its neighborhood

                Date/Time  Irradiance (W/mq)
52402 2019-06-11 18:10:00              199.0
52403 2019-06-11 18:15:00              199.0
52404 2019-06-11 18:20:00              199.0
52405 2019-06-11 18:30:00             5037.0
52406 2019-06-11 18:35:00             5036.0
52407 2019-06-11 18:40:00             5036.0
52408 2019-06-11 18:45:00             4970.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52406, 52407, 52408]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52402 2019-06-11 18:10:00              199.0
52403 2019-06-11 18:15:00              199.0
52404 2019-06-11 18:20:00              199.0
52405 2019-06-11 18:30:00              199.0
52406 2019-06-11 18:35:00             5036.0
52407 2019-06-11 18:40:00             5036.0
52408 2019-06-11 18:45:00             4970.0

Outlier 31/186: (5036.0 W/mq)

Outlier (idk: 52406) and its neighborhood

                Date/Time  Irradiance (W/mq)
52403 2019-06-11 18:15:00              199.0
52404 2019-06-11 18:20:00              199.0
52405 2019-06-11 18:30:00              199.0
52406 2019-06-11 18:35:00             5036.0
52407 2019-06-11 18:40:00             5036.0
52408 2019-06-11 18:45:00             4970.0
52409 2019-06-11 18:50:00             4901.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52407, 52408, 52409]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52403 2019-06-11 18:15:00              199.0
52404 2019-06-11 18:20:00              199.0
52405 2019-06-11 18:30:00              199.0
52406 2019-06-11 18:35:00              199.0
52407 2019-06-11 18:40:00             5036.0
52408 2019-06-11 18:45:00             4970.0
52409 2019-06-11 18:50:00             4901.0

Outlier 32/186: (5036.0 W/mq)

Outlier (idk: 52407) and its neighborhood

                Date/Time  Irradiance (W/mq)
52404 2019-06-11 18:20:00              199.0
52405 2019-06-11 18:30:00              199.0
52406 2019-06-11 18:35:00              199.0
52407 2019-06-11 18:40:00             5036.0
52408 2019-06-11 18:45:00             4970.0
52409 2019-06-11 18:50:00             4901.0
52410 2019-06-11 18:55:00             4841.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52408, 52409, 52410]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52404 2019-06-11 18:20:00              199.0
52405 2019-06-11 18:30:00              199.0
52406 2019-06-11 18:35:00              199.0
52407 2019-06-11 18:40:00              199.0
52408 2019-06-11 18:45:00             4970.0
52409 2019-06-11 18:50:00             4901.0
52410 2019-06-11 18:55:00             4841.0

Outlier 33/186: (4970.0 W/mq)

Outlier (idk: 52408) and its neighborhood

                Date/Time  Irradiance (W/mq)
52405 2019-06-11 18:30:00              199.0
52406 2019-06-11 18:35:00              199.0
52407 2019-06-11 18:40:00              199.0
52408 2019-06-11 18:45:00             4970.0
52409 2019-06-11 18:50:00             4901.0
52410 2019-06-11 18:55:00             4841.0
52411 2019-06-11 19:00:00             4779.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52409, 52410, 52411]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52405 2019-06-11 18:30:00              199.0
52406 2019-06-11 18:35:00              199.0
52407 2019-06-11 18:40:00              199.0
52408 2019-06-11 18:45:00              199.0
52409 2019-06-11 18:50:00             4901.0
52410 2019-06-11 18:55:00             4841.0
52411 2019-06-11 19:00:00             4779.0

Outlier 34/186: (4901.0 W/mq)

Outlier (idk: 52409) and its neighborhood

                Date/Time  Irradiance (W/mq)
52406 2019-06-11 18:35:00              199.0
52407 2019-06-11 18:40:00              199.0
52408 2019-06-11 18:45:00              199.0
52409 2019-06-11 18:50:00             4901.0
52410 2019-06-11 18:55:00             4841.0
52411 2019-06-11 19:00:00             4779.0
52412 2019-06-11 19:05:00             4714.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52410, 52411, 52412]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52406 2019-06-11 18:35:00              199.0
52407 2019-06-11 18:40:00              199.0
52408 2019-06-11 18:45:00              199.0
52409 2019-06-11 18:50:00              199.0
52410 2019-06-11 18:55:00             4841.0
52411 2019-06-11 19:00:00             4779.0
52412 2019-06-11 19:05:00             4714.0

Outlier 35/186: (4841.0 W/mq)

Outlier (idk: 52410) and its neighborhood

                Date/Time  Irradiance (W/mq)
52407 2019-06-11 18:40:00              199.0
52408 2019-06-11 18:45:00              199.0
52409 2019-06-11 18:50:00              199.0
52410 2019-06-11 18:55:00             4841.0
52411 2019-06-11 19:00:00             4779.0
52412 2019-06-11 19:05:00             4714.0
52413 2019-06-11 19:15:00             4636.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52411, 52412, 52413]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52407 2019-06-11 18:40:00              199.0
52408 2019-06-11 18:45:00              199.0
52409 2019-06-11 18:50:00              199.0
52410 2019-06-11 18:55:00              199.0
52411 2019-06-11 19:00:00             4779.0
52412 2019-06-11 19:05:00             4714.0
52413 2019-06-11 19:15:00             4636.0

Outlier 36/186: (4779.0 W/mq)

Outlier (idk: 52411) and its neighborhood

                Date/Time  Irradiance (W/mq)
52408 2019-06-11 18:45:00              199.0
52409 2019-06-11 18:50:00              199.0
52410 2019-06-11 18:55:00              199.0
52411 2019-06-11 19:00:00             4779.0
52412 2019-06-11 19:05:00             4714.0
52413 2019-06-11 19:15:00             4636.0
52414 2019-06-11 19:20:00             4499.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52412, 52413, 52414]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52408 2019-06-11 18:45:00              199.0
52409 2019-06-11 18:50:00              199.0
52410 2019-06-11 18:55:00              199.0
52411 2019-06-11 19:00:00              199.0
52412 2019-06-11 19:05:00             4714.0
52413 2019-06-11 19:15:00             4636.0
52414 2019-06-11 19:20:00             4499.0

Outlier 37/186: (4714.0 W/mq)

Outlier (idk: 52412) and its neighborhood

                Date/Time  Irradiance (W/mq)
52409 2019-06-11 18:50:00              199.0
52410 2019-06-11 18:55:00              199.0
52411 2019-06-11 19:00:00              199.0
52412 2019-06-11 19:05:00             4714.0
52413 2019-06-11 19:15:00             4636.0
52414 2019-06-11 19:20:00             4499.0
52415 2019-06-11 19:25:00             4065.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52413, 52414, 52415]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52409 2019-06-11 18:50:00              199.0
52410 2019-06-11 18:55:00              199.0
52411 2019-06-11 19:00:00              199.0
52412 2019-06-11 19:05:00              199.0
52413 2019-06-11 19:15:00             4636.0
52414 2019-06-11 19:20:00             4499.0
52415 2019-06-11 19:25:00             4065.0

Outlier 38/186: (4636.0 W/mq)

Outlier (idk: 52413) and its neighborhood

                Date/Time  Irradiance (W/mq)
52410 2019-06-11 18:55:00              199.0
52411 2019-06-11 19:00:00              199.0
52412 2019-06-11 19:05:00              199.0
52413 2019-06-11 19:15:00             4636.0
52414 2019-06-11 19:20:00             4499.0
52415 2019-06-11 19:25:00             4065.0
52416 2019-06-11 19:30:00             3527.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52414, 52415, 52416]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52410 2019-06-11 18:55:00              199.0
52411 2019-06-11 19:00:00              199.0
52412 2019-06-11 19:05:00              199.0
52413 2019-06-11 19:15:00              199.0
52414 2019-06-11 19:20:00             4499.0
52415 2019-06-11 19:25:00             4065.0
52416 2019-06-11 19:30:00             3527.0

Outlier 39/186: (4499.0 W/mq)

Outlier (idk: 52414) and its neighborhood

                Date/Time  Irradiance (W/mq)
52411 2019-06-11 19:00:00              199.0
52412 2019-06-11 19:05:00              199.0
52413 2019-06-11 19:15:00              199.0
52414 2019-06-11 19:20:00             4499.0
52415 2019-06-11 19:25:00             4065.0
52416 2019-06-11 19:30:00             3527.0
52417 2019-06-11 19:35:00             2946.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52415, 52416, 52417]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52411 2019-06-11 19:00:00              199.0
52412 2019-06-11 19:05:00              199.0
52413 2019-06-11 19:15:00              199.0
52414 2019-06-11 19:20:00              199.0
52415 2019-06-11 19:25:00             4065.0
52416 2019-06-11 19:30:00             3527.0
52417 2019-06-11 19:35:00             2946.0

Outlier 40/186: (4065.0 W/mq)

Outlier (idk: 52415) and its neighborhood

                Date/Time  Irradiance (W/mq)
52412 2019-06-11 19:05:00              199.0
52413 2019-06-11 19:15:00              199.0
52414 2019-06-11 19:20:00              199.0
52415 2019-06-11 19:25:00             4065.0
52416 2019-06-11 19:30:00             3527.0
52417 2019-06-11 19:35:00             2946.0
52418 2019-06-11 19:40:00             2342.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52416, 52417, 52418]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[199. 199. 199.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 199
--------------------------------------------------------------------------------
COMPUTED VALUE: 199
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52412 2019-06-11 19:05:00              199.0
52413 2019-06-11 19:15:00              199.0
52414 2019-06-11 19:20:00              199.0
52415 2019-06-11 19:25:00              199.0
52416 2019-06-11 19:30:00             3527.0
52417 2019-06-11 19:35:00             2946.0
52418 2019-06-11 19:40:00             2342.0

Outlier 41/186: (3527.0 W/mq)

Outlier (idk: 52416) and its neighborhood

                Date/Time  Irradiance (W/mq)
52413 2019-06-11 19:15:00              199.0
52414 2019-06-11 19:20:00              199.0
52415 2019-06-11 19:25:00              199.0
52416 2019-06-11 19:30:00             3527.0
52417 2019-06-11 19:35:00             2946.0
52418 2019-06-11 19:40:00             2342.0
52419 2019-06-11 19:45:00             1776.0

OPS: Problematic IDK neighbours discovered 2 (28.57 %) --> [52417, 52418]

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (2) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (4 out of 6):[199. 199. 199.] \--/ [1776.]
WEIGHTS: [0.33, 0.5, 1, 0.33]
COMPUTED VALUE: 440
--------------------------------------------------------------------------------
COMPUTED VALUE: 440
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52413 2019-06-11 19:15:00              199.0
52414 2019-06-11 19:20:00              199.0
52415 2019-06-11 19:25:00              199.0
52416 2019-06-11 19:30:00              440.0
52417 2019-06-11 19:35:00             2946.0
52418 2019-06-11 19:40:00             2342.0
52419 2019-06-11 19:45:00             1776.0

Outlier 42/186: (2946.0 W/mq)

Outlier (idk: 52417) and its neighborhood

                Date/Time  Irradiance (W/mq)
52414 2019-06-11 19:20:00              199.0
52415 2019-06-11 19:25:00              199.0
52416 2019-06-11 19:30:00              440.0
52417 2019-06-11 19:35:00             2946.0
52418 2019-06-11 19:40:00             2342.0
52419 2019-06-11 19:45:00             1776.0
52420 2019-06-11 19:55:00             1292.0

OPS: Problematic IDK neighbours discovered 1 (14.29 %) --> [52418]

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (1) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (5 out of 6):[199. 199. 440.] \--/ [1776. 1292.]
WEIGHTS: [0.33, 0.5, 1, 0.5, 0.33]
COMPUTED VALUE: 722
--------------------------------------------------------------------------------
COMPUTED VALUE: 722
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52414 2019-06-11 19:20:00              199.0
52415 2019-06-11 19:25:00              199.0
52416 2019-06-11 19:30:00              440.0
52417 2019-06-11 19:35:00              722.0
52418 2019-06-11 19:40:00             2342.0
52419 2019-06-11 19:45:00             1776.0
52420 2019-06-11 19:55:00             1292.0

Outlier 43/186: (2342.0 W/mq)

Outlier (idk: 52418) and its neighborhood

                Date/Time  Irradiance (W/mq)
52415 2019-06-11 19:25:00              199.0
52416 2019-06-11 19:30:00              440.0
52417 2019-06-11 19:35:00              722.0
52418 2019-06-11 19:40:00             2342.0
52419 2019-06-11 19:45:00             1776.0
52420 2019-06-11 19:55:00             1292.0
52421 2019-06-11 20:00:00              907.0

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (6 out of 6):[199. 440. 722.] \--/ [1776. 1292.  907.]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 1019
--------------------------------------------------------------------------------
COMPUTED VALUE: 1019
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52415 2019-06-11 19:25:00              199.0
52416 2019-06-11 19:30:00              440.0
52417 2019-06-11 19:35:00              722.0
52418 2019-06-11 19:40:00             1019.0
52419 2019-06-11 19:45:00             1776.0
52420 2019-06-11 19:55:00             1292.0
52421 2019-06-11 20:00:00              907.0

Outlier 44/186: (2014.0 W/mq)

Outlier (idk: 52524) and its neighborhood

                Date/Time  Irradiance (W/mq)
52521 2019-06-12 05:20:00              672.0
52522 2019-06-12 05:30:00             1074.0
52523 2019-06-12 05:35:00             1575.0
52524 2019-06-12 05:40:00             2014.0
52525 2019-06-12 05:45:00             2363.0
52526 2019-06-12 05:50:00             2696.0
52527 2019-06-12 05:55:00             2834.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52525, 52526, 52527]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[ 672. 1074. 1575.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1275
--------------------------------------------------------------------------------
COMPUTED VALUE: 1275
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52521 2019-06-12 05:20:00              672.0
52522 2019-06-12 05:30:00             1074.0
52523 2019-06-12 05:35:00             1575.0
52524 2019-06-12 05:40:00             1275.0
52525 2019-06-12 05:45:00             2363.0
52526 2019-06-12 05:50:00             2696.0
52527 2019-06-12 05:55:00             2834.0

Outlier 45/186: (2363.0 W/mq)

Outlier (idk: 52525) and its neighborhood

                Date/Time  Irradiance (W/mq)
52522 2019-06-12 05:30:00             1074.0
52523 2019-06-12 05:35:00             1575.0
52524 2019-06-12 05:40:00             1275.0
52525 2019-06-12 05:45:00             2363.0
52526 2019-06-12 05:50:00             2696.0
52527 2019-06-12 05:55:00             2834.0
52528 2019-06-12 06:00:00             2930.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52526, 52527, 52528]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1074. 1575. 1275.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1321
--------------------------------------------------------------------------------
COMPUTED VALUE: 1321
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52522 2019-06-12 05:30:00             1074.0
52523 2019-06-12 05:35:00             1575.0
52524 2019-06-12 05:40:00             1275.0
52525 2019-06-12 05:45:00             1321.0
52526 2019-06-12 05:50:00             2696.0
52527 2019-06-12 05:55:00             2834.0
52528 2019-06-12 06:00:00             2930.0

Outlier 46/186: (2696.0 W/mq)

Outlier (idk: 52526) and its neighborhood

                Date/Time  Irradiance (W/mq)
52523 2019-06-12 05:35:00             1575.0
52524 2019-06-12 05:40:00             1275.0
52525 2019-06-12 05:45:00             1321.0
52526 2019-06-12 05:50:00             2696.0
52527 2019-06-12 05:55:00             2834.0
52528 2019-06-12 06:00:00             2930.0
52529 2019-06-12 06:05:00             2987.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52527, 52528, 52529]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1575. 1275. 1321.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1354
--------------------------------------------------------------------------------
COMPUTED VALUE: 1354
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52523 2019-06-12 05:35:00             1575.0
52524 2019-06-12 05:40:00             1275.0
52525 2019-06-12 05:45:00             1321.0
52526 2019-06-12 05:50:00             1354.0
52527 2019-06-12 05:55:00             2834.0
52528 2019-06-12 06:00:00             2930.0
52529 2019-06-12 06:05:00             2987.0

Outlier 47/186: (2834.0 W/mq)

Outlier (idk: 52527) and its neighborhood

                Date/Time  Irradiance (W/mq)
52524 2019-06-12 05:40:00             1275.0
52525 2019-06-12 05:45:00             1321.0
52526 2019-06-12 05:50:00             1354.0
52527 2019-06-12 05:55:00             2834.0
52528 2019-06-12 06:00:00             2930.0
52529 2019-06-12 06:05:00             2987.0
52530 2019-06-12 06:15:00             3201.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52528, 52529, 52530]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1275. 1321. 1354.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1331
--------------------------------------------------------------------------------
COMPUTED VALUE: 1331
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52524 2019-06-12 05:40:00             1275.0
52525 2019-06-12 05:45:00             1321.0
52526 2019-06-12 05:50:00             1354.0
52527 2019-06-12 05:55:00             1331.0
52528 2019-06-12 06:00:00             2930.0
52529 2019-06-12 06:05:00             2987.0
52530 2019-06-12 06:15:00             3201.0

Outlier 48/186: (2930.0 W/mq)

Outlier (idk: 52528) and its neighborhood

                Date/Time  Irradiance (W/mq)
52525 2019-06-12 05:45:00             1321.0
52526 2019-06-12 05:50:00             1354.0
52527 2019-06-12 05:55:00             1331.0
52528 2019-06-12 06:00:00             2930.0
52529 2019-06-12 06:05:00             2987.0
52530 2019-06-12 06:15:00             3201.0
52531 2019-06-12 06:20:00             3497.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52529, 52530, 52531]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1321. 1354. 1331.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1335
--------------------------------------------------------------------------------
COMPUTED VALUE: 1335
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52525 2019-06-12 05:45:00             1321.0
52526 2019-06-12 05:50:00             1354.0
52527 2019-06-12 05:55:00             1331.0
52528 2019-06-12 06:00:00             1335.0
52529 2019-06-12 06:05:00             2987.0
52530 2019-06-12 06:15:00             3201.0
52531 2019-06-12 06:20:00             3497.0

Outlier 49/186: (2987.0 W/mq)

Outlier (idk: 52529) and its neighborhood

                Date/Time  Irradiance (W/mq)
52526 2019-06-12 05:50:00             1354.0
52527 2019-06-12 05:55:00             1331.0
52528 2019-06-12 06:00:00             1335.0
52529 2019-06-12 06:05:00             2987.0
52530 2019-06-12 06:15:00             3201.0
52531 2019-06-12 06:20:00             3497.0
52532 2019-06-12 06:25:00             3941.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52530, 52531, 52532]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1354. 1331. 1335.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1337
--------------------------------------------------------------------------------
COMPUTED VALUE: 1337
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52526 2019-06-12 05:50:00             1354.0
52527 2019-06-12 05:55:00             1331.0
52528 2019-06-12 06:00:00             1335.0
52529 2019-06-12 06:05:00             1337.0
52530 2019-06-12 06:15:00             3201.0
52531 2019-06-12 06:20:00             3497.0
52532 2019-06-12 06:25:00             3941.0

Outlier 50/186: (3201.0 W/mq)

Outlier (idk: 52530) and its neighborhood

                Date/Time  Irradiance (W/mq)
52527 2019-06-12 05:55:00             1331.0
52528 2019-06-12 06:00:00             1335.0
52529 2019-06-12 06:05:00             1337.0
52530 2019-06-12 06:15:00             3201.0
52531 2019-06-12 06:20:00             3497.0
52532 2019-06-12 06:25:00             3941.0
52533 2019-06-12 06:30:00             4433.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52531, 52532, 52533]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1331. 1335. 1337.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1335
--------------------------------------------------------------------------------
COMPUTED VALUE: 1335
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52527 2019-06-12 05:55:00             1331.0
52528 2019-06-12 06:00:00             1335.0
52529 2019-06-12 06:05:00             1337.0
52530 2019-06-12 06:15:00             1335.0
52531 2019-06-12 06:20:00             3497.0
52532 2019-06-12 06:25:00             3941.0
52533 2019-06-12 06:30:00             4433.0

Outlier 51/186: (3497.0 W/mq)

Outlier (idk: 52531) and its neighborhood

                Date/Time  Irradiance (W/mq)
52528 2019-06-12 06:00:00             1335.0
52529 2019-06-12 06:05:00             1337.0
52530 2019-06-12 06:15:00             1335.0
52531 2019-06-12 06:20:00             3497.0
52532 2019-06-12 06:25:00             3941.0
52533 2019-06-12 06:30:00             4433.0
52534 2019-06-12 06:35:00             4616.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52532, 52533, 52534]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1335. 1337. 1335.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52528 2019-06-12 06:00:00             1335.0
52529 2019-06-12 06:05:00             1337.0
52530 2019-06-12 06:15:00             1335.0
52531 2019-06-12 06:20:00             1336.0
52532 2019-06-12 06:25:00             3941.0
52533 2019-06-12 06:30:00             4433.0
52534 2019-06-12 06:35:00             4616.0

Outlier 52/186: (3941.0 W/mq)

Outlier (idk: 52532) and its neighborhood

                Date/Time  Irradiance (W/mq)
52529 2019-06-12 06:05:00             1337.0
52530 2019-06-12 06:15:00             1335.0
52531 2019-06-12 06:20:00             1336.0
52532 2019-06-12 06:25:00             3941.0
52533 2019-06-12 06:30:00             4433.0
52534 2019-06-12 06:35:00             4616.0
52535 2019-06-12 06:40:00             4722.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52533, 52534, 52535]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1337. 1335. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52529 2019-06-12 06:05:00             1337.0
52530 2019-06-12 06:15:00             1335.0
52531 2019-06-12 06:20:00             1336.0
52532 2019-06-12 06:25:00             1336.0
52533 2019-06-12 06:30:00             4433.0
52534 2019-06-12 06:35:00             4616.0
52535 2019-06-12 06:40:00             4722.0

Outlier 53/186: (4433.0 W/mq)

Outlier (idk: 52533) and its neighborhood

                Date/Time  Irradiance (W/mq)
52530 2019-06-12 06:15:00             1335.0
52531 2019-06-12 06:20:00             1336.0
52532 2019-06-12 06:25:00             1336.0
52533 2019-06-12 06:30:00             4433.0
52534 2019-06-12 06:35:00             4616.0
52535 2019-06-12 06:40:00             4722.0
52536 2019-06-12 06:45:00             4849.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52534, 52535, 52536]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1335. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52530 2019-06-12 06:15:00             1335.0
52531 2019-06-12 06:20:00             1336.0
52532 2019-06-12 06:25:00             1336.0
52533 2019-06-12 06:30:00             1336.0
52534 2019-06-12 06:35:00             4616.0
52535 2019-06-12 06:40:00             4722.0
52536 2019-06-12 06:45:00             4849.0

Outlier 54/186: (4616.0 W/mq)

Outlier (idk: 52534) and its neighborhood

                Date/Time  Irradiance (W/mq)
52531 2019-06-12 06:20:00             1336.0
52532 2019-06-12 06:25:00             1336.0
52533 2019-06-12 06:30:00             1336.0
52534 2019-06-12 06:35:00             4616.0
52535 2019-06-12 06:40:00             4722.0
52536 2019-06-12 06:45:00             4849.0
52537 2019-06-12 06:55:00             4889.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52535, 52536, 52537]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52531 2019-06-12 06:20:00             1336.0
52532 2019-06-12 06:25:00             1336.0
52533 2019-06-12 06:30:00             1336.0
52534 2019-06-12 06:35:00             1336.0
52535 2019-06-12 06:40:00             4722.0
52536 2019-06-12 06:45:00             4849.0
52537 2019-06-12 06:55:00             4889.0

Outlier 55/186: (4722.0 W/mq)

Outlier (idk: 52535) and its neighborhood

                Date/Time  Irradiance (W/mq)
52532 2019-06-12 06:25:00             1336.0
52533 2019-06-12 06:30:00             1336.0
52534 2019-06-12 06:35:00             1336.0
52535 2019-06-12 06:40:00             4722.0
52536 2019-06-12 06:45:00             4849.0
52537 2019-06-12 06:55:00             4889.0
52538 2019-06-12 07:00:00             4900.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52536, 52537, 52538]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52532 2019-06-12 06:25:00             1336.0
52533 2019-06-12 06:30:00             1336.0
52534 2019-06-12 06:35:00             1336.0
52535 2019-06-12 06:40:00             1336.0
52536 2019-06-12 06:45:00             4849.0
52537 2019-06-12 06:55:00             4889.0
52538 2019-06-12 07:00:00             4900.0

Outlier 56/186: (4849.0 W/mq)

Outlier (idk: 52536) and its neighborhood

                Date/Time  Irradiance (W/mq)
52533 2019-06-12 06:30:00             1336.0
52534 2019-06-12 06:35:00             1336.0
52535 2019-06-12 06:40:00             1336.0
52536 2019-06-12 06:45:00             4849.0
52537 2019-06-12 06:55:00             4889.0
52538 2019-06-12 07:00:00             4900.0
52539 2019-06-12 07:05:00             4958.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52537, 52538, 52539]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52533 2019-06-12 06:30:00             1336.0
52534 2019-06-12 06:35:00             1336.0
52535 2019-06-12 06:40:00             1336.0
52536 2019-06-12 06:45:00             1336.0
52537 2019-06-12 06:55:00             4889.0
52538 2019-06-12 07:00:00             4900.0
52539 2019-06-12 07:05:00             4958.0

Outlier 57/186: (4889.0 W/mq)

Outlier (idk: 52537) and its neighborhood

                Date/Time  Irradiance (W/mq)
52534 2019-06-12 06:35:00             1336.0
52535 2019-06-12 06:40:00             1336.0
52536 2019-06-12 06:45:00             1336.0
52537 2019-06-12 06:55:00             4889.0
52538 2019-06-12 07:00:00             4900.0
52539 2019-06-12 07:05:00             4958.0
52540 2019-06-12 07:10:00             5002.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52538, 52539, 52540]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52534 2019-06-12 06:35:00             1336.0
52535 2019-06-12 06:40:00             1336.0
52536 2019-06-12 06:45:00             1336.0
52537 2019-06-12 06:55:00             1336.0
52538 2019-06-12 07:00:00             4900.0
52539 2019-06-12 07:05:00             4958.0
52540 2019-06-12 07:10:00             5002.0

Outlier 58/186: (4900.0 W/mq)

Outlier (idk: 52538) and its neighborhood

                Date/Time  Irradiance (W/mq)
52535 2019-06-12 06:40:00             1336.0
52536 2019-06-12 06:45:00             1336.0
52537 2019-06-12 06:55:00             1336.0
52538 2019-06-12 07:00:00             4900.0
52539 2019-06-12 07:05:00             4958.0
52540 2019-06-12 07:10:00             5002.0
52541 2019-06-12 07:15:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52539, 52540, 52541]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52535 2019-06-12 06:40:00             1336.0
52536 2019-06-12 06:45:00             1336.0
52537 2019-06-12 06:55:00             1336.0
52538 2019-06-12 07:00:00             1336.0
52539 2019-06-12 07:05:00             4958.0
52540 2019-06-12 07:10:00             5002.0
52541 2019-06-12 07:15:00             5035.0

Outlier 59/186: (4958.0 W/mq)

Outlier (idk: 52539) and its neighborhood

                Date/Time  Irradiance (W/mq)
52536 2019-06-12 06:45:00             1336.0
52537 2019-06-12 06:55:00             1336.0
52538 2019-06-12 07:00:00             1336.0
52539 2019-06-12 07:05:00             4958.0
52540 2019-06-12 07:10:00             5002.0
52541 2019-06-12 07:15:00             5035.0
52542 2019-06-12 07:20:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52540, 52541, 52542]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52536 2019-06-12 06:45:00             1336.0
52537 2019-06-12 06:55:00             1336.0
52538 2019-06-12 07:00:00             1336.0
52539 2019-06-12 07:05:00             1336.0
52540 2019-06-12 07:10:00             5002.0
52541 2019-06-12 07:15:00             5035.0
52542 2019-06-12 07:20:00             5036.0

Outlier 60/186: (5002.0 W/mq)

Outlier (idk: 52540) and its neighborhood

                Date/Time  Irradiance (W/mq)
52537 2019-06-12 06:55:00             1336.0
52538 2019-06-12 07:00:00             1336.0
52539 2019-06-12 07:05:00             1336.0
52540 2019-06-12 07:10:00             5002.0
52541 2019-06-12 07:15:00             5035.0
52542 2019-06-12 07:20:00             5036.0
52543 2019-06-12 07:25:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52541, 52542, 52543]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52537 2019-06-12 06:55:00             1336.0
52538 2019-06-12 07:00:00             1336.0
52539 2019-06-12 07:05:00             1336.0
52540 2019-06-12 07:10:00             1336.0
52541 2019-06-12 07:15:00             5035.0
52542 2019-06-12 07:20:00             5036.0
52543 2019-06-12 07:25:00             5036.0

Outlier 61/186: (5035.0 W/mq)

Outlier (idk: 52541) and its neighborhood

                Date/Time  Irradiance (W/mq)
52538 2019-06-12 07:00:00             1336.0
52539 2019-06-12 07:05:00             1336.0
52540 2019-06-12 07:10:00             1336.0
52541 2019-06-12 07:15:00             5035.0
52542 2019-06-12 07:20:00             5036.0
52543 2019-06-12 07:25:00             5036.0
52544 2019-06-12 07:30:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52542, 52543, 52544]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52538 2019-06-12 07:00:00             1336.0
52539 2019-06-12 07:05:00             1336.0
52540 2019-06-12 07:10:00             1336.0
52541 2019-06-12 07:15:00             1336.0
52542 2019-06-12 07:20:00             5036.0
52543 2019-06-12 07:25:00             5036.0
52544 2019-06-12 07:30:00             5035.0

Outlier 62/186: (5036.0 W/mq)

Outlier (idk: 52542) and its neighborhood

                Date/Time  Irradiance (W/mq)
52539 2019-06-12 07:05:00             1336.0
52540 2019-06-12 07:10:00             1336.0
52541 2019-06-12 07:15:00             1336.0
52542 2019-06-12 07:20:00             5036.0
52543 2019-06-12 07:25:00             5036.0
52544 2019-06-12 07:30:00             5035.0
52545 2019-06-12 07:40:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52543, 52544, 52545]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52539 2019-06-12 07:05:00             1336.0
52540 2019-06-12 07:10:00             1336.0
52541 2019-06-12 07:15:00             1336.0
52542 2019-06-12 07:20:00             1336.0
52543 2019-06-12 07:25:00             5036.0
52544 2019-06-12 07:30:00             5035.0
52545 2019-06-12 07:40:00             5035.0

Outlier 63/186: (5036.0 W/mq)

Outlier (idk: 52543) and its neighborhood

                Date/Time  Irradiance (W/mq)
52540 2019-06-12 07:10:00             1336.0
52541 2019-06-12 07:15:00             1336.0
52542 2019-06-12 07:20:00             1336.0
52543 2019-06-12 07:25:00             5036.0
52544 2019-06-12 07:30:00             5035.0
52545 2019-06-12 07:40:00             5035.0
52546 2019-06-12 07:45:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52544, 52545, 52546]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52540 2019-06-12 07:10:00             1336.0
52541 2019-06-12 07:15:00             1336.0
52542 2019-06-12 07:20:00             1336.0
52543 2019-06-12 07:25:00             1336.0
52544 2019-06-12 07:30:00             5035.0
52545 2019-06-12 07:40:00             5035.0
52546 2019-06-12 07:45:00             5035.0

Outlier 64/186: (5035.0 W/mq)

Outlier (idk: 52544) and its neighborhood

                Date/Time  Irradiance (W/mq)
52541 2019-06-12 07:15:00             1336.0
52542 2019-06-12 07:20:00             1336.0
52543 2019-06-12 07:25:00             1336.0
52544 2019-06-12 07:30:00             5035.0
52545 2019-06-12 07:40:00             5035.0
52546 2019-06-12 07:45:00             5035.0
52547 2019-06-12 07:50:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52545, 52546, 52547]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52541 2019-06-12 07:15:00             1336.0
52542 2019-06-12 07:20:00             1336.0
52543 2019-06-12 07:25:00             1336.0
52544 2019-06-12 07:30:00             1336.0
52545 2019-06-12 07:40:00             5035.0
52546 2019-06-12 07:45:00             5035.0
52547 2019-06-12 07:50:00             5035.0

Outlier 65/186: (5035.0 W/mq)

Outlier (idk: 52545) and its neighborhood

                Date/Time  Irradiance (W/mq)
52542 2019-06-12 07:20:00             1336.0
52543 2019-06-12 07:25:00             1336.0
52544 2019-06-12 07:30:00             1336.0
52545 2019-06-12 07:40:00             5035.0
52546 2019-06-12 07:45:00             5035.0
52547 2019-06-12 07:50:00             5035.0
52548 2019-06-12 07:55:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52546, 52547, 52548]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52542 2019-06-12 07:20:00             1336.0
52543 2019-06-12 07:25:00             1336.0
52544 2019-06-12 07:30:00             1336.0
52545 2019-06-12 07:40:00             1336.0
52546 2019-06-12 07:45:00             5035.0
52547 2019-06-12 07:50:00             5035.0
52548 2019-06-12 07:55:00             5035.0

Outlier 66/186: (5035.0 W/mq)

Outlier (idk: 52546) and its neighborhood

                Date/Time  Irradiance (W/mq)
52543 2019-06-12 07:25:00             1336.0
52544 2019-06-12 07:30:00             1336.0
52545 2019-06-12 07:40:00             1336.0
52546 2019-06-12 07:45:00             5035.0
52547 2019-06-12 07:50:00             5035.0
52548 2019-06-12 07:55:00             5035.0
52549 2019-06-12 08:00:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52547, 52548, 52549]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52543 2019-06-12 07:25:00             1336.0
52544 2019-06-12 07:30:00             1336.0
52545 2019-06-12 07:40:00             1336.0
52546 2019-06-12 07:45:00             1336.0
52547 2019-06-12 07:50:00             5035.0
52548 2019-06-12 07:55:00             5035.0
52549 2019-06-12 08:00:00             5035.0

Outlier 67/186: (5035.0 W/mq)

Outlier (idk: 52547) and its neighborhood

                Date/Time  Irradiance (W/mq)
52544 2019-06-12 07:30:00             1336.0
52545 2019-06-12 07:40:00             1336.0
52546 2019-06-12 07:45:00             1336.0
52547 2019-06-12 07:50:00             5035.0
52548 2019-06-12 07:55:00             5035.0
52549 2019-06-12 08:00:00             5035.0
52550 2019-06-12 08:05:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52548, 52549, 52550]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52544 2019-06-12 07:30:00             1336.0
52545 2019-06-12 07:40:00             1336.0
52546 2019-06-12 07:45:00             1336.0
52547 2019-06-12 07:50:00             1336.0
52548 2019-06-12 07:55:00             5035.0
52549 2019-06-12 08:00:00             5035.0
52550 2019-06-12 08:05:00             5035.0

Outlier 68/186: (5035.0 W/mq)

Outlier (idk: 52548) and its neighborhood

                Date/Time  Irradiance (W/mq)
52545 2019-06-12 07:40:00             1336.0
52546 2019-06-12 07:45:00             1336.0
52547 2019-06-12 07:50:00             1336.0
52548 2019-06-12 07:55:00             5035.0
52549 2019-06-12 08:00:00             5035.0
52550 2019-06-12 08:05:00             5035.0
52551 2019-06-12 08:10:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52549, 52550, 52551]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52545 2019-06-12 07:40:00             1336.0
52546 2019-06-12 07:45:00             1336.0
52547 2019-06-12 07:50:00             1336.0
52548 2019-06-12 07:55:00             1336.0
52549 2019-06-12 08:00:00             5035.0
52550 2019-06-12 08:05:00             5035.0
52551 2019-06-12 08:10:00             5035.0

Outlier 69/186: (5035.0 W/mq)

Outlier (idk: 52549) and its neighborhood

                Date/Time  Irradiance (W/mq)
52546 2019-06-12 07:45:00             1336.0
52547 2019-06-12 07:50:00             1336.0
52548 2019-06-12 07:55:00             1336.0
52549 2019-06-12 08:00:00             5035.0
52550 2019-06-12 08:05:00             5035.0
52551 2019-06-12 08:10:00             5035.0
52552 2019-06-12 08:15:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52550, 52551, 52552]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52546 2019-06-12 07:45:00             1336.0
52547 2019-06-12 07:50:00             1336.0
52548 2019-06-12 07:55:00             1336.0
52549 2019-06-12 08:00:00             1336.0
52550 2019-06-12 08:05:00             5035.0
52551 2019-06-12 08:10:00             5035.0
52552 2019-06-12 08:15:00             5035.0

Outlier 70/186: (5035.0 W/mq)

Outlier (idk: 52550) and its neighborhood

                Date/Time  Irradiance (W/mq)
52547 2019-06-12 07:50:00             1336.0
52548 2019-06-12 07:55:00             1336.0
52549 2019-06-12 08:00:00             1336.0
52550 2019-06-12 08:05:00             5035.0
52551 2019-06-12 08:10:00             5035.0
52552 2019-06-12 08:15:00             5035.0
52553 2019-06-12 08:25:00             5034.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52551, 52552, 52553]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52547 2019-06-12 07:50:00             1336.0
52548 2019-06-12 07:55:00             1336.0
52549 2019-06-12 08:00:00             1336.0
52550 2019-06-12 08:05:00             1336.0
52551 2019-06-12 08:10:00             5035.0
52552 2019-06-12 08:15:00             5035.0
52553 2019-06-12 08:25:00             5034.0

Outlier 71/186: (5035.0 W/mq)

Outlier (idk: 52551) and its neighborhood

                Date/Time  Irradiance (W/mq)
52548 2019-06-12 07:55:00             1336.0
52549 2019-06-12 08:00:00             1336.0
52550 2019-06-12 08:05:00             1336.0
52551 2019-06-12 08:10:00             5035.0
52552 2019-06-12 08:15:00             5035.0
52553 2019-06-12 08:25:00             5034.0
52554 2019-06-12 08:30:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52552, 52553, 52554]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52548 2019-06-12 07:55:00             1336.0
52549 2019-06-12 08:00:00             1336.0
52550 2019-06-12 08:05:00             1336.0
52551 2019-06-12 08:10:00             1336.0
52552 2019-06-12 08:15:00             5035.0
52553 2019-06-12 08:25:00             5034.0
52554 2019-06-12 08:30:00             5035.0

Outlier 72/186: (5035.0 W/mq)

Outlier (idk: 52552) and its neighborhood

                Date/Time  Irradiance (W/mq)
52549 2019-06-12 08:00:00             1336.0
52550 2019-06-12 08:05:00             1336.0
52551 2019-06-12 08:10:00             1336.0
52552 2019-06-12 08:15:00             5035.0
52553 2019-06-12 08:25:00             5034.0
52554 2019-06-12 08:30:00             5035.0
52555 2019-06-12 08:35:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52553, 52554, 52555]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52549 2019-06-12 08:00:00             1336.0
52550 2019-06-12 08:05:00             1336.0
52551 2019-06-12 08:10:00             1336.0
52552 2019-06-12 08:15:00             1336.0
52553 2019-06-12 08:25:00             5034.0
52554 2019-06-12 08:30:00             5035.0
52555 2019-06-12 08:35:00             5035.0

Outlier 73/186: (5034.0 W/mq)

Outlier (idk: 52553) and its neighborhood

                Date/Time  Irradiance (W/mq)
52550 2019-06-12 08:05:00             1336.0
52551 2019-06-12 08:10:00             1336.0
52552 2019-06-12 08:15:00             1336.0
52553 2019-06-12 08:25:00             5034.0
52554 2019-06-12 08:30:00             5035.0
52555 2019-06-12 08:35:00             5035.0
52556 2019-06-12 08:40:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52554, 52555, 52556]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52550 2019-06-12 08:05:00             1336.0
52551 2019-06-12 08:10:00             1336.0
52552 2019-06-12 08:15:00             1336.0
52553 2019-06-12 08:25:00             1336.0
52554 2019-06-12 08:30:00             5035.0
52555 2019-06-12 08:35:00             5035.0
52556 2019-06-12 08:40:00             5035.0

Outlier 74/186: (5035.0 W/mq)

Outlier (idk: 52554) and its neighborhood

                Date/Time  Irradiance (W/mq)
52551 2019-06-12 08:10:00             1336.0
52552 2019-06-12 08:15:00             1336.0
52553 2019-06-12 08:25:00             1336.0
52554 2019-06-12 08:30:00             5035.0
52555 2019-06-12 08:35:00             5035.0
52556 2019-06-12 08:40:00             5035.0
52557 2019-06-12 08:45:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52555, 52556, 52557]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52551 2019-06-12 08:10:00             1336.0
52552 2019-06-12 08:15:00             1336.0
52553 2019-06-12 08:25:00             1336.0
52554 2019-06-12 08:30:00             1336.0
52555 2019-06-12 08:35:00             5035.0
52556 2019-06-12 08:40:00             5035.0
52557 2019-06-12 08:45:00             5035.0

Outlier 75/186: (5035.0 W/mq)

Outlier (idk: 52555) and its neighborhood

                Date/Time  Irradiance (W/mq)
52552 2019-06-12 08:15:00             1336.0
52553 2019-06-12 08:25:00             1336.0
52554 2019-06-12 08:30:00             1336.0
52555 2019-06-12 08:35:00             5035.0
52556 2019-06-12 08:40:00             5035.0
52557 2019-06-12 08:45:00             5035.0
52558 2019-06-12 08:50:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52556, 52557, 52558]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52552 2019-06-12 08:15:00             1336.0
52553 2019-06-12 08:25:00             1336.0
52554 2019-06-12 08:30:00             1336.0
52555 2019-06-12 08:35:00             1336.0
52556 2019-06-12 08:40:00             5035.0
52557 2019-06-12 08:45:00             5035.0
52558 2019-06-12 08:50:00             5035.0

Outlier 76/186: (5035.0 W/mq)

Outlier (idk: 52556) and its neighborhood

                Date/Time  Irradiance (W/mq)
52553 2019-06-12 08:25:00             1336.0
52554 2019-06-12 08:30:00             1336.0
52555 2019-06-12 08:35:00             1336.0
52556 2019-06-12 08:40:00             5035.0
52557 2019-06-12 08:45:00             5035.0
52558 2019-06-12 08:50:00             5035.0
52559 2019-06-12 08:55:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52557, 52558, 52559]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52553 2019-06-12 08:25:00             1336.0
52554 2019-06-12 08:30:00             1336.0
52555 2019-06-12 08:35:00             1336.0
52556 2019-06-12 08:40:00             1336.0
52557 2019-06-12 08:45:00             5035.0
52558 2019-06-12 08:50:00             5035.0
52559 2019-06-12 08:55:00             5035.0

Outlier 77/186: (5035.0 W/mq)

Outlier (idk: 52557) and its neighborhood

                Date/Time  Irradiance (W/mq)
52554 2019-06-12 08:30:00             1336.0
52555 2019-06-12 08:35:00             1336.0
52556 2019-06-12 08:40:00             1336.0
52557 2019-06-12 08:45:00             5035.0
52558 2019-06-12 08:50:00             5035.0
52559 2019-06-12 08:55:00             5035.0
52560 2019-06-12 09:00:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52558, 52559, 52560]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52554 2019-06-12 08:30:00             1336.0
52555 2019-06-12 08:35:00             1336.0
52556 2019-06-12 08:40:00             1336.0
52557 2019-06-12 08:45:00             1336.0
52558 2019-06-12 08:50:00             5035.0
52559 2019-06-12 08:55:00             5035.0
52560 2019-06-12 09:00:00             5035.0

Outlier 78/186: (5035.0 W/mq)

Outlier (idk: 52558) and its neighborhood

                Date/Time  Irradiance (W/mq)
52555 2019-06-12 08:35:00             1336.0
52556 2019-06-12 08:40:00             1336.0
52557 2019-06-12 08:45:00             1336.0
52558 2019-06-12 08:50:00             5035.0
52559 2019-06-12 08:55:00             5035.0
52560 2019-06-12 09:00:00             5035.0
52561 2019-06-12 09:10:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52559, 52560, 52561]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52555 2019-06-12 08:35:00             1336.0
52556 2019-06-12 08:40:00             1336.0
52557 2019-06-12 08:45:00             1336.0
52558 2019-06-12 08:50:00             1336.0
52559 2019-06-12 08:55:00             5035.0
52560 2019-06-12 09:00:00             5035.0
52561 2019-06-12 09:10:00             5036.0

Outlier 79/186: (5035.0 W/mq)

Outlier (idk: 52559) and its neighborhood

                Date/Time  Irradiance (W/mq)
52556 2019-06-12 08:40:00             1336.0
52557 2019-06-12 08:45:00             1336.0
52558 2019-06-12 08:50:00             1336.0
52559 2019-06-12 08:55:00             5035.0
52560 2019-06-12 09:00:00             5035.0
52561 2019-06-12 09:10:00             5036.0
52562 2019-06-12 09:15:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52560, 52561, 52562]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52556 2019-06-12 08:40:00             1336.0
52557 2019-06-12 08:45:00             1336.0
52558 2019-06-12 08:50:00             1336.0
52559 2019-06-12 08:55:00             1336.0
52560 2019-06-12 09:00:00             5035.0
52561 2019-06-12 09:10:00             5036.0
52562 2019-06-12 09:15:00             5036.0

Outlier 80/186: (5035.0 W/mq)

Outlier (idk: 52560) and its neighborhood

                Date/Time  Irradiance (W/mq)
52557 2019-06-12 08:45:00             1336.0
52558 2019-06-12 08:50:00             1336.0
52559 2019-06-12 08:55:00             1336.0
52560 2019-06-12 09:00:00             5035.0
52561 2019-06-12 09:10:00             5036.0
52562 2019-06-12 09:15:00             5036.0
52563 2019-06-12 09:20:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52561, 52562, 52563]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52557 2019-06-12 08:45:00             1336.0
52558 2019-06-12 08:50:00             1336.0
52559 2019-06-12 08:55:00             1336.0
52560 2019-06-12 09:00:00             1336.0
52561 2019-06-12 09:10:00             5036.0
52562 2019-06-12 09:15:00             5036.0
52563 2019-06-12 09:20:00             5036.0

Outlier 81/186: (5036.0 W/mq)

Outlier (idk: 52561) and its neighborhood

                Date/Time  Irradiance (W/mq)
52558 2019-06-12 08:50:00             1336.0
52559 2019-06-12 08:55:00             1336.0
52560 2019-06-12 09:00:00             1336.0
52561 2019-06-12 09:10:00             5036.0
52562 2019-06-12 09:15:00             5036.0
52563 2019-06-12 09:20:00             5036.0
52564 2019-06-12 09:25:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52562, 52563, 52564]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52558 2019-06-12 08:50:00             1336.0
52559 2019-06-12 08:55:00             1336.0
52560 2019-06-12 09:00:00             1336.0
52561 2019-06-12 09:10:00             1336.0
52562 2019-06-12 09:15:00             5036.0
52563 2019-06-12 09:20:00             5036.0
52564 2019-06-12 09:25:00             5036.0

Outlier 82/186: (5036.0 W/mq)

Outlier (idk: 52562) and its neighborhood

                Date/Time  Irradiance (W/mq)
52559 2019-06-12 08:55:00             1336.0
52560 2019-06-12 09:00:00             1336.0
52561 2019-06-12 09:10:00             1336.0
52562 2019-06-12 09:15:00             5036.0
52563 2019-06-12 09:20:00             5036.0
52564 2019-06-12 09:25:00             5036.0
52565 2019-06-12 09:30:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52563, 52564, 52565]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52559 2019-06-12 08:55:00             1336.0
52560 2019-06-12 09:00:00             1336.0
52561 2019-06-12 09:10:00             1336.0
52562 2019-06-12 09:15:00             1336.0
52563 2019-06-12 09:20:00             5036.0
52564 2019-06-12 09:25:00             5036.0
52565 2019-06-12 09:30:00             5035.0

Outlier 83/186: (5036.0 W/mq)

Outlier (idk: 52563) and its neighborhood

                Date/Time  Irradiance (W/mq)
52560 2019-06-12 09:00:00             1336.0
52561 2019-06-12 09:10:00             1336.0
52562 2019-06-12 09:15:00             1336.0
52563 2019-06-12 09:20:00             5036.0
52564 2019-06-12 09:25:00             5036.0
52565 2019-06-12 09:30:00             5035.0
52566 2019-06-12 09:35:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52564, 52565, 52566]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52560 2019-06-12 09:00:00             1336.0
52561 2019-06-12 09:10:00             1336.0
52562 2019-06-12 09:15:00             1336.0
52563 2019-06-12 09:20:00             1336.0
52564 2019-06-12 09:25:00             5036.0
52565 2019-06-12 09:30:00             5035.0
52566 2019-06-12 09:35:00             5036.0

Outlier 84/186: (5036.0 W/mq)

Outlier (idk: 52564) and its neighborhood

                Date/Time  Irradiance (W/mq)
52561 2019-06-12 09:10:00             1336.0
52562 2019-06-12 09:15:00             1336.0
52563 2019-06-12 09:20:00             1336.0
52564 2019-06-12 09:25:00             5036.0
52565 2019-06-12 09:30:00             5035.0
52566 2019-06-12 09:35:00             5036.0
52567 2019-06-12 09:40:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52565, 52566, 52567]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52561 2019-06-12 09:10:00             1336.0
52562 2019-06-12 09:15:00             1336.0
52563 2019-06-12 09:20:00             1336.0
52564 2019-06-12 09:25:00             1336.0
52565 2019-06-12 09:30:00             5035.0
52566 2019-06-12 09:35:00             5036.0
52567 2019-06-12 09:40:00             5035.0

Outlier 85/186: (5035.0 W/mq)

Outlier (idk: 52565) and its neighborhood

                Date/Time  Irradiance (W/mq)
52562 2019-06-12 09:15:00             1336.0
52563 2019-06-12 09:20:00             1336.0
52564 2019-06-12 09:25:00             1336.0
52565 2019-06-12 09:30:00             5035.0
52566 2019-06-12 09:35:00             5036.0
52567 2019-06-12 09:40:00             5035.0
52568 2019-06-12 09:50:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52566, 52567, 52568]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52562 2019-06-12 09:15:00             1336.0
52563 2019-06-12 09:20:00             1336.0
52564 2019-06-12 09:25:00             1336.0
52565 2019-06-12 09:30:00             1336.0
52566 2019-06-12 09:35:00             5036.0
52567 2019-06-12 09:40:00             5035.0
52568 2019-06-12 09:50:00             5035.0

Outlier 86/186: (5036.0 W/mq)

Outlier (idk: 52566) and its neighborhood

                Date/Time  Irradiance (W/mq)
52563 2019-06-12 09:20:00             1336.0
52564 2019-06-12 09:25:00             1336.0
52565 2019-06-12 09:30:00             1336.0
52566 2019-06-12 09:35:00             5036.0
52567 2019-06-12 09:40:00             5035.0
52568 2019-06-12 09:50:00             5035.0
52569 2019-06-12 09:55:00             5034.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52567, 52568, 52569]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52563 2019-06-12 09:20:00             1336.0
52564 2019-06-12 09:25:00             1336.0
52565 2019-06-12 09:30:00             1336.0
52566 2019-06-12 09:35:00             1336.0
52567 2019-06-12 09:40:00             5035.0
52568 2019-06-12 09:50:00             5035.0
52569 2019-06-12 09:55:00             5034.0

Outlier 87/186: (5035.0 W/mq)

Outlier (idk: 52567) and its neighborhood

                Date/Time  Irradiance (W/mq)
52564 2019-06-12 09:25:00             1336.0
52565 2019-06-12 09:30:00             1336.0
52566 2019-06-12 09:35:00             1336.0
52567 2019-06-12 09:40:00             5035.0
52568 2019-06-12 09:50:00             5035.0
52569 2019-06-12 09:55:00             5034.0
52570 2019-06-12 10:00:00             5034.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52568, 52569, 52570]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52564 2019-06-12 09:25:00             1336.0
52565 2019-06-12 09:30:00             1336.0
52566 2019-06-12 09:35:00             1336.0
52567 2019-06-12 09:40:00             1336.0
52568 2019-06-12 09:50:00             5035.0
52569 2019-06-12 09:55:00             5034.0
52570 2019-06-12 10:00:00             5034.0

Outlier 88/186: (5035.0 W/mq)

Outlier (idk: 52568) and its neighborhood

                Date/Time  Irradiance (W/mq)
52565 2019-06-12 09:30:00             1336.0
52566 2019-06-12 09:35:00             1336.0
52567 2019-06-12 09:40:00             1336.0
52568 2019-06-12 09:50:00             5035.0
52569 2019-06-12 09:55:00             5034.0
52570 2019-06-12 10:00:00             5034.0
52571 2019-06-12 10:05:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52569, 52570, 52571]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52565 2019-06-12 09:30:00             1336.0
52566 2019-06-12 09:35:00             1336.0
52567 2019-06-12 09:40:00             1336.0
52568 2019-06-12 09:50:00             1336.0
52569 2019-06-12 09:55:00             5034.0
52570 2019-06-12 10:00:00             5034.0
52571 2019-06-12 10:05:00             5035.0

Outlier 89/186: (5034.0 W/mq)

Outlier (idk: 52569) and its neighborhood

                Date/Time  Irradiance (W/mq)
52566 2019-06-12 09:35:00             1336.0
52567 2019-06-12 09:40:00             1336.0
52568 2019-06-12 09:50:00             1336.0
52569 2019-06-12 09:55:00             5034.0
52570 2019-06-12 10:00:00             5034.0
52571 2019-06-12 10:05:00             5035.0
52572 2019-06-12 10:10:00             5033.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52570, 52571, 52572]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52566 2019-06-12 09:35:00             1336.0
52567 2019-06-12 09:40:00             1336.0
52568 2019-06-12 09:50:00             1336.0
52569 2019-06-12 09:55:00             1336.0
52570 2019-06-12 10:00:00             5034.0
52571 2019-06-12 10:05:00             5035.0
52572 2019-06-12 10:10:00             5033.0

Outlier 90/186: (5034.0 W/mq)

Outlier (idk: 52570) and its neighborhood

                Date/Time  Irradiance (W/mq)
52567 2019-06-12 09:40:00             1336.0
52568 2019-06-12 09:50:00             1336.0
52569 2019-06-12 09:55:00             1336.0
52570 2019-06-12 10:00:00             5034.0
52571 2019-06-12 10:05:00             5035.0
52572 2019-06-12 10:10:00             5033.0
52573 2019-06-12 10:15:00             5034.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52571, 52572, 52573]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52567 2019-06-12 09:40:00             1336.0
52568 2019-06-12 09:50:00             1336.0
52569 2019-06-12 09:55:00             1336.0
52570 2019-06-12 10:00:00             1336.0
52571 2019-06-12 10:05:00             5035.0
52572 2019-06-12 10:10:00             5033.0
52573 2019-06-12 10:15:00             5034.0

Outlier 91/186: (5035.0 W/mq)

Outlier (idk: 52571) and its neighborhood

                Date/Time  Irradiance (W/mq)
52568 2019-06-12 09:50:00             1336.0
52569 2019-06-12 09:55:00             1336.0
52570 2019-06-12 10:00:00             1336.0
52571 2019-06-12 10:05:00             5035.0
52572 2019-06-12 10:10:00             5033.0
52573 2019-06-12 10:15:00             5034.0
52574 2019-06-12 10:20:00             5034.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52572, 52573, 52574]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52568 2019-06-12 09:50:00             1336.0
52569 2019-06-12 09:55:00             1336.0
52570 2019-06-12 10:00:00             1336.0
52571 2019-06-12 10:05:00             1336.0
52572 2019-06-12 10:10:00             5033.0
52573 2019-06-12 10:15:00             5034.0
52574 2019-06-12 10:20:00             5034.0

Outlier 92/186: (5033.0 W/mq)

Outlier (idk: 52572) and its neighborhood

                Date/Time  Irradiance (W/mq)
52569 2019-06-12 09:55:00             1336.0
52570 2019-06-12 10:00:00             1336.0
52571 2019-06-12 10:05:00             1336.0
52572 2019-06-12 10:10:00             5033.0
52573 2019-06-12 10:15:00             5034.0
52574 2019-06-12 10:20:00             5034.0
52575 2019-06-12 10:25:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52573, 52574, 52575]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52569 2019-06-12 09:55:00             1336.0
52570 2019-06-12 10:00:00             1336.0
52571 2019-06-12 10:05:00             1336.0
52572 2019-06-12 10:10:00             1336.0
52573 2019-06-12 10:15:00             5034.0
52574 2019-06-12 10:20:00             5034.0
52575 2019-06-12 10:25:00             5035.0

Outlier 93/186: (5034.0 W/mq)

Outlier (idk: 52573) and its neighborhood

                Date/Time  Irradiance (W/mq)
52570 2019-06-12 10:00:00             1336.0
52571 2019-06-12 10:05:00             1336.0
52572 2019-06-12 10:10:00             1336.0
52573 2019-06-12 10:15:00             5034.0
52574 2019-06-12 10:20:00             5034.0
52575 2019-06-12 10:25:00             5035.0
52576 2019-06-12 10:35:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52574, 52575, 52576]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52570 2019-06-12 10:00:00             1336.0
52571 2019-06-12 10:05:00             1336.0
52572 2019-06-12 10:10:00             1336.0
52573 2019-06-12 10:15:00             1336.0
52574 2019-06-12 10:20:00             5034.0
52575 2019-06-12 10:25:00             5035.0
52576 2019-06-12 10:35:00             5036.0

Outlier 94/186: (5034.0 W/mq)

Outlier (idk: 52574) and its neighborhood

                Date/Time  Irradiance (W/mq)
52571 2019-06-12 10:05:00             1336.0
52572 2019-06-12 10:10:00             1336.0
52573 2019-06-12 10:15:00             1336.0
52574 2019-06-12 10:20:00             5034.0
52575 2019-06-12 10:25:00             5035.0
52576 2019-06-12 10:35:00             5036.0
52577 2019-06-12 10:40:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52575, 52576, 52577]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52571 2019-06-12 10:05:00             1336.0
52572 2019-06-12 10:10:00             1336.0
52573 2019-06-12 10:15:00             1336.0
52574 2019-06-12 10:20:00             1336.0
52575 2019-06-12 10:25:00             5035.0
52576 2019-06-12 10:35:00             5036.0
52577 2019-06-12 10:40:00             5036.0

Outlier 95/186: (5035.0 W/mq)

Outlier (idk: 52575) and its neighborhood

                Date/Time  Irradiance (W/mq)
52572 2019-06-12 10:10:00             1336.0
52573 2019-06-12 10:15:00             1336.0
52574 2019-06-12 10:20:00             1336.0
52575 2019-06-12 10:25:00             5035.0
52576 2019-06-12 10:35:00             5036.0
52577 2019-06-12 10:40:00             5036.0
52578 2019-06-12 10:45:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52576, 52577, 52578]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52572 2019-06-12 10:10:00             1336.0
52573 2019-06-12 10:15:00             1336.0
52574 2019-06-12 10:20:00             1336.0
52575 2019-06-12 10:25:00             1336.0
52576 2019-06-12 10:35:00             5036.0
52577 2019-06-12 10:40:00             5036.0
52578 2019-06-12 10:45:00             5035.0

Outlier 96/186: (5036.0 W/mq)

Outlier (idk: 52576) and its neighborhood

                Date/Time  Irradiance (W/mq)
52573 2019-06-12 10:15:00             1336.0
52574 2019-06-12 10:20:00             1336.0
52575 2019-06-12 10:25:00             1336.0
52576 2019-06-12 10:35:00             5036.0
52577 2019-06-12 10:40:00             5036.0
52578 2019-06-12 10:45:00             5035.0
52579 2019-06-12 10:50:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52577, 52578, 52579]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52573 2019-06-12 10:15:00             1336.0
52574 2019-06-12 10:20:00             1336.0
52575 2019-06-12 10:25:00             1336.0
52576 2019-06-12 10:35:00             1336.0
52577 2019-06-12 10:40:00             5036.0
52578 2019-06-12 10:45:00             5035.0
52579 2019-06-12 10:50:00             5036.0

Outlier 97/186: (5036.0 W/mq)

Outlier (idk: 52577) and its neighborhood

                Date/Time  Irradiance (W/mq)
52574 2019-06-12 10:20:00             1336.0
52575 2019-06-12 10:25:00             1336.0
52576 2019-06-12 10:35:00             1336.0
52577 2019-06-12 10:40:00             5036.0
52578 2019-06-12 10:45:00             5035.0
52579 2019-06-12 10:50:00             5036.0
52580 2019-06-12 10:55:00             5034.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52578, 52579, 52580]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52574 2019-06-12 10:20:00             1336.0
52575 2019-06-12 10:25:00             1336.0
52576 2019-06-12 10:35:00             1336.0
52577 2019-06-12 10:40:00             1336.0
52578 2019-06-12 10:45:00             5035.0
52579 2019-06-12 10:50:00             5036.0
52580 2019-06-12 10:55:00             5034.0

Outlier 98/186: (5035.0 W/mq)

Outlier (idk: 52578) and its neighborhood

                Date/Time  Irradiance (W/mq)
52575 2019-06-12 10:25:00             1336.0
52576 2019-06-12 10:35:00             1336.0
52577 2019-06-12 10:40:00             1336.0
52578 2019-06-12 10:45:00             5035.0
52579 2019-06-12 10:50:00             5036.0
52580 2019-06-12 10:55:00             5034.0
52581 2019-06-12 11:00:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52579, 52580, 52581]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52575 2019-06-12 10:25:00             1336.0
52576 2019-06-12 10:35:00             1336.0
52577 2019-06-12 10:40:00             1336.0
52578 2019-06-12 10:45:00             1336.0
52579 2019-06-12 10:50:00             5036.0
52580 2019-06-12 10:55:00             5034.0
52581 2019-06-12 11:00:00             5037.0

Outlier 99/186: (5036.0 W/mq)

Outlier (idk: 52579) and its neighborhood

                Date/Time  Irradiance (W/mq)
52576 2019-06-12 10:35:00             1336.0
52577 2019-06-12 10:40:00             1336.0
52578 2019-06-12 10:45:00             1336.0
52579 2019-06-12 10:50:00             5036.0
52580 2019-06-12 10:55:00             5034.0
52581 2019-06-12 11:00:00             5037.0
52582 2019-06-12 11:05:00             5039.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52580, 52581, 52582]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52576 2019-06-12 10:35:00             1336.0
52577 2019-06-12 10:40:00             1336.0
52578 2019-06-12 10:45:00             1336.0
52579 2019-06-12 10:50:00             1336.0
52580 2019-06-12 10:55:00             5034.0
52581 2019-06-12 11:00:00             5037.0
52582 2019-06-12 11:05:00             5039.0

Outlier 100/186: (5034.0 W/mq)

Outlier (idk: 52580) and its neighborhood

                Date/Time  Irradiance (W/mq)
52577 2019-06-12 10:40:00             1336.0
52578 2019-06-12 10:45:00             1336.0
52579 2019-06-12 10:50:00             1336.0
52580 2019-06-12 10:55:00             5034.0
52581 2019-06-12 11:00:00             5037.0
52582 2019-06-12 11:05:00             5039.0
52583 2019-06-12 11:15:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52581, 52582, 52583]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52577 2019-06-12 10:40:00             1336.0
52578 2019-06-12 10:45:00             1336.0
52579 2019-06-12 10:50:00             1336.0
52580 2019-06-12 10:55:00             1336.0
52581 2019-06-12 11:00:00             5037.0
52582 2019-06-12 11:05:00             5039.0
52583 2019-06-12 11:15:00             5035.0

Outlier 101/186: (5037.0 W/mq)

Outlier (idk: 52581) and its neighborhood

                Date/Time  Irradiance (W/mq)
52578 2019-06-12 10:45:00             1336.0
52579 2019-06-12 10:50:00             1336.0
52580 2019-06-12 10:55:00             1336.0
52581 2019-06-12 11:00:00             5037.0
52582 2019-06-12 11:05:00             5039.0
52583 2019-06-12 11:15:00             5035.0
52584 2019-06-12 11:20:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52582, 52583, 52584]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52578 2019-06-12 10:45:00             1336.0
52579 2019-06-12 10:50:00             1336.0
52580 2019-06-12 10:55:00             1336.0
52581 2019-06-12 11:00:00             1336.0
52582 2019-06-12 11:05:00             5039.0
52583 2019-06-12 11:15:00             5035.0
52584 2019-06-12 11:20:00             5036.0

Outlier 102/186: (5039.0 W/mq)

Outlier (idk: 52582) and its neighborhood

                Date/Time  Irradiance (W/mq)
52579 2019-06-12 10:50:00             1336.0
52580 2019-06-12 10:55:00             1336.0
52581 2019-06-12 11:00:00             1336.0
52582 2019-06-12 11:05:00             5039.0
52583 2019-06-12 11:15:00             5035.0
52584 2019-06-12 11:20:00             5036.0
52585 2019-06-12 11:25:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52583, 52584, 52585]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52579 2019-06-12 10:50:00             1336.0
52580 2019-06-12 10:55:00             1336.0
52581 2019-06-12 11:00:00             1336.0
52582 2019-06-12 11:05:00             1336.0
52583 2019-06-12 11:15:00             5035.0
52584 2019-06-12 11:20:00             5036.0
52585 2019-06-12 11:25:00             5037.0

Outlier 103/186: (5035.0 W/mq)

Outlier (idk: 52583) and its neighborhood

                Date/Time  Irradiance (W/mq)
52580 2019-06-12 10:55:00             1336.0
52581 2019-06-12 11:00:00             1336.0
52582 2019-06-12 11:05:00             1336.0
52583 2019-06-12 11:15:00             5035.0
52584 2019-06-12 11:20:00             5036.0
52585 2019-06-12 11:25:00             5037.0
52586 2019-06-12 11:30:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52584, 52585, 52586]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52580 2019-06-12 10:55:00             1336.0
52581 2019-06-12 11:00:00             1336.0
52582 2019-06-12 11:05:00             1336.0
52583 2019-06-12 11:15:00             1336.0
52584 2019-06-12 11:20:00             5036.0
52585 2019-06-12 11:25:00             5037.0
52586 2019-06-12 11:30:00             5035.0

Outlier 104/186: (5036.0 W/mq)

Outlier (idk: 52584) and its neighborhood

                Date/Time  Irradiance (W/mq)
52581 2019-06-12 11:00:00             1336.0
52582 2019-06-12 11:05:00             1336.0
52583 2019-06-12 11:15:00             1336.0
52584 2019-06-12 11:20:00             5036.0
52585 2019-06-12 11:25:00             5037.0
52586 2019-06-12 11:30:00             5035.0
52587 2019-06-12 11:35:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52585, 52586, 52587]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52581 2019-06-12 11:00:00             1336.0
52582 2019-06-12 11:05:00             1336.0
52583 2019-06-12 11:15:00             1336.0
52584 2019-06-12 11:20:00             1336.0
52585 2019-06-12 11:25:00             5037.0
52586 2019-06-12 11:30:00             5035.0
52587 2019-06-12 11:35:00             5035.0

Outlier 105/186: (5037.0 W/mq)

Outlier (idk: 52585) and its neighborhood

                Date/Time  Irradiance (W/mq)
52582 2019-06-12 11:05:00             1336.0
52583 2019-06-12 11:15:00             1336.0
52584 2019-06-12 11:20:00             1336.0
52585 2019-06-12 11:25:00             5037.0
52586 2019-06-12 11:30:00             5035.0
52587 2019-06-12 11:35:00             5035.0
52588 2019-06-12 11:40:00             5030.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52586, 52587, 52588]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52582 2019-06-12 11:05:00             1336.0
52583 2019-06-12 11:15:00             1336.0
52584 2019-06-12 11:20:00             1336.0
52585 2019-06-12 11:25:00             1336.0
52586 2019-06-12 11:30:00             5035.0
52587 2019-06-12 11:35:00             5035.0
52588 2019-06-12 11:40:00             5030.0

Outlier 106/186: (5035.0 W/mq)

Outlier (idk: 52586) and its neighborhood

                Date/Time  Irradiance (W/mq)
52583 2019-06-12 11:15:00             1336.0
52584 2019-06-12 11:20:00             1336.0
52585 2019-06-12 11:25:00             1336.0
52586 2019-06-12 11:30:00             5035.0
52587 2019-06-12 11:35:00             5035.0
52588 2019-06-12 11:40:00             5030.0
52589 2019-06-12 11:45:00             5034.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52587, 52588, 52589]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52583 2019-06-12 11:15:00             1336.0
52584 2019-06-12 11:20:00             1336.0
52585 2019-06-12 11:25:00             1336.0
52586 2019-06-12 11:30:00             1336.0
52587 2019-06-12 11:35:00             5035.0
52588 2019-06-12 11:40:00             5030.0
52589 2019-06-12 11:45:00             5034.0

Outlier 107/186: (5035.0 W/mq)

Outlier (idk: 52587) and its neighborhood

                Date/Time  Irradiance (W/mq)
52584 2019-06-12 11:20:00             1336.0
52585 2019-06-12 11:25:00             1336.0
52586 2019-06-12 11:30:00             1336.0
52587 2019-06-12 11:35:00             5035.0
52588 2019-06-12 11:40:00             5030.0
52589 2019-06-12 11:45:00             5034.0
52590 2019-06-12 11:50:00             5032.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52588, 52589, 52590]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52584 2019-06-12 11:20:00             1336.0
52585 2019-06-12 11:25:00             1336.0
52586 2019-06-12 11:30:00             1336.0
52587 2019-06-12 11:35:00             1336.0
52588 2019-06-12 11:40:00             5030.0
52589 2019-06-12 11:45:00             5034.0
52590 2019-06-12 11:50:00             5032.0

Outlier 108/186: (5030.0 W/mq)

Outlier (idk: 52588) and its neighborhood

                Date/Time  Irradiance (W/mq)
52585 2019-06-12 11:25:00             1336.0
52586 2019-06-12 11:30:00             1336.0
52587 2019-06-12 11:35:00             1336.0
52588 2019-06-12 11:40:00             5030.0
52589 2019-06-12 11:45:00             5034.0
52590 2019-06-12 11:50:00             5032.0
52591 2019-06-12 12:00:00             5054.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52589, 52590, 52591]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52585 2019-06-12 11:25:00             1336.0
52586 2019-06-12 11:30:00             1336.0
52587 2019-06-12 11:35:00             1336.0
52588 2019-06-12 11:40:00             1336.0
52589 2019-06-12 11:45:00             5034.0
52590 2019-06-12 11:50:00             5032.0
52591 2019-06-12 12:00:00             5054.0

Outlier 109/186: (5034.0 W/mq)

Outlier (idk: 52589) and its neighborhood

                Date/Time  Irradiance (W/mq)
52586 2019-06-12 11:30:00             1336.0
52587 2019-06-12 11:35:00             1336.0
52588 2019-06-12 11:40:00             1336.0
52589 2019-06-12 11:45:00             5034.0
52590 2019-06-12 11:50:00             5032.0
52591 2019-06-12 12:00:00             5054.0
52592 2019-06-12 12:05:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52590, 52591, 52592]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52586 2019-06-12 11:30:00             1336.0
52587 2019-06-12 11:35:00             1336.0
52588 2019-06-12 11:40:00             1336.0
52589 2019-06-12 11:45:00             1336.0
52590 2019-06-12 11:50:00             5032.0
52591 2019-06-12 12:00:00             5054.0
52592 2019-06-12 12:05:00             5035.0

Outlier 110/186: (5032.0 W/mq)

Outlier (idk: 52590) and its neighborhood

                Date/Time  Irradiance (W/mq)
52587 2019-06-12 11:35:00             1336.0
52588 2019-06-12 11:40:00             1336.0
52589 2019-06-12 11:45:00             1336.0
52590 2019-06-12 11:50:00             5032.0
52591 2019-06-12 12:00:00             5054.0
52592 2019-06-12 12:05:00             5035.0
52593 2019-06-12 12:10:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52591, 52592, 52593]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52587 2019-06-12 11:35:00             1336.0
52588 2019-06-12 11:40:00             1336.0
52589 2019-06-12 11:45:00             1336.0
52590 2019-06-12 11:50:00             1336.0
52591 2019-06-12 12:00:00             5054.0
52592 2019-06-12 12:05:00             5035.0
52593 2019-06-12 12:10:00             5035.0

Outlier 111/186: (5054.0 W/mq)

Outlier (idk: 52591) and its neighborhood

                Date/Time  Irradiance (W/mq)
52588 2019-06-12 11:40:00             1336.0
52589 2019-06-12 11:45:00             1336.0
52590 2019-06-12 11:50:00             1336.0
52591 2019-06-12 12:00:00             5054.0
52592 2019-06-12 12:05:00             5035.0
52593 2019-06-12 12:10:00             5035.0
52594 2019-06-12 12:15:00             5040.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52592, 52593, 52594]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52588 2019-06-12 11:40:00             1336.0
52589 2019-06-12 11:45:00             1336.0
52590 2019-06-12 11:50:00             1336.0
52591 2019-06-12 12:00:00             1336.0
52592 2019-06-12 12:05:00             5035.0
52593 2019-06-12 12:10:00             5035.0
52594 2019-06-12 12:15:00             5040.0

Outlier 112/186: (5035.0 W/mq)

Outlier (idk: 52592) and its neighborhood

                Date/Time  Irradiance (W/mq)
52589 2019-06-12 11:45:00             1336.0
52590 2019-06-12 11:50:00             1336.0
52591 2019-06-12 12:00:00             1336.0
52592 2019-06-12 12:05:00             5035.0
52593 2019-06-12 12:10:00             5035.0
52594 2019-06-12 12:15:00             5040.0
52595 2019-06-12 12:20:00             5039.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52593, 52594, 52595]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52589 2019-06-12 11:45:00             1336.0
52590 2019-06-12 11:50:00             1336.0
52591 2019-06-12 12:00:00             1336.0
52592 2019-06-12 12:05:00             1336.0
52593 2019-06-12 12:10:00             5035.0
52594 2019-06-12 12:15:00             5040.0
52595 2019-06-12 12:20:00             5039.0

Outlier 113/186: (5035.0 W/mq)

Outlier (idk: 52593) and its neighborhood

                Date/Time  Irradiance (W/mq)
52590 2019-06-12 11:50:00             1336.0
52591 2019-06-12 12:00:00             1336.0
52592 2019-06-12 12:05:00             1336.0
52593 2019-06-12 12:10:00             5035.0
52594 2019-06-12 12:15:00             5040.0
52595 2019-06-12 12:20:00             5039.0
52596 2019-06-12 12:25:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52594, 52595, 52596]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52590 2019-06-12 11:50:00             1336.0
52591 2019-06-12 12:00:00             1336.0
52592 2019-06-12 12:05:00             1336.0
52593 2019-06-12 12:10:00             1336.0
52594 2019-06-12 12:15:00             5040.0
52595 2019-06-12 12:20:00             5039.0
52596 2019-06-12 12:25:00             5036.0

Outlier 114/186: (5040.0 W/mq)

Outlier (idk: 52594) and its neighborhood

                Date/Time  Irradiance (W/mq)
52591 2019-06-12 12:00:00             1336.0
52592 2019-06-12 12:05:00             1336.0
52593 2019-06-12 12:10:00             1336.0
52594 2019-06-12 12:15:00             5040.0
52595 2019-06-12 12:20:00             5039.0
52596 2019-06-12 12:25:00             5036.0
52597 2019-06-12 12:30:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52595, 52596, 52597]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52591 2019-06-12 12:00:00             1336.0
52592 2019-06-12 12:05:00             1336.0
52593 2019-06-12 12:10:00             1336.0
52594 2019-06-12 12:15:00             1336.0
52595 2019-06-12 12:20:00             5039.0
52596 2019-06-12 12:25:00             5036.0
52597 2019-06-12 12:30:00             5035.0

Outlier 115/186: (5039.0 W/mq)

Outlier (idk: 52595) and its neighborhood

                Date/Time  Irradiance (W/mq)
52592 2019-06-12 12:05:00             1336.0
52593 2019-06-12 12:10:00             1336.0
52594 2019-06-12 12:15:00             1336.0
52595 2019-06-12 12:20:00             5039.0
52596 2019-06-12 12:25:00             5036.0
52597 2019-06-12 12:30:00             5035.0
52598 2019-06-12 12:35:00             5033.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52596, 52597, 52598]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52592 2019-06-12 12:05:00             1336.0
52593 2019-06-12 12:10:00             1336.0
52594 2019-06-12 12:15:00             1336.0
52595 2019-06-12 12:20:00             1336.0
52596 2019-06-12 12:25:00             5036.0
52597 2019-06-12 12:30:00             5035.0
52598 2019-06-12 12:35:00             5033.0

Outlier 116/186: (5036.0 W/mq)

Outlier (idk: 52596) and its neighborhood

                Date/Time  Irradiance (W/mq)
52593 2019-06-12 12:10:00             1336.0
52594 2019-06-12 12:15:00             1336.0
52595 2019-06-12 12:20:00             1336.0
52596 2019-06-12 12:25:00             5036.0
52597 2019-06-12 12:30:00             5035.0
52598 2019-06-12 12:35:00             5033.0
52599 2019-06-12 12:45:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52597, 52598, 52599]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52593 2019-06-12 12:10:00             1336.0
52594 2019-06-12 12:15:00             1336.0
52595 2019-06-12 12:20:00             1336.0
52596 2019-06-12 12:25:00             1336.0
52597 2019-06-12 12:30:00             5035.0
52598 2019-06-12 12:35:00             5033.0
52599 2019-06-12 12:45:00             5037.0

Outlier 117/186: (5035.0 W/mq)

Outlier (idk: 52597) and its neighborhood

                Date/Time  Irradiance (W/mq)
52594 2019-06-12 12:15:00             1336.0
52595 2019-06-12 12:20:00             1336.0
52596 2019-06-12 12:25:00             1336.0
52597 2019-06-12 12:30:00             5035.0
52598 2019-06-12 12:35:00             5033.0
52599 2019-06-12 12:45:00             5037.0
52600 2019-06-12 12:50:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52598, 52599, 52600]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52594 2019-06-12 12:15:00             1336.0
52595 2019-06-12 12:20:00             1336.0
52596 2019-06-12 12:25:00             1336.0
52597 2019-06-12 12:30:00             1336.0
52598 2019-06-12 12:35:00             5033.0
52599 2019-06-12 12:45:00             5037.0
52600 2019-06-12 12:50:00             5035.0

Outlier 118/186: (5033.0 W/mq)

Outlier (idk: 52598) and its neighborhood

                Date/Time  Irradiance (W/mq)
52595 2019-06-12 12:20:00             1336.0
52596 2019-06-12 12:25:00             1336.0
52597 2019-06-12 12:30:00             1336.0
52598 2019-06-12 12:35:00             5033.0
52599 2019-06-12 12:45:00             5037.0
52600 2019-06-12 12:50:00             5035.0
52601 2019-06-12 12:55:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52599, 52600, 52601]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52595 2019-06-12 12:20:00             1336.0
52596 2019-06-12 12:25:00             1336.0
52597 2019-06-12 12:30:00             1336.0
52598 2019-06-12 12:35:00             1336.0
52599 2019-06-12 12:45:00             5037.0
52600 2019-06-12 12:50:00             5035.0
52601 2019-06-12 12:55:00             5035.0

Outlier 119/186: (5037.0 W/mq)

Outlier (idk: 52599) and its neighborhood

                Date/Time  Irradiance (W/mq)
52596 2019-06-12 12:25:00             1336.0
52597 2019-06-12 12:30:00             1336.0
52598 2019-06-12 12:35:00             1336.0
52599 2019-06-12 12:45:00             5037.0
52600 2019-06-12 12:50:00             5035.0
52601 2019-06-12 12:55:00             5035.0
52602 2019-06-12 13:00:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52600, 52601, 52602]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52596 2019-06-12 12:25:00             1336.0
52597 2019-06-12 12:30:00             1336.0
52598 2019-06-12 12:35:00             1336.0
52599 2019-06-12 12:45:00             1336.0
52600 2019-06-12 12:50:00             5035.0
52601 2019-06-12 12:55:00             5035.0
52602 2019-06-12 13:00:00             5036.0

Outlier 120/186: (5035.0 W/mq)

Outlier (idk: 52600) and its neighborhood

                Date/Time  Irradiance (W/mq)
52597 2019-06-12 12:30:00             1336.0
52598 2019-06-12 12:35:00             1336.0
52599 2019-06-12 12:45:00             1336.0
52600 2019-06-12 12:50:00             5035.0
52601 2019-06-12 12:55:00             5035.0
52602 2019-06-12 13:00:00             5036.0
52603 2019-06-12 13:05:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52601, 52602, 52603]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52597 2019-06-12 12:30:00             1336.0
52598 2019-06-12 12:35:00             1336.0
52599 2019-06-12 12:45:00             1336.0
52600 2019-06-12 12:50:00             1336.0
52601 2019-06-12 12:55:00             5035.0
52602 2019-06-12 13:00:00             5036.0
52603 2019-06-12 13:05:00             5035.0

Outlier 121/186: (5035.0 W/mq)

Outlier (idk: 52601) and its neighborhood

                Date/Time  Irradiance (W/mq)
52598 2019-06-12 12:35:00             1336.0
52599 2019-06-12 12:45:00             1336.0
52600 2019-06-12 12:50:00             1336.0
52601 2019-06-12 12:55:00             5035.0
52602 2019-06-12 13:00:00             5036.0
52603 2019-06-12 13:05:00             5035.0
52604 2019-06-12 13:10:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52602, 52603, 52604]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52598 2019-06-12 12:35:00             1336.0
52599 2019-06-12 12:45:00             1336.0
52600 2019-06-12 12:50:00             1336.0
52601 2019-06-12 12:55:00             1336.0
52602 2019-06-12 13:00:00             5036.0
52603 2019-06-12 13:05:00             5035.0
52604 2019-06-12 13:10:00             5036.0

Outlier 122/186: (5036.0 W/mq)

Outlier (idk: 52602) and its neighborhood

                Date/Time  Irradiance (W/mq)
52599 2019-06-12 12:45:00             1336.0
52600 2019-06-12 12:50:00             1336.0
52601 2019-06-12 12:55:00             1336.0
52602 2019-06-12 13:00:00             5036.0
52603 2019-06-12 13:05:00             5035.0
52604 2019-06-12 13:10:00             5036.0
52605 2019-06-12 13:15:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52603, 52604, 52605]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52599 2019-06-12 12:45:00             1336.0
52600 2019-06-12 12:50:00             1336.0
52601 2019-06-12 12:55:00             1336.0
52602 2019-06-12 13:00:00             1336.0
52603 2019-06-12 13:05:00             5035.0
52604 2019-06-12 13:10:00             5036.0
52605 2019-06-12 13:15:00             5035.0

Outlier 123/186: (5035.0 W/mq)

Outlier (idk: 52603) and its neighborhood

                Date/Time  Irradiance (W/mq)
52600 2019-06-12 12:50:00             1336.0
52601 2019-06-12 12:55:00             1336.0
52602 2019-06-12 13:00:00             1336.0
52603 2019-06-12 13:05:00             5035.0
52604 2019-06-12 13:10:00             5036.0
52605 2019-06-12 13:15:00             5035.0
52606 2019-06-12 13:20:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52604, 52605, 52606]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52600 2019-06-12 12:50:00             1336.0
52601 2019-06-12 12:55:00             1336.0
52602 2019-06-12 13:00:00             1336.0
52603 2019-06-12 13:05:00             1336.0
52604 2019-06-12 13:10:00             5036.0
52605 2019-06-12 13:15:00             5035.0
52606 2019-06-12 13:20:00             5035.0

Outlier 124/186: (5036.0 W/mq)

Outlier (idk: 52604) and its neighborhood

                Date/Time  Irradiance (W/mq)
52601 2019-06-12 12:55:00             1336.0
52602 2019-06-12 13:00:00             1336.0
52603 2019-06-12 13:05:00             1336.0
52604 2019-06-12 13:10:00             5036.0
52605 2019-06-12 13:15:00             5035.0
52606 2019-06-12 13:20:00             5035.0
52607 2019-06-12 13:30:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52605, 52606, 52607]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52601 2019-06-12 12:55:00             1336.0
52602 2019-06-12 13:00:00             1336.0
52603 2019-06-12 13:05:00             1336.0
52604 2019-06-12 13:10:00             1336.0
52605 2019-06-12 13:15:00             5035.0
52606 2019-06-12 13:20:00             5035.0
52607 2019-06-12 13:30:00             5036.0

Outlier 125/186: (5035.0 W/mq)

Outlier (idk: 52605) and its neighborhood

                Date/Time  Irradiance (W/mq)
52602 2019-06-12 13:00:00             1336.0
52603 2019-06-12 13:05:00             1336.0
52604 2019-06-12 13:10:00             1336.0
52605 2019-06-12 13:15:00             5035.0
52606 2019-06-12 13:20:00             5035.0
52607 2019-06-12 13:30:00             5036.0
52608 2019-06-12 13:35:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52606, 52607, 52608]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52602 2019-06-12 13:00:00             1336.0
52603 2019-06-12 13:05:00             1336.0
52604 2019-06-12 13:10:00             1336.0
52605 2019-06-12 13:15:00             1336.0
52606 2019-06-12 13:20:00             5035.0
52607 2019-06-12 13:30:00             5036.0
52608 2019-06-12 13:35:00             5035.0

Outlier 126/186: (5035.0 W/mq)

Outlier (idk: 52606) and its neighborhood

                Date/Time  Irradiance (W/mq)
52603 2019-06-12 13:05:00             1336.0
52604 2019-06-12 13:10:00             1336.0
52605 2019-06-12 13:15:00             1336.0
52606 2019-06-12 13:20:00             5035.0
52607 2019-06-12 13:30:00             5036.0
52608 2019-06-12 13:35:00             5035.0
52609 2019-06-12 13:40:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52607, 52608, 52609]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52603 2019-06-12 13:05:00             1336.0
52604 2019-06-12 13:10:00             1336.0
52605 2019-06-12 13:15:00             1336.0
52606 2019-06-12 13:20:00             1336.0
52607 2019-06-12 13:30:00             5036.0
52608 2019-06-12 13:35:00             5035.0
52609 2019-06-12 13:40:00             5036.0

Outlier 127/186: (5036.0 W/mq)

Outlier (idk: 52607) and its neighborhood

                Date/Time  Irradiance (W/mq)
52604 2019-06-12 13:10:00             1336.0
52605 2019-06-12 13:15:00             1336.0
52606 2019-06-12 13:20:00             1336.0
52607 2019-06-12 13:30:00             5036.0
52608 2019-06-12 13:35:00             5035.0
52609 2019-06-12 13:40:00             5036.0
52610 2019-06-12 13:45:00             5038.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52608, 52609, 52610]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52604 2019-06-12 13:10:00             1336.0
52605 2019-06-12 13:15:00             1336.0
52606 2019-06-12 13:20:00             1336.0
52607 2019-06-12 13:30:00             1336.0
52608 2019-06-12 13:35:00             5035.0
52609 2019-06-12 13:40:00             5036.0
52610 2019-06-12 13:45:00             5038.0

Outlier 128/186: (5035.0 W/mq)

Outlier (idk: 52608) and its neighborhood

                Date/Time  Irradiance (W/mq)
52605 2019-06-12 13:15:00             1336.0
52606 2019-06-12 13:20:00             1336.0
52607 2019-06-12 13:30:00             1336.0
52608 2019-06-12 13:35:00             5035.0
52609 2019-06-12 13:40:00             5036.0
52610 2019-06-12 13:45:00             5038.0
52611 2019-06-12 13:50:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52609, 52610, 52611]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52605 2019-06-12 13:15:00             1336.0
52606 2019-06-12 13:20:00             1336.0
52607 2019-06-12 13:30:00             1336.0
52608 2019-06-12 13:35:00             1336.0
52609 2019-06-12 13:40:00             5036.0
52610 2019-06-12 13:45:00             5038.0
52611 2019-06-12 13:50:00             5037.0

Outlier 129/186: (5036.0 W/mq)

Outlier (idk: 52609) and its neighborhood

                Date/Time  Irradiance (W/mq)
52606 2019-06-12 13:20:00             1336.0
52607 2019-06-12 13:30:00             1336.0
52608 2019-06-12 13:35:00             1336.0
52609 2019-06-12 13:40:00             5036.0
52610 2019-06-12 13:45:00             5038.0
52611 2019-06-12 13:50:00             5037.0
52612 2019-06-12 13:55:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52610, 52611, 52612]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52606 2019-06-12 13:20:00             1336.0
52607 2019-06-12 13:30:00             1336.0
52608 2019-06-12 13:35:00             1336.0
52609 2019-06-12 13:40:00             1336.0
52610 2019-06-12 13:45:00             5038.0
52611 2019-06-12 13:50:00             5037.0
52612 2019-06-12 13:55:00             5036.0

Outlier 130/186: (5038.0 W/mq)

Outlier (idk: 52610) and its neighborhood

                Date/Time  Irradiance (W/mq)
52607 2019-06-12 13:30:00             1336.0
52608 2019-06-12 13:35:00             1336.0
52609 2019-06-12 13:40:00             1336.0
52610 2019-06-12 13:45:00             5038.0
52611 2019-06-12 13:50:00             5037.0
52612 2019-06-12 13:55:00             5036.0
52613 2019-06-12 14:00:00             5038.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52611, 52612, 52613]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52607 2019-06-12 13:30:00             1336.0
52608 2019-06-12 13:35:00             1336.0
52609 2019-06-12 13:40:00             1336.0
52610 2019-06-12 13:45:00             1336.0
52611 2019-06-12 13:50:00             5037.0
52612 2019-06-12 13:55:00             5036.0
52613 2019-06-12 14:00:00             5038.0

Outlier 131/186: (5037.0 W/mq)

Outlier (idk: 52611) and its neighborhood

                Date/Time  Irradiance (W/mq)
52608 2019-06-12 13:35:00             1336.0
52609 2019-06-12 13:40:00             1336.0
52610 2019-06-12 13:45:00             1336.0
52611 2019-06-12 13:50:00             5037.0
52612 2019-06-12 13:55:00             5036.0
52613 2019-06-12 14:00:00             5038.0
52614 2019-06-12 14:05:00             5038.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52612, 52613, 52614]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52608 2019-06-12 13:35:00             1336.0
52609 2019-06-12 13:40:00             1336.0
52610 2019-06-12 13:45:00             1336.0
52611 2019-06-12 13:50:00             1336.0
52612 2019-06-12 13:55:00             5036.0
52613 2019-06-12 14:00:00             5038.0
52614 2019-06-12 14:05:00             5038.0

Outlier 132/186: (5036.0 W/mq)

Outlier (idk: 52612) and its neighborhood

                Date/Time  Irradiance (W/mq)
52609 2019-06-12 13:40:00             1336.0
52610 2019-06-12 13:45:00             1336.0
52611 2019-06-12 13:50:00             1336.0
52612 2019-06-12 13:55:00             5036.0
52613 2019-06-12 14:00:00             5038.0
52614 2019-06-12 14:05:00             5038.0
52615 2019-06-12 14:15:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52613, 52614, 52615]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52609 2019-06-12 13:40:00             1336.0
52610 2019-06-12 13:45:00             1336.0
52611 2019-06-12 13:50:00             1336.0
52612 2019-06-12 13:55:00             1336.0
52613 2019-06-12 14:00:00             5038.0
52614 2019-06-12 14:05:00             5038.0
52615 2019-06-12 14:15:00             5036.0

Outlier 133/186: (5038.0 W/mq)

Outlier (idk: 52613) and its neighborhood

                Date/Time  Irradiance (W/mq)
52610 2019-06-12 13:45:00             1336.0
52611 2019-06-12 13:50:00             1336.0
52612 2019-06-12 13:55:00             1336.0
52613 2019-06-12 14:00:00             5038.0
52614 2019-06-12 14:05:00             5038.0
52615 2019-06-12 14:15:00             5036.0
52616 2019-06-12 14:20:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52614, 52615, 52616]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52610 2019-06-12 13:45:00             1336.0
52611 2019-06-12 13:50:00             1336.0
52612 2019-06-12 13:55:00             1336.0
52613 2019-06-12 14:00:00             1336.0
52614 2019-06-12 14:05:00             5038.0
52615 2019-06-12 14:15:00             5036.0
52616 2019-06-12 14:20:00             5036.0

Outlier 134/186: (5038.0 W/mq)

Outlier (idk: 52614) and its neighborhood

                Date/Time  Irradiance (W/mq)
52611 2019-06-12 13:50:00             1336.0
52612 2019-06-12 13:55:00             1336.0
52613 2019-06-12 14:00:00             1336.0
52614 2019-06-12 14:05:00             5038.0
52615 2019-06-12 14:15:00             5036.0
52616 2019-06-12 14:20:00             5036.0
52617 2019-06-12 14:25:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52615, 52616, 52617]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52611 2019-06-12 13:50:00             1336.0
52612 2019-06-12 13:55:00             1336.0
52613 2019-06-12 14:00:00             1336.0
52614 2019-06-12 14:05:00             1336.0
52615 2019-06-12 14:15:00             5036.0
52616 2019-06-12 14:20:00             5036.0
52617 2019-06-12 14:25:00             5037.0

Outlier 135/186: (5036.0 W/mq)

Outlier (idk: 52615) and its neighborhood

                Date/Time  Irradiance (W/mq)
52612 2019-06-12 13:55:00             1336.0
52613 2019-06-12 14:00:00             1336.0
52614 2019-06-12 14:05:00             1336.0
52615 2019-06-12 14:15:00             5036.0
52616 2019-06-12 14:20:00             5036.0
52617 2019-06-12 14:25:00             5037.0
52618 2019-06-12 14:30:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52616, 52617, 52618]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52612 2019-06-12 13:55:00             1336.0
52613 2019-06-12 14:00:00             1336.0
52614 2019-06-12 14:05:00             1336.0
52615 2019-06-12 14:15:00             1336.0
52616 2019-06-12 14:20:00             5036.0
52617 2019-06-12 14:25:00             5037.0
52618 2019-06-12 14:30:00             5036.0

Outlier 136/186: (5036.0 W/mq)

Outlier (idk: 52616) and its neighborhood

                Date/Time  Irradiance (W/mq)
52613 2019-06-12 14:00:00             1336.0
52614 2019-06-12 14:05:00             1336.0
52615 2019-06-12 14:15:00             1336.0
52616 2019-06-12 14:20:00             5036.0
52617 2019-06-12 14:25:00             5037.0
52618 2019-06-12 14:30:00             5036.0
52619 2019-06-12 14:35:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52617, 52618, 52619]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52613 2019-06-12 14:00:00             1336.0
52614 2019-06-12 14:05:00             1336.0
52615 2019-06-12 14:15:00             1336.0
52616 2019-06-12 14:20:00             1336.0
52617 2019-06-12 14:25:00             5037.0
52618 2019-06-12 14:30:00             5036.0
52619 2019-06-12 14:35:00             5036.0

Outlier 137/186: (5037.0 W/mq)

Outlier (idk: 52617) and its neighborhood

                Date/Time  Irradiance (W/mq)
52614 2019-06-12 14:05:00             1336.0
52615 2019-06-12 14:15:00             1336.0
52616 2019-06-12 14:20:00             1336.0
52617 2019-06-12 14:25:00             5037.0
52618 2019-06-12 14:30:00             5036.0
52619 2019-06-12 14:35:00             5036.0
52620 2019-06-12 14:40:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52618, 52619, 52620]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52614 2019-06-12 14:05:00             1336.0
52615 2019-06-12 14:15:00             1336.0
52616 2019-06-12 14:20:00             1336.0
52617 2019-06-12 14:25:00             1336.0
52618 2019-06-12 14:30:00             5036.0
52619 2019-06-12 14:35:00             5036.0
52620 2019-06-12 14:40:00             5036.0

Outlier 138/186: (5036.0 W/mq)

Outlier (idk: 52618) and its neighborhood

                Date/Time  Irradiance (W/mq)
52615 2019-06-12 14:15:00             1336.0
52616 2019-06-12 14:20:00             1336.0
52617 2019-06-12 14:25:00             1336.0
52618 2019-06-12 14:30:00             5036.0
52619 2019-06-12 14:35:00             5036.0
52620 2019-06-12 14:40:00             5036.0
52621 2019-06-12 14:45:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52619, 52620, 52621]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52615 2019-06-12 14:15:00             1336.0
52616 2019-06-12 14:20:00             1336.0
52617 2019-06-12 14:25:00             1336.0
52618 2019-06-12 14:30:00             1336.0
52619 2019-06-12 14:35:00             5036.0
52620 2019-06-12 14:40:00             5036.0
52621 2019-06-12 14:45:00             5035.0

Outlier 139/186: (5036.0 W/mq)

Outlier (idk: 52619) and its neighborhood

                Date/Time  Irradiance (W/mq)
52616 2019-06-12 14:20:00             1336.0
52617 2019-06-12 14:25:00             1336.0
52618 2019-06-12 14:30:00             1336.0
52619 2019-06-12 14:35:00             5036.0
52620 2019-06-12 14:40:00             5036.0
52621 2019-06-12 14:45:00             5035.0
52622 2019-06-12 14:50:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52620, 52621, 52622]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52616 2019-06-12 14:20:00             1336.0
52617 2019-06-12 14:25:00             1336.0
52618 2019-06-12 14:30:00             1336.0
52619 2019-06-12 14:35:00             1336.0
52620 2019-06-12 14:40:00             5036.0
52621 2019-06-12 14:45:00             5035.0
52622 2019-06-12 14:50:00             5037.0

Outlier 140/186: (5036.0 W/mq)

Outlier (idk: 52620) and its neighborhood

                Date/Time  Irradiance (W/mq)
52617 2019-06-12 14:25:00             1336.0
52618 2019-06-12 14:30:00             1336.0
52619 2019-06-12 14:35:00             1336.0
52620 2019-06-12 14:40:00             5036.0
52621 2019-06-12 14:45:00             5035.0
52622 2019-06-12 14:50:00             5037.0
52623 2019-06-12 15:00:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52621, 52622, 52623]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52617 2019-06-12 14:25:00             1336.0
52618 2019-06-12 14:30:00             1336.0
52619 2019-06-12 14:35:00             1336.0
52620 2019-06-12 14:40:00             1336.0
52621 2019-06-12 14:45:00             5035.0
52622 2019-06-12 14:50:00             5037.0
52623 2019-06-12 15:00:00             5035.0

Outlier 141/186: (5035.0 W/mq)

Outlier (idk: 52621) and its neighborhood

                Date/Time  Irradiance (W/mq)
52618 2019-06-12 14:30:00             1336.0
52619 2019-06-12 14:35:00             1336.0
52620 2019-06-12 14:40:00             1336.0
52621 2019-06-12 14:45:00             5035.0
52622 2019-06-12 14:50:00             5037.0
52623 2019-06-12 15:00:00             5035.0
52624 2019-06-12 15:05:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52622, 52623, 52624]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52618 2019-06-12 14:30:00             1336.0
52619 2019-06-12 14:35:00             1336.0
52620 2019-06-12 14:40:00             1336.0
52621 2019-06-12 14:45:00             1336.0
52622 2019-06-12 14:50:00             5037.0
52623 2019-06-12 15:00:00             5035.0
52624 2019-06-12 15:05:00             5035.0

Outlier 142/186: (5037.0 W/mq)

Outlier (idk: 52622) and its neighborhood

                Date/Time  Irradiance (W/mq)
52619 2019-06-12 14:35:00             1336.0
52620 2019-06-12 14:40:00             1336.0
52621 2019-06-12 14:45:00             1336.0
52622 2019-06-12 14:50:00             5037.0
52623 2019-06-12 15:00:00             5035.0
52624 2019-06-12 15:05:00             5035.0
52625 2019-06-12 15:10:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52623, 52624, 52625]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52619 2019-06-12 14:35:00             1336.0
52620 2019-06-12 14:40:00             1336.0
52621 2019-06-12 14:45:00             1336.0
52622 2019-06-12 14:50:00             1336.0
52623 2019-06-12 15:00:00             5035.0
52624 2019-06-12 15:05:00             5035.0
52625 2019-06-12 15:10:00             5036.0

Outlier 143/186: (5035.0 W/mq)

Outlier (idk: 52623) and its neighborhood

                Date/Time  Irradiance (W/mq)
52620 2019-06-12 14:40:00             1336.0
52621 2019-06-12 14:45:00             1336.0
52622 2019-06-12 14:50:00             1336.0
52623 2019-06-12 15:00:00             5035.0
52624 2019-06-12 15:05:00             5035.0
52625 2019-06-12 15:10:00             5036.0
52626 2019-06-12 15:15:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52624, 52625, 52626]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52620 2019-06-12 14:40:00             1336.0
52621 2019-06-12 14:45:00             1336.0
52622 2019-06-12 14:50:00             1336.0
52623 2019-06-12 15:00:00             1336.0
52624 2019-06-12 15:05:00             5035.0
52625 2019-06-12 15:10:00             5036.0
52626 2019-06-12 15:15:00             5035.0

Outlier 144/186: (5035.0 W/mq)

Outlier (idk: 52624) and its neighborhood

                Date/Time  Irradiance (W/mq)
52621 2019-06-12 14:45:00             1336.0
52622 2019-06-12 14:50:00             1336.0
52623 2019-06-12 15:00:00             1336.0
52624 2019-06-12 15:05:00             5035.0
52625 2019-06-12 15:10:00             5036.0
52626 2019-06-12 15:15:00             5035.0
52627 2019-06-12 15:20:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52625, 52626, 52627]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52621 2019-06-12 14:45:00             1336.0
52622 2019-06-12 14:50:00             1336.0
52623 2019-06-12 15:00:00             1336.0
52624 2019-06-12 15:05:00             1336.0
52625 2019-06-12 15:10:00             5036.0
52626 2019-06-12 15:15:00             5035.0
52627 2019-06-12 15:20:00             5035.0

Outlier 145/186: (5036.0 W/mq)

Outlier (idk: 52625) and its neighborhood

                Date/Time  Irradiance (W/mq)
52622 2019-06-12 14:50:00             1336.0
52623 2019-06-12 15:00:00             1336.0
52624 2019-06-12 15:05:00             1336.0
52625 2019-06-12 15:10:00             5036.0
52626 2019-06-12 15:15:00             5035.0
52627 2019-06-12 15:20:00             5035.0
52628 2019-06-12 15:25:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52626, 52627, 52628]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52622 2019-06-12 14:50:00             1336.0
52623 2019-06-12 15:00:00             1336.0
52624 2019-06-12 15:05:00             1336.0
52625 2019-06-12 15:10:00             1336.0
52626 2019-06-12 15:15:00             5035.0
52627 2019-06-12 15:20:00             5035.0
52628 2019-06-12 15:25:00             5036.0

Outlier 146/186: (5035.0 W/mq)

Outlier (idk: 52626) and its neighborhood

                Date/Time  Irradiance (W/mq)
52623 2019-06-12 15:00:00             1336.0
52624 2019-06-12 15:05:00             1336.0
52625 2019-06-12 15:10:00             1336.0
52626 2019-06-12 15:15:00             5035.0
52627 2019-06-12 15:20:00             5035.0
52628 2019-06-12 15:25:00             5036.0
52629 2019-06-12 15:30:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52627, 52628, 52629]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52623 2019-06-12 15:00:00             1336.0
52624 2019-06-12 15:05:00             1336.0
52625 2019-06-12 15:10:00             1336.0
52626 2019-06-12 15:15:00             1336.0
52627 2019-06-12 15:20:00             5035.0
52628 2019-06-12 15:25:00             5036.0
52629 2019-06-12 15:30:00             5036.0

Outlier 147/186: (5035.0 W/mq)

Outlier (idk: 52627) and its neighborhood

                Date/Time  Irradiance (W/mq)
52624 2019-06-12 15:05:00             1336.0
52625 2019-06-12 15:10:00             1336.0
52626 2019-06-12 15:15:00             1336.0
52627 2019-06-12 15:20:00             5035.0
52628 2019-06-12 15:25:00             5036.0
52629 2019-06-12 15:30:00             5036.0
52630 2019-06-12 15:40:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52628, 52629, 52630]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52624 2019-06-12 15:05:00             1336.0
52625 2019-06-12 15:10:00             1336.0
52626 2019-06-12 15:15:00             1336.0
52627 2019-06-12 15:20:00             1336.0
52628 2019-06-12 15:25:00             5036.0
52629 2019-06-12 15:30:00             5036.0
52630 2019-06-12 15:40:00             5035.0

Outlier 148/186: (5036.0 W/mq)

Outlier (idk: 52628) and its neighborhood

                Date/Time  Irradiance (W/mq)
52625 2019-06-12 15:10:00             1336.0
52626 2019-06-12 15:15:00             1336.0
52627 2019-06-12 15:20:00             1336.0
52628 2019-06-12 15:25:00             5036.0
52629 2019-06-12 15:30:00             5036.0
52630 2019-06-12 15:40:00             5035.0
52631 2019-06-12 15:45:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52629, 52630, 52631]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52625 2019-06-12 15:10:00             1336.0
52626 2019-06-12 15:15:00             1336.0
52627 2019-06-12 15:20:00             1336.0
52628 2019-06-12 15:25:00             1336.0
52629 2019-06-12 15:30:00             5036.0
52630 2019-06-12 15:40:00             5035.0
52631 2019-06-12 15:45:00             5035.0

Outlier 149/186: (5036.0 W/mq)

Outlier (idk: 52629) and its neighborhood

                Date/Time  Irradiance (W/mq)
52626 2019-06-12 15:15:00             1336.0
52627 2019-06-12 15:20:00             1336.0
52628 2019-06-12 15:25:00             1336.0
52629 2019-06-12 15:30:00             5036.0
52630 2019-06-12 15:40:00             5035.0
52631 2019-06-12 15:45:00             5035.0
52632 2019-06-12 15:50:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52630, 52631, 52632]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52626 2019-06-12 15:15:00             1336.0
52627 2019-06-12 15:20:00             1336.0
52628 2019-06-12 15:25:00             1336.0
52629 2019-06-12 15:30:00             1336.0
52630 2019-06-12 15:40:00             5035.0
52631 2019-06-12 15:45:00             5035.0
52632 2019-06-12 15:50:00             5035.0

Outlier 150/186: (5035.0 W/mq)

Outlier (idk: 52630) and its neighborhood

                Date/Time  Irradiance (W/mq)
52627 2019-06-12 15:20:00             1336.0
52628 2019-06-12 15:25:00             1336.0
52629 2019-06-12 15:30:00             1336.0
52630 2019-06-12 15:40:00             5035.0
52631 2019-06-12 15:45:00             5035.0
52632 2019-06-12 15:50:00             5035.0
52633 2019-06-12 15:55:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52631, 52632, 52633]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52627 2019-06-12 15:20:00             1336.0
52628 2019-06-12 15:25:00             1336.0
52629 2019-06-12 15:30:00             1336.0
52630 2019-06-12 15:40:00             1336.0
52631 2019-06-12 15:45:00             5035.0
52632 2019-06-12 15:50:00             5035.0
52633 2019-06-12 15:55:00             5036.0

Outlier 151/186: (5035.0 W/mq)

Outlier (idk: 52631) and its neighborhood

                Date/Time  Irradiance (W/mq)
52628 2019-06-12 15:25:00             1336.0
52629 2019-06-12 15:30:00             1336.0
52630 2019-06-12 15:40:00             1336.0
52631 2019-06-12 15:45:00             5035.0
52632 2019-06-12 15:50:00             5035.0
52633 2019-06-12 15:55:00             5036.0
52634 2019-06-12 16:00:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52632, 52633, 52634]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52628 2019-06-12 15:25:00             1336.0
52629 2019-06-12 15:30:00             1336.0
52630 2019-06-12 15:40:00             1336.0
52631 2019-06-12 15:45:00             1336.0
52632 2019-06-12 15:50:00             5035.0
52633 2019-06-12 15:55:00             5036.0
52634 2019-06-12 16:00:00             5037.0

Outlier 152/186: (5035.0 W/mq)

Outlier (idk: 52632) and its neighborhood

                Date/Time  Irradiance (W/mq)
52629 2019-06-12 15:30:00             1336.0
52630 2019-06-12 15:40:00             1336.0
52631 2019-06-12 15:45:00             1336.0
52632 2019-06-12 15:50:00             5035.0
52633 2019-06-12 15:55:00             5036.0
52634 2019-06-12 16:00:00             5037.0
52635 2019-06-12 16:05:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52633, 52634, 52635]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52629 2019-06-12 15:30:00             1336.0
52630 2019-06-12 15:40:00             1336.0
52631 2019-06-12 15:45:00             1336.0
52632 2019-06-12 15:50:00             1336.0
52633 2019-06-12 15:55:00             5036.0
52634 2019-06-12 16:00:00             5037.0
52635 2019-06-12 16:05:00             5035.0

Outlier 153/186: (5036.0 W/mq)

Outlier (idk: 52633) and its neighborhood

                Date/Time  Irradiance (W/mq)
52630 2019-06-12 15:40:00             1336.0
52631 2019-06-12 15:45:00             1336.0
52632 2019-06-12 15:50:00             1336.0
52633 2019-06-12 15:55:00             5036.0
52634 2019-06-12 16:00:00             5037.0
52635 2019-06-12 16:05:00             5035.0
52636 2019-06-12 16:10:00             5037.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52634, 52635, 52636]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52630 2019-06-12 15:40:00             1336.0
52631 2019-06-12 15:45:00             1336.0
52632 2019-06-12 15:50:00             1336.0
52633 2019-06-12 15:55:00             1336.0
52634 2019-06-12 16:00:00             5037.0
52635 2019-06-12 16:05:00             5035.0
52636 2019-06-12 16:10:00             5037.0

Outlier 154/186: (5037.0 W/mq)

Outlier (idk: 52634) and its neighborhood

                Date/Time  Irradiance (W/mq)
52631 2019-06-12 15:45:00             1336.0
52632 2019-06-12 15:50:00             1336.0
52633 2019-06-12 15:55:00             1336.0
52634 2019-06-12 16:00:00             5037.0
52635 2019-06-12 16:05:00             5035.0
52636 2019-06-12 16:10:00             5037.0
52637 2019-06-12 16:15:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52635, 52636, 52637]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52631 2019-06-12 15:45:00             1336.0
52632 2019-06-12 15:50:00             1336.0
52633 2019-06-12 15:55:00             1336.0
52634 2019-06-12 16:00:00             1336.0
52635 2019-06-12 16:05:00             5035.0
52636 2019-06-12 16:10:00             5037.0
52637 2019-06-12 16:15:00             5035.0

Outlier 155/186: (5035.0 W/mq)

Outlier (idk: 52635) and its neighborhood

                Date/Time  Irradiance (W/mq)
52632 2019-06-12 15:50:00             1336.0
52633 2019-06-12 15:55:00             1336.0
52634 2019-06-12 16:00:00             1336.0
52635 2019-06-12 16:05:00             5035.0
52636 2019-06-12 16:10:00             5037.0
52637 2019-06-12 16:15:00             5035.0
52638 2019-06-12 16:25:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52636, 52637, 52638]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52632 2019-06-12 15:50:00             1336.0
52633 2019-06-12 15:55:00             1336.0
52634 2019-06-12 16:00:00             1336.0
52635 2019-06-12 16:05:00             1336.0
52636 2019-06-12 16:10:00             5037.0
52637 2019-06-12 16:15:00             5035.0
52638 2019-06-12 16:25:00             5035.0

Outlier 156/186: (5037.0 W/mq)

Outlier (idk: 52636) and its neighborhood

                Date/Time  Irradiance (W/mq)
52633 2019-06-12 15:55:00             1336.0
52634 2019-06-12 16:00:00             1336.0
52635 2019-06-12 16:05:00             1336.0
52636 2019-06-12 16:10:00             5037.0
52637 2019-06-12 16:15:00             5035.0
52638 2019-06-12 16:25:00             5035.0
52639 2019-06-12 16:30:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52637, 52638, 52639]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52633 2019-06-12 15:55:00             1336.0
52634 2019-06-12 16:00:00             1336.0
52635 2019-06-12 16:05:00             1336.0
52636 2019-06-12 16:10:00             1336.0
52637 2019-06-12 16:15:00             5035.0
52638 2019-06-12 16:25:00             5035.0
52639 2019-06-12 16:30:00             5035.0

Outlier 157/186: (5035.0 W/mq)

Outlier (idk: 52637) and its neighborhood

                Date/Time  Irradiance (W/mq)
52634 2019-06-12 16:00:00             1336.0
52635 2019-06-12 16:05:00             1336.0
52636 2019-06-12 16:10:00             1336.0
52637 2019-06-12 16:15:00             5035.0
52638 2019-06-12 16:25:00             5035.0
52639 2019-06-12 16:30:00             5035.0
52640 2019-06-12 16:35:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52638, 52639, 52640]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52634 2019-06-12 16:00:00             1336.0
52635 2019-06-12 16:05:00             1336.0
52636 2019-06-12 16:10:00             1336.0
52637 2019-06-12 16:15:00             1336.0
52638 2019-06-12 16:25:00             5035.0
52639 2019-06-12 16:30:00             5035.0
52640 2019-06-12 16:35:00             5035.0

Outlier 158/186: (5035.0 W/mq)

Outlier (idk: 52638) and its neighborhood

                Date/Time  Irradiance (W/mq)
52635 2019-06-12 16:05:00             1336.0
52636 2019-06-12 16:10:00             1336.0
52637 2019-06-12 16:15:00             1336.0
52638 2019-06-12 16:25:00             5035.0
52639 2019-06-12 16:30:00             5035.0
52640 2019-06-12 16:35:00             5035.0
52641 2019-06-12 16:40:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52639, 52640, 52641]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52635 2019-06-12 16:05:00             1336.0
52636 2019-06-12 16:10:00             1336.0
52637 2019-06-12 16:15:00             1336.0
52638 2019-06-12 16:25:00             1336.0
52639 2019-06-12 16:30:00             5035.0
52640 2019-06-12 16:35:00             5035.0
52641 2019-06-12 16:40:00             5035.0

Outlier 159/186: (5035.0 W/mq)

Outlier (idk: 52639) and its neighborhood

                Date/Time  Irradiance (W/mq)
52636 2019-06-12 16:10:00             1336.0
52637 2019-06-12 16:15:00             1336.0
52638 2019-06-12 16:25:00             1336.0
52639 2019-06-12 16:30:00             5035.0
52640 2019-06-12 16:35:00             5035.0
52641 2019-06-12 16:40:00             5035.0
52642 2019-06-12 16:45:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52640, 52641, 52642]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52636 2019-06-12 16:10:00             1336.0
52637 2019-06-12 16:15:00             1336.0
52638 2019-06-12 16:25:00             1336.0
52639 2019-06-12 16:30:00             1336.0
52640 2019-06-12 16:35:00             5035.0
52641 2019-06-12 16:40:00             5035.0
52642 2019-06-12 16:45:00             5035.0

Outlier 160/186: (5035.0 W/mq)

Outlier (idk: 52640) and its neighborhood

                Date/Time  Irradiance (W/mq)
52637 2019-06-12 16:15:00             1336.0
52638 2019-06-12 16:25:00             1336.0
52639 2019-06-12 16:30:00             1336.0
52640 2019-06-12 16:35:00             5035.0
52641 2019-06-12 16:40:00             5035.0
52642 2019-06-12 16:45:00             5035.0
52643 2019-06-12 16:50:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52641, 52642, 52643]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52637 2019-06-12 16:15:00             1336.0
52638 2019-06-12 16:25:00             1336.0
52639 2019-06-12 16:30:00             1336.0
52640 2019-06-12 16:35:00             1336.0
52641 2019-06-12 16:40:00             5035.0
52642 2019-06-12 16:45:00             5035.0
52643 2019-06-12 16:50:00             5035.0

Outlier 161/186: (5035.0 W/mq)

Outlier (idk: 52641) and its neighborhood

                Date/Time  Irradiance (W/mq)
52638 2019-06-12 16:25:00             1336.0
52639 2019-06-12 16:30:00             1336.0
52640 2019-06-12 16:35:00             1336.0
52641 2019-06-12 16:40:00             5035.0
52642 2019-06-12 16:45:00             5035.0
52643 2019-06-12 16:50:00             5035.0
52644 2019-06-12 16:55:00             5034.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52642, 52643, 52644]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52638 2019-06-12 16:25:00             1336.0
52639 2019-06-12 16:30:00             1336.0
52640 2019-06-12 16:35:00             1336.0
52641 2019-06-12 16:40:00             1336.0
52642 2019-06-12 16:45:00             5035.0
52643 2019-06-12 16:50:00             5035.0
52644 2019-06-12 16:55:00             5034.0

Outlier 162/186: (5035.0 W/mq)

Outlier (idk: 52642) and its neighborhood

                Date/Time  Irradiance (W/mq)
52639 2019-06-12 16:30:00             1336.0
52640 2019-06-12 16:35:00             1336.0
52641 2019-06-12 16:40:00             1336.0
52642 2019-06-12 16:45:00             5035.0
52643 2019-06-12 16:50:00             5035.0
52644 2019-06-12 16:55:00             5034.0
52645 2019-06-12 17:05:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52643, 52644, 52645]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52639 2019-06-12 16:30:00             1336.0
52640 2019-06-12 16:35:00             1336.0
52641 2019-06-12 16:40:00             1336.0
52642 2019-06-12 16:45:00             1336.0
52643 2019-06-12 16:50:00             5035.0
52644 2019-06-12 16:55:00             5034.0
52645 2019-06-12 17:05:00             5036.0

Outlier 163/186: (5035.0 W/mq)

Outlier (idk: 52643) and its neighborhood

                Date/Time  Irradiance (W/mq)
52640 2019-06-12 16:35:00             1336.0
52641 2019-06-12 16:40:00             1336.0
52642 2019-06-12 16:45:00             1336.0
52643 2019-06-12 16:50:00             5035.0
52644 2019-06-12 16:55:00             5034.0
52645 2019-06-12 17:05:00             5036.0
52646 2019-06-12 17:10:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52644, 52645, 52646]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52640 2019-06-12 16:35:00             1336.0
52641 2019-06-12 16:40:00             1336.0
52642 2019-06-12 16:45:00             1336.0
52643 2019-06-12 16:50:00             1336.0
52644 2019-06-12 16:55:00             5034.0
52645 2019-06-12 17:05:00             5036.0
52646 2019-06-12 17:10:00             5036.0

Outlier 164/186: (5034.0 W/mq)

Outlier (idk: 52644) and its neighborhood

                Date/Time  Irradiance (W/mq)
52641 2019-06-12 16:40:00             1336.0
52642 2019-06-12 16:45:00             1336.0
52643 2019-06-12 16:50:00             1336.0
52644 2019-06-12 16:55:00             5034.0
52645 2019-06-12 17:05:00             5036.0
52646 2019-06-12 17:10:00             5036.0
52647 2019-06-12 17:15:00             5034.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52645, 52646, 52647]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52641 2019-06-12 16:40:00             1336.0
52642 2019-06-12 16:45:00             1336.0
52643 2019-06-12 16:50:00             1336.0
52644 2019-06-12 16:55:00             1336.0
52645 2019-06-12 17:05:00             5036.0
52646 2019-06-12 17:10:00             5036.0
52647 2019-06-12 17:15:00             5034.0

Outlier 165/186: (5036.0 W/mq)

Outlier (idk: 52645) and its neighborhood

                Date/Time  Irradiance (W/mq)
52642 2019-06-12 16:45:00             1336.0
52643 2019-06-12 16:50:00             1336.0
52644 2019-06-12 16:55:00             1336.0
52645 2019-06-12 17:05:00             5036.0
52646 2019-06-12 17:10:00             5036.0
52647 2019-06-12 17:15:00             5034.0
52648 2019-06-12 17:30:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52646, 52647, 52648]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52642 2019-06-12 16:45:00             1336.0
52643 2019-06-12 16:50:00             1336.0
52644 2019-06-12 16:55:00             1336.0
52645 2019-06-12 17:05:00             1336.0
52646 2019-06-12 17:10:00             5036.0
52647 2019-06-12 17:15:00             5034.0
52648 2019-06-12 17:30:00             5035.0

Outlier 166/186: (5036.0 W/mq)

Outlier (idk: 52646) and its neighborhood

                Date/Time  Irradiance (W/mq)
52643 2019-06-12 16:50:00             1336.0
52644 2019-06-12 16:55:00             1336.0
52645 2019-06-12 17:05:00             1336.0
52646 2019-06-12 17:10:00             5036.0
52647 2019-06-12 17:15:00             5034.0
52648 2019-06-12 17:30:00             5035.0
52649 2019-06-12 17:35:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52647, 52648, 52649]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52643 2019-06-12 16:50:00             1336.0
52644 2019-06-12 16:55:00             1336.0
52645 2019-06-12 17:05:00             1336.0
52646 2019-06-12 17:10:00             1336.0
52647 2019-06-12 17:15:00             5034.0
52648 2019-06-12 17:30:00             5035.0
52649 2019-06-12 17:35:00             5036.0

Outlier 167/186: (5034.0 W/mq)

Outlier (idk: 52647) and its neighborhood

                Date/Time  Irradiance (W/mq)
52644 2019-06-12 16:55:00             1336.0
52645 2019-06-12 17:05:00             1336.0
52646 2019-06-12 17:10:00             1336.0
52647 2019-06-12 17:15:00             5034.0
52648 2019-06-12 17:30:00             5035.0
52649 2019-06-12 17:35:00             5036.0
52650 2019-06-12 17:45:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52648, 52649, 52650]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52644 2019-06-12 16:55:00             1336.0
52645 2019-06-12 17:05:00             1336.0
52646 2019-06-12 17:10:00             1336.0
52647 2019-06-12 17:15:00             1336.0
52648 2019-06-12 17:30:00             5035.0
52649 2019-06-12 17:35:00             5036.0
52650 2019-06-12 17:45:00             5036.0

Outlier 168/186: (5035.0 W/mq)

Outlier (idk: 52648) and its neighborhood

                Date/Time  Irradiance (W/mq)
52645 2019-06-12 17:05:00             1336.0
52646 2019-06-12 17:10:00             1336.0
52647 2019-06-12 17:15:00             1336.0
52648 2019-06-12 17:30:00             5035.0
52649 2019-06-12 17:35:00             5036.0
52650 2019-06-12 17:45:00             5036.0
52651 2019-06-12 17:50:00             5034.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52649, 52650, 52651]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52645 2019-06-12 17:05:00             1336.0
52646 2019-06-12 17:10:00             1336.0
52647 2019-06-12 17:15:00             1336.0
52648 2019-06-12 17:30:00             1336.0
52649 2019-06-12 17:35:00             5036.0
52650 2019-06-12 17:45:00             5036.0
52651 2019-06-12 17:50:00             5034.0

Outlier 169/186: (5036.0 W/mq)

Outlier (idk: 52649) and its neighborhood

                Date/Time  Irradiance (W/mq)
52646 2019-06-12 17:10:00             1336.0
52647 2019-06-12 17:15:00             1336.0
52648 2019-06-12 17:30:00             1336.0
52649 2019-06-12 17:35:00             5036.0
52650 2019-06-12 17:45:00             5036.0
52651 2019-06-12 17:50:00             5034.0
52652 2019-06-12 18:00:00             5034.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52650, 52651, 52652]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52646 2019-06-12 17:10:00             1336.0
52647 2019-06-12 17:15:00             1336.0
52648 2019-06-12 17:30:00             1336.0
52649 2019-06-12 17:35:00             1336.0
52650 2019-06-12 17:45:00             5036.0
52651 2019-06-12 17:50:00             5034.0
52652 2019-06-12 18:00:00             5034.0

Outlier 170/186: (5036.0 W/mq)

Outlier (idk: 52650) and its neighborhood

                Date/Time  Irradiance (W/mq)
52647 2019-06-12 17:15:00             1336.0
52648 2019-06-12 17:30:00             1336.0
52649 2019-06-12 17:35:00             1336.0
52650 2019-06-12 17:45:00             5036.0
52651 2019-06-12 17:50:00             5034.0
52652 2019-06-12 18:00:00             5034.0
52653 2019-06-12 18:10:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52651, 52652, 52653]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52647 2019-06-12 17:15:00             1336.0
52648 2019-06-12 17:30:00             1336.0
52649 2019-06-12 17:35:00             1336.0
52650 2019-06-12 17:45:00             1336.0
52651 2019-06-12 17:50:00             5034.0
52652 2019-06-12 18:00:00             5034.0
52653 2019-06-12 18:10:00             5036.0

Outlier 171/186: (5034.0 W/mq)

Outlier (idk: 52651) and its neighborhood

                Date/Time  Irradiance (W/mq)
52648 2019-06-12 17:30:00             1336.0
52649 2019-06-12 17:35:00             1336.0
52650 2019-06-12 17:45:00             1336.0
52651 2019-06-12 17:50:00             5034.0
52652 2019-06-12 18:00:00             5034.0
52653 2019-06-12 18:10:00             5036.0
52654 2019-06-12 18:15:00             5036.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52652, 52653, 52654]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52648 2019-06-12 17:30:00             1336.0
52649 2019-06-12 17:35:00             1336.0
52650 2019-06-12 17:45:00             1336.0
52651 2019-06-12 17:50:00             1336.0
52652 2019-06-12 18:00:00             5034.0
52653 2019-06-12 18:10:00             5036.0
52654 2019-06-12 18:15:00             5036.0

Outlier 172/186: (5034.0 W/mq)

Outlier (idk: 52652) and its neighborhood

                Date/Time  Irradiance (W/mq)
52649 2019-06-12 17:35:00             1336.0
52650 2019-06-12 17:45:00             1336.0
52651 2019-06-12 17:50:00             1336.0
52652 2019-06-12 18:00:00             5034.0
52653 2019-06-12 18:10:00             5036.0
52654 2019-06-12 18:15:00             5036.0
52655 2019-06-12 18:25:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52653, 52654, 52655]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52649 2019-06-12 17:35:00             1336.0
52650 2019-06-12 17:45:00             1336.0
52651 2019-06-12 17:50:00             1336.0
52652 2019-06-12 18:00:00             1336.0
52653 2019-06-12 18:10:00             5036.0
52654 2019-06-12 18:15:00             5036.0
52655 2019-06-12 18:25:00             5035.0

Outlier 173/186: (5036.0 W/mq)

Outlier (idk: 52653) and its neighborhood

                Date/Time  Irradiance (W/mq)
52650 2019-06-12 17:45:00             1336.0
52651 2019-06-12 17:50:00             1336.0
52652 2019-06-12 18:00:00             1336.0
52653 2019-06-12 18:10:00             5036.0
52654 2019-06-12 18:15:00             5036.0
52655 2019-06-12 18:25:00             5035.0
52656 2019-06-12 18:30:00             5035.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52654, 52655, 52656]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52650 2019-06-12 17:45:00             1336.0
52651 2019-06-12 17:50:00             1336.0
52652 2019-06-12 18:00:00             1336.0
52653 2019-06-12 18:10:00             1336.0
52654 2019-06-12 18:15:00             5036.0
52655 2019-06-12 18:25:00             5035.0
52656 2019-06-12 18:30:00             5035.0

Outlier 174/186: (5036.0 W/mq)

Outlier (idk: 52654) and its neighborhood

                Date/Time  Irradiance (W/mq)
52651 2019-06-12 17:50:00             1336.0
52652 2019-06-12 18:00:00             1336.0
52653 2019-06-12 18:10:00             1336.0
52654 2019-06-12 18:15:00             5036.0
52655 2019-06-12 18:25:00             5035.0
52656 2019-06-12 18:30:00             5035.0
52657 2019-06-12 18:40:00             5034.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52655, 52656, 52657]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52651 2019-06-12 17:50:00             1336.0
52652 2019-06-12 18:00:00             1336.0
52653 2019-06-12 18:10:00             1336.0
52654 2019-06-12 18:15:00             1336.0
52655 2019-06-12 18:25:00             5035.0
52656 2019-06-12 18:30:00             5035.0
52657 2019-06-12 18:40:00             5034.0

Outlier 175/186: (5035.0 W/mq)

Outlier (idk: 52655) and its neighborhood

                Date/Time  Irradiance (W/mq)
52652 2019-06-12 18:00:00             1336.0
52653 2019-06-12 18:10:00             1336.0
52654 2019-06-12 18:15:00             1336.0
52655 2019-06-12 18:25:00             5035.0
52656 2019-06-12 18:30:00             5035.0
52657 2019-06-12 18:40:00             5034.0
52658 2019-06-12 18:45:00             4966.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52656, 52657, 52658]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52652 2019-06-12 18:00:00             1336.0
52653 2019-06-12 18:10:00             1336.0
52654 2019-06-12 18:15:00             1336.0
52655 2019-06-12 18:25:00             1336.0
52656 2019-06-12 18:30:00             5035.0
52657 2019-06-12 18:40:00             5034.0
52658 2019-06-12 18:45:00             4966.0

Outlier 176/186: (5035.0 W/mq)

Outlier (idk: 52656) and its neighborhood

                Date/Time  Irradiance (W/mq)
52653 2019-06-12 18:10:00             1336.0
52654 2019-06-12 18:15:00             1336.0
52655 2019-06-12 18:25:00             1336.0
52656 2019-06-12 18:30:00             5035.0
52657 2019-06-12 18:40:00             5034.0
52658 2019-06-12 18:45:00             4966.0
52659 2019-06-12 18:55:00             4873.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52657, 52658, 52659]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52653 2019-06-12 18:10:00             1336.0
52654 2019-06-12 18:15:00             1336.0
52655 2019-06-12 18:25:00             1336.0
52656 2019-06-12 18:30:00             1336.0
52657 2019-06-12 18:40:00             5034.0
52658 2019-06-12 18:45:00             4966.0
52659 2019-06-12 18:55:00             4873.0

Outlier 177/186: (5034.0 W/mq)

Outlier (idk: 52657) and its neighborhood

                Date/Time  Irradiance (W/mq)
52654 2019-06-12 18:15:00             1336.0
52655 2019-06-12 18:25:00             1336.0
52656 2019-06-12 18:30:00             1336.0
52657 2019-06-12 18:40:00             5034.0
52658 2019-06-12 18:45:00             4966.0
52659 2019-06-12 18:55:00             4873.0
52660 2019-06-12 19:05:00             4793.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52658, 52659, 52660]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52654 2019-06-12 18:15:00             1336.0
52655 2019-06-12 18:25:00             1336.0
52656 2019-06-12 18:30:00             1336.0
52657 2019-06-12 18:40:00             1336.0
52658 2019-06-12 18:45:00             4966.0
52659 2019-06-12 18:55:00             4873.0
52660 2019-06-12 19:05:00             4793.0

Outlier 178/186: (4966.0 W/mq)

Outlier (idk: 52658) and its neighborhood

                Date/Time  Irradiance (W/mq)
52655 2019-06-12 18:25:00             1336.0
52656 2019-06-12 18:30:00             1336.0
52657 2019-06-12 18:40:00             1336.0
52658 2019-06-12 18:45:00             4966.0
52659 2019-06-12 18:55:00             4873.0
52660 2019-06-12 19:05:00             4793.0
52661 2019-06-12 19:10:00             4720.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52659, 52660, 52661]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52655 2019-06-12 18:25:00             1336.0
52656 2019-06-12 18:30:00             1336.0
52657 2019-06-12 18:40:00             1336.0
52658 2019-06-12 18:45:00             1336.0
52659 2019-06-12 18:55:00             4873.0
52660 2019-06-12 19:05:00             4793.0
52661 2019-06-12 19:10:00             4720.0

Outlier 179/186: (4873.0 W/mq)

Outlier (idk: 52659) and its neighborhood

                Date/Time  Irradiance (W/mq)
52656 2019-06-12 18:30:00             1336.0
52657 2019-06-12 18:40:00             1336.0
52658 2019-06-12 18:45:00             1336.0
52659 2019-06-12 18:55:00             4873.0
52660 2019-06-12 19:05:00             4793.0
52661 2019-06-12 19:10:00             4720.0
52662 2019-06-12 19:15:00             4625.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52660, 52661, 52662]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52656 2019-06-12 18:30:00             1336.0
52657 2019-06-12 18:40:00             1336.0
52658 2019-06-12 18:45:00             1336.0
52659 2019-06-12 18:55:00             1336.0
52660 2019-06-12 19:05:00             4793.0
52661 2019-06-12 19:10:00             4720.0
52662 2019-06-12 19:15:00             4625.0

Outlier 180/186: (4793.0 W/mq)

Outlier (idk: 52660) and its neighborhood

                Date/Time  Irradiance (W/mq)
52657 2019-06-12 18:40:00             1336.0
52658 2019-06-12 18:45:00             1336.0
52659 2019-06-12 18:55:00             1336.0
52660 2019-06-12 19:05:00             4793.0
52661 2019-06-12 19:10:00             4720.0
52662 2019-06-12 19:15:00             4625.0
52663 2019-06-12 19:20:00             4310.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52661, 52662, 52663]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52657 2019-06-12 18:40:00             1336.0
52658 2019-06-12 18:45:00             1336.0
52659 2019-06-12 18:55:00             1336.0
52660 2019-06-12 19:05:00             1336.0
52661 2019-06-12 19:10:00             4720.0
52662 2019-06-12 19:15:00             4625.0
52663 2019-06-12 19:20:00             4310.0

Outlier 181/186: (4720.0 W/mq)

Outlier (idk: 52661) and its neighborhood

                Date/Time  Irradiance (W/mq)
52658 2019-06-12 18:45:00             1336.0
52659 2019-06-12 18:55:00             1336.0
52660 2019-06-12 19:05:00             1336.0
52661 2019-06-12 19:10:00             4720.0
52662 2019-06-12 19:15:00             4625.0
52663 2019-06-12 19:20:00             4310.0
52664 2019-06-12 19:30:00             3678.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52662, 52663, 52664]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52658 2019-06-12 18:45:00             1336.0
52659 2019-06-12 18:55:00             1336.0
52660 2019-06-12 19:05:00             1336.0
52661 2019-06-12 19:10:00             1336.0
52662 2019-06-12 19:15:00             4625.0
52663 2019-06-12 19:20:00             4310.0
52664 2019-06-12 19:30:00             3678.0

Outlier 182/186: (4625.0 W/mq)

Outlier (idk: 52662) and its neighborhood

                Date/Time  Irradiance (W/mq)
52659 2019-06-12 18:55:00             1336.0
52660 2019-06-12 19:05:00             1336.0
52661 2019-06-12 19:10:00             1336.0
52662 2019-06-12 19:15:00             4625.0
52663 2019-06-12 19:20:00             4310.0
52664 2019-06-12 19:30:00             3678.0
52665 2019-06-12 19:35:00             3528.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52663, 52664, 52665]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52659 2019-06-12 18:55:00             1336.0
52660 2019-06-12 19:05:00             1336.0
52661 2019-06-12 19:10:00             1336.0
52662 2019-06-12 19:15:00             1336.0
52663 2019-06-12 19:20:00             4310.0
52664 2019-06-12 19:30:00             3678.0
52665 2019-06-12 19:35:00             3528.0

Outlier 183/186: (4310.0 W/mq)

Outlier (idk: 52663) and its neighborhood

                Date/Time  Irradiance (W/mq)
52660 2019-06-12 19:05:00             1336.0
52661 2019-06-12 19:10:00             1336.0
52662 2019-06-12 19:15:00             1336.0
52663 2019-06-12 19:20:00             4310.0
52664 2019-06-12 19:30:00             3678.0
52665 2019-06-12 19:35:00             3528.0
52666 2019-06-12 19:40:00             3148.0

OPS: Problematic IDK neighbours discovered 3 (42.86 %) --> [52664, 52665, 52666]
Trying with more neighbours (12)...

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (3) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (3 out of 6):[1336. 1336. 1336.] \--/ []
WEIGHTS: [0.33, 0.5, 1]
COMPUTED VALUE: 1336
--------------------------------------------------------------------------------
COMPUTED VALUE: 1336
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52660 2019-06-12 19:05:00             1336.0
52661 2019-06-12 19:10:00             1336.0
52662 2019-06-12 19:15:00             1336.0
52663 2019-06-12 19:20:00             1336.0
52664 2019-06-12 19:30:00             3678.0
52665 2019-06-12 19:35:00             3528.0
52666 2019-06-12 19:40:00             3148.0

Outlier 184/186: (3678.0 W/mq)

Outlier (idk: 52664) and its neighborhood

                Date/Time  Irradiance (W/mq)
52661 2019-06-12 19:10:00             1336.0
52662 2019-06-12 19:15:00             1336.0
52663 2019-06-12 19:20:00             1336.0
52664 2019-06-12 19:30:00             3678.0
52665 2019-06-12 19:35:00             3528.0
52666 2019-06-12 19:40:00             3148.0
52667 2019-06-12 19:45:00             1066.0

OPS: Problematic IDK neighbours discovered 2 (28.57 %) --> [52665, 52666]

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (2) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (4 out of 6):[1336. 1336. 1336.] \--/ [1066.]
WEIGHTS: [0.33, 0.5, 1, 0.33]
COMPUTED VALUE: 1295
--------------------------------------------------------------------------------
COMPUTED VALUE: 1295
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52661 2019-06-12 19:10:00             1336.0
52662 2019-06-12 19:15:00             1336.0
52663 2019-06-12 19:20:00             1336.0
52664 2019-06-12 19:30:00             1295.0
52665 2019-06-12 19:35:00             3528.0
52666 2019-06-12 19:40:00             3148.0
52667 2019-06-12 19:45:00             1066.0

Outlier 185/186: (3528.0 W/mq)

Outlier (idk: 52665) and its neighborhood

                Date/Time  Irradiance (W/mq)
52662 2019-06-12 19:15:00             1336.0
52663 2019-06-12 19:20:00             1336.0
52664 2019-06-12 19:30:00             1295.0
52665 2019-06-12 19:35:00             3528.0
52666 2019-06-12 19:40:00             3148.0
52667 2019-06-12 19:45:00             1066.0
52668 2019-06-12 19:50:00              501.0

OPS: Problematic IDK neighbours discovered 1 (14.29 %) --> [52666]

End process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)
The problematic neighbours (1) have been removed from the neighbour list

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (5 out of 6):[1336. 1336. 1295.] \--/ [1066.  501.]
WEIGHTS: [0.33, 0.5, 1, 0.5, 0.33]
COMPUTED VALUE: 1166
--------------------------------------------------------------------------------
COMPUTED VALUE: 1166
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52662 2019-06-12 19:15:00             1336.0
52663 2019-06-12 19:20:00             1336.0
52664 2019-06-12 19:30:00             1295.0
52665 2019-06-12 19:35:00             1166.0
52666 2019-06-12 19:40:00             3148.0
52667 2019-06-12 19:45:00             1066.0
52668 2019-06-12 19:50:00              501.0

Outlier 186/186: (3148.0 W/mq)

Outlier (idk: 52666) and its neighborhood

                Date/Time  Irradiance (W/mq)
52663 2019-06-12 19:20:00             1336.0
52664 2019-06-12 19:30:00             1295.0
52665 2019-06-12 19:35:00             1166.0
52666 2019-06-12 19:40:00             3148.0
52667 2019-06-12 19:45:00             1066.0
52668 2019-06-12 19:50:00              501.0
52669 2019-06-12 20:00:00              379.0

VARIABLE: Irradiance (W/mq)
NEIGHBOURES (6 out of 6):[1336. 1295. 1166.] \--/ [1066.  501.  379.]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 1010
--------------------------------------------------------------------------------
COMPUTED VALUE: 1010
 --------------------------------------------------------------------------------

New data (with the filled value(s))

                Date/Time  Irradiance (W/mq)
52663 2019-06-12 19:20:00             1336.0
52664 2019-06-12 19:30:00             1295.0
52665 2019-06-12 19:35:00             1166.0
52666 2019-06-12 19:40:00             1010.0
52667 2019-06-12 19:45:00             1066.0
52668 2019-06-12 19:50:00              501.0
52669 2019-06-12 20:00:00              379.0

---------------------------------------- END correction ----------------------------------------

In [14]:
display(raw_irr_data.describe())

       Irradiance (W/mq)
count      234226.000000
mean          197.209119
std           299.648177
min             4.000000
25%            17.000000
50%            33.000000
75%           258.000000
max          1776.000000

### Variable: *Inverter Temp*

In [15]:
# TASK: B) Analyse and correct the outliers
# VARIABLES: Inverter Temp
# MOTIVATION: Some invalid values have been detected visually (i.e., numerical distribution graphs)
# e.g., Detect around 2K observations with a value in the range [65.529 - 65.535 °C]
columns = ["Date/Time", "Inverter temp. (°C)"]

# Carry out the analysis (and correction) on all the inverters
for inv_name in inv_names:#[3:4]:
    print("INVERTER NAME:", inv_name, "\n", "-"*80)
    
    # 1A) Detect extreme outliers 
    # Setting threshold: a very high threshold to detect (and correct) only extreme outliers (e.g. above 1000 °C)
    # Threshold has been set according to emperical tests (default outlier threshold is equal to 3)
    extreme_outliers = find_outliers(inv_data[inv_name][columns], verbose=True, threshold = 4)
    if len(extreme_outliers) == 0:
        print("Oh, no outliers found. That's good.\n")
        continue
        
    print(f"The extreme outliers (N = {len(extreme_outliers)}) of the variable 'inverter Temp'")
    display(extreme_outliers)
    
    # 1B) Replacing criterion --> Weighted KNN (k = 6)
    # Identfy the index of the outliers 
    idk_outliers = extreme_outliers.index.tolist()
    list_outliers = idk_outliers.copy()
    
    # Compute and assign the estimated value (weighted average value from its neigbours)
    for idk, idk_outlier in enumerate(idk_outliers):
        if len(idk_outliers) > 300:
            clear_output(wait=True)
            
        print(f"Outlier {idk +1}/{len(idk_outliers)}: ({inv_data[inv_name].loc[idk_outlier, 'Inverter temp. (°C)']} °C)")
        
        # Visualize the outlier and its neighours
        # print(f"\nOutlier (idk: {idk_outlier}) and its neighborhood")
        # display(inv_data[inv_name][columns].iloc[range(idk_outlier - 3, idk_outlier + 4), :])
        
        # Compute the estimated value and assign the the original dataframe
        computed_value = weighted_knn(inv_data[inv_name][columns], idk_outlier, list_outliers, "Inverter temp. (°C)", 
                                      verbose=False)
        inv_data[inv_name].loc[idk_outlier, "Inverter temp. (°C)"] = computed_value
        print(f"COMPUTED VALUE: {computed_value}\n","-" * 80)
                                                                      
        # Visualize the outcome
        # print("\nNew data (with the filled value(s))")
        # display(inv_data[inv_name].iloc[range(idk_outlier - 3, idk_outlier + 4)][columns])
        
    print("-" * 40, f"END {inv_name}","-" * 40)

INVERTER NAME: INV1
 --------------------------------------------------------------------------------
Z-score values (threshold: 4)
MIN: 58.35
MAX: 58.36

        Inverter temp. (°C)
9389              58.355285
9392              58.357067
9442              58.355285
9447              58.353503
9458              58.357067
9469              58.355285
9483              58.357067
9505              58.357067
9516              58.353503
9518              58.355285
9533              58.355285
9784              58.355285
10015             58.355285
10488             58.355285
10490             58.355285
13212             58.357067
14403             58.357067
61041             58.351721
65393             58.355285
65395             58.351721
65397             58.355285
65539             58.355285
65542             58.355285
65685             58.355285
65686             58.357067
65688             58.353503
72119             58.357067
119703            58.355285
119706            58.357067
119708            58.357067
119983            58.355285
119986            58.351721
119992            58.355285
120001            58.357067
120002            58.357067
121345            58.353503
121347            58.357067
123873            58.355285
123874            58.355285
123912            58.357067
123994            58.355285
124002            58.355285
124012            58.357067

The extreme outliers (N = 43) of the variable 'inverter Temp'

                 Date/Time  Inverter temp. (°C)
9389   2019-01-03 08:00:00                65533
9392   2019-01-03 08:30:00                65535
9442   2019-01-03 17:20:00                65533
9447   2019-01-03 18:15:00                65531
9458   2019-01-04 06:20:00                65535
9469   2019-01-04 08:15:00                65533
9483   2019-01-04 10:45:00                65535
9505   2019-01-04 14:35:00                65535
9516   2019-01-04 16:35:00                65531
9518   2019-01-04 16:55:00                65533
9533   2019-01-04 19:35:00                65533
9784   2019-01-08 09:00:00                65533
10015  2019-01-11 08:00:00                65533
10488  2019-01-17 07:55:00                65533
10490  2019-01-17 08:15:00                65533
13212  2019-02-10 07:35:00                65535
14403  2019-02-18 07:25:00                65535
61041  2020-01-08 08:00:00                65529
65393  2020-02-07 07:25:00                65533
65395  2020-02-07 07:35:00                65529
65397  2020-02-07 07:45:00                65533
65539  2020-02-08 07:20:00                65533
65542  2020-02-08 07:35:00                65533
65685  2020-02-09 07:25:00                65533
65686  2020-02-09 07:30:00                65535
65688  2020-02-09 07:40:00                65531
72119  2020-03-24 07:20:00                65535
119703 2021-01-17 07:55:00                65533
119706 2021-01-17 08:15:00                65535
119708 2021-01-17 08:25:00                65535
119983 2021-01-19 06:10:00                65533
119986 2021-01-19 06:30:00                65529
119992 2021-01-19 07:00:00                65533
120001 2021-01-19 07:50:00                65535
120002 2021-01-19 08:00:00                65535
121345 2021-01-28 07:30:00                65531
121347 2021-01-28 07:40:00                65535
123873 2021-02-14 06:30:00                65533
123874 2021-02-14 06:35:00                65533
123912 2021-02-14 10:10:00                65535
123994 2021-02-14 17:50:00                65533
124002 2021-02-14 18:35:00                65533
124012 2021-02-14 19:30:00                65535

Outlier 1/43: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 2/43: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 3/43: (65533 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 4/43: (65531 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 5/43: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 6/43: (65533 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 7/43: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 8/43: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 9/43: (65531 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 10/43: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 11/43: (65533 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 12/43: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 13/43: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 14/43: (65533 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 15/43: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 16/43: (65535 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 17/43: (65535 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 18/43: (65529 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 19/43: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 20/43: (65529 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 21/43: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 22/43: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 23/43: (65533 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 24/43: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 25/43: (65535 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 26/43: (65531 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 27/43: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 28/43: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 29/43: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 30/43: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 31/43: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 32/43: (65529 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 33/43: (65533 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 34/43: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 35/43: (65535 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 36/43: (65531 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 37/43: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 38/43: (65533 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 39/43: (65533 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 40/43: (65535 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 41/43: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 42/43: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 43/43: (65535 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
---------------------------------------- END INV1 ----------------------------------------
INVERTER NAME: INV2
 --------------------------------------------------------------------------------
The extreme outliers (N = 142) of the variable 'inverter Temp'

                 Date/Time  Inverter temp. (°C)
7265   2018-12-07 07:45:00                65535
7657   2018-12-12 07:10:00                65535
8375   2018-12-21 08:00:00                65535
9085   2018-12-30 07:55:00                65533
9408   2019-01-03 08:40:00                65535
...                    ...                  ...
123146 2021-02-16 08:25:00                65535
123579 2021-02-19 07:10:00                65531
127626 2021-03-18 07:00:00                65531
127773 2021-03-19 06:45:00                65535
130461 2021-04-05 07:10:00                65535

[142 rows x 2 columns]

Outlier 1/142: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 2/142: (65535 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 3/142: (65535 °C)
COMPUTED VALUE: 11
 --------------------------------------------------------------------------------
Outlier 4/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 5/142: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 6/142: (65531 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 7/142: (65533 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 8/142: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 9/142: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 10/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 11/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 12/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 13/142: (65535 °C)
COMPUTED VALUE: 12
 --------------------------------------------------------------------------------
Outlier 14/142: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 15/142: (65531 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 16/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 17/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 18/142: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 19/142: (65533 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 20/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 21/142: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 22/142: (65533 °C)
COMPUTED VALUE: 11
 --------------------------------------------------------------------------------
Outlier 23/142: (65533 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 24/142: (65531 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 25/142: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 26/142: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 27/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 28/142: (65531 °C)
COMPUTED VALUE: 11
 --------------------------------------------------------------------------------
Outlier 29/142: (65535 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 30/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 31/142: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 32/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 33/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 34/142: (65533 °C)
COMPUTED VALUE: 12
 --------------------------------------------------------------------------------
Outlier 35/142: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 36/142: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 37/142: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 38/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 39/142: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 40/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 41/142: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 42/142: (65533 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 43/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 44/142: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 45/142: (65535 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 46/142: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 47/142: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 48/142: (65529 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 49/142: (65533 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 50/142: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 51/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 52/142: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 53/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 54/142: (65531 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 55/142: (65531 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 56/142: (65531 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 57/142: (65535 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 58/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 59/142: (65533 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 60/142: (65535 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 61/142: (65533 °C)
COMPUTED VALUE: 12
 --------------------------------------------------------------------------------
Outlier 62/142: (65533 °C)
COMPUTED VALUE: 12
 --------------------------------------------------------------------------------
Outlier 63/142: (65531 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 64/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 65/142: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 66/142: (65533 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 67/142: (65531 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 68/142: (65531 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 69/142: (65533 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 70/142: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 71/142: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 72/142: (65533 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 73/142: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 74/142: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 75/142: (65533 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 76/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 77/142: (65529 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 78/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 79/142: (65529 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 80/142: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 81/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 82/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 83/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 84/142: (65531 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 85/142: (65533 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 86/142: (65531 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 87/142: (65529 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 88/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 89/142: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 90/142: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 91/142: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 92/142: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 93/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 94/142: (65531 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 95/142: (65529 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 96/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 97/142: (65535 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 98/142: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 99/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 100/142: (65533 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 101/142: (65535 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 102/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 103/142: (65529 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 104/142: (65529 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 105/142: (65529 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 106/142: (65531 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 107/142: (65529 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 108/142: (65529 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 109/142: (65533 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 110/142: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 111/142: (65531 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 112/142: (65531 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 113/142: (65531 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 114/142: (65531 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 115/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 116/142: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 117/142: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 118/142: (65531 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 119/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 120/142: (65533 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 121/142: (65531 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 122/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 123/142: (65535 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 124/142: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 125/142: (65531 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 126/142: (65531 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 127/142: (65531 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 128/142: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 129/142: (65531 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 130/142: (65531 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 131/142: (65531 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 132/142: (65531 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 133/142: (65531 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 134/142: (65531 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 135/142: (65535 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 136/142: (65531 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 137/142: (65531 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 138/142: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 139/142: (65531 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 140/142: (65531 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 141/142: (65535 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 142/142: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
---------------------------------------- END INV2 ----------------------------------------
INVERTER NAME: INV3
 --------------------------------------------------------------------------------
The extreme outliers (N = 106) of the variable 'inverter Temp'

                 Date/Time  Inverter temp. (°C)
8013   2018-12-17 08:20:00                65535
8083   2018-12-18 06:50:00                65535
8400   2018-12-22 07:00:00                65535
8874   2018-12-28 07:05:00                65535
9186   2019-01-01 06:10:00                65535
...                    ...                  ...
128564 2021-03-17 06:40:00                65535
128712 2021-03-18 06:35:00                65535
128713 2021-03-18 06:40:00                65535
128717 2021-03-18 07:00:00                65533
129908 2021-03-26 06:10:00                65531

[106 rows x 2 columns]

Outlier 1/106: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 2/106: (65535 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 3/106: (65535 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 4/106: (65535 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 5/106: (65535 °C)
COMPUTED VALUE: 11
 --------------------------------------------------------------------------------
Outlier 6/106: (65535 °C)
COMPUTED VALUE: 12
 --------------------------------------------------------------------------------
Outlier 7/106: (65535 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 8/106: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 9/106: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 10/106: (65535 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 11/106: (65535 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 12/106: (65535 °C)
COMPUTED VALUE: 11
 --------------------------------------------------------------------------------
Outlier 13/106: (65535 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 14/106: (65535 °C)
COMPUTED VALUE: 12
 --------------------------------------------------------------------------------
Outlier 15/106: (65535 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 16/106: (65535 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 17/106: (65535 °C)
COMPUTED VALUE: 12
 --------------------------------------------------------------------------------
Outlier 18/106: (65535 °C)
COMPUTED VALUE: 11
 --------------------------------------------------------------------------------
Outlier 19/106: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 20/106: (65535 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 21/106: (65535 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 22/106: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 23/106: (65535 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 24/106: (65533 °C)
COMPUTED VALUE: 11
 --------------------------------------------------------------------------------
Outlier 25/106: (65535 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 26/106: (65533 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 27/106: (65535 °C)
COMPUTED VALUE: 11
 --------------------------------------------------------------------------------
Outlier 28/106: (65535 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 29/106: (65535 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 30/106: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 31/106: (65535 °C)
COMPUTED VALUE: 11
 --------------------------------------------------------------------------------
Outlier 32/106: (65535 °C)
COMPUTED VALUE: 11
 --------------------------------------------------------------------------------
Outlier 33/106: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 34/106: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 35/106: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 36/106: (65535 °C)
COMPUTED VALUE: 10
 --------------------------------------------------------------------------------
Outlier 37/106: (65533 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 38/106: (65529 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 39/106: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 40/106: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 41/106: (65533 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 42/106: (65531 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 43/106: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 44/106: (65533 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 45/106: (65531 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 46/106: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 47/106: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 48/106: (65533 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 49/106: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 50/106: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 51/106: (65531 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 52/106: (65531 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 53/106: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 54/106: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 55/106: (65533 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 56/106: (65531 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 57/106: (65535 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 58/106: (65531 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 59/106: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 60/106: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 61/106: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 62/106: (65533 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 63/106: (65533 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 64/106: (65535 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 65/106: (65531 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 66/106: (65535 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 67/106: (65535 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 68/106: (65533 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 69/106: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 70/106: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 71/106: (65533 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 72/106: (65533 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 73/106: (65533 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 74/106: (65531 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 75/106: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 76/106: (65535 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 77/106: (65535 °C)
COMPUTED VALUE: 7
 --------------------------------------------------------------------------------
Outlier 78/106: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 79/106: (65535 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 80/106: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 81/106: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 82/106: (65533 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 83/106: (65529 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 84/106: (65531 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 85/106: (65531 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 86/106: (65533 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 87/106: (65535 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 88/106: (65527 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 89/106: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 90/106: (65535 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
Outlier 91/106: (65531 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 92/106: (65531 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 93/106: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 94/106: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 95/106: (65531 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 96/106: (65533 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 97/106: (65533 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 98/106: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 99/106: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 100/106: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 101/106: (65533 °C)
COMPUTED VALUE: 9
 --------------------------------------------------------------------------------
Outlier 102/106: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 103/106: (65535 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 104/106: (65535 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 105/106: (65533 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 106/106: (65531 °C)
COMPUTED VALUE: 8
 --------------------------------------------------------------------------------
---------------------------------------- END INV3 ----------------------------------------
INVERTER NAME: INV4
 --------------------------------------------------------------------------------
Z-score values (threshold: 4)
MIN: 35.35
MAX: 35.36

        Inverter temp. (°C)
9461              35.358921
9462              35.358921
9463              35.358921
9464              35.358921
9465              35.358921
...                     ...
118779            35.358921
118921            35.358921
118923            35.358921
118924            35.358921
118925            35.358921

[113 rows x 1 columns]

The extreme outliers (N = 113) of the variable 'inverter Temp'

                 Date/Time  Inverter temp. (°C)
9461   2019-01-04 06:05:00                65535
9462   2019-01-04 06:20:00                65535
9463   2019-01-04 06:30:00                65535
9464   2019-01-04 06:40:00                65535
9465   2019-01-04 06:50:00                65535
...                    ...                  ...
118779 2021-02-16 07:50:00                65535
118921 2021-02-17 07:05:00                65535
118923 2021-02-17 07:20:00                65535
118924 2021-02-17 07:25:00                65535
118925 2021-02-17 07:30:00                65535

[113 rows x 2 columns]

Outlier 1/113: (65535 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 2/113: (65535 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 3/113: (65535 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 4/113: (65535 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 5/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 6/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 7/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 8/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 9/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 10/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 11/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 12/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 13/113: (65527 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 14/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 15/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 16/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 17/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 18/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 19/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 20/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 21/113: (65529 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 22/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 23/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 24/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 25/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 26/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 27/113: (65529 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 28/113: (65527 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 29/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 30/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 31/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 32/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 33/113: (65533 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 34/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 35/113: (65531 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 36/113: (65531 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 37/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 38/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 39/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 40/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 41/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 42/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 43/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 44/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 45/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 46/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 47/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 48/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 49/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 50/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 51/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 52/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 53/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 54/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 55/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 56/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 57/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 58/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 59/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 60/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 61/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 62/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 63/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 64/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 65/113: (65531 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 66/113: (65521 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 67/113: (65535 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 68/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 69/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 70/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 71/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 72/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 73/113: (65533 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 74/113: (65535 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 75/113: (65535 °C)
COMPUTED VALUE: 6
 --------------------------------------------------------------------------------
Outlier 76/113: (65533 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 77/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 78/113: (65535 °C)
COMPUTED VALUE: 5
 --------------------------------------------------------------------------------
Outlier 79/113: (65535 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 80/113: (65531 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 81/113: (65535 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 82/113: (65523 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 83/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 84/113: (65525 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 85/113: (65533 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 86/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 87/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 88/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 89/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 90/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 91/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 92/113: (65535 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 93/113: (65523 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 94/113: (65531 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 95/113: (65535 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 96/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 97/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 98/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 99/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 100/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 101/113: (65531 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 102/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 103/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 104/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 105/113: (65535 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 106/113: (65535 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 107/113: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 108/113: (65531 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 109/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 110/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 111/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 112/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 113/113: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
---------------------------------------- END INV4 ----------------------------------------

In [16]:
# TASK: B2) Check validity of the outlier correction for the inverter temperature
validity = []
inv_temp_values = []
for inv_name in inv_names:
    inv_temp = inv_data[inv_name]["Inverter temp. (°C)"]
    inv_temp_values.append(inv_temp.rename(index = inv_name))
    
    # Check invalid values
    threshold_inv_temp = 100
    invalid_values = inv_temp.loc[inv_temp >= threshold_inv_temp]
    
    if len(invalid_values) == 0:
        validity.append(True)
    else: 
        validity.append(False)

display(pd.concat(inv_temp_values, axis=1, names =inv_names).describe().round(decimals=2))
if all(validity):
    print(f"The outlier correction is valid for all the {len(inv_names)} inverters!")
else:
    print("There is some error in the outlier conversion")

            INV1       INV2       INV3       INV4
count  146481.00  145753.00  146843.00  141390.00
mean       22.37      21.36      23.91      21.10
std         7.97       6.70       9.17       8.04
min         1.00       1.00       1.00       1.00
25%        17.00      17.00      17.00      15.00
50%        21.00      21.00      23.00      21.00
75%        29.00      25.00      31.00      27.00
max        47.00      45.00      55.00      51.00

The outlier correction is valid for all the 4 inverters!

# Final task: Save outcomes

In [17]:
# FINAL TASK: Save the cleared datasets 
saving_folder_name = "Cleaned"
saving_folder_path = path.join(path_file, saving_folder_name)

print("PV System --> ", system_name.upper())

# Create the saving folder
if not path.exists(saving_folder_path):
    makedirs(saving_folder_path)
    print(f"A new saving folder has been created: {saving_folder_path}\n")
    
# Save the files as CSV files 
for inv_name in inv_names:
    file_name = f"cleaned_{inv_name.upper()}_data.csv"
    #inv_data[inv_name].to_csv(path.join(saving_folder_path, file_name), index=False)
    print(f"The cleaned data for '{inv_name}' has been saved.")

#raw_irr_data.to_csv(path.join(saving_folder_path, "raw_irr_data.csv"), index=False) 
print("\nThe cleaned data for the 'irradiance values' has been saved.")

PV System -->  SOLETO 1
The cleaned data for 'INV1' has been saved.
The cleaned data for 'INV2' has been saved.
The cleaned data for 'INV3' has been saved.
The cleaned data for 'INV4' has been saved.

The cleaned data for the 'irradiance values' has been saved.