In [24]:
from sys import path
if '../..' not in path:
    path.insert(0, '../..')

In [25]:
from os import path, makedirs
from _library.utils import SYSTEM_NAMES_FULL, load_datasets
from scipy.stats import zscore
from IPython.display import clear_output
import numpy as np
import pandas as pd

In [26]:
# Select the main folder 
%cd /mnt/data/vieri/projects/SAMPLE/

# Visualize names of PV systems
print(SYSTEM_NAMES_FULL)
# --- 0 ---------- 1 --------- 2 ------ 3 ------ 4 --------- 5 --------- 6 -------- 7 ---

/mnt/data/vieri/projects/SAMPLE
['Binetto 1', 'Binetto 2', 'Cantore', 'Emi', 'Soleto 1', 'Soleto 2', 'Galatina', 'Verone']

# Selecting the PV system

In [27]:
system_name = SYSTEM_NAMES_FULL[3]
print("PV SYSTEM --> ", system_name)

PV SYSTEM -->  Emi

# Loading dataset

In [28]:
# Loading the datasets
path_file, inv_data, inv_names, raw_irr_data, string_inv_data, string_inv_names = load_datasets(system_name, verbose=True)

--------------------------------------------------------------------------------
				PV SYSTEM --> EMI
--------------------------------------------------------------------------------

Loading inverter data...
EMI: OK, component data loaded (4) --> INV1, INV2, INV3, INV4

Loading irradiance values...
EMI: OK, raw irradiance data (238822 observations) have been loaded

--------------------------------------------------------------------------------
FINISHED!: All datasets have been loaded. (SYS: 4 - IRR FILE: 1)
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
EXAMPLE --> Emi: INV1 (FROM '2018-07-27' TO '2021-06-30': 1069 days).
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149899 entries, 0 to 149898
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date/Time            149899 non-null  datetime64[ns]
 1   Iac R (A)            149899 non-null  int64
 2   Iac S (A)            149899 non-null  int64
 3   Iac T (A)            149899 non-null  int64
 4   Vac R (V)            149899 non-null  int64
 5   Vac S (V)            149899 non-null  int64
 6   Vac T (V)            149899 non-null  int64
 7   Pac R (kW)           149899 non-null  int64
 8   Pac S (kW)           0 non-null       float64
 9   Pac T (kW)           0 non-null       float64
 10  E. totale (kWh)      149899 non-null  float64
 11  Cc 1 (A)             149899 non-null  int64
 12  Vcc 1 (V)            149899 non-null  int64
 13  Allarme              149899 non-null  string
 14  Stato                0 non-null       float64
 15  Inverter temp. (°C)  149899 non-null  int64
 16  Fac (Hz)             0 non-null       float64
 17  Irr. medio (W/mq)    128781 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(10), string(1)
memory usage: 20.6 MB

# Exploration

In [29]:
# TASK (EXPLORE): Carry out some descriptive statistics on problematic columns (i.e., those identified through numerical and temporal distribution graphs)
to_load = inv_names[0]

# Check numerical distribution via some descriptive statistics (mean, IQR, etc)
check_emptiness = ["Pac S (kW)", "Pac T (kW)", "Stato", "Fac (Hz)"] 
varibles_to_analyse = ["Irr. medio (W/mq)", "Inverter temp. (°C)"]
for var in [check_emptiness + varibles_to_analyse]:
    print(inv_data[to_load][var].describe(), "\n")

# Quick check at the invalid temperature values (above the likely physical limit)
valid_temperature = 200 # °C
valid_tempValue = inv_data[to_load].loc[inv_data[to_load]["Inverter temp. (°C)"] <= valid_temperature, :]
print(f"VALID TEMP. VALUE: {len(valid_tempValue)} ({round((len(valid_tempValue)/len(inv_data[to_load]['Inverter temp. (°C)']))*100, 2)}%)")

# FINDINGS: 
# 1) "Pac S (kW)", "Pac T (kW)", "Stato", "Fac (Hz)" --> OK: 0 valid values --> They can be discarded
# 2) Irr. medio --> it seems okay (mean, std, IQR, min, max)
# 3) Inverter temp [°C] --> Strange 
#   --->  mean: 1064, std: 8223, IQR: 11-21, max = 65535
#   ---> value above 1000 should be analyse

       Pac S (kW)  Pac T (kW)  Stato  Fac (Hz)  Irr. medio (W/mq)  \
count         0.0         0.0    0.0       0.0      128781.000000
mean          NaN         NaN    NaN       NaN         293.305224
std           NaN         NaN    NaN       NaN         295.555958
min           NaN         NaN    NaN       NaN           3.000000
25%           NaN         NaN    NaN       NaN          25.000000
50%           NaN         NaN    NaN       NaN         177.000000
75%           NaN         NaN    NaN       NaN         536.000000
max           NaN         NaN    NaN       NaN        1301.000000

       Inverter temp. (°C)
count        149899.000000
mean           1659.574427
std           10242.864404
min               1.000000
25%              11.000000
50%              17.000000
75%              23.000000
max           65535.000000

VALID TEMP. VALUE: 146141 (97.49%)

In [30]:
# TASK (EXPLORE): Check whather a type converstion is necessary?
# VARIABLE: Irr. medio (W/mq) --> From 'float64' to int64
irr_values = inv_data[to_load]["Irr. medio (W/mq)"]
non_integer = [value for value in irr_values if not value.is_integer()]
non_nanInteger = [value for value in non_integer if not np.isnan(value)]
print("Number of non integer values (that are not NaN values):", len(non_nanInteger))

# Check its validity 
integer_irr_values = pd.array(irr_values, dtype="Int64")
diff = np.abs(irr_values - integer_irr_values)
diff.dropna(inplace = True)
mean = np.mean(diff)
std = np.std(diff)
print(f"\nCASTING to Int64: Compute difference to check validity.\nMEAN (diff): {mean}, STD (diff):{std}")

# FINDIGS: Irradiance values are all integer values, but the empty values (numpy NaN) was forcing the column to be a float number

Number of non integer values (that are not NaN values): 0

CASTING to Int64: Compute difference to check validity.
MEAN (diff): 0.0, STD (diff):0.0

# fix uniqueness of the datetimes

In [31]:
# Check uniqueness --> Date/time
def check_datetime_uniqueness():
    index_to_delate = dict()
    
    for inv_name in inv_names:
        df = inv_data[inv_name]
        print(f"\nAnalysing {inv_name}...")
        
        if set(check_emptiness).issubset(df.columns):
            df = df.drop(columns = ["Irr. medio (W/mq)"] + check_emptiness)

        # Check duplicates
        condition = df["Date/Time"].duplicated(keep=False)
        duplicated_datetime = df[condition]
        
        # Continue to analyse other inverter in case of no duplicated observations
        if len(duplicated_datetime) == 0:
            print(f"Oh, that's good. No duplicated observations have been found for {inv_name}!")
            continue
        
        # Extraxct unique datetimes
        unique_duplicated_dt = [pd.to_datetime(datetime) for datetime in duplicated_datetime["Date/Time"].unique()]
        print(f"DUPLICATE DATES: {len(unique_duplicated_dt)}: {[dt.strftime('%Y-%m-%d, %H:%M') for dt in unique_duplicated_dt]} "\
              f"(Total observations: {len(duplicated_datetime)})")
        #display(duplicated_datetime)

        # Investigate to this behaviour for a duplicate observations
        datetime_to_investigate = unique_duplicated_dt[0]
        delta = pd.Timedelta(15, unit="minutes") #datetime.timedelta(minutes=60)
        period = (datetime_to_investigate - delta, datetime_to_investigate + delta)
        #display(df.loc[df["Date/Time"].between(period[0], period[1]), :])

        # Compute difference 
        to_discard = set()
        for datetime in unique_duplicated_dt:
            daily_duplicated_indexes = df[df["Date/Time"] == datetime].index
            duplicated_obs = df.loc[daily_duplicated_indexes, :].drop(columns = "Date/Time")
            obs = pd.Series()
            
            daily_duplicated_indexes
            
            if len(unique_duplicated_dt) > 300:
                clear_output(wait=True)
            print(f"\nAnalysing {datetime} - (observations: {len(daily_duplicated_indexes)})")
            print("-"*120)
            
            equal_observations = set()
            for idk_check, index_obs in enumerate(daily_duplicated_indexes):
                
                other_duplicated_obs = duplicated_obs.drop(index_obs, axis=0)

                check = duplicated_obs.loc[index_obs,:].eq(other_duplicated_obs)
                find_equal_obs = check.all(axis=1)[check.all(axis=1) == True].index.tolist()

                print(f"--> Analysing idk: {index_obs}...")                
                if find_equal_obs:
                    print(f"    Equal observation(s) have been found: {find_equal_obs}")
                    idk_equal_obs = [index_obs] + [idk for idk in find_equal_obs]
                    idk_equal_obs.sort()
                    
                    #display(duplicated_obs.loc[idk_equal_obs, :])
                    #idk_equal_obs = [idk for idk in find_equal_obs]

                    # Save pairs of equal duplicated observations
                    equal_observations.add(tuple(idk_equal_obs))
   
            # Keep the first equal and discard the other equal observations
            duplicated_diff_obs = sorted([obs_to_discard for pairs in equal_observations for obs_to_discard in pairs[1:]])
            
            if len(duplicated_diff_obs) != 0:
                to_discard.update(duplicated_diff_obs)
                print("\n--> OK, discarding the identical observations: ", duplicated_diff_obs)
            else:
                print("No equal observations have been found")
        
            # Highlight potential issues: same timestamp not equal values
            remaining_duplicated_obs = sorted(set(daily_duplicated_indexes) - set(duplicated_diff_obs))
            
            if len(remaining_duplicated_obs) > 1:
                print(f"\n--> Issue, duplicated observations with different values have been found! --> {remaining_duplicated_obs}")
                
                mean_deltas = []
                to_discard_strat_2 = []
                for idk_observation in remaining_duplicated_obs:
                    print(f"    FOCUSING ON IDK: {idk_observation}")

                    # Compute the idk of previous and upcoming observations
                    prev_idk = idk_observation - 1
                    if prev_idk in daily_duplicated_indexes:
                        prev_idk = idk_observation - len(duplicated_diff_obs) - 1 
      
                    upcom_idk = idk_observation + 1
                    if upcom_idk in daily_duplicated_indexes:
                        upcom_idk = idk_observation + len(duplicated_diff_obs) + 1

                    # Compute previous and upcoming observations
                    obs_kwh = df.loc[idk_observation, :]["E. totale (kWh)"]
                    prev = df.loc[prev_idk, :]["E. totale (kWh)"]
                    upcom = df.loc[upcom_idk, :]["E. totale (kWh)"]

                    # Compute delta
                    mean_deltas.append((idk_observation,np.mean([np.abs(obs_kwh - prev),np.abs(upcom - obs_kwh)]) ))

                    # Check validity 
                    if prev <= obs_kwh <= upcom:
                        print("    Valid observation.")
                    else:
                        print("    Invalid values of E. total (kWH) the observation will be discarded. ")
                        to_discard_strat_2.append(idk_observation)
                        
                if len(to_discard_strat_2) == len(remaining_duplicated_obs):
                    print(prev_idk, "- ",idk_observation, "-", upcom_idk)
                    neighbours = df.loc[prev_idk:upcom_idk, :]
                    display(neighbours)
                    to_discard_strat_2 = to_discard_strat_2[1:]
                    print(to_discard_strat_2)
                    
                # IN CASE: Multiple valid observations (according to the )
                if len(remaining_duplicated_obs) - len(to_discard_strat_2) > 1:
                    print("\n    Multiple valid duplicated observations have been found. "\
                          f"{sorted(set(remaining_duplicated_obs) - set(to_discard_strat_2))}")

                    # Delete deltas of already selected discarted observations
                    if to_discard_strat_2:
                        idx_to_delate = [item for item in to_discard_strat_2]
                        mean_deltas = [delta for delta in mean_deltas if delta[0] not in idx_to_delate]

                    # Sort according to the deltas
                    mean_deltas.sort(key = lambda item: item[1])

                    if len(mean_deltas) >= 3: # Multiple items to discard
                        to_discard_strat_2.extend([item[0] for item in mean_deltas[1:]])
                    else:
                        to_discard_strat_2.append(*[item[0] for item in mean_deltas[1:]])
                    print(f"    Keeping the one (idk: {mean_deltas[0][0]}) with the less delta with the previous and next observations")                        
            
                # Add the discarted index found with this stategy
                to_discard.update(to_discard_strat_2)
                    
                # Visualize final outcome for the day
                idx_to_discard = to_discard_strat_2 + duplicated_diff_obs
                print(f"\n--> TO KEEP: {set(daily_duplicated_indexes) - set(idx_to_discard)} \---/ "\
                      f"TO DISCARD ({len(idx_to_discard)} out of {len(daily_duplicated_indexes)}): "\
                      f"{sorted(to_discard_strat_2)} + {sorted(duplicated_diff_obs)}")
                print("-"*120)
        
        # Select the index to remove (keep the first one, as they are the equal)
        idx_to_delate = set(obs_to_discard for pairs in equal_observations for obs_to_discard in pairs[1:])
        item_to_delate = sorted(idx_to_delate.union(to_discard))
        print(f"TO DELATE ({len(item_to_delate)} out of {len(duplicated_datetime)}):", item_to_delate)
        
        # Delate the equal duplicate
        index_to_delate[inv_name] = item_to_delate
        
    return index_to_delate
# -------------------------------------------------------------------------------
index_to_delate = check_datetime_uniqueness()

Analysing INV1...
DUPLICATE DATES: 10: ['2019-01-22, 15:10', '2019-03-05, 16:20', '2019-03-15, 10:25', '2019-03-15, 10:30', '2019-03-15, 11:40', '2019-05-02, 17:55', '2019-05-31, 11:40', '2020-02-12, 11:15', '2020-07-20, 13:10', '2021-02-10, 12:35'] (Total observations: 48)

Analysing 2019-01-22 15:10:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 14265...
    Equal observation(s) have been found: [14266]
--> Analysing idk: 14266...
    Equal observation(s) have been found: [14265]
--> Analysing idk: 14267...
    Equal observation(s) have been found: [14268]
--> Analysing idk: 14268...
    Equal observation(s) have been found: [14267]

--> OK, discarding the identical observations:  [14266, 14268]

--> Issue, duplicated observations with different values have been found! --> [14265, 14267]
    FOCUSING ON IDK: 14265
    Valid observation.
    FOCUSING ON IDK: 14267
    Valid observation.

    Multiple valid duplicated observations have been found. [14265, 14267]
    Keeping the one (idk: 14265) with the less delta with the previous and next observations

--> TO KEEP: {14265} \---/ TO DISCARD (3 out of 4): [14267] + [14266, 14268]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-03-05 16:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 19818...
    Equal observation(s) have been found: [19819]
--> Analysing idk: 19819...
    Equal observation(s) have been found: [19818]
--> Analysing idk: 19820...
    Equal observation(s) have been found: [19821]
--> Analysing idk: 19821...
    Equal observation(s) have been found: [19820]

--> OK, discarding the identical observations:  [19819, 19821]

--> Issue, duplicated observations with different values have been found! --> [19818, 19820]
    FOCUSING ON IDK: 19818
    Valid observation.
    FOCUSING ON IDK: 19820
    Valid observation.

    Multiple valid duplicated observations have been found. [19818, 19820]
    Keeping the one (idk: 19818) with the less delta with the previous and next observations

--> TO KEEP: {19818} \---/ TO DISCARD (3 out of 4): [19820] + [19819, 19821]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-03-15 10:25:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 21187...
    Equal observation(s) have been found: [21188]
--> Analysing idk: 21188...
    Equal observation(s) have been found: [21187]
--> Analysing idk: 21189...
    Equal observation(s) have been found: [21192]
--> Analysing idk: 21190...
    Equal observation(s) have been found: [21191]
--> Analysing idk: 21191...
    Equal observation(s) have been found: [21190]
--> Analysing idk: 21192...
    Equal observation(s) have been found: [21189]

--> OK, discarding the identical observations:  [21188, 21191, 21192]

--> Issue, duplicated observations with different values have been found! --> [21187, 21189, 21190]
    FOCUSING ON IDK: 21187
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 21189
    Valid observation.
    FOCUSING ON IDK: 21190
    Valid observation.

    Multiple valid duplicated observations have been found. [21189, 21190]
    Keeping the one (idk: 21190) with the less delta with the previous and next observations

--> TO KEEP: {21190} \---/ TO DISCARD (5 out of 6): [21187, 21189] + [21188, 21191, 21192]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-03-15 10:30:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 21193...
    Equal observation(s) have been found: [21194]
--> Analysing idk: 21194...
    Equal observation(s) have been found: [21193]

--> OK, discarding the identical observations:  [21194]

Analysing 2019-03-15 11:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 21206...
    Equal observation(s) have been found: [21207]
--> Analysing idk: 21207...
    Equal observation(s) have been found: [21206]
--> Analysing idk: 21208...
    Equal observation(s) have been found: [21209]
--> Analysing idk: 21209...
    Equal observation(s) have been found: [21208]

--> OK, discarding the identical observations:  [21207, 21209]

--> Issue, duplicated observations with different values have been found! --> [21206, 21208]
    FOCUSING ON IDK: 21206
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 21208
    Valid observation.

--> TO KEEP: {21208} \---/ TO DISCARD (3 out of 4): [21206] + [21207, 21209]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-05-02 17:55:00 - (observations: 9)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 28540...
    Equal observation(s) have been found: [28541, 28542]
--> Analysing idk: 28541...
    Equal observation(s) have been found: [28540, 28542]
--> Analysing idk: 28542...
    Equal observation(s) have been found: [28540, 28541]
--> Analysing idk: 28543...
    Equal observation(s) have been found: [28544, 28545]
--> Analysing idk: 28544...
    Equal observation(s) have been found: [28543, 28545]
--> Analysing idk: 28545...
    Equal observation(s) have been found: [28543, 28544]
--> Analysing idk: 28546...
    Equal observation(s) have been found: [28547, 28548]
--> Analysing idk: 28547...
    Equal observation(s) have been found: [28546, 28548]
--> Analysing idk: 28548...
    Equal observation(s) have been found: [28546, 28547]

--> OK, discarding the identical observations:  [28541, 28542, 28544, 28545, 28547, 28548]

--> Issue, duplicated observations with different values have been found! --> [28540, 28543, 28546]
    FOCUSING ON IDK: 28540
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 28543
    Valid observation.
    FOCUSING ON IDK: 28546
    Valid observation.

    Multiple valid duplicated observations have been found. [28543, 28546]
    Keeping the one (idk: 28546) with the less delta with the previous and next observations

--> TO KEEP: {28546} \---/ TO DISCARD (8 out of 9): [28540, 28543] + [28541, 28542, 28544, 28545, 28547, 28548]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-05-31 11:40:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33321...
--> Analysing idk: 33322...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [33321, 33322]
    FOCUSING ON IDK: 33321
    Valid observation.
    FOCUSING ON IDK: 33322
    Valid observation.

    Multiple valid duplicated observations have been found. [33321, 33322]
    Keeping the one (idk: 33321) with the less delta with the previous and next observations

--> TO KEEP: {33321} \---/ TO DISCARD (1 out of 2): [33322] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-12 11:15:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 72351...
    Equal observation(s) have been found: [72352]
--> Analysing idk: 72352...
    Equal observation(s) have been found: [72351]
--> Analysing idk: 72353...
    Equal observation(s) have been found: [72354]
--> Analysing idk: 72354...
    Equal observation(s) have been found: [72353]

--> OK, discarding the identical observations:  [72352, 72354]

--> Issue, duplicated observations with different values have been found! --> [72351, 72353]
    FOCUSING ON IDK: 72351
    Valid observation.
    FOCUSING ON IDK: 72353
    Valid observation.

    Multiple valid duplicated observations have been found. [72351, 72353]
    Keeping the one (idk: 72351) with the less delta with the previous and next observations

--> TO KEEP: {72351} \---/ TO DISCARD (3 out of 4): [72353] + [72352, 72354]
------------------------------------------------------------------------------------------------------------------------

/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

Analysing 2020-07-20 13:10:00 - (observations: 9)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 97966...
    Equal observation(s) have been found: [97967, 97968]
--> Analysing idk: 97967...
    Equal observation(s) have been found: [97966, 97968]
--> Analysing idk: 97968...
    Equal observation(s) have been found: [97966, 97967]
--> Analysing idk: 97969...
    Equal observation(s) have been found: [97971, 97974]
--> Analysing idk: 97970...
    Equal observation(s) have been found: [97972, 97973]
--> Analysing idk: 97971...
    Equal observation(s) have been found: [97969, 97974]
--> Analysing idk: 97972...
    Equal observation(s) have been found: [97970, 97973]
--> Analysing idk: 97973...
    Equal observation(s) have been found: [97970, 97972]
--> Analysing idk: 97974...
    Equal observation(s) have been found: [97969, 97971]

--> OK, discarding the identical observations:  [97967, 97968, 97971, 97972, 97973, 97974]

--> Issue, duplicated observations with different values have been found! --> [97966, 97969, 97970]
    FOCUSING ON IDK: 97966
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 97969
    Valid observation.
    FOCUSING ON IDK: 97970
    Valid observation.

    Multiple valid duplicated observations have been found. [97969, 97970]
    Keeping the one (idk: 97970) with the less delta with the previous and next observations

--> TO KEEP: {97970} \---/ TO DISCARD (8 out of 9): [97966, 97969] + [97967, 97968, 97971, 97972, 97973, 97974]
------------------------------------------------------------------------------------------------------------------------

Analysing 2021-02-10 12:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 127539...
    Equal observation(s) have been found: [127540]
--> Analysing idk: 127540...
    Equal observation(s) have been found: [127539]
--> Analysing idk: 127541...
    Equal observation(s) have been found: [127542]
--> Analysing idk: 127542...
    Equal observation(s) have been found: [127541]

--> OK, discarding the identical observations:  [127540, 127542]

--> Issue, duplicated observations with different values have been found! --> [127539, 127541]
    FOCUSING ON IDK: 127539
    Valid observation.
    FOCUSING ON IDK: 127541
    Valid observation.

    Multiple valid duplicated observations have been found. [127539, 127541]
    Keeping the one (idk: 127539) with the less delta with the previous and next observations

--> TO KEEP: {127539} \---/ TO DISCARD (3 out of 4): [127541] + [127540, 127542]
------------------------------------------------------------------------------------------------------------------------
TO DELATE (38 out of 48): [14266, 14267, 14268, 19819, 19820, 19821, 21187, 21188, 21189, 21191, 21192, 21194, 21206, 21207, 21209, 28540, 28541, 28542, 28543, 28544, 28545, 28547, 28548, 33322, 72352, 72353, 72354, 97966, 97967, 97968, 97969, 97971, 97972, 97973, 97974, 127540, 127541, 127542]

Analysing INV2...
DUPLICATE DATES: 10: ['2019-01-22, 15:10', '2019-03-05, 16:20', '2019-03-15, 10:25', '2019-03-15, 10:30', '2019-03-15, 11:40', '2019-05-02, 17:55', '2019-05-31, 11:40', '2020-02-12, 11:15', '2020-07-20, 13:10', '2021-02-10, 12:35'] (Total observations: 48)

Analysing 2019-01-22 15:10:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 13970...
    Equal observation(s) have been found: [13971]
--> Analysing idk: 13971...
    Equal observation(s) have been found: [13970]
--> Analysing idk: 13972...
    Equal observation(s) have been found: [13973]
--> Analysing idk: 13973...
    Equal observation(s) have been found: [13972]

--> OK, discarding the identical observations:  [13971, 13973]

--> Issue, duplicated observations with different values have been found! --> [13970, 13972]
    FOCUSING ON IDK: 13970
    Valid observation.
    FOCUSING ON IDK: 13972
    Valid observation.

    Multiple valid duplicated observations have been found. [13970, 13972]
    Keeping the one (idk: 13970) with the less delta with the previous and next observations

--> TO KEEP: {13970} \---/ TO DISCARD (3 out of 4): [13972] + [13971, 13973]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-03-05 16:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 19528...
    Equal observation(s) have been found: [19529]
--> Analysing idk: 19529...
    Equal observation(s) have been found: [19528]
--> Analysing idk: 19530...
    Equal observation(s) have been found: [19531]
--> Analysing idk: 19531...
    Equal observation(s) have been found: [19530]

--> OK, discarding the identical observations:  [19529, 19531]

--> Issue, duplicated observations with different values have been found! --> [19528, 19530]
    FOCUSING ON IDK: 19528
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 19530
    Valid observation.

--> TO KEEP: {19530} \---/ TO DISCARD (3 out of 4): [19528] + [19529, 19531]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-03-15 10:25:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 20897...
    Equal observation(s) have been found: [20898]
--> Analysing idk: 20898...
    Equal observation(s) have been found: [20897]
--> Analysing idk: 20899...
    Equal observation(s) have been found: [20900]
--> Analysing idk: 20900...
    Equal observation(s) have been found: [20899]
--> Analysing idk: 20901...
    Equal observation(s) have been found: [20902]
--> Analysing idk: 20902...
    Equal observation(s) have been found: [20901]

--> OK, discarding the identical observations:  [20898, 20900, 20902]

--> Issue, duplicated observations with different values have been found! --> [20897, 20899, 20901]
    FOCUSING ON IDK: 20897
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 20899
    Valid observation.
    FOCUSING ON IDK: 20901
    Invalid values of E. total (kWH) the observation will be discarded.

--> TO KEEP: {20899} \---/ TO DISCARD (5 out of 6): [20897, 20901] + [20898, 20900, 20902]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-03-15 10:30:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 20903...
    Equal observation(s) have been found: [20904]
--> Analysing idk: 20904...
    Equal observation(s) have been found: [20903]

--> OK, discarding the identical observations:  [20904]

Analysing 2019-03-15 11:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 20916...
    Equal observation(s) have been found: [20917]
--> Analysing idk: 20917...
    Equal observation(s) have been found: [20916]
--> Analysing idk: 20918...
    Equal observation(s) have been found: [20919]
--> Analysing idk: 20919...
    Equal observation(s) have been found: [20918]

--> OK, discarding the identical observations:  [20917, 20919]

--> Issue, duplicated observations with different values have been found! --> [20916, 20918]
    FOCUSING ON IDK: 20916
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 20918
    Valid observation.

--> TO KEEP: {20918} \---/ TO DISCARD (3 out of 4): [20916] + [20917, 20919]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-05-02 17:55:00 - (observations: 9)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 28576...
    Equal observation(s) have been found: [28577, 28580]
--> Analysing idk: 28577...
    Equal observation(s) have been found: [28576, 28580]
--> Analysing idk: 28578...
    Equal observation(s) have been found: [28579, 28584]
--> Analysing idk: 28579...
    Equal observation(s) have been found: [28578, 28584]
--> Analysing idk: 28580...
    Equal observation(s) have been found: [28576, 28577]
--> Analysing idk: 28581...
    Equal observation(s) have been found: [28582, 28583]
--> Analysing idk: 28582...
    Equal observation(s) have been found: [28581, 28583]
--> Analysing idk: 28583...
    Equal observation(s) have been found: [28581, 28582]
--> Analysing idk: 28584...
    Equal observation(s) have been found: [28578, 28579]

--> OK, discarding the identical observations:  [28577, 28579, 28580, 28582, 28583, 28584]

--> Issue, duplicated observations with different values have been found! --> [28576, 28578, 28581]
    FOCUSING ON IDK: 28576
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 28578
    Valid observation.
    FOCUSING ON IDK: 28581
    Valid observation.

    Multiple valid duplicated observations have been found. [28578, 28581]
    Keeping the one (idk: 28581) with the less delta with the previous and next observations

/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

--> TO KEEP: {28581} \---/ TO DISCARD (8 out of 9): [28576, 28578] + [28577, 28579, 28580, 28582, 28583, 28584]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-05-31 11:40:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33360...
--> Analysing idk: 33361...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [33360, 33361]
    FOCUSING ON IDK: 33360
    Valid observation.
    FOCUSING ON IDK: 33361
    Valid observation.

    Multiple valid duplicated observations have been found. [33360, 33361]
    Keeping the one (idk: 33360) with the less delta with the previous and next observations

--> TO KEEP: {33360} \---/ TO DISCARD (1 out of 2): [33361] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-12 11:15:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 71892...
    Equal observation(s) have been found: [71893]
--> Analysing idk: 71893...
    Equal observation(s) have been found: [71892]
--> Analysing idk: 71894...
    Equal observation(s) have been found: [71895]
--> Analysing idk: 71895...
    Equal observation(s) have been found: [71894]

--> OK, discarding the identical observations:  [71893, 71895]

--> Issue, duplicated observations with different values have been found! --> [71892, 71894]
    FOCUSING ON IDK: 71892
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 71894
    Valid observation.

--> TO KEEP: {71894} \---/ TO DISCARD (3 out of 4): [71892] + [71893, 71895]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-07-20 13:10:00 - (observations: 9)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 97578...
    Equal observation(s) have been found: [97579, 97580]
--> Analysing idk: 97579...
    Equal observation(s) have been found: [97578, 97580]
--> Analysing idk: 97580...
    Equal observation(s) have been found: [97578, 97579]
--> Analysing idk: 97581...
    Equal observation(s) have been found: [97582, 97586]
--> Analysing idk: 97582...
    Equal observation(s) have been found: [97581, 97586]
--> Analysing idk: 97583...
    Equal observation(s) have been found: [97584, 97585]
--> Analysing idk: 97584...
    Equal observation(s) have been found: [97583, 97585]
--> Analysing idk: 97585...
    Equal observation(s) have been found: [97583, 97584]
--> Analysing idk: 97586...
    Equal observation(s) have been found: [97581, 97582]

--> OK, discarding the identical observations:  [97579, 97580, 97582, 97584, 97585, 97586]

--> Issue, duplicated observations with different values have been found! --> [97578, 97581, 97583]
    FOCUSING ON IDK: 97578
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 97581
    Valid observation.
    FOCUSING ON IDK: 97583
    Valid observation.

    Multiple valid duplicated observations have been found. [97581, 97583]
    Keeping the one (idk: 97583) with the less delta with the previous and next observations

--> TO KEEP: {97583} \---/ TO DISCARD (8 out of 9): [97578, 97581] + [97579, 97580, 97582, 97584, 97585, 97586]
------------------------------------------------------------------------------------------------------------------------

Analysing 2021-02-10 12:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 127169...
    Equal observation(s) have been found: [127170]
--> Analysing idk: 127170...
    Equal observation(s) have been found: [127169]
--> Analysing idk: 127171...
    Equal observation(s) have been found: [127172]
--> Analysing idk: 127172...
    Equal observation(s) have been found: [127171]

--> OK, discarding the identical observations:  [127170, 127172]

--> Issue, duplicated observations with different values have been found! --> [127169, 127171]
    FOCUSING ON IDK: 127169
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 127171
    Valid observation.

--> TO KEEP: {127171} \---/ TO DISCARD (3 out of 4): [127169] + [127170, 127172]
------------------------------------------------------------------------------------------------------------------------
TO DELATE (38 out of 48): [13971, 13972, 13973, 19528, 19529, 19531, 20897, 20898, 20900, 20901, 20902, 20904, 20916, 20917, 20919, 28576, 28577, 28578, 28579, 28580, 28582, 28583, 28584, 33361, 71892, 71893, 71895, 97578, 97579, 97580, 97581, 97582, 97584, 97585, 97586, 127169, 127170, 127172]

Analysing INV3...
DUPLICATE DATES: 10: ['2019-01-22, 15:10', '2019-03-05, 16:20', '2019-03-15, 10:25', '2019-03-15, 10:30', '2019-03-15, 11:40', '2019-05-02, 17:55', '2019-05-31, 11:40', '2020-02-12, 11:15', '2020-07-20, 13:10', '2021-02-10, 12:35'] (Total observations: 48)

Analysing 2019-01-22 15:10:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 14366...
    Equal observation(s) have been found: [14367]
--> Analysing idk: 14367...
    Equal observation(s) have been found: [14366]
--> Analysing idk: 14368...
    Equal observation(s) have been found: [14369]
--> Analysing idk: 14369...
    Equal observation(s) have been found: [14368]

--> OK, discarding the identical observations:  [14367, 14369]

--> Issue, duplicated observations with different values have been found! --> [14366, 14368]
    FOCUSING ON IDK: 14366
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 14368
    Valid observation.

--> TO KEEP: {14368} \---/ TO DISCARD (3 out of 4): [14366] + [14367, 14369]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-03-05 16:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 19931...
    Equal observation(s) have been found: [19932]
--> Analysing idk: 19932...
    Equal observation(s) have been found: [19931]
--> Analysing idk: 19933...
    Equal observation(s) have been found: [19934]
--> Analysing idk: 19934...
    Equal observation(s) have been found: [19933]

--> OK, discarding the identical observations:  [19932, 19934]

--> Issue, duplicated observations with different values have been found! --> [19931, 19933]
    FOCUSING ON IDK: 19931
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 19933
    Valid observation.

--> TO KEEP: {19933} \---/ TO DISCARD (3 out of 4): [19931] + [19932, 19934]
------------------------------------------------------------------------------------------------------------------------

/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

Analysing 2019-03-15 10:25:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 21300...
    Equal observation(s) have been found: [21301]
--> Analysing idk: 21301...
    Equal observation(s) have been found: [21300]
--> Analysing idk: 21302...
    Equal observation(s) have been found: [21303]
--> Analysing idk: 21303...
    Equal observation(s) have been found: [21302]
--> Analysing idk: 21304...
    Equal observation(s) have been found: [21305]
--> Analysing idk: 21305...
    Equal observation(s) have been found: [21304]

--> OK, discarding the identical observations:  [21301, 21303, 21305]

--> Issue, duplicated observations with different values have been found! --> [21300, 21302, 21304]
    FOCUSING ON IDK: 21300
    Valid observation.
    FOCUSING ON IDK: 21302
    Valid observation.
    FOCUSING ON IDK: 21304
    Valid observation.

    Multiple valid duplicated observations have been found. [21300, 21302, 21304]
    Keeping the one (idk: 21300) with the less delta with the previous and next observations

--> TO KEEP: {21300} \---/ TO DISCARD (5 out of 6): [21302, 21304] + [21301, 21303, 21305]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-03-15 10:30:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 21306...
    Equal observation(s) have been found: [21307]
--> Analysing idk: 21307...
    Equal observation(s) have been found: [21306]

--> OK, discarding the identical observations:  [21307]

Analysing 2019-03-15 11:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 21319...
    Equal observation(s) have been found: [21320]
--> Analysing idk: 21320...
    Equal observation(s) have been found: [21319]
--> Analysing idk: 21321...
    Equal observation(s) have been found: [21322]
--> Analysing idk: 21322...
    Equal observation(s) have been found: [21321]

--> OK, discarding the identical observations:  [21320, 21322]

--> Issue, duplicated observations with different values have been found! --> [21319, 21321]
    FOCUSING ON IDK: 21319
    Valid observation.
    FOCUSING ON IDK: 21321
    Valid observation.

    Multiple valid duplicated observations have been found. [21319, 21321]
    Keeping the one (idk: 21319) with the less delta with the previous and next observations

--> TO KEEP: {21319} \---/ TO DISCARD (3 out of 4): [21321] + [21320, 21322]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-05-02 17:55:00 - (observations: 9)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 28998...
    Equal observation(s) have been found: [28999, 29000]
--> Analysing idk: 28999...
    Equal observation(s) have been found: [28998, 29000]
--> Analysing idk: 29000...
    Equal observation(s) have been found: [28998, 28999]
--> Analysing idk: 29001...
    Equal observation(s) have been found: [29002, 29006]
--> Analysing idk: 29002...
    Equal observation(s) have been found: [29001, 29006]
--> Analysing idk: 29003...
    Equal observation(s) have been found: [29004, 29005]
--> Analysing idk: 29004...
    Equal observation(s) have been found: [29003, 29005]
--> Analysing idk: 29005...
    Equal observation(s) have been found: [29003, 29004]
--> Analysing idk: 29006...
    Equal observation(s) have been found: [29001, 29002]

--> OK, discarding the identical observations:  [28999, 29000, 29002, 29004, 29005, 29006]

--> Issue, duplicated observations with different values have been found! --> [28998, 29001, 29003]
    FOCUSING ON IDK: 28998
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 29001
    Valid observation.
    FOCUSING ON IDK: 29003
    Valid observation.

    Multiple valid duplicated observations have been found. [29001, 29003]
    Keeping the one (idk: 29003) with the less delta with the previous and next observations

--> TO KEEP: {29003} \---/ TO DISCARD (8 out of 9): [28998, 29001] + [28999, 29000, 29002, 29004, 29005, 29006]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-05-31 11:40:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33785...
--> Analysing idk: 33786...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [33785, 33786]
    FOCUSING ON IDK: 33785
    Valid observation.
    FOCUSING ON IDK: 33786
    Valid observation.

    Multiple valid duplicated observations have been found. [33785, 33786]
    Keeping the one (idk: 33785) with the less delta with the previous and next observations

--> TO KEEP: {33785} \---/ TO DISCARD (1 out of 2): [33786] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-12 11:15:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 72824...
    Equal observation(s) have been found: [72825]
--> Analysing idk: 72825...
    Equal observation(s) have been found: [72824]
--> Analysing idk: 72826...
    Equal observation(s) have been found: [72827]
--> Analysing idk: 72827...
    Equal observation(s) have been found: [72826]

--> OK, discarding the identical observations:  [72825, 72827]

--> Issue, duplicated observations with different values have been found! --> [72824, 72826]
    FOCUSING ON IDK: 72824
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 72826
    Valid observation.

--> TO KEEP: {72826} \---/ TO DISCARD (3 out of 4): [72824] + [72825, 72827]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-07-20 13:10:00 - (observations: 9)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 98475...
    Equal observation(s) have been found: [98476, 98479]
--> Analysing idk: 98476...
    Equal observation(s) have been found: [98475, 98479]
--> Analysing idk: 98477...
    Equal observation(s) have been found: [98478, 98483]
--> Analysing idk: 98478...
    Equal observation(s) have been found: [98477, 98483]
--> Analysing idk: 98479...
    Equal observation(s) have been found: [98475, 98476]
--> Analysing idk: 98480...
    Equal observation(s) have been found: [98481, 98482]
--> Analysing idk: 98481...
    Equal observation(s) have been found: [98480, 98482]
--> Analysing idk: 98482...
    Equal observation(s) have been found: [98480, 98481]
--> Analysing idk: 98483...
    Equal observation(s) have been found: [98477, 98478]

--> OK, discarding the identical observations:  [98476, 98478, 98479, 98481, 98482, 98483]

--> Issue, duplicated observations with different values have been found! --> [98475, 98477, 98480]
    FOCUSING ON IDK: 98475
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 98477
    Valid observation.
    FOCUSING ON IDK: 98480
    Valid observation.

    Multiple valid duplicated observations have been found. [98477, 98480]
    Keeping the one (idk: 98480) with the less delta with the previous and next observations

--> TO KEEP: {98480} \---/ TO DISCARD (8 out of 9): [98475, 98477] + [98476, 98478, 98479, 98481, 98482, 98483]
------------------------------------------------------------------------------------------------------------------------

Analysing 2021-02-10 12:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 127031...
    Equal observation(s) have been found: [127032]
--> Analysing idk: 127032...
    Equal observation(s) have been found: [127031]
--> Analysing idk: 127033...
    Equal observation(s) have been found: [127034]
--> Analysing idk: 127034...
    Equal observation(s) have been found: [127033]

/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

--> OK, discarding the identical observations:  [127032, 127034]

--> Issue, duplicated observations with different values have been found! --> [127031, 127033]
    FOCUSING ON IDK: 127031
    Valid observation.
    FOCUSING ON IDK: 127033
    Valid observation.

    Multiple valid duplicated observations have been found. [127031, 127033]
    Keeping the one (idk: 127031) with the less delta with the previous and next observations

--> TO KEEP: {127031} \---/ TO DISCARD (3 out of 4): [127033] + [127032, 127034]
------------------------------------------------------------------------------------------------------------------------
TO DELATE (38 out of 48): [14366, 14367, 14369, 19931, 19932, 19934, 21301, 21302, 21303, 21304, 21305, 21307, 21320, 21321, 21322, 28998, 28999, 29000, 29001, 29002, 29004, 29005, 29006, 33786, 72824, 72825, 72827, 98475, 98476, 98477, 98478, 98479, 98481, 98482, 98483, 127032, 127033, 127034]

Analysing INV4...
DUPLICATE DATES: 10: ['2019-01-22, 15:10', '2019-03-05, 16:20', '2019-03-15, 10:25', '2019-03-15, 10:30', '2019-03-15, 11:40', '2019-05-02, 17:55', '2019-05-31, 11:40', '2020-02-12, 11:15', '2020-07-20, 13:10', '2021-02-10, 12:35'] (Total observations: 48)

Analysing 2019-01-22 15:10:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 14365...
    Equal observation(s) have been found: [14366]
--> Analysing idk: 14366...
    Equal observation(s) have been found: [14365]
--> Analysing idk: 14367...
    Equal observation(s) have been found: [14368]
--> Analysing idk: 14368...
    Equal observation(s) have been found: [14367]

--> OK, discarding the identical observations:  [14366, 14368]

--> Issue, duplicated observations with different values have been found! --> [14365, 14367]
    FOCUSING ON IDK: 14365
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 14367
    Valid observation.

--> TO KEEP: {14367} \---/ TO DISCARD (3 out of 4): [14365] + [14366, 14368]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-03-05 16:20:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 19937...
    Equal observation(s) have been found: [19938]
--> Analysing idk: 19938...
    Equal observation(s) have been found: [19937]
--> Analysing idk: 19939...
    Equal observation(s) have been found: [19940]
--> Analysing idk: 19940...
    Equal observation(s) have been found: [19939]

--> OK, discarding the identical observations:  [19938, 19940]

--> Issue, duplicated observations with different values have been found! --> [19937, 19939]
    FOCUSING ON IDK: 19937
    Valid observation.
    FOCUSING ON IDK: 19939
    Valid observation.

    Multiple valid duplicated observations have been found. [19937, 19939]
    Keeping the one (idk: 19937) with the less delta with the previous and next observations

--> TO KEEP: {19937} \---/ TO DISCARD (3 out of 4): [19939] + [19938, 19940]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-03-15 10:25:00 - (observations: 6)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 21305...
    Equal observation(s) have been found: [21307]
--> Analysing idk: 21306...
    Equal observation(s) have been found: [21310]
--> Analysing idk: 21307...
    Equal observation(s) have been found: [21305]
--> Analysing idk: 21308...
    Equal observation(s) have been found: [21309]
--> Analysing idk: 21309...
    Equal observation(s) have been found: [21308]
--> Analysing idk: 21310...
    Equal observation(s) have been found: [21306]

--> OK, discarding the identical observations:  [21307, 21309, 21310]

--> Issue, duplicated observations with different values have been found! --> [21305, 21306, 21308]
    FOCUSING ON IDK: 21305
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 21306
    Valid observation.
    FOCUSING ON IDK: 21308
    Valid observation.

    Multiple valid duplicated observations have been found. [21306, 21308]
    Keeping the one (idk: 21308) with the less delta with the previous and next observations

--> TO KEEP: {21308} \---/ TO DISCARD (5 out of 6): [21305, 21306] + [21307, 21309, 21310]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-03-15 10:30:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 21311...
    Equal observation(s) have been found: [21312]
--> Analysing idk: 21312...
    Equal observation(s) have been found: [21311]

--> OK, discarding the identical observations:  [21312]

Analysing 2019-03-15 11:40:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 21324...
    Equal observation(s) have been found: [21325]
--> Analysing idk: 21325...
    Equal observation(s) have been found: [21324]
--> Analysing idk: 21326...
    Equal observation(s) have been found: [21327]
--> Analysing idk: 21327...
    Equal observation(s) have been found: [21326]

--> OK, discarding the identical observations:  [21325, 21327]

--> Issue, duplicated observations with different values have been found! --> [21324, 21326]
    FOCUSING ON IDK: 21324
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 21326
    Valid observation.

--> TO KEEP: {21326} \---/ TO DISCARD (3 out of 4): [21324] + [21325, 21327]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-05-02 17:55:00 - (observations: 9)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 29004...
    Equal observation(s) have been found: [29005, 29006]
--> Analysing idk: 29005...
    Equal observation(s) have been found: [29004, 29006]
--> Analysing idk: 29006...
    Equal observation(s) have been found: [29004, 29005]
--> Analysing idk: 29007...
    Equal observation(s) have been found: [29008, 29009]
--> Analysing idk: 29008...
    Equal observation(s) have been found: [29007, 29009]
--> Analysing idk: 29009...
    Equal observation(s) have been found: [29007, 29008]
--> Analysing idk: 29010...
    Equal observation(s) have been found: [29011, 29012]
--> Analysing idk: 29011...
    Equal observation(s) have been found: [29010, 29012]
--> Analysing idk: 29012...
    Equal observation(s) have been found: [29010, 29011]

--> OK, discarding the identical observations:  [29005, 29006, 29008, 29009, 29011, 29012]

--> Issue, duplicated observations with different values have been found! --> [29004, 29007, 29010]
    FOCUSING ON IDK: 29004
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 29007
    Valid observation.
    FOCUSING ON IDK: 29010
    Valid observation.

    Multiple valid duplicated observations have been found. [29007, 29010]
    Keeping the one (idk: 29010) with the less delta with the previous and next observations

--> TO KEEP: {29010} \---/ TO DISCARD (8 out of 9): [29004, 29007] + [29005, 29006, 29008, 29009, 29011, 29012]
------------------------------------------------------------------------------------------------------------------------

Analysing 2019-05-31 11:40:00 - (observations: 2)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 33791...
--> Analysing idk: 33792...
No equal observations have been found

--> Issue, duplicated observations with different values have been found! --> [33791, 33792]
    FOCUSING ON IDK: 33791
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 33792
    Invalid values of E. total (kWH) the observation will be discarded.
33791 -  33792 - 33793

/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

,Date/Time,Iac R (A),Iac S (A),Iac T (A),Vac R (V),Vac S (V),Vac T (V),Pac R (kW),E. totale (kWh),Cc 1 (A),Vcc 1 (V),Allarme,Inverter temp. (°C)
33791,2019-05-31 11:40:00,533,531,541,121,121,120,187,1359427.4,455,409,553701696,25
33792,2019-05-31 11:40:00,627,621,633,120,119,119,219,1359420.9,527,413,553701696,25
33793,2019-05-31 11:50:00,277,267,279,119,119,119,94,1359438.3,233,400,553701696,23

[33792]

--> TO KEEP: {33791} \---/ TO DISCARD (1 out of 2): [33792] + []
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-02-12 11:15:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 72829...
    Equal observation(s) have been found: [72830]
--> Analysing idk: 72830...
    Equal observation(s) have been found: [72829]
--> Analysing idk: 72831...
    Equal observation(s) have been found: [72832]
--> Analysing idk: 72832...
    Equal observation(s) have been found: [72831]

--> OK, discarding the identical observations:  [72830, 72832]

--> Issue, duplicated observations with different values have been found! --> [72829, 72831]
    FOCUSING ON IDK: 72829
    Valid observation.
    FOCUSING ON IDK: 72831
    Valid observation.

    Multiple valid duplicated observations have been found. [72829, 72831]
    Keeping the one (idk: 72829) with the less delta with the previous and next observations

--> TO KEEP: {72829} \---/ TO DISCARD (3 out of 4): [72831] + [72830, 72832]
------------------------------------------------------------------------------------------------------------------------

Analysing 2020-07-20 13:10:00 - (observations: 9)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 98507...
    Equal observation(s) have been found: [98508, 98509]
--> Analysing idk: 98508...
    Equal observation(s) have been found: [98507, 98509]
--> Analysing idk: 98509...
    Equal observation(s) have been found: [98507, 98508]
--> Analysing idk: 98510...
    Equal observation(s) have been found: [98511, 98512]
--> Analysing idk: 98511...
    Equal observation(s) have been found: [98510, 98512]
--> Analysing idk: 98512...
    Equal observation(s) have been found: [98510, 98511]
--> Analysing idk: 98513...
    Equal observation(s) have been found: [98514, 98515]
--> Analysing idk: 98514...
    Equal observation(s) have been found: [98513, 98515]
--> Analysing idk: 98515...
    Equal observation(s) have been found: [98513, 98514]

--> OK, discarding the identical observations:  [98508, 98509, 98511, 98512, 98514, 98515]

--> Issue, duplicated observations with different values have been found! --> [98507, 98510, 98513]
    FOCUSING ON IDK: 98507
    Invalid values of E. total (kWH) the observation will be discarded.
    FOCUSING ON IDK: 98510
    Valid observation.
    FOCUSING ON IDK: 98513
    Valid observation.

    Multiple valid duplicated observations have been found. [98510, 98513]
    Keeping the one (idk: 98513) with the less delta with the previous and next observations

--> TO KEEP: {98513} \---/ TO DISCARD (8 out of 9): [98507, 98510] + [98508, 98509, 98511, 98512, 98514, 98515]
------------------------------------------------------------------------------------------------------------------------

Analysing 2021-02-10 12:35:00 - (observations: 4)
------------------------------------------------------------------------------------------------------------------------
--> Analysing idk: 126775...
    Equal observation(s) have been found: [126776]
--> Analysing idk: 126776...
    Equal observation(s) have been found: [126775]
--> Analysing idk: 126777...
    Equal observation(s) have been found: [126778]
--> Analysing idk: 126778...
    Equal observation(s) have been found: [126777]

--> OK, discarding the identical observations:  [126776, 126778]

--> Issue, duplicated observations with different values have been found! --> [126775, 126777]
    FOCUSING ON IDK: 126775
    Valid observation.
    FOCUSING ON IDK: 126777
    Valid observation.

    Multiple valid duplicated observations have been found. [126775, 126777]
    Keeping the one (idk: 126775) with the less delta with the previous and next observations

--> TO KEEP: {126775} \---/ TO DISCARD (3 out of 4): [126777] + [126776, 126778]
------------------------------------------------------------------------------------------------------------------------
TO DELATE (38 out of 48): [14365, 14366, 14368, 19938, 19939, 19940, 21305, 21306, 21307, 21309, 21310, 21312, 21324, 21325, 21327, 29004, 29005, 29006, 29007, 29008, 29009, 29011, 29012, 33792, 72830, 72831, 72832, 98507, 98508, 98509, 98510, 98511, 98512, 98514, 98515, 126776, 126777, 126778]

/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()
/tmp/ipykernel_18245/3828637059.py:38: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obs = pd.Series()

# Carry out some transformations

In [32]:
# TASK: Carry out the necessary stategies to tackle the issues discovered in the above analyses
for inv_name in inv_names:
    print(f"\n{inv_name.upper()}...")
    
    # TASK: Delate duplicate observations (same timestamps)
    inv_data[inv_name].drop(index = index_to_delate[inv_name], inplace=True)
    inv_data[inv_name].reset_index(drop=True, inplace = True)
    print(f"--> Discared some duplicated observations (i.e., same timestamps) ({len(index_to_delate[inv_name])})")
    
    # TASK: Delate the columns (i.e., variables) that have been confirmed empty
    inv_data[inv_name].drop(columns = check_emptiness, inplace=True)
    print(f"--> Discared some empty columns (i.e., {check_emptiness})")
    
     # TASK: Remove the irradiance column that was joined previously --> it'll be re-added after fixing the sampling of both side
    inv_data[inv_name].drop(columns = ["Irr. medio (W/mq)"], inplace=True)
    print("--> Removed the column of irradiance values, since it will be re-added after tackling the sampling issue.")
# ---------------------------------------------------------------------------------
# TASK: Carry out some minor changes on the "raw irradiance file"
print("\nRAW IRRADIANCE FILE ...")
# Rename the column of the data
raw_irr_data.rename(columns = {"data":"Date/Time", "irr. medio 1 W/mq":"Irradiance (W/mq)"}, inplace=True)
print("--> Renamed the columns to improve readability and compatibility with other datasets")

INV1...
--> Discared some duplicated observations (i.e., same timestamps) (38)
--> Discared some empty columns (i.e., ['Pac S (kW)', 'Pac T (kW)', 'Stato', 'Fac (Hz)'])
--> Removed the column of irradiance values, since it will be re-added after tackling the sampling issue.

INV2...
--> Discared some duplicated observations (i.e., same timestamps) (38)
--> Discared some empty columns (i.e., ['Pac S (kW)', 'Pac T (kW)', 'Stato', 'Fac (Hz)'])
--> Removed the column of irradiance values, since it will be re-added after tackling the sampling issue.

INV3...
--> Discared some duplicated observations (i.e., same timestamps) (38)
--> Discared some empty columns (i.e., ['Pac S (kW)', 'Pac T (kW)', 'Stato', 'Fac (Hz)'])
--> Removed the column of irradiance values, since it will be re-added after tackling the sampling issue.

INV4...
--> Discared some duplicated observations (i.e., same timestamps) (38)
--> Discared some empty columns (i.e., ['Pac S (kW)', 'Pac T (kW)', 'Stato', 'Fac (Hz)'])
--> Removed the column of irradiance values, since it will be re-added after tackling the sampling issue.

RAW IRRADIANCE FILE ...
--> Renamed the columns to improve readability and compatibility with other datasets

#### check

In [33]:
# Check validity of the transformation
inv_data[inv_names[0]].info()
print("-"*80)
index_to_delate = check_datetime_uniqueness()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149861 entries, 0 to 149860
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date/Time            149861 non-null  datetime64[ns]
 1   Iac R (A)            149861 non-null  int64
 2   Iac S (A)            149861 non-null  int64
 3   Iac T (A)            149861 non-null  int64
 4   Vac R (V)            149861 non-null  int64
 5   Vac S (V)            149861 non-null  int64
 6   Vac T (V)            149861 non-null  int64
 7   Pac R (kW)           149861 non-null  int64
 8   E. totale (kWh)      149861 non-null  float64
 9   Cc 1 (A)             149861 non-null  int64
 10  Vcc 1 (V)            149861 non-null  int64
 11  Allarme              149861 non-null  string
 12  Inverter temp. (°C)  149861 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(10), string(1)
memory usage: 14.9 MB
--------------------------------------------------------------------------------

Analysing INV1...
Oh, that's good. No duplicated observations have been found for INV1!

Analysing INV2...
Oh, that's good. No duplicated observations have been found for INV2!

Analysing INV3...
Oh, that's good. No duplicated observations have been found for INV3!

Analysing INV4...
Oh, that's good. No duplicated observations have been found for INV4!

# Detect and correct outliers

In [34]:
# -----------------------------------------------------
# FUNCTION: Find the outliers by adopting the z-score
# -----------------------------------------------------
def find_outliers(df, threshold = 3, verbose = False): 
    numerical_df = df.select_dtypes(include = np.number)
    
    # THE MEASURAMENT: Z-score
    # It describes a value's relationship to the mean of a group of values 
    # It's the number of standard deviations by which the observed value is above/below the mean value of what is being measured
    z_score = np.abs(zscore(numerical_df)) 

    # Filter the observations that are above the threshold (from literature: 3 is a typical cut-off point to detect the outliers)
    if len(z_score.columns) == 3:
        cond_outlier = (z_score.iloc[:, 0] > threshold) & (z_score.iloc[:, 1] > threshold) & (z_score.iloc[:, 2] > threshold)
    elif len(z_score.columns) == 2:
         cond_outlier = (z_score.iloc[:, 0] > threshold) & (z_score.iloc[:, 1] > threshold)
    else:
        cond_outlier = z_score.iloc[:, 0] > threshold 

    # Find the outliers according to the threshold of the z-scores
    outliers_idk = z_score[cond_outlier].index
    outliers = df.loc[outliers_idk, :]
    
    if verbose & len(outliers) != 0:
        print(f"Z-score values (threshold: {threshold})")
        print("MIN:", round(np.min(min(z_score[cond_outlier].values.tolist())), 2), \
              "\nMAX:",round(np.max(max(z_score[cond_outlier].values.tolist())), 2))
              
        display(z_score[cond_outlier])
        
    return outliers
# ------------------------------------------------------------------------------------------
# FUNCTION: Compute a weighted average value according to the observation's neighbours (KNN)
# ------------------------------------------------------------------------------------------
def weighted_knn(df, idk_position, list_outliers, column,  K = 6, verbose=True):
    # Define the interval before and after the position
    k_before = K//2 
    k_after = K//2
    
    # Define the range of neighbours 
    idk_range = np.arange(idk_outlier - k_before, idk_outlier + k_after + 1)
    
    # Find the indexes of other outliers (for excluding them in the weighted average)
    if idk_position in list_outliers:
        list_outliers.remove(idk_position)
    
    # Detect potential outliers in its neighbours
    problematic_idk_neighbours = [idk_outlier for idk_outlier in list_outliers if idk_outlier in idk_range]
        
    if len(problematic_idk_neighbours) != 0:
        if verbose:
            print(f"\nOPS: Problematic IDK neighbours discovered {len(problematic_idk_neighbours)} "\
                  f"({round(((len(problematic_idk_neighbours)/len(idk_range))*100), 2)} %) --> {problematic_idk_neighbours}")
        
        # Try to increase the number of neighbours 
        MAX_K = 30
        if len(problematic_idk_neighbours) >= K//2:
            new_k = K*2 
            if new_k <= MAX_K:
                if verbose: 
                    print(f"Trying with more neighbours ({new_k})...")
                weighted_knn(df, idk_position, list_outliers, column,  K = new_k, verbose=False)
            else:
                if verbose:
                    print("Reach maximum of K neighbours")
        
        # Remove problematic neighbours
        idk_range = idk_range[~ np.isin(idk_range, problematic_idk_neighbours)]
        
        if verbose:
            print("\nEnd process of increasing number of neighbours (i.e., number of problematic neigbours is acceptable (fewer than K/2)")
            print(f"The problematic neighbours ({len(problematic_idk_neighbours)}) have been removed from the neighbour list")
    
    # Find the neigbourhood 
    idk_outlier_pos = np.argwhere(idk_range == idk_position)[0][0]
    neighbours_idk = np.delete(idk_range, idk_outlier_pos)
    
    neighbours = np.array(df.loc[neighbours_idk, :][column]) # iloc
    outlier_value = df.loc[idk_position, :][column]
    
    if verbose:
        print(f"\nVARIABLE: {column}")
        print(f"NEIGHBOURES ({len(neighbours)} out of {K}):{neighbours[:idk_outlier_pos]} \--/ {neighbours[idk_outlier_pos:]}")
    
    # Define the weights
    dist_idk = [np.abs(idk - idk_position) for idk in neighbours_idk]
    penalize = lambda dist: min(dist_idk)/dist if dist != min(dist_idk) else 1 #min(dist_idk)/(1 + (dist/10))
    weights = [round(penalize(dist), 2) for dist in dist_idk]
    
    if verbose:
        print("WEIGHTS:", weights)

    # Compute the weighted average 
    weighted_average_value = np.average(neighbours, weights = weights)
    
    # Round and cast the value to an integer value
    candidate_value = int(round(weighted_average_value, 0))
    
    if verbose:
        print(f"COMPUTED VALUE: {candidate_value}")
        print("-" * 80)
    return candidate_value

### Variable: *AC voltage values* (Vac R/S/T)

In [13]:
# TASK: A) Analyse and correct the outliers
# VARIABLES: AC voltage values (Vac R/S/T)
# MOTIVATION: Some invalid values (i.e., zero values) have been detected visually (i.e., numerical distribution graphs)
columns = ["Date/Time", "Vac R (V)", "Vac S (V)", "Vac T (V)"]

# Carry out the analysis (and correction) on all the inverters
for inv_name in inv_names:
    print("INVERTER NAME:", inv_name, "\n", "-"*80)
    
    # 1A) Detect extreme outliers 
    # Setting threshold: a very high threshold to detect (and correct) only extreme outliers (e.g. zero values)
    # Threshold has been set according to emperical tests (default outlier threshold is equal to 3)
    extreme_vac_outlier = find_outliers(inv_data[inv_name][columns], verbose=True, threshold = 5)
    
    if len(extreme_vac_outlier) == 0:
        print("Oh, no extreme outliers found. That's good.\n")
        continue
        
    print(f"The extreme outliers ({len(extreme_vac_outlier)}) of Vac")
    display(extreme_vac_outlier)

    # 1B) Replacing criterion --> Weighted KNN (k = 6)
    # Identfy the index of the outliers 
    idk_outliers = extreme_vac_outlier.index.tolist()
    list_outliers = idk_outliers.copy()
    
    # Compute and assign the estimated value (weighted average value from its neigbours)
    for idk_outlier in idk_outliers:
        
        # Visualize the outlier and its neighours
        print(f"Outlier (idk: {idk_outlier}) and its neighborhood")
        display(inv_data[inv_name][columns].loc[range(idk_outlier - 3, idk_outlier + 4), :])
        
        # Compute the estimated value and assign the the original dataframe
        inv_data[inv_name].loc[idk_outlier, "Vac R (V)"] = weighted_knn(inv_data[inv_name][columns], 
                                                                        idk_outlier, list_outliers, "Vac R (V)")
        inv_data[inv_name].loc[idk_outlier, "Vac S (V)"] = weighted_knn(inv_data[inv_name][columns], 
                                                                        idk_outlier, list_outliers, "Vac S (V)")
        inv_data[inv_name].loc[idk_outlier, "Vac T (V)"] = weighted_knn(inv_data[inv_name][columns],
                                                                        idk_outlier, list_outliers, "Vac T (V)")

        # Visualize the outcome
        print("\nNew data (with the filled value(s))")
        display(inv_data[inv_name].loc[idk_outlier][columns])
        print("-" * 80)

INVERTER NAME: INV1
 --------------------------------------------------------------------------------
Z-score values (threshold: 5)
MIN: 42.42
MAX: 46.52

       Vac R (V)  Vac S (V)  Vac T (V)
59112  42.424222  46.522341   45.31855

The extreme outliers (1) of Vac

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
59112 2019-11-12 13:00:00          0          0          0

Outlier (idk: 59112) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
59109 2019-11-12 12:40:00        111        112        111
59110 2019-11-12 12:45:00        111        111        111
59111 2019-11-12 12:55:00        113        113        113
59112 2019-11-12 13:00:00          0          0          0
59113 2019-11-12 13:05:00        115        115        115
59114 2019-11-12 13:10:00        118        118        118
59115 2019-11-12 13:15:00        117        117        117

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[111 111 113] \--/ [115 118 117]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 114
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[112 111 113] \--/ [115 118 117]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 114
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[111 111 113] \--/ [115 118 117]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 114
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2019-11-12 13:00:00
Vac R (V)                    114
Vac S (V)                    114
Vac T (V)                    114
Name: 59112, dtype: object

--------------------------------------------------------------------------------
INVERTER NAME: INV2
 --------------------------------------------------------------------------------
Z-score values (threshold: 5)
MIN: 41.43
MAX: 46.28

       Vac R (V)  Vac S (V)  Vac T (V)
70876  41.429549  46.277999    43.9042

The extreme outliers (1) of Vac

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
70876 2020-02-05 13:20:00          0          0          0

Outlier (idk: 70876) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
70873 2020-02-05 13:05:00        121        121        122
70874 2020-02-05 13:10:00        119        119        119
70875 2020-02-05 13:15:00        121        120        121
70876 2020-02-05 13:20:00          0          0          0
70877 2020-02-05 13:25:00        120        120        121
70878 2020-02-05 13:35:00        121        120        121
70879 2020-02-05 13:40:00        121        121        121

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[121 119 121] \--/ [120 121 121]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 120
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[121 119 120] \--/ [120 120 121]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 120
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[122 119 121] \--/ [121 121 121]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 121
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2020-02-05 13:20:00
Vac R (V)                    120
Vac S (V)                    120
Vac T (V)                    121
Name: 70876, dtype: object

--------------------------------------------------------------------------------
INVERTER NAME: INV3
 --------------------------------------------------------------------------------
Z-score values (threshold: 5)
MIN: 41.28
MAX: 45.7

       Vac R (V)  Vac S (V)  Vac T (V)
71807  41.280791  45.695119  43.809058

The extreme outliers (1) of Vac

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
71807 2020-02-05 13:20:00          0          0          0

Outlier (idk: 71807) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
71804 2020-02-05 13:05:00        121        122        122
71805 2020-02-05 13:10:00        119        120        120
71806 2020-02-05 13:15:00        121        122        121
71807 2020-02-05 13:20:00          0          0          0
71808 2020-02-05 13:25:00        120        122        121
71809 2020-02-05 13:35:00        121        121        121
71810 2020-02-05 13:40:00        121        122        121

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[121 119 121] \--/ [120 121 121]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 120
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[122 120 122] \--/ [122 121 122]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 122
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[122 120 121] \--/ [121 121 121]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 121
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2020-02-05 13:20:00
Vac R (V)                    120
Vac S (V)                    122
Vac T (V)                    121
Name: 71807, dtype: object

--------------------------------------------------------------------------------
INVERTER NAME: INV4
 --------------------------------------------------------------------------------
The extreme outliers (2) of Vac

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
67397 2020-01-05 19:00:00         51         48         15
95538 2020-07-02 17:10:00          9          6          9

Outlier (idk: 67397) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
67394 2020-01-05 18:45:00        113        114        113
67395 2020-01-05 18:50:00        113        114        113
67396 2020-01-05 18:55:00        114        114        113
67397 2020-01-05 19:00:00         51         48         15
67398 2020-01-05 19:10:00        114        114        113
67399 2020-01-05 19:15:00        114        115        114
67400 2020-01-05 19:20:00        114        114        113

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[113 113 114] \--/ [114 114 114]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 114
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[114 114 114] \--/ [114 115 114]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 114
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[113 113 113] \--/ [113 114 113]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 113
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2020-01-05 19:00:00
Vac R (V)                    114
Vac S (V)                    114
Vac T (V)                    113
Name: 67397, dtype: object

--------------------------------------------------------------------------------
Outlier (idk: 95538) and its neighborhood

                Date/Time  Vac R (V)  Vac S (V)  Vac T (V)
95535 2020-07-02 16:50:00        114        114        113
95536 2020-07-02 16:55:00        116        115        115
95537 2020-07-02 17:00:00        114        114        113
95538 2020-07-02 17:10:00          9          6          9
95539 2020-07-02 17:15:00        114        115        114
95540 2020-07-02 17:20:00        114        114        113
95541 2020-07-02 17:25:00        113        114        113

VARIABLE: Vac R (V)
NEIGHBOURES (6 out of 6):[114 116 114] \--/ [114 114 113]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 114
--------------------------------------------------------------------------------

VARIABLE: Vac S (V)
NEIGHBOURES (6 out of 6):[114 115 114] \--/ [115 114 114]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 114
--------------------------------------------------------------------------------

VARIABLE: Vac T (V)
NEIGHBOURES (6 out of 6):[113 115 113] \--/ [114 113 113]
WEIGHTS: [0.33, 0.5, 1, 1, 0.5, 0.33]
COMPUTED VALUE: 114
--------------------------------------------------------------------------------

New data (with the filled value(s))

Date/Time    2020-07-02 17:10:00
Vac R (V)                    114
Vac S (V)                    114
Vac T (V)                    114
Name: 95538, dtype: object

--------------------------------------------------------------------------------

# TASK: A) Analyse and correct the outliers
# VARIABLES: AC voltage values (Vac R/S/T)
# MOTIVATION: Some invalid values (i.e., zero values) have been detected visually (i.e., numerical distribution graphs)
columns = ["Date/Time", "Iac R (A)", "Iac S (A)", "Iac T (A)"]

# Carry out the analysis (and correction) on all the inverters
for inv_name in inv_names[3:4]:
    print("INVERTER NAME:", inv_name, "\n", "-"*80)
    
    # 1A) Detect extreme outliers 
    # Setting threshold: a very high threshold to detect (and correct) only extreme outliers (e.g. zero values)
    # Threshold has been set according to emperical tests (default outlier threshold is equal to 3)
    extreme_vac_outlier = find_outliers(inv_data[inv_name][columns], verbose=True, threshold = 4)
    
    if len(extreme_vac_outlier) == 0:
        print("Oh, no extreme outliers found. That's good.\n")
        continue
        
    print(f"The extreme outliers ({len(extreme_vac_outlier)}) of Vac")
    display(extreme_vac_outlier)

    # 1B) Replacing criterion --> Weighted KNN (k = 6)
    # Identfy the index of the outliers 
    idk_outliers = extreme_vac_outlier.index.tolist()
    list_outliers = idk_outliers.copy()
    
    # Compute and assign the estimated value (weighted average value from its neigbours)
    for idk_outlier in idk_outliers:
        
        # Visualize the outlier and its neighours
        print(f"Outlier (idk: {idk_outlier}) and its neighborhood")
        display(inv_data[inv_name][columns].loc[range(idk_outlier - 3, idk_outlier + 4), :])
        
        # Compute the estimated value and assign the the original dataframe
        inv_data[inv_name].loc[idk_outlier, "Iac R (A)"] = weighted_knn(idk_outlier, list_outliers, "Iac R (A)")
        inv_data[inv_name].loc[idk_outlier, "Iac S (A)"] = weighted_knn(idk_outlier, list_outliers, "Iac S (A)")
        inv_data[inv_name].loc[idk_outlier, "Iac T (A)"] = weighted_knn(idk_outlier, list_outliers, "Iac T (A)")

        # Visualize the outcome
        print("\nNew data (with the filled value(s))")
        display(inv_data[inv_name].loc[idk_outlier][columns])
        print("-" * 80)

In [14]:
# Irradiance values
columns = ["Date/Time", "Irradiance (W/mq)"]
irr = raw_irr_data[columns].dropna().copy()
irr.reset_index(inplace=True, drop=True)

extreme_outliers = find_outliers(irr, verbose=True, threshold = 5)

if len(extreme_outliers) == 0:
    print("Oh, no outliers found. That's good.\n")
else:
    print(f"The extreme outliers (N = {len(extreme_outliers)}) of the variable 'inverter Temp'")
    display(extreme_outliers)
    
    idk_outliers = extreme_outliers.index.tolist()
    list_outliers = idk_outliers.copy()

    for idk, idk_outlier in enumerate(idk_outliers):
        print(f"Outlier {idk +1}/{len(idk_outliers)}: ({irr.loc[idk_outlier, 'Irradiance (W/mq)']} W/mq)")

        # Visualize the outlier and its neighours
        print(f"\nOutlier (idk: {idk_outlier}) and its neighborhood")
        display(irr.iloc[range(idk_outlier - 3, idk_outlier + 4), :])

        # Compute the estimated value and assign the the original dataframe
        computed_value = weighted_knn(irr, idk_outlier, list_outliers, "Irradiance (W/mq)", verbose=True)
        irr.loc[idk_outlier, "Irradiance (W/mq)"] = computed_value
        print(f"COMPUTED VALUE: {computed_value}\n","-" * 80)

        # Visualize the outcome
        print("\nNew data (with the filled value(s))")
        display(irr.iloc[range(idk_outlier - 3, idk_outlier + 4)][columns])

    print("-" * 40, f"END correction","-" * 40)
irr["Irradiance (W/mq)"] = irr["Irradiance (W/mq)"].astype("Int64")
raw_irr_data = irr

Oh, no outliers found. That's good.

In [15]:
display(raw_irr_data.describe())

       Irradiance (W/mq)
count      238796.000000
mean          186.836517
std           270.687225
min             3.000000
25%             8.000000
50%            22.000000
75%           286.000000
max          1301.000000

### Variable: *Inverter Temp*

In [16]:
# TASK: B) Analyse and correct the outliers
# VARIABLES: Inverter Temp
# MOTIVATION: Some invalid values have been detected visually (i.e., numerical distribution graphs)
# e.g., Detect around 2K observations with a value in the range [65.529 - 65.535 °C]
columns = ["Date/Time", "Inverter temp. (°C)"]

# Carry out the analysis (and correction) on all the inverters
for inv_name in inv_names:#[3:4]:
    print("INVERTER NAME:", inv_name, "\n", "-"*80)
    
    # 1A) Detect extreme outliers 
    # Setting threshold: a very high threshold to detect (and correct) only extreme outliers (e.g. above 1000 °C)
    # Threshold has been set according to emperical tests (default outlier threshold is equal to 3)
    extreme_outliers = find_outliers(inv_data[inv_name][columns], verbose=True, threshold = 4)
    if len(extreme_outliers) == 0:
        print("Oh, no outliers found. That's good.\n")
        continue
        
    print(f"The extreme outliers (N = {len(extreme_outliers)}) of the variable 'inverter Temp'")
    display(extreme_outliers)
    
    # 1B) Replacing criterion --> Weighted KNN (k = 6)
    # Identfy the index of the outliers 
    idk_outliers = extreme_outliers.index.tolist()
    list_outliers = idk_outliers.copy()
    
    # Compute and assign the estimated value (weighted average value from its neigbours)
    for idk, idk_outlier in enumerate(idk_outliers):
        if len(idk_outliers) > 300:
            clear_output(wait=True)
            
        print(f"Outlier {idk +1}/{len(idk_outliers)}: ({inv_data[inv_name].loc[idk_outlier, 'Inverter temp. (°C)']} °C)")
        
        # Visualize the outlier and its neighours
        # print(f"\nOutlier (idk: {idk_outlier}) and its neighborhood")
        # display(inv_data[inv_name][columns].iloc[range(idk_outlier - 3, idk_outlier + 4), :])
        
        # Compute the estimated value and assign the the original dataframe
        computed_value = weighted_knn(inv_data[inv_name][columns], idk_outlier, list_outliers, "Inverter temp. (°C)", 
                                      verbose=False)
        inv_data[inv_name].loc[idk_outlier, "Inverter temp. (°C)"] = computed_value
        print(f"COMPUTED VALUE: {computed_value}\n","-" * 80)
                                                                      
        # Visualize the outcome
        # print("\nNew data (with the filled value(s))")
        # display(inv_data[inv_name].iloc[range(idk_outlier - 3, idk_outlier + 4)][columns])
        
    print("-" * 40, f"END {inv_name}","-" * 40)

Outlier 389/389: (65535 °C)
COMPUTED VALUE: 12
 --------------------------------------------------------------------------------
---------------------------------------- END INV3 ----------------------------------------
INVERTER NAME: INV4
 --------------------------------------------------------------------------------
Z-score values (threshold: 4)
MIN: 51.16
MAX: 51.16

        Inverter temp. (°C)
12917             51.159046
12923             51.159046
12925             51.159046
12926             51.159046
12927             51.159046
12930             51.159046
12943             51.159046
12969             51.159046
12971             51.159046
12973             51.159046
12974             51.159046
12978             51.159046
12979             51.159046
12980             51.159046
12981             51.159046
12982             51.159046
12983             51.159046
12985             51.159046
12986             51.157483
12987             51.159046
12988             51.159046
12990             51.159046
12991             51.157483
12992             51.159046
12993             51.157483
12994             51.157483
12995             51.157483
12996             51.159046
12998             51.157483
12999             51.159046
13000             51.159046
13001             51.159046
13002             51.159046
13003             51.159046
13004             51.159046
13005             51.159046
13007             51.157483
13008             51.159046
13009             51.159046
13010             51.159046
13011             51.159046
13227             51.159046
13867             51.159046
18430             51.159046
18431             51.159046
18769             51.159046
78694             51.159046
78844             51.159046
127251            51.157483
127258            51.159046
127259            51.159046
127262            51.159046
127263            51.159046
127264            51.159046
127265            51.159046
127266            51.159046
127267            51.159046

The extreme outliers (N = 57) of the variable 'inverter Temp'

                 Date/Time  Inverter temp. (°C)
12917  2019-01-04 06:55:00                65535
12923  2019-01-04 08:00:00                65535
12925  2019-01-04 08:20:00                65535
12926  2019-01-04 08:30:00                65535
12927  2019-01-04 08:40:00                65535
12930  2019-01-04 09:15:00                65535
12943  2019-01-04 11:35:00                65535
12969  2019-01-04 16:35:00                65535
12971  2019-01-04 16:55:00                65535
12973  2019-01-04 17:15:00                65535
12974  2019-01-04 17:25:00                65535
12978  2019-01-04 18:10:00                65535
12979  2019-01-04 18:20:00                65535
12980  2019-01-04 18:30:00                65535
12981  2019-01-04 18:40:00                65535
12982  2019-01-04 18:50:00                65535
12983  2019-01-04 19:00:00                65535
12985  2019-01-04 19:25:00                65535
12986  2019-01-04 19:35:00                65533
12987  2019-01-04 19:45:00                65535
12988  2019-01-04 19:55:00                65535
12990  2019-01-05 06:00:00                65535
12991  2019-01-05 06:10:00                65533
12992  2019-01-05 06:25:00                65535
12993  2019-01-05 06:35:00                65533
12994  2019-01-05 06:45:00                65533
12995  2019-01-05 06:55:00                65533
12996  2019-01-05 07:05:00                65535
12998  2019-01-05 07:25:00                65533
12999  2019-01-05 07:35:00                65535
13000  2019-01-05 07:50:00                65535
13001  2019-01-05 08:00:00                65535
13002  2019-01-05 08:10:00                65535
13003  2019-01-05 08:20:00                65535
13004  2019-01-05 08:30:00                65535
13005  2019-01-05 08:40:00                65535
13007  2019-01-05 09:00:00                65533
13008  2019-01-05 09:15:00                65535
13009  2019-01-05 09:25:00                65535
13010  2019-01-05 09:35:00                65535
13011  2019-01-05 09:45:00                65535
13227  2019-01-08 06:30:00                65535
13867  2019-01-16 08:10:00                65535
18430  2019-02-23 08:40:00                65535
18431  2019-02-23 08:45:00                65535
18769  2019-02-25 14:15:00                65535
78694  2020-03-24 06:20:00                65535
78844  2020-03-25 08:30:00                65535
127251 2021-02-14 06:05:00                65533
127258 2021-02-14 06:45:00                65535
127259 2021-02-14 06:50:00                65535
127262 2021-02-14 07:05:00                65535
127263 2021-02-14 07:10:00                65535
127264 2021-02-14 07:20:00                65535
127265 2021-02-14 07:25:00                65535
127266 2021-02-14 07:30:00                65535
127267 2021-02-14 07:35:00                65535

Outlier 1/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 2/57: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 3/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 4/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 5/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 6/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 7/57: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 8/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 9/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 10/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 11/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 12/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 13/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 14/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 15/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 16/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 17/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 18/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 19/57: (65533 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 20/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 21/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 22/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 23/57: (65533 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 24/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 25/57: (65533 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 26/57: (65533 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 27/57: (65533 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 28/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 29/57: (65533 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 30/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 31/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 32/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 33/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 34/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 35/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 36/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 37/57: (65533 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 38/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 39/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 40/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 41/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 42/57: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 43/57: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 44/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 45/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 46/57: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 47/57: (65535 °C)
COMPUTED VALUE: 2
 --------------------------------------------------------------------------------
Outlier 48/57: (65535 °C)
COMPUTED VALUE: 3
 --------------------------------------------------------------------------------
Outlier 49/57: (65533 °C)
COMPUTED VALUE: 4
 --------------------------------------------------------------------------------
Outlier 50/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 51/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 52/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 53/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 54/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 55/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 56/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
Outlier 57/57: (65535 °C)
COMPUTED VALUE: 1
 --------------------------------------------------------------------------------
---------------------------------------- END INV4 ----------------------------------------

In [17]:
# TASK: B2) Check validity of the outlier correction for the inverter temperature
validity = []
inv_temp_values = []
for inv_name in inv_names:
    inv_temp = inv_data[inv_name]["Inverter temp. (°C)"]
    inv_temp_values.append(inv_temp.rename(index = inv_name))
    
    # Check invalid values
    threshold_inv_temp = 100
    invalid_values = inv_temp.loc[inv_temp >= threshold_inv_temp]
    
    if len(invalid_values) == 0:
        validity.append(True)
    else: 
        validity.append(False)

display(pd.concat(inv_temp_values, axis=1, names =inv_names).describe().round(decimals=2))
if all(validity):
    print(f"The outlier correction is valid for all the {len(inv_names)} inverters!")
else:
    print("There is some error in the outlier conversion")

            INV1       INV2       INV3       INV4
count  149861.00  149636.00  148146.00  149243.00
mean       16.70      23.29      19.39      21.61
std         8.17       7.31       8.46       6.76
min         1.00       1.00       1.00       1.00
25%        11.00      19.00      13.00      17.00
50%        17.00      25.00      19.00      23.00
75%        23.00      29.00      25.00      27.00
max        41.00      49.00      45.00      45.00

The outlier correction is valid for all the 4 inverters!

# Final task: Save outcomes

In [18]:
# FINAL TASK: Save the cleared datasets 
saving_folder_name = "Cleaned"
saving_folder_path = path.join(path_file, saving_folder_name)

print("PV System --> ", system_name.upper())

# Create the saving folder
if not path.exists(saving_folder_path):
    makedirs(saving_folder_path)
    print(f"A new saving folder has been created: {saving_folder_path}\n")
    
# Save the files as CSV files 
for inv_name in inv_names:
    file_name = f"cleaned_{inv_name.upper()}_data.csv"
    inv_data[inv_name].to_csv(path.join(saving_folder_path, file_name), index=False)
    print(f"The cleaned data for '{inv_name}' has been saved.")

raw_irr_data.to_csv(path.join(saving_folder_path, "raw_irr_data.csv"), index=False) 
print("\nThe cleaned data for the 'irradiance values' has been saved.")

PV System -->  EMI
The cleaned data for 'INV1' has been saved.
The cleaned data for 'INV2' has been saved.
The cleaned data for 'INV3' has been saved.
The cleaned data for 'INV4' has been saved.

The cleaned data for the 'irradiance values' has been saved.