In [156]:
import pandas as pd
import numpy as np
from datetime import timedelta

In [157]:
temp = pd.read_csv('/mnt/data/vieri/projects/SAMPLE/data/Dati Meteo/temperatura/meteomatic_3.csv')

In [158]:
meteomatics = temp[temp.rec_num == 0]

In [159]:
meteomatics = meteomatics.reset_index(drop=True)

In [160]:
meteomatics = meteomatics.sort_values(by=['timestamp'])

In [161]:
arpa = pd.DataFrame()
arpa_file_names = ['galatina-PC.csv', 'galatina-pc-490-20-12-2021.csv', 'galatina-PC-20-27-12-2021.csv']
for name in arpa_file_names:
    temp = pd.read_csv('/mnt/data/vieri/projects/SAMPLE/data/Dati Meteo/temperatura/'+name)
    arpa = arpa.append(temp)

In [162]:
arpa

                DateTime  Temperatura Ambiente
0    2021-12-06 12:00:00                            12.6
1    2021-12-06 12:30:00                            12.5
2    2021-12-06 13:00:00                            12.3
3    2021-12-06 13:30:00                            12.2
4    2021-12-06 14:00:00                            12.5
..                   ...                             ...
331  2021-12-27 08:00:00                            10.9
332  2021-12-27 08:30:00                            10.8
333  2021-12-27 09:00:00                            11.0
334  2021-12-27 09:30:00                            11.4
335  2021-12-27 10:00:00                            12.0

[1008 rows x 2 columns]

In [163]:
for i in range(len(meteomatics)):
    meteomatics.at[i,'acquire_timestamp'] = meteomatics.acquire_timestamp[i][0:15] +'0:00'

In [164]:
meteomatics = meteomatics[['acquire_timestamp','temperature']].rename(columns = {'acquire_timestamp':'DateTime'})

In [165]:
meteomatics['DateTime'] = pd.to_datetime(meteomatics.DateTime)

In [166]:
meteomatics[meteomatics.DateTime > '2021-12-13 11:30:00'].head()

               DateTime  temperature
469 2021-12-13 11:50:00         11.2
470 2021-12-13 12:20:00         11.3
471 2021-12-13 12:50:00         11.9
472 2021-12-13 13:20:00         11.9
473 2021-12-13 13:50:00         11.9

In [167]:
meteomatics.loc[469:,'DateTime'] = meteomatics[meteomatics.DateTime > '2021-12-13 11:30:00'].DateTime + timedelta(minutes = 10)

In [168]:
meteomatics['DateTime']

4      2021-12-03 19:30:00
5      2021-12-03 20:00:00
6      2021-12-03 20:30:00
7      2021-12-03 21:00:00
8      2021-12-03 21:30:00
               ...
1130   2021-12-27 08:30:00
1131   2021-12-27 09:00:00
1132   2021-12-27 09:30:00
1133   2021-12-27 10:00:00
1134   2021-12-27 10:30:00
Name: DateTime, Length: 1135, dtype: datetime64[ns]

In [169]:
arpa['DateTime'] = pd.to_datetime(arpa.DateTime)

In [170]:
df_comparison = (arpa.set_index('DateTime').rename(columns = {'Temperatura Ambiente          ':'arpa_temp'}).join(meteomatics.set_index('DateTime')).dropna()).rename(columns = {'temperature':'meteomatics_temp'})

In [171]:
df_comparison

                     arpa_temp  meteomatics_temp
DateTime
2021-12-06 12:00:00       12.6              14.8
2021-12-06 12:30:00       12.5              14.7
2021-12-06 13:00:00       12.3              14.7
2021-12-06 13:30:00       12.2              14.6
2021-12-06 14:00:00       12.5              14.5
...                        ...               ...
2021-12-27 08:00:00       10.9              12.7
2021-12-27 08:30:00       10.8              13.5
2021-12-27 09:00:00       11.0              14.2
2021-12-27 09:30:00       11.4              15.0
2021-12-27 10:00:00       12.0              15.8

[1008 rows x 2 columns]

In [172]:
arpa_hist = pd.read_csv('/mnt/data/vieri/projects/SAMPLE/data/Dati Meteo/temperatura/stazione_galatina_anno_2021.csv', sep = ';')

In [173]:
arpa_hist[arpa_hist.flag_t != 1]

,data,temperatura,flag_t,umr,flag_umr,precipitazione,flag_prec,vvento,flag_vv,dvento,flag_dv,radsolare,flag_rad,pressione,flag_pres,Unnamed: 15
2006,2021-03-25 14:00:00,13.53,5,NaN,6,0.0,5,NaN,6,NaN,6,NaN,6,1014.04,5,NaN
5885,2021-09-03 05:00:00,19.45,5,NaN,6,0.0,5,NaN,6,NaN,6,NaN,6,1011.80,5,NaN
5886,2021-09-03 06:00:00,19.71,5,NaN,6,0.0,5,NaN,6,NaN,6,NaN,6,1011.88,5,NaN

In [174]:
arpa_hist = arpa_hist.iloc[:,0:2]

In [175]:
arpa_hist['DateTime'] = pd.to_datetime(arpa_hist.data)

In [176]:
arpa_hist = arpa_hist.iloc[:,1:3]

In [177]:
arpa_hist

      temperatura            DateTime
0            6.16 2021-01-01 00:00:00
1            5.25 2021-01-01 01:00:00
2            3.93 2021-01-01 02:00:00
3            3.36 2021-01-01 03:00:00
4            2.92 2021-01-01 04:00:00
...           ...                 ...
8755        12.27 2021-12-31 19:00:00
8756        11.67 2021-12-31 20:00:00
8757        11.34 2021-12-31 21:00:00
8758        11.29 2021-12-31 22:00:00
8759        10.47 2021-12-31 23:00:00

[8760 rows x 2 columns]

In [178]:
df_comparison = arpa_hist.set_index('DateTime').rename(columns = {'temperatura':'arpa_temp_hist'}).join(df_comparison)

In [181]:
df_comparison = df_comparison.dropna()

In [182]:
df_comparison

                     arpa_temp_hist  arpa_temp  meteomatics_temp
DateTime
2021-12-06 12:00:00           14.94       12.6              14.8
2021-12-06 13:00:00           13.90       12.3              14.7
2021-12-06 14:00:00           13.62       12.5              14.5
2021-12-06 15:00:00           13.57       12.1              13.7
2021-12-06 16:00:00           12.75       11.6              12.2
...                             ...        ...               ...
2021-12-27 06:00:00           13.49       12.7              12.4
2021-12-27 07:00:00           13.31       11.9              12.2
2021-12-27 08:00:00           12.19       10.9              12.7
2021-12-27 09:00:00           11.48       11.0              14.2
2021-12-27 10:00:00           12.48       12.0              15.8

[504 rows x 3 columns]

### metriche

In [183]:
def compute_metrics (df, provider = 'meteomatics'):
    errors = np.array(df.meteomatics_temp - df.arpa_temp_hist)
    wape = np.mean(np.abs(errors)) / np.mean(df.arpa_temp_hist)
    mae = np.mean(np.abs(errors))
    rmse =  np.sqrt(np.sum(errors**2)/len(errors))
    print(f"WAPE:{wape:0.4f}\tMAE:{mae:0.4f}\t RMSE:{rmse:0.4f}")
    return

In [185]:
def compute_metrics (df, provider = 'meteomatics'):
    if provider == 'meteomatics':
        errors = np.array(df.meteomatics_temp - df.arpa_temp_hist)
    else:
        errors = np.array(df.arpa_temp - df.arpa_temp_hist)
    wape = np.mean(np.abs(errors)) / np.mean(df.arpa_temp_hist)
    mae = np.mean(np.abs(errors))
    rmse =  np.sqrt(np.sum(errors**2)/len(errors))
    print(f"WAPE:{wape:0.4f}\tMAE:{mae:0.4f}\t RMSE:{rmse:0.4f}")
    return

In [186]:
compute_metrics(df_comparison, provider = 'meteomatics')

WAPE:0.1235	MAE:1.1915	 RMSE:1.5284

In [187]:
compute_metrics(df_comparison, provider = 'arpa_real_time')

WAPE:0.1109	MAE:1.0694	 RMSE:1.2669